Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas

[SYCL][NFC] Fix gdb accessor test
  sycl/test/gdb/accessors.cpp
Owners: @intel/llvm-reviewers-runtime

Add 1 line test/verification that 'readnone' attr is removed
  llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Drain thread pool should not be called on Win (#7973)
  sycl/source/detail/global_handler.cpp
Owners: @intel/llvm-reviewers-runtime

Implement 'getMLIRType' for clang builtin types
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
Owners: @bader

run clang-format
  sycl/include/sycl/ext/oneapi/properties/property.hpp
Owners: @intel/llvm-reviewers-runtime

Update test.
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/undefined-functor.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL] Disable tests that use images on PVC platform (intel/llvm-test-suite#1497)
  SYCL/Basic/image/image.cpp
  SYCL/Basic/image/image_accessor_range.cpp
  SYCL/Basic/image/image_accessor_readsampler.cpp
  SYCL/Basic/image/image_accessor_readwrite.cpp
  SYCL/Basic/image/image_accessor_readwrite_half.cpp
  SYCL/Basic/image/image_max_size.cpp
  SYCL/Basic/image/image_read.cpp
  SYCL/Basic/image/image_read_fp16.cpp
  SYCL/Basic/image/image_sample.cpp
  SYCL/Basic/image/image_write.cpp
  SYCL/Basic/image/image_write_fp16.cpp
  SYCL/ESIMD/histogram.cpp
  SYCL/ESIMD/histogram_2d.cpp
  SYCL/ESIMD/histogram_raw_send.cpp
  SYCL/ESIMD/linear/linear.cpp
  SYCL/ESIMD/mandelbrot/mandelbrot.cpp
  SYCL/ESIMD/mandelbrot/mandelbrot_spec.cpp
  SYCL/ESIMD/matrix_transpose2.cpp
  SYCL/ESIMD/vadd_2d.cpp
  SYCL/Plugin/enqueue-arg-order-image.cpp
  SYCL/Plugin/interop-level-zero-interop-task-mem-buffer.cpp
  SYCL/Plugin/interop-level-zero-interop-task-mem-image.cpp
  SYCL/Tracing/image_printers.cpp
Owners: @bader, @intel/dpcpp-esimd-reviewers

[SYCL] Disable tests that use images on PVC platform (#1497)
  SYCL/Basic/image/image.cpp
Owners: @bader

[SYCL] Temporarily disable SYCL/SubGroupMask/Basic.cpp on Windows (intel/llvm-test-suite#1503)
  SYCL/SubGroupMask/Basic.cpp
Owners: @bader

[SYCL][Clang][HIP] disable __CUDA_ARCH__ for AMD hip-platform
  clang/lib/Basic/Targets/AMDGPU.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL] Add RegisterAllocMode metadata to large GRF kernels (#7949)
  llvm/lib/SYCLLowerIR/LowerKernelProps.cpp
  llvm/test/SYCLLowerIR/lower_kernel_props.ll
  llvm/test/tools/sycl-post-link/sycl-esimd-large-grf.ll
  llvm/test/tools/sycl-post-link/sycl-large-grf.ll
  sycl/source/detail/program_manager/program_manager.cpp
Owners: @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Return true in has_kernel for sub-devices (#7971)
  sycl/source/detail/device_image_impl.hpp
  sycl/unittests/SYCL2020/KernelBundle.cpp
Owners: @intel/llvm-reviewers-runtime

[lldb] Fix build warnings of unhandled SPIRV builtin types
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
Owners: @bader

[OpenCL] Update Interpreter to support OpenCL CPU test
  llvm/lib/ExecutionEngine/Interpreter/CMakeLists.txt
  llvm/lib/ExecutionEngine/Interpreter/Interpreter.h
Owners: @intel/dpcpp-tools-reviewers

[ESIMD][DOC][NFC] Document xmx::dpas() implementation
  sycl/doc/extensions/experimental/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/include/sycl/ext/intel/esimd/xmx/common.hpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Fix errors caused by move of bfloat16 from experimental ns (#9143)
  clang/lib/Sema/SemaExpr.cpp
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
  sycl/test/esimd/fp16_converts.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-esimd-reviewers

[llvm-foreach] Update Wait call to allow for proper return value on error
  llvm/tools/llvm-foreach/llvm-foreach.cpp
Owners: @intel/dpcpp-tools-reviewers

[llvm-foreach] Update Wait call to allow for proper return value on error
  llvm/tools/llvm-foreach/llvm-foreach.cpp
Owners: @intel/dpcpp-tools-reviewers

Re-enable fixed test
  llvm/test/tools/llvm-foreach/retain-return-val.c
Owners: @intel/dpcpp-tools-reviewers

[SYCL] Fix final status reporting for windows on comment testing (#7974)
  .github/workflows/windows_test_comment_trigger.yml
Owners: @intel/dpcpp-devops-reviewers

[SYCL] Add unit tests for command graph POC
  sycl/source/queue.cpp
  sycl/unittests/Extensions/CMakeLists.txt
  sycl/unittests/Extensions/CommandGraph.cpp
Owners: @intel/llvm-reviewers-runtime

First commit adding some HIP atomics
  clang/lib/Frontend/InitPreprocessor.cpp
  libclc/amdgcn-amdhsa/libspirv/SOURCES
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_add.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_helpers.h
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_load.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_max.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_min.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_store.cl
Owners: @intel/dpcpp-cfe-reviewers, @intel/llvm-reviewers-cuda

[SYCL] add AddFuncAttrsFromSYCLFrameworkFuncs pass
  llvm/include/llvm/SYCLLowerIR/SYCLFrameworkOptimization.h
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/SYCLLowerIR/SYCLFrameworkOptimization.cpp
Owners: @intel/dpcpp-tools-reviewers

fix multiple lines
  .github/workflows/sycl_post_commit.yml
Owners: @intel/dpcpp-devops-reviewers

Only pass flag for IGC heuristic
  sycl/source/detail/program_manager/program_manager.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL-MLIR] Represent all SYCLMethodOpInterface arguments in SSA form
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpInterfaces.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/MethodUtils.h
  mlir-sycl/lib/Dialect/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/IR/MethodUtils.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Fix to conditional logic for ocmpile time props pass
  clang/lib/CodeGen/BackendUtil.cpp
Owners: @intel/dpcpp-cfe-reviewers

Added -opaque-pointers flag to get these bugpoint tests to pass.
  llvm/test/BugPoint/attr-crash.ll
  llvm/test/BugPoint/metadata.ll
  llvm/test/BugPoint/remove_arguments_test.ll
  llvm/test/BugPoint/replace-funcs-with-null.ll
Owners: @intel/dpcpp-tools-reviewers

Added -opaque-pointers flag to get these bugpoint tests to pass.
  llvm/test/BugPoint/attr-crash.ll
  llvm/test/BugPoint/metadata.ll
  llvm/test/BugPoint/remove_arguments_test.ll
  llvm/test/BugPoint/replace-funcs-with-null.ll
Owners: @intel/dpcpp-tools-reviewers

Update sycl/doc/design/spirv-extensions/SPV_INTEL_joint_matrix.asciidoc
  sycl/doc/design/spirv-extensions/SPV_INTEL_joint_matrix.asciidoc
Owners: @intel/dpcpp-spirv-doc-reviewers

Re-enable disabled BugPoint/ tests
  llvm/test/BugPoint/attr-crash.ll
  llvm/test/BugPoint/metadata.ll
  llvm/test/BugPoint/remove_arguments_test.ll
  llvm/test/BugPoint/replace-funcs-with-null.ll
Owners: @intel/dpcpp-tools-reviewers

[SYCL-MLIR] Post commit review comments for stream type
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Address code review comments
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Test/Verification/float16.c
Owners: @bader

[CI] Disable post-commit jobs in forks (#7921)
  .github/workflows/sycl_post_commit.yml
Owners: @intel/dpcpp-devops-reviewers

[CI] Disable math_builtin_api CTS test in post-commit (#7951)
  devops/cts_exclude_filter
Owners: @intel/dpcpp-devops-reviewers

[CI] Run CPU device tests on labeled nodes (#7942)
  devops/test_configs.json
Owners: @intel/dpcpp-devops-reviewers

[SYCL] Refactor SYCL path for work_group_size_hint (#7961)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Sema/Sema.h
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/CodeGenSYCL/check-direct-attribute-propagation.cpp
  clang/test/CodeGenSYCL/check-work-group-attributes-match.cpp
  clang/test/CodeGenSYCL/no_opaque_check-direct-attribute-propagation.cpp
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/SemaOpenCL/invalid-kernel-attrs.cl
  clang/test/SemaSYCL/check-work-group-size-hint-device.cpp
  clang/test/SemaSYCL/intel-work-group-size-hint-ast-device.cpp
  clang/test/SemaSYCL/intel-work-group-size-hint-host.cpp
Owners: @intel/dpcpp-cfe-reviewers

add draft for test
  sycl/source/detail/global_handler.cpp
  sycl/unittests/xpti_trace/CMakeLists.txt
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
  sycl/unittests/xpti_trace/xptitest_subscriber/CMakeLists.txt
  sycl/unittests/xpti_trace/xptitest_subscriber/XPTISubscriber.cpp
  xpti/CMakeLists.txt
  xpti/include/xpti/xpti_trace_framework.h
  xpti/src/xpti_proxy.cpp
  xptifw/src/CMakeLists.txt
  xptifw/src/xpti_trace_framework.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Check that we have open command list before using it
  sycl/plugins/level_zero/pi_level_zero.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

Update clang/test/SemaSYCL/undefined-functor.cpp
  clang/test/SemaSYCL/undefined-functor.cpp
Owners: @intel/dpcpp-cfe-reviewers
