Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

Incorporate Greg comments and other improvements, specifically: - Put all combinations in appendix - move get_coord to the main document - Correct the example by converting USM pointers to multi_ptr
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_intel_matrix.asciidoc
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_oneapi_matrix.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][ESIMD] Don't error on functions with local names
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
  sycl/test/esimd/esimd_verify_local_names.cpp
Owners: @intel/dpcpp-esimd-reviewers

Add more tests
  sycl/include/sycl/queue.hpp
  sycl/source/detail/global_handler.cpp
  sycl/tools/sycl-trace/sycl_trace_collector.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
  sycl/unittests/xpti_trace/xptitest_subscriber/XPTISubscriber.cpp
  xpti/src/xpti_proxy.cpp
  xptifw/src/xpti_trace_framework.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Deprecate sycl::ext::oneapi::leader(group) (#7953)
  sycl/include/sycl/ext/oneapi/group_algorithm.hpp
  sycl/test/warnings/free_function_leader.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Re-enable SYCL/SubGroupMask/Basic.cpp (intel/llvm-test-suite#1508)
  SYCL/SubGroupMask/Basic.cpp
Owners: @bader

[SYCL] Add test for zero size range kernels. (intel/llvm-test-suite#1363)
  SYCL/Basic/zero_size_range.cpp
Owners: @bader

[SYCL] [NFC] Update signature of generateSpecConstDefaultValueMetadata (#7992)
  llvm/tools/sycl-post-link/SpecConstants.cpp
Owners: @intel/dpcpp-tools-reviewers

[lldb] Fix build warnings of unhandled SPIRV builtin types (#7978)
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
Owners: @bader

[ESIMD][DOC][NFC] Document xmx::dpas() implementation (#7980)
  sycl/doc/extensions/experimental/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/include/sycl/ext/intel/esimd/xmx/common.hpp
Owners: @intel/dpcpp-esimd-reviewers

[OpenCL] Update Interpreter to support OpenCL CPU test (#7979)
  llvm/lib/ExecutionEngine/Interpreter/CMakeLists.txt
  llvm/lib/ExecutionEngine/Interpreter/Interpreter.h
Owners: @intel/dpcpp-tools-reviewers

Address comments
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-bitfield-accesses.cpp
  clang/test/Driver/sycl-offload.cpp
  sycl/doc/UsersManual.md
  sycl/test/check_device_code/bitfield_accesses.cpp
Owners: @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-doc-reviewers, @intel/llvm-reviewers-runtime

[ESIMD] Fix usage of uninitialized field ESIMDVerifier::ForceStatelessMem
  llvm/include/llvm/SYCLLowerIR/ESIMD/ESIMDVerifier.h
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
Owners: @intel/dpcpp-esimd-reviewers

Remove unneeded change
  clang/include/clang/Driver/Options.td
Owners: @intel/dpcpp-clang-driver-reviewers

[SYCL][Clang][HIP] Disable macro __CUDA_ARCH__ for AMD hip-platform (#7977)
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/test/Preprocessor/sycl-macro.cpp
Owners: @intel/dpcpp-cfe-reviewers

[ESIMD] Fix errors caused by move of bfloat16 from experimental ns (#… (#7981)
  clang/lib/Sema/SemaExpr.cpp
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
  sycl/test/esimd/fp16_converts.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-esimd-reviewers

[SYCL][libdevice]Add imf libdevice functions to do bfloat162integral conversion (#7566)
  libdevice/device.h
  libdevice/imf_bf16.hpp
  libdevice/imf_half.hpp
  libdevice/imf_impl_utils.hpp
  libdevice/imf_utils/bfloat16_convert.cpp
  libdevice/imf_wrapper_bf16.cpp
  llvm/tools/sycl-post-link/SYCLDeviceLibReqMask.cpp
  sycl/include/sycl/builtins.hpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers

[SYCL] Add support for templated call operator in functors (#7970)
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/undefined-functor.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL][Fusion] Interface with kernel fusion JIT (#7831)
  buildbot/configure.py
  sycl-fusion/CMakeLists.txt
  sycl-fusion/jit-compiler/CMakeLists.txt
  sycl-fusion/jit-compiler/ld-version-script.txt
  sycl-fusion/jit-compiler/lib/fusion/FusionPipeline.cpp
  sycl/CMakeLists.txt
  sycl/cmake/modules/AddSYCLUnitTest.cmake
  sycl/doc/GetStartedGuide.md
  sycl/include/sycl/detail/cg.hpp
  sycl/source/CMakeLists.txt
  sycl/source/detail/jit_compiler.cpp
  sycl/source/detail/jit_compiler.hpp
  sycl/source/detail/jit_device_binaries.cpp
  sycl/source/detail/jit_device_binaries.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/test/CMakeLists.txt
Owners: @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas, @intel/llvm-reviewers-runtime, @intel/dpcpp-doc-reviewers

Deprecate host buffer get_access methods for SYCL2020.
  sycl/include/sycl/buffer.hpp
Owners: @intel/llvm-reviewers-runtime

Re-enable llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
  llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
Owners: @intel/dpcpp-esimd-reviewers

create gh pages workflow for docs
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

create gh pages workflow for docs
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

[WIP][UR] Document Environment Variables
  scripts/core/INTRO.rst
Owners: @bader

[WIP][UR] Document Environment Variables
  scripts/core/INTRO.rst
Owners: @bader

[SYCL][NFC] Silence unused variable warning
  sycl/include/sycl/ext/oneapi/annotated_arg/annotated_arg.hpp
Owners: @intel/llvm-reviewers-runtime

Adding initial support for HIP atomics
  clang/lib/Frontend/InitPreprocessor.cpp
  libclc/amdgcn-amdhsa/libspirv/SOURCES
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_add.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_cmpxchg.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_load.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_max.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_min.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_store.cl
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_xchg.cl
  sycl/include/sycl/atomic_ref.hpp
  sycl/plugins/hip/pi_hip.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/llvm-reviewers-cuda, @intel/llvm-reviewers-runtime

[ur] Include xml in artifact
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

[ur] Include xml in artifact
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

[SYCL][NFC] Silence unused variable warning (#8002)
  sycl/include/sycl/ext/oneapi/annotated_arg/annotated_arg.hpp
Owners: @intel/llvm-reviewers-runtime

fix doxygen install on ubuntu
  .github/workflows/cmake.yml
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

fix doxygen install on ubuntu
  .github/workflows/cmake.yml
  .github/workflows/docs.yml
Owners: @intel/dpcpp-devops-reviewers

Fix build failure
  sycl-fusion/passes/cleanup/Cleanup.cpp
Owners: @victor-eds, @Naghasan, @sommerlukas

[SYCL] Add missing include to JITContext.h
  sycl-fusion/jit-compiler/include/JITContext.h
Owners: @victor-eds, @Naghasan, @sommerlukas

Removing cmpxchg
  libclc/amdgcn-amdhsa/libspirv/atomic/atomic_cmpxchg.cl
Owners: @intel/llvm-reviewers-cuda

Add deprecation warning to buffer::get_access methods
  sycl/include/sycl/buffer.hpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Allow unittests to use drainThreadPool method on Win
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/scheduler/scheduler.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add device_global initialization and PI APIs (#7797)
  sycl/include/sycl/detail/pi.def
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/ext/oneapi/device_global/device_global.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/CMakeLists.txt
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/context_impl.hpp
  sycl/source/detail/device_binary_image.hpp
  sycl/source/detail/device_global_map_entry.cpp
  sycl/source/detail/device_global_map_entry.hpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/source/detail/program_manager/program_manager.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/usm/usm_impl.cpp
  sycl/source/detail/usm/usm_impl.hpp
  sycl/unittests/Extensions/CMakeLists.txt
  sycl/unittests/Extensions/DeviceGlobal.cpp
  sycl/unittests/Extensions/USMMemcpy2D.cpp
  sycl/unittests/helpers/PiImage.hpp
  sycl/unittests/helpers/PiMockPlugin.hpp
Owners: @intel/llvm-reviewers-runtime, @intel/llvm-reviewers-cuda, @intel/dpcpp-esimd-reviewers, @intel/dpcpp-l0-pi-reviewers

[SYCL] replace fsycl-optimize-framework with fsycl-optimize-non-user-code
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGenSYCL/sycl-framework-metadata1.cpp
  clang/test/CodeGenSYCL/sycl-framework-metadata2.cpp
  clang/test/Driver/sycl-optimize-framework.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers

Revert "Revert "[SYCL][NFCI] Move default optimization level configuration (#7885)""
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/address-space-cond-op.cpp
  clang/test/CodeGenSYCL/check-direct-attribute-propagation.cpp
  clang/test/CodeGenSYCL/const-wg-init.cpp
  clang/test/CodeGenSYCL/functionptr-addrspace.cpp
  clang/test/CodeGenSYCL/group-local-memory.cpp
  clang/test/CodeGenSYCL/inline_asm.cpp
  clang/test/CodeGenSYCL/inlining.cpp
  clang/test/CodeGenSYCL/intel-fpga-loops.cpp
  clang/test/CodeGenSYCL/max-concurrency.cpp
  clang/test/CodeGenSYCL/no-opaque-ptr-kernel_binding_decls.cpp
  clang/test/CodeGenSYCL/no-opaque-ptrs-sycl-intelfpga-bitint.cpp
  clang/test/CodeGenSYCL/no_opaque_address-space-cond-op.cpp
  clang/test/CodeGenSYCL/no_opaque_check-direct-attribute-propagation.cpp
  clang/test/CodeGenSYCL/no_opaque_const-wg-init.cpp
  clang/test/CodeGenSYCL/no_opaque_inline_asm.cpp
  clang/test/CodeGenSYCL/no_opaque_max-concurrency.cpp
  clang/test/CodeGenSYCL/no_opaque_sampler.cpp
  clang/test/CodeGenSYCL/no_opaque_stall_enable_device.cpp
  clang/test/CodeGenSYCL/no_opaque_stream.cpp
  clang/test/CodeGenSYCL/remove-restriction-builtin-printf.cpp
  clang/test/CodeGenSYCL/reqd-sub-group-size-spirv-intrin.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/simplifycfg.cpp
  clang/test/CodeGenSYCL/stall_enable_device.cpp
  clang/test/CodeGenSYCL/stream.cpp
  clang/test/CodeGenSYCL/sycl-intelfpga-bitint.cpp
  clang/test/Driver/sycl-device-optimizations.cpp
Owners: @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-cfe-reviewers

[SYCL-MLIR] Fix merge
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
  polygeist/tools/cgeist/driver.cc
Owners: @intel/llvm-reviewers-runtime, @bader

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas
