Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas

added tests for __CUDA_ARCH__ disable for AMD
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/test/Preprocessor/sycl-macro.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL] Temporarily disable sycl-ls-unified-runtime.cpp test (intel/llvm-test-suite#1493)
  SYCL/Plugin/sycl-ls-unified-runtime.cpp
Owners: @bader

[SYCL][CUDA] Handle large Y/Z range dimensions. (#7968)
  sycl/plugins/cuda/pi_cuda.cpp
Owners: @intel/llvm-reviewers-cuda

[OpenCL] Format code
  llvm/lib/ExecutionEngine/Interpreter/Interpreter.h
Owners: @intel/dpcpp-tools-reviewers

[SYCL] Fix PI error messages (#7936)
  sycl/include/sycl/detail/pi_error.def
Owners: @intel/llvm-reviewers-runtime

[SYCL] Disable failing tests: device_architecture.cpp and event_profi… (intel/llvm-test-suite#1504)
  SYCL/Basic/event_profiling_info.cpp
  SYCL/DeviceArchitecture/device_architecture.cpp
Owners: @bader

Fix large int issue with bitfield accesses
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-bitfield-accesses.cpp
  sycl/doc/UsersManual.md
Owners: @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-doc-reviewers

[ESIMD] Disable the test for preemption option generation on PVC (intel/llvm-test-suite#1506)
  SYCL/ESIMD/preemption.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Support bf16 isnan for sycl::marray<bfloat16, N>
  sycl/include/sycl/ext/oneapi/experimental/bfloat16_math.hpp
Owners: @intel/llvm-reviewers-runtime

add description for isnan(sycl::marray<bfloat16, N>)
  sycl/doc/extensions/experimental/sycl_ext_oneapi_bfloat16_math_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][Fusion] Interface with kernel fusion JIT
  buildbot/configure.py
  sycl-fusion/CMakeLists.txt
  sycl-fusion/jit-compiler/CMakeLists.txt
  sycl-fusion/jit-compiler/ld-version-script.txt
  sycl-fusion/jit-compiler/lib/fusion/FusionPipeline.cpp
  sycl/CMakeLists.txt
  sycl/cmake/modules/AddSYCLUnitTest.cmake
  sycl/doc/GetStartedGuide.md
  sycl/include/sycl/detail/cg.hpp
  sycl/source/CMakeLists.txt
  sycl/source/detail/jit_compiler.cpp
  sycl/source/detail/jit_compiler.hpp
  sycl/source/detail/jit_device_binaries.cpp
  sycl/source/detail/jit_device_binaries.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/test/CMakeLists.txt
Owners: @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas, @intel/llvm-reviewers-runtime, @intel/dpcpp-doc-reviewers

[SYCL-MLIR] Post commit review comments for stream type (#7985)
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

[Matrix] Flip the default to the unified API (number 4) (#7894)
  sycl/include/CL/__spirv/spirv_types.hpp
  sycl/include/sycl/detail/defines.hpp
  sycl/include/sycl/ext/oneapi/matrix/matrix-unified.hpp
  sycl/include/sycl/ext/oneapi/matrix/matrix.hpp
  sycl/test/matrix/query.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][NFC] Add none DecoValueTy to avoid switch-case warnings (#7139)
  llvm/tools/sycl-post-link/CompileTimePropertiesPass.cpp
Owners: @intel/dpcpp-tools-reviewers

Disable llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
  llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
Owners: @intel/dpcpp-esimd-reviewers

Fix clang nvptx_device* tests
  clang/test/Headers/nvptx_device_cmath_functions.c
  clang/test/Headers/nvptx_device_cmath_functions.cpp
  clang/test/Headers/nvptx_device_cmath_functions_cxx17.cpp
  clang/test/Headers/nvptx_device_math_complex.c
  clang/test/Headers/nvptx_device_math_complex.cpp
  clang/test/Headers/nvptx_device_math_functions.c
  clang/test/Headers/nvptx_device_math_functions.cpp
  clang/test/Headers/nvptx_device_math_functions_cxx17.cpp
  clang/test/Headers/nvptx_device_math_macro.cpp
  clang/test/Headers/nvptx_device_math_modf.cpp
  clang/test/Headers/nvptx_device_math_sin.c
  clang/test/Headers/nvptx_device_math_sin.cpp
  clang/test/Headers/nvptx_device_math_sin_cos.cpp
  clang/test/Headers/nvptx_device_math_sincos.cpp
Owners: @intel/dpcpp-cfe-reviewers

Fix clang OpenMP tests
  clang/test/OpenMP/amdgcn-attributes.cpp
  clang/test/OpenMP/amdgcn_device_function_call.cpp
  clang/test/OpenMP/amdgcn_target_codegen.cpp
  clang/test/OpenMP/amdgcn_target_global_constructor.cpp
  clang/test/OpenMP/amdgcn_target_init_temp_alloca.cpp
  clang/test/OpenMP/metadirective_device_arch_codegen.cpp
  clang/test/OpenMP/metadirective_device_isa_codegen_amdgcn.cpp
Owners: @intel/dpcpp-cfe-reviewers

Disable some of sycl/unittests/scheduler/GraphCleanup.cpp tests
  sycl/unittests/scheduler/GraphCleanup.cpp
Owners: @intel/llvm-reviewers-runtime

Try to fix some llvm tests
  llvm/test/Analysis/DivergenceAnalysis/AMDGPU/MIR/loads-gmir.mir
  llvm/test/CodeGen/AMDGPU/fence-barrier.ll
  llvm/test/ExecutionEngine/RuntimeDyld/X86/coff-alignment.ll
Owners: @intel/dpcpp-tools-reviewers

Disable clang/test/Driver/linker-wrapper.c
  clang/test/Driver/linker-wrapper.c
Owners: @intel/dpcpp-clang-driver-reviewers

Fix clang/test/Headers/amdgcn_openmp_device_math_c.c
  clang/test/Headers/amdgcn_openmp_device_math_c.c
Owners: @intel/dpcpp-cfe-reviewers

limiting cuda_arch to gfx target domain
  clang/lib/Basic/Targets/AMDGPU.cpp
Owners: @intel/dpcpp-cfe-reviewers

Implement accessor reverse iterator to make accessor meet the C++ requirement of ReversibleContainer.
  sycl/include/sycl/accessor.hpp
  sycl/unittests/accessor/AccessorReverseIterator.cpp
  sycl/unittests/accessor/CMakeLists.txt
Owners: @intel/llvm-reviewers-runtime

Add tests for accessor/host_accessor iterator/reverse_iterator
  sycl/test/basic_tests/accessor/iterator-member-types.cpp
  sycl/unittests/accessor/AccessorIterator.cpp
  sycl/unittests/accessor/CMakeLists.txt
  sycl/unittests/accessor/HostAccessorIterator.cpp
  sycl/unittests/accessor/HostAccessorReverseIterator.cpp
Owners: @intel/llvm-reviewers-runtime

Fixed formatting issues with BackendUtil
  clang/lib/CodeGen/BackendUtil.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL] [NFC] Update signature of generateSpecConstDefaultValueMetadata
  llvm/tools/sycl-post-link/SpecConstants.cpp
Owners: @intel/dpcpp-tools-reviewers

Add comment and issue reference
  polygeist/tools/cgeist/Test/Verification/single_field_union.c
Owners: @bader

format the doc
  sycl/doc/extensions/experimental/sycl_ext_oneapi_bfloat16_math_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Fix clang-format issue.
  sycl/unittests/accessor/AccessorReverseIterator.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add property_list parameter to finalize
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL] Implement annotated_arg headers (#6894)
  sycl/include/sycl/ext/oneapi/annotated_arg/annotated_arg.hpp
  sycl/include/sycl/ext/oneapi/annotated_arg/properties.hpp
  sycl/include/sycl/ext/oneapi/properties/property.hpp
  sycl/include/sycl/sycl.hpp
  sycl/test/extensions/annotated_arg/annotated_arg_for_non_ptr.cpp
  sycl/test/extensions/annotated_arg/annotated_arg_for_ptr.cpp
  sycl/test/extensions/annotated_arg/annotated_arg_properties.cpp
Owners: @intel/llvm-reviewers-runtime

[OpenCL] Create the folder for OpenCL CPU
  llvm/include/llvm/Transforms/SYCLTransforms/Readme.txt
  llvm/lib/Transforms/SYCLTransforms/Readme.txt
  llvm/test/Transforms/SYCLTransforms/Readme.txt
  opencl-cpu/Readme.txt
Owners: @intel/dpcpp-tools-reviewers, @bader

Added -opaque-pointers flag to get these llvm-reduce tests to pass.
  llvm/test/tools/llvm-reduce/Inputs/llvm-dis-and-filecheck.py
  llvm/test/tools/llvm-reduce/file-output-type.test
  llvm/test/tools/llvm-reduce/operands-skip-parallel.ll
  llvm/test/tools/llvm-reduce/temporary-files-as-bitcode-split.ll
Owners: @intel/dpcpp-tools-reviewers

Added -opaque-pointers flag to get these llvm-reduce tests to pass.
  llvm/test/tools/llvm-reduce/Inputs/llvm-dis-and-filecheck.py
  llvm/test/tools/llvm-reduce/file-output-type.test
  llvm/test/tools/llvm-reduce/operands-skip-parallel.ll
  llvm/test/tools/llvm-reduce/temporary-files-as-bitcode-split.ll
Owners: @intel/dpcpp-tools-reviewers

[SYCL-MLIR] Represent all SYCLMethodOpInterface arguments in SSA form (#7983)
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpInterfaces.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/MethodUtils.h
  mlir-sycl/lib/Dialect/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/IR/MethodUtils.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

[SYCL] Don't return empty platforms (#7923)
  sycl/source/detail/platform_impl.cpp
Owners: @intel/llvm-reviewers-runtime

Re-enable tools/ tests
  llvm/test/tools/llvm-reduce/file-output-type.test
  llvm/test/tools/llvm-reduce/operands-skip-parallel.ll
  llvm/test/tools/llvm-reduce/temporary-files-as-bitcode-split.ll
Owners: @intel/dpcpp-tools-reviewers

Revert "Disable some of sycl/unittests/scheduler/GraphCleanup.cpp tests"
  sycl/unittests/scheduler/GraphCleanup.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Do not use ReadNone attribute for GenX intrinsics (#7969)
  llvm/lib/SYCLLowerIR/ESIMD/LowerESIMD.cpp
  llvm/test/SYCLLowerIR/ESIMD/lower_spirv_intrins.ll
Owners: @intel/dpcpp-esimd-reviewers

Try to fix the rest of pre-commit failing tests
  clang/test/OpenMP/amdgcn_device_function_call.cpp
  llvm/test/Analysis/DivergenceAnalysis/AMDGPU/MIR/loads-gmir.mir
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-tools-reviewers
