Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson, @AlexeySotkin, @AlexeySachkov, @dm-vodopyanov, @romanovvlad, @vzakhari, @intel/llvm-reviewers-runtime, @pvchupin, @kbobrovs, @intel/dpcpp-specification-reviewers, @jbrodman, @Pennycook, @smaslov-intel, @intel/llvm-reviewers-cuda, @againull, @MrSidims, @v-klochkov, @turinevgeny, @tovinkere, @andykaylor, @Fznamznon, @sndmitriev, @DenisBakhvalov

Apply reviewer's comments
  buildbot/dependency.py
Owners: @bader

More modifications to see if I can get tests to pass.
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/unittests/Frontend/CompilerInvocationTest.cpp
Owners: @mdtoguchi, @AGindinson, @premanandrao, @elizabethandrews

Fix formatting; NFC
  clang/lib/Driver/Driver.cpp
Owners: @mdtoguchi, @AGindinson

Disable NewPM by default
  clang/test/CodeGenSYCL/kernel-early-optimization-pipeline.cpp
  llvm/CMakeLists.txt
Owners: @premanandrao, @elizabethandrews, @bader

Repair this test.
  clang/test/CodeGenSYCL/loop_unroll.cpp
Owners: @premanandrao, @elizabethandrews

Speculatively changing this test.
  sycl/test/check_device_code/id_queries_fit_int.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Lift the SPIR-V version from 1.1 to 1.3
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/SYCL.cpp
Owners: @mdtoguchi, @AGindinson

[SYCL] Add support for CL-style options (intel/llvm-test-suite#157)
  SYCL/Basic/accessor/device_accessor_deduction.cpp
  SYCL/Basic/accessor/get_device_access_deduction.cpp
  SYCL/Basic/accessor/get_host_access_deduction.cpp
  SYCL/Basic/accessor/get_host_task_access_deduction.cpp
  SYCL/Basic/accessor/host_accessor_deduction.cpp
  SYCL/Basic/accessor/host_task_accessor_deduction.cpp
  SYCL/Basic/buffer/buffer.cpp
  SYCL/Basic/buffer/buffer_container.cpp
  SYCL/Basic/buffer/buffer_full_copy.cpp
  SYCL/Basic/device_code_dae.cpp
  SYCL/Basic/fpga_tests/fpga_aocx_win.cpp
  SYCL/Basic/fpga_tests/global_fpga_device_selector.cpp
  SYCL/Basic/image/image_constructors.cpp
  SYCL/Basic/parallel_for_indexers.cpp
  SYCL/Config/config.cpp
  SYCL/Config/env_vars.cpp
  SYCL/Config/kernel_from_file.cpp
  SYCL/DeviceLib/separate_compile_test.cpp
  SYCL/FunctionPointers/fp-as-kernel-arg.cpp
  SYCL/FunctionPointers/pass-fp-through-buffer.cpp
  SYCL/OnlineCompiler/online_compiler_L0.cpp
  SYCL/Plugin/interop-level-zero-keep-ownership.cpp
  SYCL/Plugin/interop-level-zero.cpp
  SYCL/Plugin/interop-opencl.cpp
  SYCL/README.md
  SYCL/Regression/cache_test.cpp
  SYCL/Regression/implicit_offset_debug_info.cpp
  SYCL/Regression/long_kernel_name.cpp
  SYCL/Scheduler/DataMovement.cpp
  SYCL/SeparateCompile/test.cpp
  SYCL/SubGroup/generic_reduce.cpp
  SYCL/lit.cfg.py
  SYCL/lit.site.cfg.py.in
Owners: @bader

[SYCL] Add support for CL-style options (#157)
  SYCL/lit.cfg.py
  SYCL/lit.site.cfg.py.in
Owners: @bader

Move actual implementation of div into fallback lib
  libdevice/crt_wrapper.cpp
  libdevice/device_math.h
  libdevice/fallback-cmath.cpp
  libdevice/wrapper.h
  llvm/tools/sycl-post-link/sycl-post-link.cpp
Owners: @vzakhari, @kbobrovs, @AlexeySachkov

[SYCL] Update clang LIT tests (SPIRV 1.1 to 1.3)
  clang/test/Driver/sycl-offload-intelfpga.cpp
  clang/test/Driver/sycl-offload.c
  clang/test/Driver/sycl.c
Owners: @mdtoguchi, @AGindinson

Revert "[NFC][ESIMD] Remove one of the uses on __SYCL_EXPLICIT_SIMD__ (#3242)"
  sycl/include/CL/__spirv/spirv_vars.hpp
Owners: @intel/llvm-reviewers-runtime

Revert "[NFC][ESIMD] Remove one of the uses on __SYCL_EXPLICIT_SIMD__ (#3242)" (#3268)
  sycl/include/CL/__spirv/spirv_vars.hpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Add CXX11-style [[intel::sycl_explicit_simd]] attribute (#3254)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttributeCommonInfo.h
  clang/test/CodeGenSYCL/esimd_metadata1.cpp
  clang/test/SemaSYCL/sycl-esimd.cpp
Owners: @premanandrao, @elizabethandrews

Modify after review
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/__spirv/spirv_types.hpp
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
  sycl/include/CL/sycl/accessor.hpp
  sycl/test/CMakeLists.txt
  sycl/test/extensions/sub_group_as.cpp
  sycl/test/lit.cfg.py
  sycl/test/on-device/extensions/sub_group_as.cpp
  sycl/test/on-device/extensions/sub_group_as_private.cpp
  sycl/test/on-device/extensions/sub_group_as_vec.cpp
  sycl/test/on-device/lit.cfg.py
Owners: @intel/dpcpp-specification-reviewers, @intel/llvm-reviewers-runtime

Fix bugs exposed in CI
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
  sycl/test/extensions/sub_group_as.cpp
Owners: @intel/llvm-reviewers-runtime

Fix clang-format issue
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
Owners: @intel/llvm-reviewers-runtime

Fix failures
  sycl/test/on-device/extensions/sub_group_as_private.cpp
Owners: @intel/llvm-reviewers-runtime

Apply suggestions from code review
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Fixed misprint
  sycl/test/on-device/extensions/sub_group_as_private.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Fix version of OpenCL headers and ICD loader (#3247)
  buildbot/dependency.py
  opencl-aot/CMakeLists.txt
  sycl/CMakeLists.txt
Owners: @bader, @dm-vodopyanov, @AlexeySachkov, @romanovvlad, @intel/llvm-reviewers-runtime

[SYCL] Fix the type trait 'known_identity' (#3227)
  sycl/include/CL/sycl/ONEAPI/reduction.hpp
  sycl/test/basic_tests/reduction_ctor.cpp
  sycl/test/basic_tests/reduction_known_identity.cpp
Owners: @intel/llvm-reviewers-runtime

Address review comments
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/implicit_kernel_type.cpp
  clang/test/SemaSYCL/kernelname-enum.cpp
  clang/test/SemaSYCL/nested-anon-and-std-ns.cpp
  clang/test/SemaSYCL/unnamed-kernel.cpp
Owners: @premanandrao, @elizabethandrews

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @premanandrao @elizabethandrews

# Driver
clang/**/Driver @mdtoguchi @AGindinson

# LLVM-SPIRV translator
llvm-spirv/ @AlexeySotkin @AlexeySachkov

# OpenCL "offline" compiler
opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

# Device library
libdevice/ @vzakhari

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @pvchupin
sycl/doc/ @pvchupin @kbobrovs
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# USM
sycl/include/CL/sycl/detail/clusm.hpp @jbrodman
sycl/include/CL/sycl/detail/usm_impl.hpp @jbrodman
sycl/include/CL/sycl/usm/ @jbrodman
sycl/include/CL/sycl/ordered_queue.hpp @jbrodman
sycl/include/CL/sycl/usm.hpp @jbrodman
sycl/include/CL/cl_usm_ext.h @jbrodman
sycl/source/detail/usm/ @jbrodman
sycl/source/ordered_queue.cpp @jbrodman

# Sub-groups
sycl/include/CL/sycl/detail/spirv.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/group_algorithm.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group_host.hpp @Pennycook @AlexeySachkov

# PI API
sycl/include/CL/sycl/detail/pi.def @smaslov-intel
sycl/include/CL/sycl/detail/pi.h   @smaslov-intel
sycl/include/CL/sycl/detail/pi.hpp @smaslov-intel
sycl/include/CL/sycl/detail/pi* @smaslov-intel
sycl/plugins/ @smaslov-intel
sycl/source/detail/pi.cpp @smaslov-intel
sycl/source/detail/plugin.hpp @smaslov-intel
sycl/source/detail/posix_pi.cpp @smaslov-intel
sycl/source/detail/windows_pi.cpp @smaslov-intel

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# Stream
sycl/include/CL/sycl/detail/stream_impl.hpp @againull
sycl/include/CL/sycl/stream.hpp @againull
sycl/source/detail/stream_impl.cpp @againull
sycl/source/stream.cpp @againull

# Specialization constant
sycl/include/CL/sycl/detail/sycl_fe_intrins.hpp @kbobrovs
sycl/include/CL/sycl/experimental/spec_constant.hpp @kbobrovs
sycl/source/detail/spec_constant_impl.hpp @kbobrovs

# Program manager
sycl/source/detail/program_manager @kbobrovs
sycl/source/detail/spec_constant_impl.cpp @kbobrovs

# FPGA extensions
sycl/include/CL/sycl/intel/fpga_device_selector.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_extensions.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_reg.hpp @MrSidims
sycl/include/CL/sycl/intel/pipes.hpp @MrSidims
sycl/include/CL/sycl/pipes.hpp @MrSidims

# Reduction extension
sycl/include/CL/sycl/intel/reduction.hpp @v-klochkov

# Function pointers
sycl/include/CL/sycl/intel/function_pointer.hpp @AlexeySachkov
sycl/source/function_pointer.cpp @AlexeySachkov

# Half Type
sycl/include/CL/sycl/half_type.hpp @AlexeySachkov
sycl/source/half_type.cpp @AlexeySachkov

# vec and swizzles
sycl/include/CL/sycl/swizzles.def @turinevgeny
sycl/include/CL/sycl/types.hpp @turinevgeny

# XPTI instrumentation utilities
xpti/ @tovinkere @andykaylor
xptifw/ @tovinkere  @andykaylor

# DPC++ tools
llvm/**/file-table-tform/ @kbobrovs @AlexeySachkov
llvm/**/llvm-foreach/ @AlexeySachkov  @Fznamznon
llvm/**/llvm-no-spir-kernel/ @AGindinson @AlexeySachkov
llvm/**/sycl-post-link/ @kbobrovs @AlexeySachkov
llvm/include/llvm/Support/PropertySetIO.h @kbobrovs @AlexeySachkov
llvm/lib/Support/PropertySetIO.cpp @kbobrovs @AlexeySachkov
llvm/unittests/Support/PropertySetIOTest.cpp @kbobrovs @AlexeySachkov
llvm/lib/Support/Base64.cpp @kbobrovs @AlexeySachkov

# Clang offload tools
clang/tools/clang-offload-bundler/ @kbobrovs @sndmitriev
clang/tools/clang-offload-wrapper/ @sndmitriev @kbobrovs
clang/tools/clang-offload-deps/ @sndmitriev

# Explicit SIMD
SYCLLowerIR/ @kbobrovs @DenisBakhvalov
esimd/ @kbobrovs @DenisBakhvalov
sycl/include/CL/sycl/INTEL/esimd.hpp @kbobrovs @DenisBakhvalov
sycl/doc/extensions/ExplicitSIMD/ @kbobrovs
