Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

[OpenCL][ICDLoader] Upload the support for OpenCL CPU RT compilation
  opencl/CMakeLists.txt
Owners: @intel/llvm-reviewers-runtime

add revision history
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_intel_matrix.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Bader comments
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_intel_matrix.asciidoc
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_oneapi_matrix.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[ESIMD] Do not use ReadNone attribute for GenX intrinsics
  llvm/lib/SYCLLowerIR/ESIMD/LowerESIMD.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Fix event profiling for command_submit in L0 and other backends (#7526)
  sycl/include/sycl/detail/pi.def
  sycl/include/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/hip/pi_hip.hpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/device_impl.hpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/event.cpp
  sycl/source/handler.cpp
  sycl/test/abi/pi_level_zero_symbol_check.dump
  sycl/test/abi/pi_opencl_symbol_check.dump
  sycl/unittests/helpers/PiMockPlugin.hpp
  sycl/unittests/queue/GetProfilingInfo.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/llvm-reviewers-cuda, @intel/dpcpp-esimd-reviewers, @intel/dpcpp-l0-pi-reviewers

[SYCL] Add support for templated call operator in functor
  clang/lib/Sema/SemaSYCL.cpp
Owners: @intel/dpcpp-cfe-reviewers

[SYCL] Return true in has_kernel for sub-devices
  sycl/source/detail/device_image_impl.hpp
  sycl/unittests/SYCL2020/KernelBundle.cpp
Owners: @intel/llvm-reviewers-runtime

Address review comments
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/test/polygeist-opt/sycl/cast.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Limit link threads
  .github/workflows/sycl_post_commit.yml
Owners: @intel/dpcpp-devops-reviewers

[ur] Adds platform testsuite
  .github/workflows/cmake.yml
  CMakeLists.txt
  examples/hello_world/hello_world.cpp
  source/drivers/null/ur_null.cpp
  test/CMakeLists.txt
  test/conformance/CMakeLists.txt
  test/conformance/platform/CMakeLists.txt
  test/conformance/platform/fixtures.h
  test/conformance/platform/urInit.cpp
  test/conformance/platform/urPlatformGet.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  test/conformance/platform/urTearDown.cpp
  test/conformance/source/environment.cpp
  test/conformance/source/main.cpp
  test/conformance/testing/CMakeLists.txt
  test/conformance/testing/uur/checks.h
  test/conformance/testing/uur/environment.h
  test/conformance/testing/uur/fixtures.h
  test/conformance/testing/uur/utils.h
  test/python/basic.py
Owners: @intel/dpcpp-devops-reviewers, @bader

[ur] Adds platform testsuite
  .github/workflows/cmake.yml
  CMakeLists.txt
  examples/hello_world/hello_world.cpp
  source/drivers/null/ur_null.cpp
  test/CMakeLists.txt
  test/conformance/CMakeLists.txt
  test/conformance/platform/CMakeLists.txt
  test/conformance/platform/fixtures.h
  test/conformance/platform/urInit.cpp
  test/conformance/platform/urPlatformGet.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  test/conformance/platform/urTearDown.cpp
  test/conformance/source/environment.cpp
  test/conformance/source/main.cpp
  test/conformance/testing/CMakeLists.txt
  test/conformance/testing/uur/checks.h
  test/conformance/testing/uur/environment.h
  test/conformance/testing/uur/fixtures.h
  test/conformance/testing/uur/utils.h
  test/python/basic.py
Owners: @intel/dpcpp-devops-reviewers, @bader

[SYCL] Drain thread pool should not be called on Win
  sycl/source/detail/global_handler.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Change record & replay relationship between queue / graph
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Update sycl/source/detail/platform_impl.cpp
  sycl/source/detail/platform_impl.cpp
Owners: @intel/llvm-reviewers-runtime

Limit link threads
  .github/workflows/sycl_post_commit.yml
Owners: @intel/dpcpp-devops-reviewers

- Fix the case when range dimension is equal to dimension's max block size. - Improve variable namings
  sycl/plugins/cuda/pi_cuda.cpp
Owners: @intel/llvm-reviewers-cuda

[SYCL] Fix final status reporting for windows on comment testing
  .github/workflows/windows_test_comment_trigger.yml
Owners: @intel/dpcpp-devops-reviewers

Fix new failed llvm-spirv test
  llvm-spirv/test/transcoding/registerallocmode.ll
Owners: @intel/dpcpp-spirv-reviewers

[SYCL][Docs] Clarify default device_global allocation behavior (#7795)
  sycl/doc/extensions/proposed/sycl_ext_oneapi_device_global.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Address comments
  clang/test/CodeGenSYCL/check-work-group-attributes-match.cpp
  clang/test/SemaSYCL/intel-work-group-size-hint-ast-device.cpp
Owners: @intel/dpcpp-cfe-reviewers

debug info for sycl.so only
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_post_commit.yml
  sycl/CMakeLists.txt
  sycl/cmake/modules/AddSYCL.cmake
  sycl/source/CMakeLists.txt
Owners: @intel/dpcpp-devops-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Balance device reference counter (#6708)
  sycl/source/detail/platform_impl.cpp
  sycl/unittests/CMakeLists.txt
  sycl/unittests/context/CMakeLists.txt
  sycl/unittests/context_device/CMakeLists.txt
  sycl/unittests/context_device/Context.cpp
  sycl/unittests/context_device/DeviceRefCounter.cpp
Owners: @intel/llvm-reviewers-runtime

Resolved merge commit with newer version of sycl-post-link tool
  llvm/tools/sycl-post-link/sycl-post-link.cpp
Owners: @intel/dpcpp-tools-reviewers

Added CompileTimeProperties pass into codegen opts pipeline
  clang/lib/CodeGen/BackendUtil.cpp
Owners: @intel/dpcpp-cfe-reviewers

Moved and reconfigured kernel attributes test from sycl-post-link that were mainly testing pass functionality.
  llvm/test/SYCLLowerIR/CompileTimePropertiesPass/kernel-attributes/kernel-pipelined.ll
  llvm/test/SYCLLowerIR/CompileTimePropertiesPass/kernel-attributes/register-map-interface.ll
  llvm/test/SYCLLowerIR/CompileTimePropertiesPass/kernel-attributes/streaming-interface.ll
Owners: @intel/dpcpp-tools-reviewers

Disable the rest of failing tests
  llvm/test/Bitcode/blockaddress-addrspace.ll
  llvm/test/BugPoint/attr-crash.ll
  llvm/test/BugPoint/metadata.ll
  llvm/test/BugPoint/remove_arguments_test.ll
  llvm/test/BugPoint/replace-funcs-with-null.ll
  llvm/test/tools/llvm-foreach/retain-return-val.c
  llvm/test/tools/llvm-reduce/file-output-type.test
  llvm/test/tools/llvm-reduce/operands-skip-parallel.ll
  llvm/test/tools/llvm-reduce/temporary-files-as-bitcode-split.ll
Owners: @intel/dpcpp-tools-reviewers

Updated program metadata test for refactored pass and updated sycl-post-link tool
  llvm/test/tools/sycl-post-link/emit_program_metadata.ll
Owners: @intel/dpcpp-tools-reviewers

[NFC][CMake] Run SYCL generators only as needed (#7883)
  sycl/plugins/level_zero/CMakeLists.txt
  sycl/tools/sycl-trace/CMakeLists.txt
Owners: @intel/dpcpp-l0-pi-reviewers, @intel/llvm-reviewers-runtime

Drop namespace qualification
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
Owners: @bader

[SYCL-MLIR] Lower supported memrefs to llvm pointers (#7960)
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  polygeist/include/polygeist/Passes/Utils.h
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/test/polygeist-opt/sycl/cast.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/driver.cc
Owners: @bader, @intel/llvm-reviewers-runtime

[SYCL][Matrix] fix ATS-M double bug (intel/llvm-test-suite#1496)
  SYCL/Matrix/Legacy/element_wise_all_ops_half_impl.hpp
  SYCL/Matrix/element_wise_all_ops_half_impl.hpp
Owners: @bader

[SYCL] add marshalling for fsycl_optimize_framework option
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
Owners: @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-cfe-reviewers

[SYCL][NFC] Adjust tests to default integral arg change in TypePrinter
  sycl/test/abi/layout_accessors_device.cpp
  sycl/test/abi/layout_accessors_host.cpp
  sycl/test/abi/layout_buffer.cpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/layout_image.cpp
  sycl/test/gdb/accessors-device.cpp
  sycl/test/warnings/group_local_memory_deprecation.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][NFC] Adjust tests to default integral arg change in TypePrinter
  sycl/test/abi/layout_accessors_device.cpp
  sycl/test/abi/layout_accessors_host.cpp
  sycl/test/abi/layout_buffer.cpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/layout_image.cpp
  sycl/test/gdb/accessors-device.cpp
  sycl/test/warnings/group_local_memory_deprecation.cpp
Owners: @intel/llvm-reviewers-runtime

better wording
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_intel_matrix.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Fixed include list ordering
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/lib/Passes/PassBuilder.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-tools-reviewers

[Driver] -save-temps issue with files in CWD (#7955)
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/save-temps.c
Owners: @intel/dpcpp-clang-driver-reviewers

[SYCL-MLIR] Allow memrefs inside single-field unions
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/single_field_union.c
  polygeist/tools/cgeist/Test/Verification/single_field_union_for_mem.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Indent test
  polygeist/tools/cgeist/Test/Verification/single_field_union_for_mem.c
Owners: @bader

[SYCL][NFC] Fix gdb accessor test
  sycl/test/gdb/accessors.cpp
Owners: @intel/llvm-reviewers-runtime

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas
