Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-specification-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @intel/ocl-cpu-rt-write, @rolandschulz, @intel/dpcpp-devops-reviewers, @intel/dpcpp-kernel-fusion-reviewers, @dkhaldi, @YuriPlyakhin, @yubingex007-a11y, @intel/dpcpp-nativecpu-pi-reviewers, @intel/sycl-graphs-reviewers, @intel/syclcompat-lib-reviewers, @intel/bindless-images-reviewers

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/llvm-reviewers-runtime
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# Unified Runtime plugin
sycl/plugins/unified_runtime/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA and HIP plugins
sycl/plugins/**/cuda/ @intel/llvm-reviewers-cuda
sycl/plugins/**/hip/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# OpenCL CPU RT
opencl-cpu/ @intel/ocl-cpu-rt-write

# SPMD transform passes on CPU
llvm/lib/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# SPMD transform passes header files
llvm/include/llvm/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# SPMD transform passes LIT test
llvm/test/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# Clang offload tools
clang/**/OffloadBundler.h @intel/dpcpp-tools-reviewers
clang/**/OffloadBundler.cpp @intel/dpcpp-tools-reviewers
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers
clang/tools/clang-linker-wrapper/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/**/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @intel/dpcpp-esimd-reviewers @rolandschulz
sycl/include/std/experimental/simd.hpp @intel/dpcpp-esimd-reviewers @rolandschulz
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @intel/dpcpp-esimd-reviewers
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @intel/dpcpp-esimd-reviewers
invoke_simd/ @intel/dpcpp-esimd-reviewers
InvokeSimd/ @intel/dpcpp-esimd-reviewers

# DevOps configs
.github/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @intel/dpcpp-kernel-fusion-reviewers
sycl/doc/design/KernelFusionJIT.md @intel/dpcpp-kernel-fusion-reviewers
sycl/doc/extensions/experimental/sycl_ext_codeplay_kernel_fusion.asciidoc @intel/dpcpp-kernel-fusion-reviewers
sycl/include/sycl/ext/codeplay/experimental/fusion_properties.hpp  @intel/dpcpp-kernel-fusion-reviewers
sycl/include/sycl/ext/codeplay/experimental/fusion_wrapper.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/fusion/ @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_compiler.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_compiler.cpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_device_binaries.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_device_binaries.cpp @intel/dpcpp-kernel-fusion-reviewers
sycl/test-e2e/KernelFusion @intel/dpcpp-kernel-fusion-reviewers

# Matrix
sycl/include/sycl/ext/oneapi/matrix/ @dkhaldi @YuriPlyakhin @yubingex007-a11y
sycl/test-e2e/Matrix @dkhaldi @YuriPlyakhin @yubingex007-a11y

# Native CPU
llvm/**/*SYCLNativeCPU* @intel/dpcpp-nativecpu-pi-reviewers 
clang/include/clang/Basic/SYCLNativeCPUHelpers.h @intel/dpcpp-nativecpu-pi-reviewers 
clang/test/CodeGenSYCL/native_cpu*.cpp @intel/dpcpp-nativecpu-pi-reviewers 
clang/test/Driver/sycl-native-cpu*.cpp @intel/dpcpp-nativecpu-pi-reviewers 
sycl/**/native_cpu/ @intel/dpcpp-nativecpu-pi-reviewers
sycl/doc/design/SYCLNativeCPU.md @intel/dpcpp-nativecpu-pi-reviewers
sycl/include/sycl/detail/native_cpu.hpp @intel/dpcpp-nativecpu-pi-reviewers

# SYCL-Graphs extensions
sycl/include/sycl/ext/oneapi/experimental/graph.hpp @intel/sycl-graphs-reviewers
sycl/source/detail/graph_impl.cpp @intel/sycl-graphs-reviewers
sycl/source/detail/graph_impl.hpp @intel/sycl-graphs-reviewers
sycl/unittests/Extensions/CommandGraph.cpp @intel/sycl-graphs-reviewers
sycl/doc/design/CommandGraph.md @intel/sycl-graphs-reviewers
sycl/test-e2e/Graph @intel/sycl-graphs-reviewers
sycl/doc/extensions/**/sycl_ext_oneapi_graph.asciidoc @intel/sycl-graphs-reviewers

# syclcompat library
sycl/**/syclcompat/ @intel/syclcompat-lib-reviewers
sycl/cmake/modules/AddSYCLLibraryUnitTest.cmake @intel/syclcompat-lib-reviewers
sycl/include/syclcompat.hpp @intel/syclcompat-lib-reviewers

# bindless images
sycl/doc/extensions/experimental/sycl_ext_oneapi_bindless_images.asciidoc @intel/bindless-images-reviewers
sycl/include/sycl/ext/oneapi/bindless* @intel/bindless-images-reviewers
sycl/source/detail/bindless* @intel/bindless-images-reviewers
sycl/plugins/unified_runtime/ur/adapters/**/image.* @intel/bindless-images-reviewers
sycl/test-e2e/bindless_images/ @intel/bindless-images-reviewers

[SYCL][Bindless][NFC] Move common utility functions into vulkan_common.hpp (#11469)
  sycl/test-e2e/bindless_images/vulkan_interop/unsampled_images.cpp
  sycl/test-e2e/bindless_images/vulkan_interop/vulkan_common.hpp
Owners: @intel/bindless-images-reviewers

Change example
  clang/docs/SYCLFERFCIntegrationHeaderFooter.md
Owners: @intel/dpcpp-cfe-reviewers

Add test for failed scenario
  sycl/source/detail/scheduler/graph_processor.cpp
  sycl/unittests/scheduler/InOrderQueueHostTaskDeps.cpp
Owners: @intel/llvm-reviewers-runtime

Remove reference to sampler
  clang/docs/SYCLFERFCIntegrationHeaderFooter.md
Owners: @intel/dpcpp-cfe-reviewers

[NFC][SYCL] Prefer "inline constexpr bool" helpers in generic_type_traits.hpp (#11482)
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/detail/boolean.hpp
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/type_list.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/oneapi/experimental/builtins.hpp
  sycl/include/sycl/ext/oneapi/experimental/cuda/non_uniform_algorithms.hpp
  sycl/include/sycl/ext/oneapi/functional.hpp
  sycl/include/sycl/known_identity.hpp
  sycl/include/sycl/reduction.hpp
  sycl/include/sycl/types.hpp
  sycl/source/detail/builtins_geometric.cpp
  sycl/source/detail/builtins_relational.cpp
  sycl/test/basic_tests/generic_type_traits.cpp
Owners: @intel/llvm-reviewers-runtime

Added Discourse topic details.
  sycl-rfc-unnamed-lambda.md
Owners: @bader

Address 1st set of comments
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/include/llvm/SYCLLowerIR/CleanupSYCLCompilerInternalMetadata.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/CleanupSYCLCompilerInternalMetadata.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/dpcpp-tools-reviewers, @intel/dpcpp-esimd-reviewers

remove include
  llvm/include/llvm/SYCLLowerIR/CleanupSYCLCompilerInternalMetadata.h
Owners: @intel/dpcpp-tools-reviewers

Fix typo.
  sycl-rfc-unnamed-lambda.md
Owners: @bader

[SYCL][DOC] Add sycl_ext_oneapi_enqueue_functions
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][Matrix test] fix get coord test on packed data to return logical coordinates (#11298)
  sycl/test-e2e/Matrix/SG32/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/XMX8/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/get_coord_int8_matB_impl.hpp
Owners: @dkhaldi, @YuriPlyakhin, @yubingex007-a11y

[SYCL][Graph] Remove trailing comment whitespace
  sycl/unittests/Extensions/CommandGraph.cpp
Owners: @intel/sycl-graphs-reviewers

Remove redundant C-style casts
  sycl/include/sycl/ext/oneapi/prefetch.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][Graph] Remove trailing comment whitespace (#11493)
  sycl/unittests/Extensions/CommandGraph.cpp
Owners: @intel/sycl-graphs-reviewers

Change helper
  sycl/include/sycl/ext/oneapi/prefetch.hpp
Owners: @intel/llvm-reviewers-runtime

[NFC][SYCL] Add sycl::detail::is_pointer_v
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/intel/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/fpga_annotated_properties.hpp
  sycl/include/sycl/ext/oneapi/experimental/user_defined_reductions.hpp
  sycl/include/sycl/group_algorithm.hpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-esimd-reviewers

fix failures
  sycl/source/detail/scheduler/commands.cpp
Owners: @intel/llvm-reviewers-runtime

apply clang-format
  sycl/source/detail/scheduler/commands.cpp
Owners: @intel/llvm-reviewers-runtime

Use starts_with instead of regex
  clang/lib/Driver/ToolChains/SYCL.cpp
Owners: @intel/dpcpp-clang-driver-reviewers

[Pulldown] Always use ours when merging from other branches for CODEOWNERS
  .gitattributes
Owners: @bader

property support
  sycl/include/sycl/kernel_bundle.hpp
  sycl/source/detail/kernel_bundle_impl.hpp
  sycl/source/detail/kernel_compiler/kernel_compiler_opencl.cpp
  sycl/source/detail/kernel_compiler/kernel_compiler_opencl.hpp
  sycl/source/kernel_bundle.cpp
Owners: @intel/llvm-reviewers-runtime

[NFC][SYCL] Add sycl::detail::is_pointer_v (#11494)
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/intel/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/fpga_annotated_properties.hpp
  sycl/include/sycl/ext/oneapi/experimental/user_defined_reductions.hpp
  sycl/include/sycl/group_algorithm.hpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-esimd-reviewers

Remove assertion, add another test case, address review comments
  llvm/test/tools/sycl-post-link/spec-constants/nested-struct.ll
  llvm/tools/sycl-post-link/SpecConstants.cpp
Owners: @intel/dpcpp-tools-reviewers

[SYCL][E2E] Add REQUIRES-INTEL-DRIVER to a test
  sycl/test-e2e/InvokeSimd/Regression/ImplicitSubgroup/slm_load_store.cpp
Owners: @intel/dpcpp-esimd-reviewers

Fix usage example
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Apply suggestions from code review
  sycl/doc/extensions/proposed/sycl_ext_intel_fpga_datapath.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][E2E] Fix use-after-free in reduction_range_N_vars.cpp
  sycl/test-e2e/Reduction/reduction_range_N_vars.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][E2E] Fix strict aliasing violation in tests
  sycl/test-e2e/ESIMD/api/functional/common.hpp
  sycl/test-e2e/Regression/half_operators.cpp
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

Add USM pointer to usage example
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Add perfect forwarding for command group functions
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Address review comments + meeting AR
  clang/docs/SYCLFERFCLoweringKernel.md
Owners: @intel/dpcpp-cfe-reviewers

reword properties, remove partial specialization text
  sycl/doc/extensions/experimental/sycl_ext_intel_fpga_task_sequence.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][E2E] Enable USM/math.cpp on non-CPU devices
  sycl/test-e2e/USM/math.cpp
Owners: @intel/llvm-reviewers-runtime

Add command barriers
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

Address review comments and meeting AR
  clang/docs/SYCLFERFCIntegrationHeaderFooter.md
Owners: @intel/dpcpp-cfe-reviewers

Clarify constraint limits to sycl::queue
  sycl/doc/extensions/proposed/sycl_ext_oneapi_enqueue_functions.asciidoc
Owners: @intel/dpcpp-specification-reviewers

nits
  sycl/doc/design/CompileTimeProperties.md
Owners: @intel/llvm-reviewers-runtime

[SYCL][E2E] Add REQUIRES-INTEL-DRIVER to a test (#11498)
  sycl/test-e2e/InvokeSimd/Regression/ImplicitSubgroup/slm_load_store.cpp
Owners: @intel/dpcpp-esimd-reviewers

Address review comments
  clang/docs/SYCLMainPageforRFC.md
Owners: @intel/dpcpp-cfe-reviewers

[NFCI][SYCL] Minor refactoring in detail/generic_type_traits.hpp
  sycl/include/sycl/detail/generic_type_traits.hpp
Owners: @intel/llvm-reviewers-runtime
