Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @erichkeane, @Fznamznon, @mdtoguchi, @AGindinson, @AlexeySotkin, @AlexeySachkov, @dm-vodopyanov, @romanovvlad, @asavonic, @vzakhari, @pvchupin, @kbobrovs, @mkinsner, @jbrodman, @tovinkere, @andykaylor

[SYCL] Address review comments
  sycl/source/half_type.cpp
  sycl/test/basic_tests/half_type.cpp
Owners: @romanovvlad, @bader

Patch
  sycl/include/CL/sycl/types.hpp
Owners: @romanovvlad, @bader

Formatting
  sycl/include/CL/sycl/types.hpp
  sycl/test/basic_tests/vec_convert.cpp
Owners: @romanovvlad, @bader

Formatting 2
  sycl/include/CL/sycl/types.hpp
Owners: @romanovvlad, @bader

[SYCL] Share PFWG lambda object through shared memory (#1455)
  llvm/lib/SYCLLowerIR/LowerWGScope.cpp
  llvm/test/SYCLLowerIR/pfwg_and_pfwi.ll
Owners: @bader

[Driver][SYCL]Emit an error if c compilation is forced using -x c -x c-header, with -fsycl mode enabled
  clang/lib/Driver/Driver.cpp
Owners: @mdtoguchi, @AGindinson

.github/CODEOWNERS:

* @bader

clang/ @erichkeane @Fznamznon

clang/**/Driver @mdtoguchi @AGindinson

llvm-spirv/ @AlexeySotkin @AlexeySachkov

opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

libdevice/ @asavonic @vzakhari

sycl/ @romanovvlad @bader

sycl/doc/ @pvchupin @kbobrovs

sycl/doc/extensions/ @mkinsner @jbrodman

xpti/ @tovinkere @andykaylor
