Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

Update HostPipes.md
  sycl/doc/design/HostPipes.md
Owners: @intel/dpcpp-specification-reviewers

[ur] Add device testsuite
  source/drivers/null/ur_null.cpp
  test/conformance/CMakeLists.txt
  test/conformance/device/CMakeLists.txt
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceGet.cpp
  test/conformance/device/urDeviceGetGlobalTimestamps.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/device/urDeviceGetNativeHandle.cpp
  test/conformance/device/urDevicePartition.cpp
  test/conformance/device/urDeviceRelease.cpp
  test/conformance/device/urDeviceRetain.cpp
  test/conformance/device/urDeviceSelectBinary.cpp
  test/conformance/testing/uur/fixtures.h
Owners: @bader

[ur] Add device testsuite
  source/drivers/null/ur_null.cpp
  test/conformance/CMakeLists.txt
  test/conformance/device/CMakeLists.txt
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceGet.cpp
  test/conformance/device/urDeviceGetGlobalTimestamps.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/device/urDeviceGetNativeHandle.cpp
  test/conformance/device/urDevicePartition.cpp
  test/conformance/device/urDeviceRelease.cpp
  test/conformance/device/urDeviceRetain.cpp
  test/conformance/device/urDeviceSelectBinary.cpp
  test/conformance/testing/uur/fixtures.h
Owners: @bader

[SYCL] Move backend macro definition to plugin headers
  sycl/cmake/modules/AddSYCL.cmake
  sycl/include/sycl/feature_test.hpp.in
  sycl/plugins/cuda/CMakeLists.txt
  sycl/plugins/cuda/include/features.hpp
  sycl/plugins/esimd_emulator/CMakeLists.txt
  sycl/plugins/esimd_emulator/include/features.hpp
  sycl/plugins/hip/CMakeLists.txt
  sycl/plugins/hip/include/features.hpp
Owners: @intel/llvm-reviewers-runtime, @intel/llvm-reviewers-cuda, @intel/dpcpp-esimd-reviewers

[SYCL] Add missing include to JITContext.h (#8004)
  sycl-fusion/jit-compiler/include/JITContext.h
Owners: @victor-eds, @Naghasan, @sommerlukas

[SYCL] Support bf16 isnan for sycl::marray<bfloat16, N> (#7990)
  sycl/include/sycl/ext/oneapi/experimental/bfloat16_math.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Deprecate `get_access` for `host_accessor` in SYCL2020 (#8005)
  sycl/include/sycl/buffer.hpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
Owners: @intel/llvm-reviewers-runtime

not deferring fixes a lot of tests/bugs
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/platform_impl.cpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/detail/scheduler/scheduler.hpp
  sycl/source/detail/sycl_mem_obj_t.cpp
  sycl/unittests/buffer/BufferDestructionCheck.cpp
  sycl/unittests/scheduler/GraphCleanup.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Allow unittests to use drainThreadPool method on Win (#8006)
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/scheduler/scheduler.cpp
Owners: @intel/llvm-reviewers-runtime

Merge USM Alloc Context of Sub-device and sub-sub-device
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL-MLIR] Generate non-LLVM dialect types inside single-field unions (#7783)
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/single_field_union.c
  polygeist/tools/cgeist/Test/Verification/single_field_union_for_mem.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Add tests for bfloat16 isnan (intel/llvm-test-suite#1509)
  SYCL/BFloat16/bfloat16_builtins.cpp
Owners: @bader

[SYCL] disable ze_debug=4 test (intel/llvm-test-suite#1498)
  SYCL/KernelAndProgram/cache-build-result.cpp
Owners: @bader

Put kernel info to tls (not working)
  sycl/include/sycl/handler.hpp
  sycl/unittests/helpers/TestKernel.hpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Update policy regarding unrelated failures
  CONTRIBUTING.md
Owners: @bader

Fix formatting
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Update policy regarding unrelated failures (#8011)
  CONTRIBUTING.md
Owners: @bader

the fight with clang-format begins
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/unittests/buffer/BufferDestructionCheck.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Disable SYCL/USM/{copy2d,memcpy2d}.cpp on gpu-intel-pvc (intel/llvm-test-suite#1514)
  SYCL/USM/copy2d.cpp
  SYCL/USM/memcpy2d.cpp
Owners: @bader

[SYCL] Disable SYCL/Regression/image_access.cpp on PVC (intel/llvm-test-suite#1517)
  SYCL/Regression/image_access.cpp
Owners: @bader

[SYCL] Disable SYCL/ESIMD/histogram_{64,2d_64}.cpp on gpu-intel-pvc (intel/llvm-test-suite#1516)
  SYCL/ESIMD/histogram_2d_64.cpp
  SYCL/ESIMD/histogram_64.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Fix usage of uninitialized field ESIMDVerifier::ForceStateles… (#8000)
  llvm/include/llvm/SYCLLowerIR/ESIMD/ESIMDVerifier.h
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
Owners: @intel/dpcpp-esimd-reviewers

clang-format puts one up on the board
  sycl/unittests/buffer/BufferDestructionCheck.cpp
Owners: @intel/llvm-reviewers-runtime

Initial version
  sycl/include/sycl/ext/intel/esimd/memory.hpp
Owners: @intel/dpcpp-esimd-reviewers

investigating potential CI issue
  sycl/source/device_selector.cpp
Owners: @intel/llvm-reviewers-runtime

spelling
  sycl/source/detail/scheduler/scheduler.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][Fusion] Remove LLVM include from header
  sycl-fusion/jit-compiler/include/JITContext.h
  sycl-fusion/jit-compiler/include/KernelFusion.h
  sycl-fusion/jit-compiler/lib/JITContext.cpp
Owners: @victor-eds, @Naghasan, @sommerlukas

Fix parralel_for code info extraction
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
Owners: @intel/llvm-reviewers-runtime

Address code review comments
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

Add basic unittests for other APIs
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Owners: @intel/llvm-reviewers-runtime

restore handler.hpp state
  sycl/include/sycl/handler.hpp
Owners: @intel/llvm-reviewers-runtime

Add exception desciption to message
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/exception.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add device::get_info<info::device::aspects> specialisation (#7937)
  sycl/include/sycl/detail/info_desc_helpers.hpp
  sycl/include/sycl/device.hpp
  sycl/include/sycl/info/device_traits.def
  sycl/include/sycl/info/device_traits_deprecated.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/source/device.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/SYCL2020/CMakeLists.txt
  sycl/unittests/SYCL2020/DeviceGetInfoAspects.cpp
Owners: @intel/llvm-reviewers-runtime

change string types
  sycl/source/detail/global_handler.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Owners: @intel/llvm-reviewers-runtime

Switch to assertion
  sycl/source/detail/program_manager/program_manager.cpp
Owners: @intel/llvm-reviewers-runtime

Save code location for async commands
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_processor.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add generic impl for bf16 fabs (#7959)
  sycl/include/sycl/ext/oneapi/experimental/bfloat16_math.hpp
Owners: @intel/llvm-reviewers-runtime

[Tests] Comment tests as functionality is not yet implemented
  sycl/test/extensions/group_load_store.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Use pointer access operator instead of .get().
  sycl/plugins/level_zero/pi_level_zero.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL][Fusion] Remove LLVM include from header (#8017)
  sycl-fusion/jit-compiler/include/JITContext.h
  sycl-fusion/jit-compiler/include/KernelFusion.h
  sycl-fusion/jit-compiler/lib/JITContext.cpp
Owners: @victor-eds, @Naghasan, @sommerlukas

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas
