Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson, @AlexeySotkin, @AlexeySachkov, @dm-vodopyanov, @romanovvlad, @vzakhari, @intel/llvm-reviewers-runtime, @pvchupin, @kbobrovs, @intel/dpcpp-specification-reviewers, @jbrodman, @Pennycook, @smaslov-intel, @intel/llvm-reviewers-cuda, @againull, @MrSidims, @v-klochkov, @turinevgeny, @tovinkere, @andykaylor, @Fznamznon, @sndmitriev, @DenisBakhvalov

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @premanandrao @elizabethandrews

# Driver
clang/**/Driver @mdtoguchi @AGindinson

# LLVM-SPIRV translator
llvm-spirv/ @AlexeySotkin @AlexeySachkov

# OpenCL "offline" compiler
opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

# Device library
libdevice/ @vzakhari

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @pvchupin
sycl/doc/ @pvchupin @kbobrovs
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# USM
sycl/include/CL/sycl/detail/clusm.hpp @jbrodman
sycl/include/CL/sycl/detail/usm_impl.hpp @jbrodman
sycl/include/CL/sycl/usm/ @jbrodman
sycl/include/CL/sycl/ordered_queue.hpp @jbrodman
sycl/include/CL/sycl/usm.hpp @jbrodman
sycl/include/CL/cl_usm_ext.h @jbrodman
sycl/source/detail/usm/ @jbrodman
sycl/source/ordered_queue.cpp @jbrodman

# Sub-groups
sycl/include/CL/sycl/detail/spirv.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/group_algorithm.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group_host.hpp @Pennycook @AlexeySachkov

# PI API
sycl/include/CL/sycl/detail/pi.def @smaslov-intel
sycl/include/CL/sycl/detail/pi.h   @smaslov-intel
sycl/include/CL/sycl/detail/pi.hpp @smaslov-intel
sycl/include/CL/sycl/detail/pi* @smaslov-intel
sycl/plugins/ @smaslov-intel
sycl/source/detail/pi.cpp @smaslov-intel
sycl/source/detail/plugin.hpp @smaslov-intel
sycl/source/detail/posix_pi.cpp @smaslov-intel
sycl/source/detail/windows_pi.cpp @smaslov-intel

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# Stream
sycl/include/CL/sycl/detail/stream_impl.hpp @againull
sycl/include/CL/sycl/stream.hpp @againull
sycl/source/detail/stream_impl.cpp @againull
sycl/source/stream.cpp @againull

# Specialization constant
sycl/include/CL/sycl/detail/sycl_fe_intrins.hpp @kbobrovs
sycl/include/CL/sycl/experimental/spec_constant.hpp @kbobrovs
sycl/source/detail/spec_constant_impl.hpp @kbobrovs

# Program manager
sycl/source/detail/program_manager @kbobrovs
sycl/source/detail/spec_constant_impl.cpp @kbobrovs

# FPGA extensions
sycl/include/CL/sycl/intel/fpga_device_selector.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_extensions.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_reg.hpp @MrSidims
sycl/include/CL/sycl/intel/pipes.hpp @MrSidims
sycl/include/CL/sycl/pipes.hpp @MrSidims

# Reduction extension
sycl/include/CL/sycl/intel/reduction.hpp @v-klochkov

# Function pointers
sycl/include/CL/sycl/intel/function_pointer.hpp @AlexeySachkov
sycl/source/function_pointer.cpp @AlexeySachkov

# Half Type
sycl/include/CL/sycl/half_type.hpp @AlexeySachkov
sycl/source/half_type.cpp @AlexeySachkov

# vec and swizzles
sycl/include/CL/sycl/swizzles.def @turinevgeny
sycl/include/CL/sycl/types.hpp @turinevgeny

# XPTI instrumentation utilities
xpti/ @tovinkere @andykaylor
xptifw/ @tovinkere  @andykaylor

# DPC++ tools
llvm/**/file-table-tform/ @kbobrovs @AlexeySachkov
llvm/**/llvm-foreach/ @AlexeySachkov  @Fznamznon
llvm/**/llvm-no-spir-kernel/ @AGindinson @AlexeySachkov
llvm/**/sycl-post-link/ @kbobrovs @AlexeySachkov
llvm/include/llvm/Support/PropertySetIO.h @kbobrovs @AlexeySachkov
llvm/lib/Support/PropertySetIO.cpp @kbobrovs @AlexeySachkov
llvm/unittests/Support/PropertySetIOTest.cpp @kbobrovs @AlexeySachkov
llvm/lib/Support/Base64.cpp @kbobrovs @AlexeySachkov

# Clang offload tools
clang/tools/clang-offload-bundler/ @kbobrovs @sndmitriev
clang/tools/clang-offload-wrapper/ @sndmitriev @kbobrovs
clang/tools/clang-offload-deps/ @sndmitriev

# Explicit SIMD
SYCLLowerIR/ @kbobrovs @DenisBakhvalov
esimd/ @kbobrovs @DenisBakhvalov
sycl/include/CL/sycl/INTEL/esimd.hpp @kbobrovs @DenisBakhvalov
sycl/doc/extensions/ExplicitSIMD/ @kbobrovs

Fix typo in level_zero_dynamic_batch_test
  sycl/test/on-device/plugins/level_zero_dynamic_batch_test.cpp
Owners: @intel/llvm-reviewers-runtime

Diisable level_zero_dynamic_batch_test till it's fixed
  sycl/test/on-device/plugins/level_zero_dynamic_batch_test.cpp
Owners: @intel/llvm-reviewers-runtime

Fix SPIR-V friendly LLVM IR for conversion functions (#899)
  llvm-spirv/lib/SPIRV/SPIRVInternal.h
  llvm-spirv/lib/SPIRV/SPIRVReader.cpp
  llvm-spirv/lib/SPIRV/SPIRVReader.h
  llvm-spirv/lib/SPIRV/SPIRVToOCL.cpp
  llvm-spirv/lib/SPIRV/SPIRVToOCL.h
  llvm-spirv/lib/SPIRV/SPIRVUtil.cpp
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVOpCode.h
  llvm-spirv/test/transcoding/SatConvert.cl
  llvm-spirv/test/transcoding/explicit-conversions.cl
Owners: @AlexeySotkin, @AlexeySachkov

Treat warnings as errors in out of tree CI builds
  llvm-spirv/.github/workflows/check-out-of-tree-build.yml
Owners: @AlexeySotkin, @AlexeySachkov

Ignore experimental_noalias_scope_decl intrinsic (#906)
  llvm-spirv/test/llvm-intrinsics/experimental.noalias.scope.decl.ll
Owners: @AlexeySotkin, @AlexeySachkov

Support llvm.is.constant
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVLLVMUtil.h
  llvm-spirv/test/llvm.is.constant.ll
Owners: @AlexeySotkin, @AlexeySachkov

Fixed various compiler errors.
  llvm-spirv/lib/SPIRV/SPIRVToOCL.cpp
  llvm-spirv/lib/SPIRV/SPIRVToOCL.h
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVModule.h
Owners: @AlexeySotkin, @AlexeySachkov

Expose SPIRVToOCL12, SPIRVToOCL20 interfaces in SPIRVToOCL.h
  llvm-spirv/lib/SPIRV/SPIRVToOCL.h
  llvm-spirv/lib/SPIRV/SPIRVToOCL12.cpp
  llvm-spirv/lib/SPIRV/SPIRVToOCL20.cpp
Owners: @AlexeySotkin, @AlexeySachkov

Fix translation of cmpxchg instruction
  llvm-spirv/lib/SPIRV/SPIRVRegularizeLLVM.cpp
  llvm-spirv/test/AtomicCompareExchange.ll
Owners: @AlexeySotkin, @AlexeySachkov

Fix linkage failure on Win
  llvm/lib/LTO/CMakeLists.txt
  llvm/unittests/CodeGen/CMakeLists.txt
Owners: @bader

Implement SPV_INTEL_optnone extension (#913)
  llvm-spirv/include/LLVMSPIRVExtensions.inc
  llvm-spirv/lib/SPIRV/SPIRVInternal.h
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVIsValidEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVNameMapEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/spirv_internal.hpp
  llvm-spirv/test/optnone.ll
Owners: @AlexeySotkin, @AlexeySachkov

Fix test/DebugInfo/X86/static_member_array.ll
  llvm-spirv/test/DebugInfo/X86/static_member_array.ll
Owners: @AlexeySotkin, @AlexeySachkov

Update vc-intrinsics revision
  llvm/lib/SYCLLowerIR/CMakeLists.txt
Owners: @kbobrovs, @DenisBakhvalov

Fix visitUIToFPInst method in SPIRVLowerBool The method did not handle correctly the case where operand of UIToFPInst instruction is vector. This patch fixes it.
  llvm-spirv/lib/SPIRV/SPIRVLowerBool.cpp
  llvm-spirv/test/uitofp-with-bool.ll
Owners: @AlexeySotkin, @AlexeySachkov

[CUDA] Run opt passes with the old pass manager
  llvm/test/CodeGen/NVPTX/global-offset-multiple-calls-from-one-function.ll
  llvm/test/CodeGen/NVPTX/global-offset-multiple-entry-points.ll
  llvm/test/CodeGen/NVPTX/global-offset-simple.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-basic-transformation.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-multiple-functions.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-no-entry-points.ll
  llvm/test/CodeGen/NVPTX/local-accessor-to-shared-memory-preserves-types.ll
  llvm/tools/opt/opt.cpp
Owners: @bader

Align with cd2f65b - correct some confused diagnostic terminology
  clang/test/SemaSYCL/reqd-sub-group-size-device.cpp
  clang/test/SemaSYCL/sycl-device-num_simd_work_items-template.cpp
  clang/test/SemaSYCL/sycl-device-reqd-sub-group-size-template.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL][GDB] Relax xmethod script template arg handling
  sycl/gdb/libsycl.so-gdb.py
Owners: @intel/llvm-reviewers-runtime

[SYCL] Sycl symbols was added
  sycl/test/abi/sycl_symbols_linux.dump
Owners: @intel/llvm-reviewers-runtime

[SYCL] Fix versions for OCL headers and loader
  buildbot/dependency.py
  opencl-aot/CMakeLists.txt
  sycl/CMakeLists.txt
Owners: @bader, @dm-vodopyanov, @AlexeySachkov, @romanovvlad, @intel/llvm-reviewers-runtime

Disable SPV_INTEL_optnone in llvm-spirv
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-offload-intelfpga.cpp
  clang/test/Driver/sycl-offload.c
  clang/test/Driver/sycl.c
Owners: @mdtoguchi, @AGindinson

Rework the way we handle SYCL -cc1 arguments.
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/loop_unroll.cpp
  clang/test/Frontend/sycl.cpp
  clang/test/SemaSYCL/intel-fpga-mem-builtin.cpp
  clang/test/SemaSYCL/intel-fpga-reg.cpp
Owners: @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson

[SYCL][AOT] Enhance opencl-aot to compile or link program (#3104)
  opencl-aot/include/utils.h
  opencl-aot/source/main.cpp
  opencl-aot/source/utils.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @romanovvlad

[SYCL] Fixed device selection for SYCL_DEVICE_FILTER
  sycl/source/detail/platform_impl.cpp
  sycl/test/on-device/select_device_host.cpp
Owners: @intel/llvm-reviewers-runtime

Corrections based on review feedback + fixes.
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/loop_unroll.cpp
  clang/test/Driver/sycl-offload.cpp
  clang/test/Frontend/sycl.cpp
  clang/test/SemaSYCL/intel-fpga-mem-builtin.cpp
  clang/test/SemaSYCL/intel-fpga-reg.cpp
  clang/unittests/Frontend/CompilerInvocationTest.cpp
Owners: @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson

Fix the frontend unit test behavior.
  clang/include/clang/Driver/Options.td
  clang/unittests/Frontend/CompilerInvocationTest.cpp
Owners: @mdtoguchi, @AGindinson, @premanandrao, @elizabethandrews

Address review comments
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/nested-anon-and-std-ns.cpp
  clang/test/SemaSYCL/unnamed-kernel.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] keep old version until can break ABI
  sycl/source/backend/level_zero.cpp
  sycl/test/abi/sycl_symbols_linux.dump
Owners: @intel/llvm-reviewers-runtime

[SYCL] E2E test for interop that keeps ownership in the app (intel/llvm-test-suite#153)
  SYCL/Plugin/interop-level-zero-keep-ownership.cpp
  SYCL/Plugin/interop-level-zero.cpp
Owners: @bader

[SYCL][ESIMD] improved kmean (intel/llvm-test-suite#154)
  SYCL/ESIMD/kmeans/kmeans.cpp
  SYCL/ESIMD/kmeans/kmeans.h
  SYCL/ESIMD/kmeans/point.h
Owners: @bader

[SYCL] Disable unstable tests (intel/llvm-test-suite#156)
  SYCL/ESIMD/Stencil.cpp
  SYCL/ESIMD/stencil2.cpp
Owners: @bader

Apply suggestions from code review
  buildbot/dependency.py
Owners: @bader

[ESIMD] Aggressively inline every function called by ESIMD kernel
  llvm/lib/SYCLLowerIR/LowerESIMD.cpp
  llvm/test/SYCLLowerIR/esimd_lower_inline_hint.ll
  llvm/tools/sycl-post-link/sycl-post-link.cpp
Owners: @kbobrovs, @DenisBakhvalov, @AlexeySachkov

support div/ldiv/lldiv from <stdlib.h> in libdevice
  libdevice/crt_wrapper.cpp
  libdevice/wrapper.h
  sycl/include/CL/sycl/builtins.hpp
Owners: @vzakhari, @intel/llvm-reviewers-runtime

[NFC] Update GlobalOffset pass for new pass manager
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.cpp
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.h
  llvm/tools/opt/opt.cpp
Owners: @bader

[NFC] Update LocalAccessorToSharedMemory pass
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/lib/Target/NVPTX/SYCL/LocalAccessorToSharedMemory.cpp
  llvm/lib/Target/NVPTX/SYCL/LocalAccessorToSharedMemory.h
  llvm/tools/opt/opt.cpp
Owners: @bader

[SYCL][GDB] Relax xmethod script template arg handling (#3256)
  sycl/gdb/libsycl.so-gdb.py
Owners: @intel/llvm-reviewers-runtime

[NFC][ESIMD] Remove one of the uses on __SYCL_EXPLICIT_SIMD__ (#3242)
  sycl/include/CL/__spirv/spirv_vars.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Update bit_ast to build with gcc 7 (#3238)
  sycl/include/CL/sycl/detail/helpers.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add an attr tablegen feature for checking langopts (#3234)
  clang/include/clang/Basic/Attr.td
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGenSYCL/loop_fusion_host.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] Fix Host Device sampler coordinate conversion (#3226)
  sycl/include/CL/sycl/detail/image_accessor_util.hpp
Owners: @intel/llvm-reviewers-runtime
