Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-specification-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @intel/ocl-cpu-rt-write, @rolandschulz, @intel/dpcpp-devops-reviewers, @intel/dpcpp-kernel-fusion-reviewers, @dkhaldi, @YuriPlyakhin, @yubingex007-a11y, @intel/dpcpp-nativecpu-pi-reviewers, @intel/sycl-graphs-reviewers, @intel/syclcompat-lib-reviewers, @intel/bindless-images-reviewers

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/llvm-reviewers-runtime
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# Unified Runtime plugin
sycl/plugins/unified_runtime/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA and HIP plugins
sycl/plugins/**/cuda/ @intel/llvm-reviewers-cuda
sycl/plugins/**/hip/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# OpenCL CPU RT
opencl-cpu/ @intel/ocl-cpu-rt-write

# SPMD transform passes on CPU
llvm/lib/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# SPMD transform passes header files
llvm/include/llvm/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# SPMD transform passes LIT test
llvm/test/Transforms/SPMDTransforms/ @intel/ocl-cpu-rt-write

# Clang offload tools
clang/**/OffloadBundler.h @intel/dpcpp-tools-reviewers
clang/**/OffloadBundler.cpp @intel/dpcpp-tools-reviewers
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers
clang/tools/clang-linker-wrapper/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/**/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @intel/dpcpp-esimd-reviewers @rolandschulz
sycl/include/std/experimental/simd.hpp @intel/dpcpp-esimd-reviewers @rolandschulz
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @intel/dpcpp-esimd-reviewers
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @intel/dpcpp-esimd-reviewers
invoke_simd/ @intel/dpcpp-esimd-reviewers
InvokeSimd/ @intel/dpcpp-esimd-reviewers

# DevOps configs
.github/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @intel/dpcpp-kernel-fusion-reviewers
sycl/doc/design/KernelFusionJIT.md @intel/dpcpp-kernel-fusion-reviewers
sycl/doc/extensions/experimental/sycl_ext_codeplay_kernel_fusion.asciidoc @intel/dpcpp-kernel-fusion-reviewers
sycl/include/sycl/ext/codeplay/experimental/fusion_properties.hpp  @intel/dpcpp-kernel-fusion-reviewers
sycl/include/sycl/ext/codeplay/experimental/fusion_wrapper.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/fusion/ @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_compiler.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_compiler.cpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_device_binaries.hpp @intel/dpcpp-kernel-fusion-reviewers
sycl/source/detail/jit_device_binaries.cpp @intel/dpcpp-kernel-fusion-reviewers
sycl/test-e2e/KernelFusion @intel/dpcpp-kernel-fusion-reviewers

# Matrix
sycl/include/sycl/ext/oneapi/matrix/ @dkhaldi @YuriPlyakhin @yubingex007-a11y
sycl/test-e2e/Matrix @dkhaldi @YuriPlyakhin @yubingex007-a11y

# Native CPU
llvm/**/*SYCLNativeCPU* @intel/dpcpp-nativecpu-pi-reviewers 
clang/include/clang/Basic/SYCLNativeCPUHelpers.h @intel/dpcpp-nativecpu-pi-reviewers 
clang/test/CodeGenSYCL/native_cpu*.cpp @intel/dpcpp-nativecpu-pi-reviewers 
clang/test/Driver/sycl-native-cpu*.cpp @intel/dpcpp-nativecpu-pi-reviewers 
sycl/**/native_cpu/ @intel/dpcpp-nativecpu-pi-reviewers
sycl/doc/design/SYCLNativeCPU.md @intel/dpcpp-nativecpu-pi-reviewers
sycl/include/sycl/detail/native_cpu.hpp @intel/dpcpp-nativecpu-pi-reviewers

# SYCL-Graphs extensions
sycl/include/sycl/ext/oneapi/experimental/graph.hpp @intel/sycl-graphs-reviewers
sycl/source/detail/graph_impl.cpp @intel/sycl-graphs-reviewers
sycl/source/detail/graph_impl.hpp @intel/sycl-graphs-reviewers
sycl/unittests/Extensions/CommandGraph.cpp @intel/sycl-graphs-reviewers
sycl/doc/design/CommandGraph.md @intel/sycl-graphs-reviewers
sycl/test-e2e/Graph @intel/sycl-graphs-reviewers
sycl/doc/extensions/**/sycl_ext_oneapi_graph.asciidoc @intel/sycl-graphs-reviewers

# syclcompat library
sycl/**/syclcompat/ @intel/syclcompat-lib-reviewers
sycl/cmake/modules/AddSYCLLibraryUnitTest.cmake @intel/syclcompat-lib-reviewers
sycl/include/syclcompat.hpp @intel/syclcompat-lib-reviewers

# bindless images
sycl/doc/extensions/experimental/sycl_ext_oneapi_bindless_images.asciidoc @intel/bindless-images-reviewers
sycl/include/sycl/ext/oneapi/bindless* @intel/bindless-images-reviewers
sycl/source/detail/bindless* @intel/bindless-images-reviewers
sycl/plugins/unified_runtime/ur/adapters/**/image.* @intel/bindless-images-reviewers
sycl/test-e2e/bindless_images/ @intel/bindless-images-reviewers

[SYCL][E2E] Fix use-after-free in reduction_range_N_vars.cpp (#11499)
  sycl/test-e2e/Reduction/reduction_range_N_vars.cpp
Owners: @intel/llvm-reviewers-runtime

Update sycl/test-e2e/USM/math.cpp
  sycl/test-e2e/USM/math.cpp
Owners: @intel/llvm-reviewers-runtime

[Pulldown] Always use ours when merging from other branches for CODEOWNERS (#11496)
  .gitattributes
Owners: @bader

Address review comments
  sycl/doc/SYCLDriverforRFC.md
Owners: @intel/dpcpp-doc-reviewers

Fixed formatting
  sycl/test-e2e/Matrix/joint_matrix_all_sizes_impl.hpp
  sycl/test-e2e/Matrix/joint_matrix_colA_rowB_colC_impl.hpp
  sycl/test-e2e/Matrix/joint_matrix_transposeC_impl.hpp
Owners: @dkhaldi, @YuriPlyakhin, @yubingex007-a11y

fixed few types mismatches
  sycl/test-e2e/Matrix/Legacy/joint_matrix_bfloat16_colmajorA_colmajorB_impl.hpp
  sycl/test-e2e/Matrix/joint_matrix_bfloat16_32x64_impl.hpp
  sycl/test-e2e/Matrix/joint_matrix_bfloat16_colmajorA_colmajorB_impl.hpp
Owners: @dkhaldi, @YuriPlyakhin, @yubingex007-a11y

[UR] Fix accidentaly rollback in 7812fa95e2c
  sycl/plugins/unified_runtime/CMakeLists.txt
Owners: @intel/dpcpp-l0-pi-reviewers

fixed tests in XMX8 folder
  sycl/test-e2e/Matrix/Legacy/XMX8/joint_matrix_bf16.cpp
  sycl/test-e2e/Matrix/Legacy/XMX8/joint_matrix_bfloat16.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_all_sizes.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bf16_fill_k_cache.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bf16_fill_k_cache_init.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bf16_fill_k_cache_unroll.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bf16_fill_k_cache_unroll_init.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bfloat16.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_bfloat16_array.cpp
Owners: @dkhaldi, @YuriPlyakhin, @yubingex007-a11y

fixed path to hpp
  sycl/test-e2e/Matrix/Legacy/XMX8/joint_matrix_bf16.cpp
  sycl/test-e2e/Matrix/Legacy/XMX8/joint_matrix_bfloat16.cpp
  sycl/test-e2e/Matrix/Legacy/XMX8/joint_matrix_bfloat16_32x64.cpp
Owners: @dkhaldi, @YuriPlyakhin, @yubingex007-a11y

Clang Format
  clang/lib/Driver/Driver.cpp
Owners: @intel/dpcpp-clang-driver-reviewers

Fix word usage
  sycl/doc/design/CompilerAndRuntimeDesign.md
Owners: @intel/llvm-reviewers-runtime

[SYCL] Introduce min_work_groups_per_cu and max_work_groups_per_mp
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/Targets/NVPTX.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  sycl/test/launch_bounds/lb_sm_70.cpp
  sycl/test/launch_bounds/lb_sm_90.cpp
Owners: @intel/dpcpp-cfe-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Handle required wg size attribute in HIP
  sycl/plugins/unified_runtime/ur/adapters/hip/enqueue.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/kernel.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/kernel.hpp
  sycl/plugins/unified_runtime/ur/adapters/hip/program.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/program.hpp
Owners: @intel/llvm-reviewers-cuda

[SYCL] Enable reqd_work_group_size tests for HIP
  sycl/test-e2e/Basic/reqd_work_group_size.cpp
  sycl/test-e2e/Basic/reqd_work_group_size_check_exception.cpp
Owners: @intel/llvm-reviewers-runtime

Drop void in enable_if
  sycl/include/sycl/ext/oneapi/prefetch.hpp
Owners: @intel/llvm-reviewers-runtime
