Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson, @AlexeySotkin, @AlexeySachkov, @dm-vodopyanov, @romanovvlad, @vzakhari, @intel/llvm-reviewers-runtime, @pvchupin, @kbobrovs, @intel/dpcpp-specification-reviewers, @jbrodman, @Pennycook, @smaslov-intel, @intel/llvm-reviewers-cuda, @againull, @MrSidims, @v-klochkov, @turinevgeny, @tovinkere, @andykaylor, @Fznamznon, @sndmitriev, @DenisBakhvalov

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @premanandrao @elizabethandrews

# Driver
clang/**/Driver @mdtoguchi @AGindinson

# LLVM-SPIRV translator
llvm-spirv/ @AlexeySotkin @AlexeySachkov

# OpenCL "offline" compiler
opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

# Device library
libdevice/ @vzakhari

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @pvchupin
sycl/doc/ @pvchupin @kbobrovs
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# USM
sycl/include/CL/sycl/detail/clusm.hpp @jbrodman
sycl/include/CL/sycl/detail/usm_impl.hpp @jbrodman
sycl/include/CL/sycl/usm/ @jbrodman
sycl/include/CL/sycl/ordered_queue.hpp @jbrodman
sycl/include/CL/sycl/usm.hpp @jbrodman
sycl/include/CL/cl_usm_ext.h @jbrodman
sycl/source/detail/usm/ @jbrodman
sycl/source/ordered_queue.cpp @jbrodman

# Sub-groups
sycl/include/CL/sycl/detail/spirv.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/group_algorithm.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group_host.hpp @Pennycook @AlexeySachkov

# PI API
sycl/include/CL/sycl/detail/pi.def @smaslov-intel
sycl/include/CL/sycl/detail/pi.h   @smaslov-intel
sycl/include/CL/sycl/detail/pi.hpp @smaslov-intel
sycl/include/CL/sycl/detail/pi* @smaslov-intel
sycl/plugins/ @smaslov-intel
sycl/source/detail/pi.cpp @smaslov-intel
sycl/source/detail/plugin.hpp @smaslov-intel
sycl/source/detail/posix_pi.cpp @smaslov-intel
sycl/source/detail/windows_pi.cpp @smaslov-intel

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# Stream
sycl/include/CL/sycl/detail/stream_impl.hpp @againull
sycl/include/CL/sycl/stream.hpp @againull
sycl/source/detail/stream_impl.cpp @againull
sycl/source/stream.cpp @againull

# Specialization constant
sycl/include/CL/sycl/detail/sycl_fe_intrins.hpp @kbobrovs
sycl/include/CL/sycl/experimental/spec_constant.hpp @kbobrovs
sycl/source/detail/spec_constant_impl.hpp @kbobrovs

# Program manager
sycl/source/detail/program_manager @kbobrovs
sycl/source/detail/spec_constant_impl.cpp @kbobrovs

# FPGA extensions
sycl/include/CL/sycl/intel/fpga_device_selector.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_extensions.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_reg.hpp @MrSidims
sycl/include/CL/sycl/intel/pipes.hpp @MrSidims
sycl/include/CL/sycl/pipes.hpp @MrSidims

# Reduction extension
sycl/include/CL/sycl/intel/reduction.hpp @v-klochkov

# Function pointers
sycl/include/CL/sycl/intel/function_pointer.hpp @AlexeySachkov
sycl/source/function_pointer.cpp @AlexeySachkov

# Half Type
sycl/include/CL/sycl/half_type.hpp @AlexeySachkov
sycl/source/half_type.cpp @AlexeySachkov

# vec and swizzles
sycl/include/CL/sycl/swizzles.def @turinevgeny
sycl/include/CL/sycl/types.hpp @turinevgeny

# XPTI instrumentation utilities
xpti/ @tovinkere @andykaylor
xptifw/ @tovinkere  @andykaylor

# DPC++ tools
llvm/**/file-table-tform/ @kbobrovs @AlexeySachkov
llvm/**/llvm-foreach/ @AlexeySachkov  @Fznamznon
llvm/**/llvm-no-spir-kernel/ @AGindinson @AlexeySachkov
llvm/**/sycl-post-link/ @kbobrovs @AlexeySachkov
llvm/include/llvm/Support/PropertySetIO.h @kbobrovs @AlexeySachkov
llvm/lib/Support/PropertySetIO.cpp @kbobrovs @AlexeySachkov
llvm/unittests/Support/PropertySetIOTest.cpp @kbobrovs @AlexeySachkov
llvm/lib/Support/Base64.cpp @kbobrovs @AlexeySachkov

# Clang offload tools
clang/tools/clang-offload-bundler/ @kbobrovs @sndmitriev
clang/tools/clang-offload-wrapper/ @sndmitriev @kbobrovs
clang/tools/clang-offload-deps/ @sndmitriev

# Explicit SIMD
SYCLLowerIR/ @kbobrovs @DenisBakhvalov
esimd/ @kbobrovs @DenisBakhvalov
sycl/include/CL/sycl/INTEL/esimd.hpp @kbobrovs @DenisBakhvalov
sycl/doc/extensions/ExplicitSIMD/ @kbobrovs

Changes for line numbers in modified sycl.hpp.
  clang/test/SemaSYCL/args-size-overflow.cpp
  clang/test/SemaSYCL/deferred-diagnostics-aux-builtin.cpp
  clang/test/SemaSYCL/deferred-diagnostics-emit.cpp
  clang/test/SemaSYCL/float128.cpp
  clang/test/SemaSYCL/implicit_kernel_type.cpp
  clang/test/SemaSYCL/int128.cpp
  clang/test/SemaSYCL/kernelname-enum.cpp
  clang/test/SemaSYCL/parallel_for_wrapper_attr.cpp
  clang/test/SemaSYCL/stdtypes_kernel_type.cpp
  clang/test/SemaSYCL/unnamed-kernel.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] Fix the type trait 'known_identity'
  sycl/include/CL/sycl/ONEAPI/reduction.hpp
  sycl/test/basic_tests/reduction_ctor.cpp
  sycl/test/basic_tests/reduction_known_identity.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Keep track of signaled fences to properly recycle associated command-lists. (#3215)
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
Owners: @smaslov-intel

[SYCL] Extend coverage of USM memcpy, fill, and memset (intel/llvm-test-suite#144)
  SYCL/USM/allocator_container.cpp
  SYCL/USM/fill.cpp
  SYCL/USM/memcpy.cpp
  SYCL/USM/memset.cpp
Owners: @bader

[SYCL] Report an error for using "sycl::program::create_program_with_source" with Level-Zero/CUDA (#3212)
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/source/detail/program_impl.cpp
Owners: @intel/llvm-reviewers-cuda, @intel/llvm-reviewers-runtime

[Driver] Pass optimization options to sycl-post-link (#3207)
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-device-lib.cpp
  clang/test/Driver/sycl-intelfpga-aoco-win.cpp
  clang/test/Driver/sycl-intelfpga-aoco.cpp
  clang/test/Driver/sycl-offload-intelfpga.cpp
  clang/test/Driver/sycl-offload.c
Owners: @mdtoguchi, @AGindinson

[SYCL][ESIMD] refactor timing code (#145)
  SYCL/ESIMD/esimd_test_utils.hpp
Owners: @bader

[SYCL][ESIMD] refactor timing code (intel/llvm-test-suite#145)
  SYCL/ESIMD/BitonicSortK.cpp
  SYCL/ESIMD/BitonicSortKv2.cpp
  SYCL/ESIMD/esimd_test_utils.hpp
  SYCL/ESIMD/histogram.cpp
  SYCL/ESIMD/histogram_256_slm.cpp
  SYCL/ESIMD/kmeans/kmeans.cpp
  SYCL/ESIMD/matrix_transpose.cpp
  SYCL/ESIMD/matrix_transpose_glb.cpp
  SYCL/ESIMD/matrix_transpose_usm.cpp
Owners: @bader

Apply suggestions from code review
  sycl/doc/SharedLibraries.md
Owners: @pvchupin, @kbobrovs

Apply minor comment, fix a typo
  sycl/doc/SharedLibraries.md
Owners: @pvchupin, @kbobrovs

[SYCL][ESIMD] Fix Stencil test result mismatch with large input. (intel/llvm-test-suite#148)
  SYCL/ESIMD/Stencil.cpp
  SYCL/ESIMD/stencil2.cpp
Owners: @bader

[SYCL] Add support for group_local_memory_for_overwrite to headers
  sycl/include/CL/sycl.hpp
  sycl/include/CL/sycl/group_local_memory.hpp
Owners: @intel/llvm-reviewers-runtime

Update sycl/include/CL/sycl/group_local_memory.hpp
  sycl/include/CL/sycl/group_local_memory.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][PI][L0] Enables command batching in enqueueMemCopyHelper
  sycl/plugins/level_zero/pi_level_zero.cpp
Owners: @smaslov-intel

Fixed a bad conflict resolution
  clang/test/Driver/sycl-device-lib.cpp
Owners: @mdtoguchi, @AGindinson

[SYCL][FPGA] Add mutual diagnostic for num_simd_work_items attribute in conjunction with the reqd_work_group_size attribute (#3170)
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/SemaSYCL/num_simd_work_items_device.cpp
  clang/test/SemaSYCL/sycl-device-num_simd_work_items-template.cpp
Owners: @premanandrao, @elizabethandrews

Enhance opencl-aot to compile or link program
  opencl-aot/include/utils.h
  opencl-aot/source/main.cpp
  opencl-aot/source/utils.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @romanovvlad

Fix unused variable warning
  sycl/include/CL/sycl/group_local_memory.hpp
Owners: @intel/llvm-reviewers-runtime

Fix unused variable warning
  sycl/include/CL/sycl/group_local_memory.hpp
Owners: @intel/llvm-reviewers-runtime

Move the allocation function to sycl_fe_intrins.hpp
  sycl/include/CL/sycl/detail/sycl_fe_intrins.hpp
  sycl/include/CL/sycl/group_local_memory.hpp
Owners: @kbobrovs, @intel/llvm-reviewers-runtime

Correct test failures from the recent rebase.
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/SemaSYCL/num_simd_work_items_device.cpp
  clang/test/SemaSYCL/sycl-device-num_simd_work_items-template.cpp
Owners: @premanandrao, @elizabethandrews

Align SemaLookup with dc00c96
  clang/lib/Sema/SemaLookup.cpp
Owners: @premanandrao, @elizabethandrews

Align with cd2f65b - correct some confused diagnostic terminology
  clang/test/SemaOpenCL/invalid-kernel-attrs.cl
  clang/test/SemaSYCL/intel-max-global-work-dim-device.cpp
  clang/test/SemaSYCL/intel-max-work-group-size-device.cpp
  clang/test/SemaSYCL/loop_fusion.cpp
  clang/test/SemaSYCL/num_simd_work_items_device.cpp
  clang/test/SemaSYCL/redeclaration-attribute-propagation.cpp
  clang/test/SemaSYCL/reqd-work-group-size-device.cpp
  clang/test/SemaSYCL/scheduler_target_fmax_mhz.cpp
Owners: @premanandrao, @elizabethandrews

Add an attr tablegen feature for checking langopts
  clang/include/clang/Basic/Attr.td
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] Use release version of OpenCL headers
  buildbot/dependency.py
Owners: @bader

Use release version of OpenCL headers when downloaded by CMake
  sycl/CMakeLists.txt
Owners: @intel/llvm-reviewers-runtime

[SYCL] Use headers from d1b936b7
  buildbot/dependency.py
  sycl/CMakeLists.txt
Owners: @bader, @intel/llvm-reviewers-runtime

Apply workaround
  buildbot/dependency.py
Owners: @bader

Fixed opencl-aot CMake
  opencl-aot/CMakeLists.txt
Owners: @dm-vodopyanov, @AlexeySachkov, @romanovvlad

[SYCL] Fix incompatibility between OpenCL headers and ICD loader (#3235)
  buildbot/dependency.py
  opencl-aot/CMakeLists.txt
  sycl/CMakeLists.txt
Owners: @bader, @dm-vodopyanov, @AlexeySachkov, @romanovvlad, @intel/llvm-reviewers-runtime

[SYCL] Fix get_native() and add get_backend() accordingly to the specification
  sycl/include/CL/sycl/backend.hpp
  sycl/include/CL/sycl/backend/opencl.hpp
  sycl/include/CL/sycl/context.hpp
  sycl/include/CL/sycl/device.hpp
  sycl/include/CL/sycl/event.hpp
  sycl/include/CL/sycl/program.hpp
  sycl/include/CL/sycl/queue.hpp
  sycl/source/context.cpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/context_impl.hpp
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/device_impl.hpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/program_impl.cpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/device.cpp
  sycl/source/event.cpp
  sycl/source/program.cpp
  sycl/source/queue.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Clang-format fix
  sycl/include/CL/sycl/backend.hpp
  sycl/include/CL/sycl/backend/opencl.hpp
  sycl/include/CL/sycl/event.hpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/queue_impl.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Clang-format fix
  sycl/source/detail/queue_impl.hpp
Owners: @intel/llvm-reviewers-runtime

Uplift GPU RT version for Linux to 21.07.19042
  buildbot/dependency.conf
Owners: @bader

Fix gcc 7 build
  sycl/include/CL/sycl/detail/helpers.hpp
Owners: @intel/llvm-reviewers-runtime

format
  sycl/include/CL/sycl/detail/helpers.hpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Run DAE pass but skip ESIMD kernels in it
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  llvm/test/Transforms/DeadArgElim/sycl-kernels-neg.ll
Owners: @premanandrao, @elizabethandrews, @bader

[NFC][ESIMD] Remove dependencies on -fsycl-explicit-simd flag
  clang/lib/CodeGen/CodeGenModule.cpp
Owners: @premanandrao, @elizabethandrews

[NFC][ESIMD] Remove one of the uses on __SYCL_EXPLICIT_SIMD__
  sycl/include/CL/__spirv/spirv_vars.hpp
Owners: @intel/llvm-reviewers-runtime

build sycl toolchain using llvm libcxx
  llvm/CMakeLists.txt
  llvm/lib/Support/CMakeLists.txt
  sycl/CMakeLists.txt
  sycl/source/CMakeLists.txt
  sycl/tools/sycl-ls/CMakeLists.txt
Owners: @bader, @intel/llvm-reviewers-runtime
