Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson, @AlexeySotkin, @AlexeySachkov, @dm-vodopyanov, @romanovvlad, @vzakhari, @intel/llvm-reviewers-runtime, @pvchupin, @kbobrovs, @intel/dpcpp-specification-reviewers, @jbrodman, @Pennycook, @smaslov-intel, @intel/llvm-reviewers-cuda, @againull, @MrSidims, @v-klochkov, @turinevgeny, @tovinkere, @andykaylor, @Fznamznon, @sndmitriev, @DenisBakhvalov

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @premanandrao @elizabethandrews

# Driver
clang/**/Driver @mdtoguchi @AGindinson

# LLVM-SPIRV translator
llvm-spirv/ @AlexeySotkin @AlexeySachkov

# OpenCL "offline" compiler
opencl-aot/ @dm-vodopyanov @AlexeySachkov @romanovvlad

# Device library
libdevice/ @vzakhari

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @pvchupin
sycl/doc/ @pvchupin @kbobrovs
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# USM
sycl/include/CL/sycl/detail/clusm.hpp @jbrodman
sycl/include/CL/sycl/detail/usm_impl.hpp @jbrodman
sycl/include/CL/sycl/usm/ @jbrodman
sycl/include/CL/sycl/ordered_queue.hpp @jbrodman
sycl/include/CL/sycl/usm.hpp @jbrodman
sycl/include/CL/cl_usm_ext.h @jbrodman
sycl/source/detail/usm/ @jbrodman
sycl/source/ordered_queue.cpp @jbrodman

# Sub-groups
sycl/include/CL/sycl/detail/spirv.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/group_algorithm.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group.hpp @Pennycook @AlexeySachkov
sycl/include/CL/sycl/intel/sub_group_host.hpp @Pennycook @AlexeySachkov

# PI API
sycl/include/CL/sycl/detail/pi.def @smaslov-intel
sycl/include/CL/sycl/detail/pi.h   @smaslov-intel
sycl/include/CL/sycl/detail/pi.hpp @smaslov-intel
sycl/include/CL/sycl/detail/pi* @smaslov-intel
sycl/plugins/ @smaslov-intel
sycl/source/detail/pi.cpp @smaslov-intel
sycl/source/detail/plugin.hpp @smaslov-intel
sycl/source/detail/posix_pi.cpp @smaslov-intel
sycl/source/detail/windows_pi.cpp @smaslov-intel

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# Stream
sycl/include/CL/sycl/detail/stream_impl.hpp @againull
sycl/include/CL/sycl/stream.hpp @againull
sycl/source/detail/stream_impl.cpp @againull
sycl/source/stream.cpp @againull

# Specialization constant
sycl/include/CL/sycl/detail/sycl_fe_intrins.hpp @kbobrovs
sycl/include/CL/sycl/experimental/spec_constant.hpp @kbobrovs
sycl/source/detail/spec_constant_impl.hpp @kbobrovs

# Program manager
sycl/source/detail/program_manager @kbobrovs
sycl/source/detail/spec_constant_impl.cpp @kbobrovs

# FPGA extensions
sycl/include/CL/sycl/intel/fpga_device_selector.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_extensions.hpp @MrSidims
sycl/include/CL/sycl/intel/fpga_reg.hpp @MrSidims
sycl/include/CL/sycl/intel/pipes.hpp @MrSidims
sycl/include/CL/sycl/pipes.hpp @MrSidims

# Reduction extension
sycl/include/CL/sycl/intel/reduction.hpp @v-klochkov

# Function pointers
sycl/include/CL/sycl/intel/function_pointer.hpp @AlexeySachkov
sycl/source/function_pointer.cpp @AlexeySachkov

# Half Type
sycl/include/CL/sycl/half_type.hpp @AlexeySachkov
sycl/source/half_type.cpp @AlexeySachkov

# vec and swizzles
sycl/include/CL/sycl/swizzles.def @turinevgeny
sycl/include/CL/sycl/types.hpp @turinevgeny

# XPTI instrumentation utilities
xpti/ @tovinkere @andykaylor
xptifw/ @tovinkere  @andykaylor

# DPC++ tools
llvm/**/file-table-tform/ @kbobrovs @AlexeySachkov
llvm/**/llvm-foreach/ @AlexeySachkov  @Fznamznon
llvm/**/llvm-no-spir-kernel/ @AGindinson @AlexeySachkov
llvm/**/sycl-post-link/ @kbobrovs @AlexeySachkov
llvm/include/llvm/Support/PropertySetIO.h @kbobrovs @AlexeySachkov
llvm/lib/Support/PropertySetIO.cpp @kbobrovs @AlexeySachkov
llvm/unittests/Support/PropertySetIOTest.cpp @kbobrovs @AlexeySachkov
llvm/lib/Support/Base64.cpp @kbobrovs @AlexeySachkov

# Clang offload tools
clang/tools/clang-offload-bundler/ @kbobrovs @sndmitriev
clang/tools/clang-offload-wrapper/ @sndmitriev @kbobrovs
clang/tools/clang-offload-deps/ @sndmitriev

# Explicit SIMD
SYCLLowerIR/ @kbobrovs @DenisBakhvalov
esimd/ @kbobrovs @DenisBakhvalov
sycl/include/CL/sycl/INTEL/esimd.hpp @kbobrovs @DenisBakhvalov
sycl/doc/extensions/ExplicitSIMD/ @kbobrovs

Slight redesign of the feature.
  clang/include/clang/Basic/Attr.td
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGenSYCL/loop_fusion_host.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Owners: @premanandrao, @elizabethandrews

Update the statement attribute definitions; NFC.
  clang/include/clang/Basic/Attr.td
Owners: @premanandrao, @elizabethandrews

Review comments #1
  sycl/doc/extensions/LevelZeroBackend/LevelZeroBackend.md
  sycl/include/CL/sycl/detail/pi.h
  sycl/test/abi/sycl_symbols_linux.dump
Owners: @intel/dpcpp-specification-reviewers, @smaslov-intel, @intel/llvm-reviewers-runtime

[SYCL] Add Level-Zero interop with specification of ownership
  sycl/include/CL/sycl/backend/level_zero.hpp
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/backend/level_zero.cpp
  sycl/source/backend/opencl.cpp
  sycl/source/detail/context_impl.cpp
Owners: @intel/llvm-reviewers-runtime, @smaslov-intel, @intel/llvm-reviewers-cuda

[SYCL] remember the context to destroy
  sycl/plugins/level_zero/pi_level_zero.cpp
Owners: @smaslov-intel

Renaming the tablegen option based on offline discussion; NFC
  clang/include/clang/Basic/Attr.td
  clang/utils/TableGen/ClangAttrEmitter.cpp
Owners: @premanandrao, @elizabethandrews

review comments #2
  sycl/doc/extensions/LevelZeroBackend/LevelZeroBackend.md
  sycl/include/CL/sycl/backend/level_zero.hpp
Owners: @intel/dpcpp-specification-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Use master branch of OpenCL headers and ICD loader
  opencl-aot/CMakeLists.txt
  sycl/CMakeLists.txt
Owners: @dm-vodopyanov, @AlexeySachkov, @romanovvlad, @intel/llvm-reviewers-runtime

[SYCL][GDB] Fix xmethod script for local accessors on Host
  sycl/gdb/libsycl.so-gdb.py
  sycl/test/gdb/accessors.cpp
Owners: @intel/llvm-reviewers-runtime

Fix Windows error
  clang/test/SemaSYCL/sycl-empty-header.cpp
Owners: @premanandrao, @elizabethandrews

Clang-format plus comment fix
  clang/lib/Frontend/CompilerInvocation.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] Create an empty integration header file with -fsycl-int-header
  clang/lib/Sema/Sema.cpp
  clang/test/SemaSYCL/sycl-empty-header.cpp
Owners: @premanandrao, @elizabethandrews

Address more code-review comments
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/SemaSYCL/sycl-empty-header.cpp
Owners: @premanandrao, @elizabethandrews

Address code-review comments
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/Sema/Sema.cpp
  clang/test/SemaSYCL/sycl-empty-header.cpp
Owners: @premanandrao, @elizabethandrews

Fix test
  clang/test/SemaSYCL/sycl-empty-header.cpp
Owners: @premanandrao, @elizabethandrews

Fix LIT test fails + address reviewer's comment
  sycl/include/CL/sycl/ONEAPI/reduction.hpp
Owners: @intel/llvm-reviewers-runtime

[BuildBot] Uplift GPU RT version for Linux to 21.07.19042 (#3237)
  buildbot/dependency.conf
Owners: @bader

[ESIMD] Move ESIMD-specific passes to sycl-post-link (#3222)
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/CodeGen/CMakeLists.txt
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGenSYCL/esimd-accessor-ptr-md.cpp
  clang/test/CodeGenSYCL/esimd-private-global.cpp
  clang/test/Driver/sycl-device-lib.cpp
  clang/test/Driver/sycl-offload-with-split.c
  sycl/test/esimd/glob.cpp
  sycl/test/esimd/intrins_trans.cpp
  sycl/test/esimd/spirv_intrins_trans.cpp
Owners: @premanandrao, @elizabethandrews, @mdtoguchi, @AGindinson, @kbobrovs, @DenisBakhvalov

[SYCL] Refactor the way we handle duplicate attribute logic (#3224)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/SemaOpenCL/invalid-kernel-attrs.cl
  clang/test/SemaSYCL/num_simd_work_items_device.cpp
  clang/test/SemaSYCL/reqd-sub-group-size-device.cpp
  clang/test/SemaSYCL/sycl-device-num_simd_work_items-template.cpp
  clang/test/SemaSYCL/sycl-device-reqd-sub-group-size-template.cpp
Owners: @premanandrao, @elizabethandrews

[NFC][ESIMD] Remove dependencies on -fsycl-explicit-simd flag (#3241)
  clang/lib/CodeGen/CodeGenModule.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL][PI][L0] Enables command batching in enqueueMemCopyHelper (#3232)
  sycl/plugins/level_zero/pi_level_zero.cpp
Owners: @smaslov-intel

[SYCL] Refactor of [[intel::private_copies()] and [[intel::max_replicates()]] attributes
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaSYCL/intel-fpga-local.cpp
Owners: @premanandrao, @elizabethandrews

Fix conflicts
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Owners: @premanandrao, @elizabethandrews

Fix format issues
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Owners: @premanandrao, @elizabethandrews

Fix errors
  clang/include/clang/Sema/Sema.h
Owners: @premanandrao, @elizabethandrews

Fixed review comments
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
Owners: @bader

Remove guarding macro around has_known_identity and known_identity
  sycl/include/CL/sycl/ONEAPI/reduction.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][NFC] Code cleanup revealed by self-build.
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/source/detail/memory_manager.cpp
Owners: @smaslov-intel, @intel/llvm-reviewers-runtime

[ESIMD] Add CXX11-style [[intel::sycl_explicit_simd]] attribute
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttributeCommonInfo.h
  clang/test/CodeGenSYCL/esimd_metadata1.cpp
  clang/test/SemaSYCL/sycl-esimd.cpp
Owners: @premanandrao, @elizabethandrews

[SYCL] Enable Basic/alloc_pinned_host_memory for CUDA devices (intel/llvm-test-suite#149)
  SYCL/Basic/alloc_pinned_host_memory.cpp
  SYCL/lit.cfg.py
Owners: @bader

[SYCL] Enable Basic/alloc_pinned_host_memory for CUDA devices (#149)
  SYCL/lit.cfg.py
Owners: @bader

[SYCL] Initial implementation
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/__spirv/spirv_types.hpp
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
  sycl/include/CL/sycl/access/access.hpp
  sycl/include/CL/sycl/accessor.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Adress to review comment
  sycl/source/detail/context_impl.hpp
  sycl/source/detail/device_impl.hpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/platform_impl.hpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/queue_impl.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add test
  sycl/test/on-device/extensions/subgroup_as.cpp
Owners: @intel/llvm-reviewers-runtime

Update SYCL and ESIMD passes to new pass manager
  llvm/include/llvm/SYCLLowerIR/LowerESIMD.h
  llvm/include/llvm/SYCLLowerIR/LowerWGScope.h
  llvm/include/llvm/Transforms/IPO/DeadArgumentElimination.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/SYCLLowerIR/LowerESIMD.cpp
  llvm/lib/SYCLLowerIR/LowerESIMDVecArg.cpp
  llvm/lib/SYCLLowerIR/LowerWGScope.cpp
  llvm/tools/llvm-lto2/CMakeLists.txt
  llvm/tools/llvm-opt-fuzzer/CMakeLists.txt
  llvm/unittests/IR/CMakeLists.txt
  llvm/unittests/Passes/CMakeLists.txt
  llvm/unittests/Transforms/Scalar/CMakeLists.txt
Owners: @kbobrovs, @DenisBakhvalov, @bader

Disable optimizations for "SYCL queries fit in int" test
  sycl/test/check_device_code/id_queries_fit_int.cpp
Owners: @intel/llvm-reviewers-runtime

Support the SPV_EXT_shader_atomic_float_min_max extension (#916)
  llvm-spirv/include/LLVMSPIRVExtensions.inc
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVInstruction.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVNameMapEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVOpCodeEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/spirv.hpp
  llvm-spirv/test/AtomicFMaxEXT.ll
  llvm-spirv/test/AtomicFMinEXT.ll
Owners: @AlexeySotkin, @AlexeySachkov

Update LLVM version from 12 to 13
  llvm-spirv/.github/workflows/check-code-style.yml
  llvm-spirv/.github/workflows/check-in-tree-build.yml
  llvm-spirv/.github/workflows/check-out-of-tree-build.yml
  llvm-spirv/.travis.yml
  llvm-spirv/CMakeLists.txt
  llvm-spirv/README.md
Owners: @AlexeySotkin, @AlexeySachkov

Fix unused variable warnings in release builds
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
Owners: @AlexeySotkin, @AlexeySachkov

Fix CodeGenSYCL/kernel-early-optimization-pipeline test
  clang/test/CodeGenSYCL/kernel-early-optimization-pipeline.cpp
Owners: @premanandrao, @elizabethandrews
