Repository intel/llvm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bader, @intel/dpcpp-cfe-reviewers, @intel/dpcpp-clang-driver-reviewers, @intel/dpcpp-spirv-reviewers, @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-cuda, @intel/dpcpp-doc-reviewers, @tfzhu, @intel/dpcpp-specification-reviewers, @intel/dpcpp-spirv-doc-reviewers, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-esimd-reviewers, @rolandschulz, @kbobrovs, @v-klochkov, @intel/dpcpp-devops-reviewers, @victor-eds, @Naghasan, @sommerlukas

Try to trace failure in host task
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/exception.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][Doc] Host pipe design (#5850)
  sycl/doc/design/HostPipes.md
  sycl/doc/index.rst
Owners: @intel/dpcpp-specification-reviewers, @intel/dpcpp-doc-reviewers

Skip using bfloat16 libs for NVidia.
  clang/lib/Driver/Driver.cpp
Owners: @intel/dpcpp-clang-driver-reviewers

[SYCL] Fix SYCL/Plugin/level_zero_sub_sub_device test case (intel/llvm-test-suite#1515)
  SYCL/Plugin/level_zero_sub_sub_device.cpp
Owners: @bader

[SYCL][Fusion] Use builtin types for YAML support
  sycl-fusion/common/include/Kernel.h
Owners: @victor-eds, @Naghasan, @sommerlukas

Address code review comments
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
Owners: @intel/llvm-reviewers-runtime

Add test
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
Owners: @intel/llvm-reviewers-runtime

Made bitcode reader enable the opaque pointer support in LLVMContext.
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
Owners: @intel/dpcpp-tools-reviewers

Made bitcode reader enable the opaque pointer support in LLVMContext.
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
Owners: @intel/dpcpp-tools-reviewers

Use correct template args for host_accessor constructors
  sycl/include/sycl/accessor.hpp
  sycl/test/basic_tests/accessor/zero-dim-host-accessor.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Implement device_global host-side memory operations
  sycl/include/sycl/detail/cg.hpp
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/context_impl.hpp
  sycl/source/detail/device_global_map_entry.hpp
  sycl/source/detail/handler_impl.hpp
  sycl/source/detail/kernel_program_cache.cpp
  sycl/source/detail/kernel_program_cache.hpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/memory_manager.hpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/source/detail/program_manager/program_manager.hpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/handler.cpp
  sycl/source/queue.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/Extensions/DeviceGlobal.cpp
  sycl/unittests/kernel-and-program/Cache.cpp
Owners: @intel/llvm-reviewers-runtime

Add handling to host task exceptions
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
  sycl/unittests/xpti_trace/xptitest_subscriber/CMakeLists.txt
  sycl/unittests/xpti_trace/xptitest_subscriber/XPTISubscriber.cpp
Owners: @intel/llvm-reviewers-runtime

Revert "Disable some Bindings/ tests"
  llvm/test/Bindings/llvm-c/atomics.ll
  llvm/test/Bindings/llvm-c/echo.ll
  llvm/test/Bindings/llvm-c/freeze.ll
  llvm/test/Bindings/llvm-c/globals.ll
  llvm/test/Bindings/llvm-c/invoke.ll
  llvm/test/Bindings/llvm-c/memops.ll
Owners: @intel/dpcpp-tools-reviewers

Add tests for imf utils to do conversions between bfloat16 and integral type (intel/llvm-test-suite#1473)
  SYCL/DeviceLib/imf_bfloat16_integeral_convesions.cpp
  SYCL/DeviceLib/imf_utils.hpp
Owners: @bader

[SYCL][Fusion] Use builtin types for YAML support (#8020)
  sycl-fusion/common/include/Kernel.h
Owners: @victor-eds, @Naghasan, @sommerlukas

Revert "Disable clang/test/Driver/linker-wrapper.c"
  clang/test/Driver/linker-wrapper.c
Owners: @intel/dpcpp-clang-driver-reviewers

[SYCL] Add `[const]reverse_iterator` to accessors (#7991)
  sycl/include/sycl/accessor.hpp
  sycl/test/basic_tests/accessor/iterator-member-types.cpp
  sycl/unittests/accessor/AccessorReverseIterator.cpp
  sycl/unittests/accessor/CMakeLists.txt
  sycl/unittests/accessor/HostAccessorIterator.cpp
  sycl/unittests/accessor/HostAccessorReverseIterator.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][Doc] Add draft 16-bit atomics extension
  sycl/doc/extensions/proposed/sycl_ext_oneapi_atomic16.asciidoc
Owners: @intel/dpcpp-specification-reviewers

[SYCL][Doc] Fix a broken link anchor
  sycl/doc/GetStartedGuide.md
Owners: @intel/dpcpp-doc-reviewers

[SYCL][Doc] Fix a broken link anchor (#8024)
  sycl/doc/GetStartedGuide.md
Owners: @intel/dpcpp-doc-reviewers

Fix windows compfail for bfloat16 isnan test (intel/llvm-test-suite#1520)
  SYCL/BFloat16/bfloat16_builtins.cpp
Owners: @bader

[SYCL] Update simple-sycl-app.cpp example in GetStartedGuide.md
  sycl/doc/GetStartedGuide.md
Owners: @intel/dpcpp-doc-reviewers

[SYCL] Skip SYCL/InlineAsm/asm_8* tests if device doesn't support SG size 8 (intel/llvm-test-suite#1513)
  SYCL/InlineAsm/asm_8_empty.cpp
  SYCL/InlineAsm/asm_8_no_input_int.cpp
  SYCL/InlineAsm/include/asmhelper.h
Owners: @bader

ensuring win_proxy_loader is part of CMake install
  sycl/CMakeLists.txt
  sycl/win_proxy_loader/CMakeLists.txt
Owners: @intel/llvm-reviewers-runtime

[SYCL] Update doxygen comments for memcpy/copy
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL-MLIR] Fix store integer to vector pointer
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
Owners: @bader, @intel/llvm-reviewers-runtime

.github/CODEOWNERS:

* @bader

# Front-end compiler
clang/ @intel/dpcpp-cfe-reviewers

# Clang driver
clang/**/Driver/ @intel/dpcpp-clang-driver-reviewers

# Clang tools
clang-tools-extra/ @intel/dpcpp-cfe-reviewers

# LLVM-SPIRV translator
llvm-spirv/ @intel/dpcpp-spirv-reviewers

# OpenCL deps
opencl/ @intel/llvm-reviewers-runtime

# OpenCL "offline" compiler
opencl/opencl-aot/ @intel/dpcpp-tools-reviewers

# libclc library
libclc/ @intel/llvm-reviewers-cuda

# Device library
libdevice/ @intel/llvm-reviewers-runtime

# DPC++ runtime library
sycl/ @intel/llvm-reviewers-runtime

# Documentation
sycl/ReleaseNotes.md @intel/dpcpp-doc-reviewers @tfzhu
sycl/doc/ @intel/dpcpp-doc-reviewers
sycl/doc/design/ @intel/dpcpp-specification-reviewers
sycl/doc/design/spirv-extensions/ @intel/dpcpp-spirv-doc-reviewers
sycl/doc/extensions/ @intel/dpcpp-specification-reviewers

# Level Zero plugin
sycl/plugins/level_zero/ @intel/dpcpp-l0-pi-reviewers

# ESIMD CPU emulator plug-in
sycl/plugins/esimd_emulator/ @intel/dpcpp-esimd-reviewers

# CUDA plugin
sycl/plugins/cuda/ @intel/llvm-reviewers-cuda

# XPTI instrumentation utilities
xpti/ @intel/llvm-reviewers-runtime
xptifw/ @intel/llvm-reviewers-runtime

# DPC++ tools
llvm/ @intel/dpcpp-tools-reviewers

# Clang offload tools
clang/tools/clang-offload-*/ @intel/dpcpp-tools-reviewers

# Explicit SIMD
ESIMD/ @intel/dpcpp-esimd-reviewers
esimd/ @intel/dpcpp-esimd-reviewers
sycl/include/sycl/ext/intel/esimd.hpp @intel/dpcpp-esimd-reviewers
sycl/doc/extensions/experimental/sycl_ext_intel_esimd/ @intel/dpcpp-esimd-reviewers
llvm/lib/SYCLLowerIR/CMakeLists.txt @intel/dpcpp-tools-reviewers @intel/dpcpp-esimd-reviewers

# invoke_simd
sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp @rolandschulz @kbobrovs
sycl/include/std/experimental/simd.hpp @rolandschulz @kbobrovs
llvm/lib/SYCLLowerIR/LowerInvokeSimd.cpp @kbobrovs @v-klochkov @rolandschulz
llvm/include/llvm/SYCLLowerIR/LowerInvokeSimd.h @kbobrovs @v-klochkov @rolandschulz

# DevOps configs
.github/workflows/ @intel/dpcpp-devops-reviewers
buildbot/ @intel/dpcpp-devops-reviewers
devops/ @intel/dpcpp-devops-reviewers

# Kernel fusion JIT compiler
sycl-fusion/ @victor-eds @Naghasan @sommerlukas
