Repository intel/llvm, pull requests merged in 2020-09, with the labels that each got.

#2217 Add SPV_INTEL_variable_length_array extension
  sycl/doc/extensions/SPIRV/SPV_INTEL_variable_length_array.asciidoc
Labels: spec extension

#2462 [SYCL] Add group algorithm constraints
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_algorithms.asciidoc
  sycl/include/CL/sycl/ONEAPI/group_algorithm.hpp
Labels: enhancement, spec extension

#2573 [SYCL][ESIMD][NFC] Align namespace name with the spec guidelines
  sycl/include/CL/sycl/INTEL/esimd/detail/esimd_util.hpp
  sycl/include/CL/sycl/INTEL/esimd/esimd_math.hpp
Labels: esimd
