Repository intel/llvm, pull requests merged in 2020-07, with the labels that each got.

#2027 [SYCL][CUDA] Fix CUDA LIT w/-fsycl-targets
  sycl/test/basic_tests/compare_exchange_strong.cpp
Labels: cuda

#1773 [SYCL][PTX][CUDA] Implicit global offset implementation
  clang/include/clang/Basic/BuiltinsNVPTX.def
  libclc/ptx-nvidiacl/libspirv/workitem/get_global_id.cl
  libclc/ptx-nvidiacl/libspirv/workitem/get_global_offset.cl
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/Target/NVPTX/CMakeLists.txt
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.cpp
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.h
  llvm/test/CodeGen/NVPTX/global-offset-invalid-triple.ll
  llvm/test/CodeGen/NVPTX/global-offset-multiple-calls-from-one-function.ll
  llvm/test/CodeGen/NVPTX/global-offset-multiple-entry-points.ll
  llvm/test/CodeGen/NVPTX/global-offset-simple.ll
  llvm/test/CodeGen/NVPTX/global-offset-valid-triple.ll
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/test/basic_tests/parallel_for_indexers.cpp
  sycl/unittests/pi/cuda/test_kernels.cpp
Labels: cuda

#1853 [SYCL][ESIMD] Add basic headers for ESIMD runtime library.
  sycl/include/CL/sycl/intel/esimd.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_region.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_types.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_enum.hpp
Labels: esimd

#1951 [SYCL][CUDA] PI API CUDA piDeviceGetInfo with Image / Sampler support
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1956 [SYCL][CUDA] Cleanup of profiling events
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#1997 [SYCL][CUDA] Add support for ALLOC_HOST_PTR
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/unittests/pi/cuda/test_mem_obj.cpp
Labels: cuda

#2016 [SYCL][CUDA] Make active context persitent
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#2034 [SYCL][CUDA] Fix event profiling queries
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#2032 SYCL CUDA: Update default gpu arch to SM_50
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/sycl-offload-nvptx.cpp
  sycl/test/atomic_ref/max.cpp
  sycl/test/atomic_ref/min.cpp
Labels: cuda

#1945 [SYCL-SPIRV] Add SPIR-V variants of TypeSampledImage as clang builtin type
  clang/include/clang-c/Index.h
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/Type.h
  clang/include/clang/AST/TypeProperties.td
  clang/include/clang/Serialization/ASTBitCodes.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/AST/NSAPI.cpp
  clang/lib/AST/PrintfFormatString.cpp
  clang/lib/AST/Type.cpp
  clang/lib/AST/TypeLoc.cpp
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/CGDebugInfo.h
  clang/lib/CodeGen/CGOpenCLRuntime.cpp
  clang/lib/CodeGen/CodeGenTypes.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/Index/USRGeneration.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Serialization/ASTCommon.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/test/CodeGenOpenCL/sampled_image.cl
  clang/test/SemaOpenCL/sampled_image_overload.cl
  clang/tools/libclang/CIndex.cpp
  clang/tools/libclang/CXType.cpp
  sycl/include/CL/__spirv/spirv_types.hpp
  sycl/include/CL/sycl/detail/image_ocl_types.hpp
Labels: cuda

#1978 [SYCL][CUDA][WIP] Lower OpenCL image type to CUDA image descriptors
  clang/lib/CodeGen/CGOpenCLRuntime.cpp
  clang/test/CodeGenOpenCL/sampled_image_cuda.cl
Labels: cuda

#1854 [SYCL][ESIMD] Add simd and simd_view classes
  sycl/include/CL/sycl/intel/esimd.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_intrin.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_types.hpp
  sycl/include/CL/sycl/intel/esimd/esimd.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_view.hpp
  sycl/test/basic_tests/esimd/simd.cpp
  sycl/test/basic_tests/esimd/simd_merge.cpp
  sycl/test/basic_tests/esimd/simd_view.cpp
Labels: esimd

#1870 [SYCL][ESIMD] Support accessors for ESIMD kernels in SYCL RT.
  sycl/include/CL/__spirv/spirv_vars.hpp
  sycl/include/CL/sycl/accessor.hpp
  sycl/include/CL/sycl/detail/accessor_impl.hpp
  sycl/include/CL/sycl/detail/image_ocl_types.hpp
  sycl/include/CL/sycl/detail/memory_manager.hpp
  sycl/include/CL/sycl/detail/stl_type_traits.hpp
  sycl/source/detail/accessor_impl.cpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/handler.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/check_device_code/kernel_arguments_as.cpp
Labels: esimd

#1971 [SYCL][CUDA] libclc Image Support for CUDA
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/images/image.cl
  libclc/ptx-nvidiacl/libspirv/images/image_helpers.ll
Labels: cuda

#1993 [SYCL][CUDA] PI API Sampler Support for CUDA
  sycl/include/CL/sycl/detail/pi.def
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/plugins/level_zero/pi_level0.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/test/abi/pi_level0_symbol_check.dump
  sycl/test/abi/pi_opencl_symbol_check.dump
Labels: cuda

#1855 [SYCL][ESIMD] Explicit SIMD math APIs.
  sycl/include/CL/sycl/intel/esimd.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_host_util.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_math_intrin.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_util.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_math.hpp
  sycl/test/basic_tests/esimd/esimd_math.cpp
Labels: esimd

#1887 [SYCL][ESIMD] Use vload/vstore for simd object getter/setter.
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/LinkAllPasses.h
  llvm/include/llvm/SYCLLowerIR/LowerESIMD.h
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/LowerESIMDVLoadVStore.cpp
  llvm/test/SYCLLowerIR/esimd_lower_ldst.ll
  llvm/tools/opt/opt.cpp
Labels: esimd

#2024 [SYCL-PTX] Enable 16 bits float libclc builtins.
  libclc/generic/include/as_type.h
  libclc/generic/include/lp64_types.h
  libclc/generic/libspirv/SOURCES
  libclc/generic/libspirv/float16.cl
  libclc/generic/libspirv/sycldevice-binding.cpp
  libclc/utils/gen-sycldevice-fp16-binding.py
Labels: libclc

#1954 [SYCL][CUDA] PI API Image Support for CUDA
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#2068 [SYCL][CUDA] Fix byte-offset issue in libclc Image Support for CUDA
  libclc/ptx-nvidiacl/libspirv/images/image.cl
Labels: cuda, libclc

#1856 [SYCL][ESIMD] Explicit SIMD memory-access APIs
  sycl/include/CL/sycl/intel/esimd.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_intrin.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_memory_intrin.hpp
  sycl/include/CL/sycl/intel/esimd/detail/esimd_util.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_memory.hpp
  sycl/test/basic_tests/esimd/block_load_store.cpp
  sycl/test/basic_tests/esimd/flat_atomic.cpp
  sycl/test/basic_tests/esimd/gather4_scatter4.cpp
  sycl/test/basic_tests/esimd/gather_scatter.cpp
  sycl/test/basic_tests/esimd/slm_atomic.cpp
  sycl/test/basic_tests/esimd/slm_block.cpp
  sycl/test/basic_tests/esimd/slm_load.cpp
  sycl/test/basic_tests/esimd/slm_load4.cpp
Labels: esimd

#1961 [SYCL][CUDA][WIP] PI API Sampler Properties Unit Test
  sycl/unittests/pi/cuda/CMakeLists.txt
  sycl/unittests/pi/cuda/test_sampler_properties.cpp
Labels: cuda

#2028 [SYCL][CUDA] Fix:Events not calling start for some commands
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#2042 [SYCL][CUDA] Updated documentation for CUDA backend
  sycl/doc/GetStartedGuide.md
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#1977 [SYCL][CUDA] Enable cl_khr_3d_image_writes OpenCL extension for NVPTX targets
  clang/lib/Basic/Targets/NVPTX.h
  clang/test/Misc/nvptx.languageOptsOpenCL.cl
Labels: cuda

#1969 [SYCL][CUDA] Generalised Sampler Basic Test
  sycl/test/basic_tests/sampler/sampler.cpp
  sycl/test/basic_tests/sampler/sampler_ocl.cpp
Labels: cuda

#2017 [SYCL] Extend shuffles to TriviallyCopyable types
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/include/CL/sycl/intel/sub_group.hpp
  sycl/test/sub_group/generic-shuffle.cpp
  sycl/test/sub_group/helper.hpp
Labels: spec extension

#2101 sycldevice-binding.bc Generation Fix, sycl branch (2020.07.13.)
  libclc/cmake/modules/AddLibclc.cmake
Labels: libclc

#2098 [SYCL][CUDA] Map/unmap pinned host memory
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/unittests/pi/cuda/test_mem_obj.cpp
Labels: cuda

#2109 [SYCL][CUDA] Fix byte-offset issue in libclc Image Support for CUDA
  libclc/ptx-nvidiacl/libspirv/images/image.cl
Labels: cuda

#2121 [SYCL-PTX] Fix libclc dependency path.
  libclc/cmake/modules/AddLibclc.cmake
Labels: cuda

#2046 [SYCL][CUDA] Fix 3D buffer D2D copy slice pitch
  sycl/source/detail/memory_manager.cpp
  sycl/test/basic_tests/buffer/buffer_full_copy.cpp
Labels: cuda

#2107 [SYCL][ESIMD] Fix spelling of attribute to mark ESIMD register binding.
  sycl/include/CL/sycl/intel/esimd/esimd_enum.hpp
  sycl/test/basic_tests/esimd/global_var.cpp
Labels: esimd

#2049 [SYCL] Enable standard optimization pipeline for SYCL device compiler
  clang/lib/CodeGen/BackendUtil.cpp
Labels: performance

#2129 [SYCL][PTX][CUDA] Fixes debug info cloning for implicit global offset
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.cpp
  sycl/test/regression/implicit_offset_debug_info.cpp
Labels: cuda

#2015 SPIRV patches
  llvm-spirv/lib/SPIRV/SPIRVReader.cpp
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
  llvm-spirv/lib/SPIRV/VectorComputeUtil.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVDecorate.cpp
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVDecorate.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVIsValidEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/SPIRVNameMapEnum.h
  llvm-spirv/lib/SPIRV/libSPIRV/spirv.hpp
  llvm-spirv/test/transcoding/decoration_func_param_desc.ll
  llvm-spirv/test/transcoding/decoration_func_param_kind.ll
Labels: esimd

#1731 [SYCL][ESIMD] Intel "Explicit SIMD" extension documentation draft.
  sycl/doc/extensions/ExplicitSIMD/dpcpp-explicit-simd.md
  sycl/doc/extensions/ExplicitSIMD/images/Matrix_2_2_2_4__1_2.svg
  sycl/doc/extensions/ExplicitSIMD/images/Matrix_4_1_4_2__0_0.svg
  sycl/doc/extensions/ExplicitSIMD/images/VectorEven.svg
  sycl/doc/extensions/ExplicitSIMD/images/VectorOdd.svg
  sycl/doc/extensions/ExplicitSIMD/images/simd_view.svg
Labels: esimd

#2096 [SYCL][ESIMD] Mark ESIMD kernel callgraph with sycl_explicit_simd.
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/CodeGenSYCL/esimd_metadata2.cpp
  clang/test/CodeGenSYCL/esimd_metadata3.cpp
Labels: esimd

#2133 [SYCL][ESIMD] Implement compile-time getNextPowerOf2 w/o recursion.
  sycl/include/CL/sycl/intel/esimd/detail/esimd_util.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_math.hpp
  sycl/include/CL/sycl/intel/esimd/esimd_memory.hpp
Labels: esimd

#2112 [SYCL][ESIMD] Prepare LLVM IR for OS spirv translator
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/CodeGen/CMakeLists.txt
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/test/CodeGenSYCL/esimd-private-global.cpp
  clang/test/CodeGenSYCL/esimd_metadata1.cpp
  clang/test/CodeGenSYCL/esimd_metadata2.cpp
  clang/test/Driver/sycl-offload.c
  llvm/lib/SYCLLowerIR/CMakeLists.txt
Labels: esimd

#2161 [SYCL][ESIMD] Fix compile-time evaluated functions, add test.
  sycl/include/CL/sycl/intel/esimd/detail/esimd_util.hpp
  sycl/test/regression/esimd-util-compiler-eval.cpp
Labels: esimd

#2069 [SYCL] Add atomic_accessor extension
  sycl/doc/extensions/ExtendedAtomics/SYCL_INTEL_extended_atomics.asciidoc
  sycl/include/CL/sycl/accessor.hpp
  sycl/include/CL/sycl/intel/atomic.hpp
  sycl/include/CL/sycl/intel/atomic_accessor.hpp
  sycl/test/atomic_ref/accessor.cpp
Labels: spec extension

#2178 [SYCL][ESIMD] Fix ESIMD option propagation to piProgramBuild.
  sycl/source/detail/program_manager/program_manager.cpp
Labels: esimd

#2106 [SYCL] Enable user-defined sub-group reductions
  sycl/include/CL/sycl/intel/group_algorithm.hpp
  sycl/test/sub_group/generic_reduce.cpp
Labels: enhancement, spec extension

#2103 [SYCL][Doc] Clarify reqd_sub_group_size
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
Labels: spec extension

#2158 [SYCL][FPGA] New spec for controlling load-store units in FPGAs
  sycl/doc/extensions/IntelFPGA/FPGALsu.md
Labels: spec extension

#2097 [SYCL][ESIMD] Pass to replace simd* parameters with native llvm vectors.
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/LinkAllPasses.h
  llvm/include/llvm/SYCLLowerIR/LowerESIMD.h
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/LowerESIMDVecArg.cpp
  llvm/test/SYCLLowerIR/esimd_global.ll
  llvm/test/SYCLLowerIR/esimd_subroutine.ll
  llvm/tools/opt/opt.cpp
Labels: esimd

#2134 [SYCL][ESIMD] Setup compilation pipeline for ESIMD
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/esimd-private-global.cpp
  llvm/lib/SYCLLowerIR/LowerESIMD.cpp
  llvm/test/SYCLLowerIR/esimd_lower_intrins.ll
  llvm/test/SYCLLowerIR/esimd_subroutine.ll
  sycl/test/basic_tests/esimd/vadd.cpp
  sycl/test/esimd/glob.cpp
  sycl/test/esimd/hw_compile.cpp
  sycl/test/esimd/intrins_trans.cpp
  sycl/test/esimd/spirv_intrins_trans.cpp
Labels: esimd

#2177 [SYCL] Add prototype of atomic_ref<T*>
  sycl/doc/extensions/README.md
  sycl/include/CL/sycl/intel/atomic_ref.hpp
  sycl/test/atomic_ref/add.cpp
  sycl/test/atomic_ref/compare_exchange.cpp
  sycl/test/atomic_ref/exchange.cpp
  sycl/test/atomic_ref/load.cpp
  sycl/test/atomic_ref/max.cpp
  sycl/test/atomic_ref/min.cpp
  sycl/test/atomic_ref/store.cpp
  sycl/test/atomic_ref/sub.cpp
Labels: enhancement, spec extension

#2160 [SYCL] Extend broadcast to TriviallyCopyable types
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/include/CL/sycl/intel/group_algorithm.hpp
  sycl/test/group-algorithm/broadcast.cpp
Labels: enhancement, spec extension
