Repository intel/llvm, pull requests merged in 2020-05, with the labels that each got.

#1620 [SYCL][CUDA] Triage and clean LIT
  sycl/test/basic_tests/image.cpp
  sycl/test/basic_tests/image_accessor_readsampler.cpp
  sycl/test/basic_tests/image_accessor_readwrite.cpp
  sycl/test/basic_tests/image_accessor_readwrite_half.cpp
  sycl/test/basic_tests/image_array.cpp
  sycl/test/basic_tests/image_constructors.cpp
  sycl/test/basic_tests/stream/auto_flush.cpp
  sycl/test/built-ins/printf.cpp
  sycl/test/device-code-split/aot-gpu.cpp
  sycl/test/device-code-split/split-per-kernel.cpp
  sycl/test/device-code-split/split-per-source-main.cpp
  sycl/test/ordered_queue/oq_kernels.cpp
  sycl/test/ordered_queue/ordered_buffs.cpp
  sycl/test/ordered_queue/ordered_dmemll.cpp
  sycl/test/ordered_queue/ordered_queue.cpp
  sycl/test/ordered_queue/prop.cpp
  sycl/test/separate-compile/sycl-external.cpp
Labels: cuda

#1641 [SYCL][CUDA] Reduction ext unsupported
  sycl/test/reduction/reduction_nd_conditional.cpp
  sycl/test/reduction/reduction_nd_s0_dw.cpp
  sycl/test/reduction/reduction_nd_s0_rw.cpp
  sycl/test/reduction/reduction_nd_s1_dw.cpp
  sycl/test/reduction/reduction_nd_s1_rw.cpp
Labels: cuda

#1618 [SYCL] Add separate codeowner for CUDA plugin
  .github/CODEOWNERS
Labels: cuda

#1535 [SYCL][Doc] Clarify reduction extension docs
  sycl/doc/extensions/Reduction/Reduction.md
Labels: spec extension

#1580 [SYCL][Doc] Add parallel_for simplification extension
  sycl/doc/extensions/ParallelForSimpification/SYCL_INTEL_parallel_for_simplification.asciidoc
Labels: spec extension

#1584 [SYCL][Doc] Add memory_scope to ExtendedAtomics
  sycl/doc/extensions/ExtendedAtomics/SYCL_INTEL_extended_atomics.asciidoc
Labels: spec extension

#1582 [SYCL][DOC] add new math array extension
  sycl/doc/extensions/MathArray/README.md
  sycl/doc/extensions/MathArray/SYCL_INTEL_math_array.asciidoc
Labels: spec extension

#1601 [SYCL][Doc] Add extension mechanism proposal
  sycl/doc/extensions/ExtensionMechanism/SYCL_INTEL_extension_api.asciidoc
Labels: spec extension

#1613 [SYCL][CUDA] Fix LIT fails on machines without non-NVIDIA OpenCL
  sycl/test/Unit/lit.cfg.py
  sycl/test/basic_tests/diagnostics/device-check.cpp
  sycl/test/basic_tests/diagnostics/handler.cpp
  sycl/test/basic_tests/get_nonhost_devices.cpp
  sycl/test/basic_tests/queue.cpp
  sycl/test/lit.cfg.py
Labels: cuda

#1701 [Doc] Readme update.
  README.md
  opencl-aot/README.md
Labels: Documentation

#1695 [SYCL][Doc] Fix tbb target path in Get Started Guide.
  sycl/doc/GetStartedGuide.md
Labels: Documentation

#1697 [SYCL][Doc] Get started guide clean-up
  sycl/doc/GetStartedGuide.md
Labels: Documentation

#1690 [SYCL][Doc] Update C++ standard library support status
  sycl/doc/extensions/C-CXX-StandardLibrary/C-CXX-StandardLibrary.rst
  sycl/source/detail/program_manager/program_manager.cpp
Labels: Documentation

#1619 [SYCL][DOC] Add table with DPC++ extensions status
  sycl/doc/extensions/README.md
Labels: spec extension

#1742 [SYCL][CUDA] Using Custom context by default
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/queue_impl.hpp
Labels: cuda

#1689 [SYCL][CUDA] Improvements to CUDA device selection
  sycl/include/CL/sycl/device_selector.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/platform_impl.cpp
  sycl/source/detail/platform_impl.hpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/source/device_selector.cpp
  sycl/tools/get_device_count_by_type.cpp
Labels: cuda

#1735 [SYCL][CUDA] Remove pi Event Callback implementation
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/unittests/pi/CMakeLists.txt
  sycl/unittests/pi/EventTest.cpp
  sycl/unittests/pi/cuda/CMakeLists.txt
  sycl/unittests/pi/cuda/test_events.cpp
  sycl/unittests/pi/cuda/test_primary_context.cpp
Labels: cuda

#1763 [SYCL][CUDA] Fixes CUDA unit tests that uses SYCL directly
  sycl/unittests/pi/TestGetPlatforms.hpp
  sycl/unittests/pi/cuda/test_interop_get_native.cpp
  sycl/unittests/pi/cuda/test_primary_context.cpp
Labels: cuda
