Repository intel/llvm, pull requests merged in 2020-03, with the labels that each got.

#1212 [SYCL][CUDA] Handle the case of not having any CUDA device
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1200 [SYCL][CUDA] Fix context creation property parsing
  sycl/include/CL/sycl/backend/cuda.hpp
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/context_impl.cpp
  sycl/unittests/pi/cuda/test_base_objects.cpp
Labels: cuda

#1207 [SYCL][CUDA] Fixes context release and unnamed context scope
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1079 [SYCL][Doc] Add GroupAlgorithms extension
  sycl/doc/extensions/GroupAlgorithms/README.md
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_algorithms.asciidoc
  sycl/doc/extensions/GroupCollectives/GroupCollectives.md
Labels: spec extension

#1177 [SYCL] Reverse max work-group size order
  sycl/source/detail/device_info.hpp
Labels: cuda

#1223 [SYCL][CUDA] Select only NVPTX64 device binaries
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/test/plugins/sycl-targets-order.cpp
Labels: cuda

#1174 [SYCL][CUDA] Testing for use of CUDA primary context
  sycl/test/backend/cuda/primary_context.cpp
  sycl/test/lit.cfg.py
  sycl/test/lit.site.cfg.py.in
Labels: cuda

#1180 [SYCL][PI][CUDA] Implements select kernel and kernel-group queries
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/test/basic_tests/kernel_info.cpp
Labels: cuda

#1259 [SYCL][CUDA] Add missing component to libclc's prepare_builtins tool
  libclc/utils/CMakeLists.txt
Labels: cuda

#1260 [SYCL][CUDA] Add missing dependency on OpenCL headers
  sycl/plugins/cuda/CMakeLists.txt
Labels: cuda

#1268 [SYCL][CUDA] Add the CUDA backend to the deploy-sycl-toolchain target
  sycl/CMakeLists.txt
Labels: cuda

#1301 [SYCL][CUDA] Fix CMake warning
  sycl/plugins/cuda/CMakeLists.txt
  sycl/source/CMakeLists.txt
Labels: cuda

#1181 [SYCL][CUDA] Implements program compile and link
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1298 [SYCL][PI][CUDA] Implement profiling info queries
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/source/detail/event_info.hpp
  sycl/test/basic_tests/event_profiling_info.cpp
Labels: cuda

#1310 [SYCL][CUDA] Fixes uses of PI descriptors after renaming
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/unittests/pi/cuda/test_events.cpp
Labels: cuda

#1299 [SYCL][CUDA] Multiple fixes
  sycl/include/CL/sycl/detail/pi.hpp
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1241 [SYCL][CUDA] Implement Intel USM extension
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/test/usm/allocator_vector.cpp
  sycl/test/usm/allocator_vector_fail.cpp
  sycl/test/usm/allocatorll.cpp
  sycl/test/usm/badmalloc.cpp
  sycl/test/usm/depends_on.cpp
  sycl/test/usm/dmemll.cpp
  sycl/test/usm/dmemllaligned.cpp
  sycl/test/usm/hmemll.cpp
  sycl/test/usm/hmemllaligned.cpp
  sycl/test/usm/memadvise.cpp
  sycl/test/usm/memcpy.cpp
  sycl/test/usm/memset.cpp
  sycl/test/usm/mixed.cpp
  sycl/test/usm/mixed2.cpp
  sycl/test/usm/mixed_queue.cpp
  sycl/test/usm/smemll.cpp
  sycl/test/usm/smemllaligned.cpp
Labels: cuda

#1236 [SYCL] Add prototype of group algorithms
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/sycl.hpp
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/include/CL/sycl/detail/type_traits.hpp
  sycl/include/CL/sycl/group.hpp
  sycl/include/CL/sycl/intel/functional.hpp
  sycl/include/CL/sycl/intel/group_algorithm.hpp
  sycl/include/CL/sycl/intel/sub_group.hpp
  sycl/test/group-algorithm/all_of.cpp
  sycl/test/group-algorithm/any_of.cpp
  sycl/test/group-algorithm/broadcast.cpp
  sycl/test/group-algorithm/exclusive_scan.cpp
  sycl/test/group-algorithm/inclusive_scan.cpp
  sycl/test/group-algorithm/leader.cpp
  sycl/test/group-algorithm/none_of.cpp
  sycl/test/group-algorithm/reduce.cpp
Labels: spec extension

#1293 [SYCL][CUDA] Improve CUDA backend documentation
  sycl/CMakeLists.txt
  sycl/doc/GetStartedGuide.md
Labels: Documentation, cuda

#1325 [SYCL][CUDA] Fix CUDA plug-in build with enabled assertions
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1297 [SYCL][Doc] Add leader to GroupAlgorithms
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_algorithms.asciidoc
Labels: spec extension

#1330 [SYCL][Doc] Update sub-group extension docs
  sycl/doc/extensions/GroupMask/README.md
  sycl/doc/extensions/GroupMask/SYCL_INTEL_group_mask.asciidoc
  sycl/doc/extensions/SubGroup/README.md
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
  sycl/doc/extensions/SubGroupAlgorithms/README.md
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
  sycl/doc/extensions/SubGroupNDRange/SubGroupNDRange.md
Labels: spec extension

#1345 [SYCL][SPIR-V] Make clang lookup for SPIR-V builtins
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Driver/CC1Options.td
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/Sema/CMakeLists.txt
  clang/lib/Sema/OpenCLBuiltins.td
  clang/lib/Sema/SPIRVBuiltins.td
  clang/lib/Sema/SemaLookup.cpp
  clang/test/CodeGenSPIRV/spirv-builtin-lookup-win.cpp
  clang/test/CodeGenSPIRV/spirv-builtin-lookup.cpp
  clang/test/SemaSYCL/spirv-builtin-lookup-invalid.cpp
  clang/test/SemaSYCL/spirv-builtin-lookup.cpp
  clang/utils/TableGen/CMakeLists.txt
  clang/utils/TableGen/ClangProgModelBuiltinEmitter.cpp
  clang/utils/TableGen/TableGen.cpp
  clang/utils/TableGen/TableGenBackends.h
Labels: cuda, libclc

#1334 [SYCL][CUDA] Workaround for the problem with memory reordering
  llvm/lib/Analysis/GlobalsModRef.cpp
  llvm/test/Analysis/GlobalsModRef/barrier_intrinsic.ll
Labels: cuda

#1252 [SYCL][CUDA] Fixes for multiple backends in the same program
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/test/basic_tests/buffer/buffer_dev_to_dev.cpp
  sycl/test/scheduler/DataMovement.cpp
  sycl/test/scheduler/MultipleDevices.cpp
  sycl/unittests/pi/EventTest.cpp
Labels: cuda

#1405 [SYCL] Cast address spaces before replacing byval argument usages
  llvm/lib/SYCLLowerIR/LowerWGScope.cpp
  llvm/test/SYCLLowerIR/cast_shadow.ll
Labels: cuda

#1392 [SYCL] Enable algorithm support for sub_group
  sycl/include/CL/sycl/detail/defines.hpp
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/include/CL/sycl/intel/group_algorithm.hpp
  sycl/include/CL/sycl/intel/sub_group.hpp
  sycl/include/CL/sycl/intel/sub_group_host.hpp
  sycl/include/CL/sycl/ordered_queue.hpp
  sycl/test/sub_group/broadcast.cpp
  sycl/test/sub_group/reduce.cpp
  sycl/test/sub_group/scan.cpp
  sycl/test/sub_group/vote.cpp
Labels: spec extension

#1394 [SYCL][NFC] Doxygen doc for CUDA backend
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda
