Repository intel/llvm, pull requests merged in 2020-10, with the labels that each got.

#2555 [SYCL][ESIMD] Preserve undef initializer for globals in ESIMDLowerVecArg pass
  llvm/lib/SYCLLowerIR/LowerESIMDVecArg.cpp
  llvm/test/SYCLLowerIR/esimd_global_undef.ll
Labels: esimd

#2556 [SYCL][ESIMD] Fixed compiler crash in LowerESIMDVecArg pass
  llvm/lib/SYCLLowerIR/LowerESIMDVecArg.cpp
  llvm/test/SYCLLowerIR/esimd_global_crash.ll
Labels: esimd

#2587 [SYCL][CUDA] Add basic sub-group functionality
  libclc/generic/include/spirv/spirv.h
  libclc/generic/include/spirv/workitem/get_max_sub_group_size.h
  libclc/generic/include/spirv/workitem/get_num_sub_groups.h
  libclc/generic/include/spirv/workitem/get_sub_group_id.h
  libclc/generic/include/spirv/workitem/get_sub_group_local_id.h
  libclc/generic/include/spirv/workitem/get_sub_group_size.h
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/workitem/get_max_sub_group_size.cl
  libclc/ptx-nvidiacl/libspirv/workitem/get_num_sub_groups.cl
  libclc/ptx-nvidiacl/libspirv/workitem/get_sub_group_id.cl
  libclc/ptx-nvidiacl/libspirv/workitem/get_sub_group_local_id.cl
  libclc/ptx-nvidiacl/libspirv/workitem/get_sub_group_size.cl
  sycl/include/CL/__spirv/spirv_vars.hpp
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
  sycl/test/sub_group/common.cpp
Labels: cuda, enhancement, spec extension

#2606 [SYCL][CUDA] Add sub-group barrier
  libclc/CMakeLists.txt
  libclc/cmake/modules/AddLibclc.cmake
  libclc/ptx-nvidiacl/libspirv/synchronization/barrier.cl
  sycl/test/sub_group/barrier.cpp
Labels: cuda, enhancement, spec extension

#2624 [SYCL] Remove half type alias causing name conflicts
  sycl/include/CL/sycl/half_type.hpp
Labels: cuda

#1970 [SYCL][CUDA] Image Basic Test
  sycl/test/basic_tests/image.cpp
  sycl/test/basic_tests/image/image_read.cpp
  sycl/test/basic_tests/image/image_read.h
  sycl/test/basic_tests/image/image_read_fp16.cpp
  sycl/test/basic_tests/image/image_sample.cpp
  sycl/test/basic_tests/image/image_write.cpp
  sycl/test/basic_tests/image/image_write.h
  sycl/test/basic_tests/image/image_write_fp16.cpp
  sycl/test/basic_tests/image_accessor_readsampler.cpp
  sycl/test/basic_tests/image_constructors.cpp
Labels: cuda

#2630 [SYCL][CUDA][NFC] Disable image_write test on CUDA devices
  sycl/test/basic_tests/image/image_write.cpp
Labels: cuda

#2623 [SYCL][CUDA] Add sub-group shuffles
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/test/sub_group/generic-shuffle.cpp
  sycl/test/sub_group/shuffle.cpp
  sycl/test/sub_group/shuffle_fp16.cpp
  sycl/test/sub_group/shuffle_fp64.cpp
Labels: cuda, enhancement, spec extension

#2642 [SYCL][ESIMD] Pass -vc-codegen instead of -cmc option to backend compiler
  sycl/test/lit.cfg.py
Labels: esimd

#2647 [SYCL][CUDA] Add group algorithms
  libclc/generic/include/spirv/spirv_types.h
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
  libclc/ptx-nvidiacl/libspirv/group/collectives_helpers.ll
  sycl/doc/extensions/README.md
  sycl/test/group-algorithm/all_of.cpp
  sycl/test/group-algorithm/any_of.cpp
  sycl/test/group-algorithm/broadcast.cpp
  sycl/test/group-algorithm/exclusive_scan.cpp
  sycl/test/group-algorithm/inclusive_scan.cpp
  sycl/test/group-algorithm/none_of.cpp
  sycl/test/group-algorithm/reduce.cpp
  sycl/test/group-algorithm/support.h
  sycl/test/reduction/reduction_nd_conditional.cpp
  sycl/test/reduction/reduction_nd_ext_double.cpp
  sycl/test/reduction/reduction_nd_ext_half.cpp
  sycl/test/reduction/reduction_nd_lambda.cpp
  sycl/test/reduction/reduction_nd_s0_dw.cpp
  sycl/test/reduction/reduction_nd_s0_rw.cpp
  sycl/test/reduction/reduction_nd_s1_dw.cpp
  sycl/test/reduction/reduction_nd_s1_rw.cpp
  sycl/test/reduction/reduction_placeholder.cpp
  sycl/test/reduction/reduction_transparent.cpp
  sycl/test/reduction/reduction_usm.cpp
Labels: cuda, enhancement, libclc, spec extension
