Repository intel/llvm, pull requests merged in 2020-11, with the labels that each got.

#2452 [SYCL][Doc] Provide extra sub-group guarantees
  sycl/doc/extensions/README.md
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
Labels: spec extension

#2759 [SYCL][CUDA] Support GroupBroadcast with 32-bit id
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
  sycl/test/on-device/sub_group/broadcast.cpp
  sycl/test/on-device/sub_group/broadcast_fp16.cpp
  sycl/test/on-device/sub_group/broadcast_fp64.cpp
Labels: bug, cuda, libclc, spec extension

#2810 [SYCL][Doc] Update source checkout instructions for Windows
  sycl/doc/GetStartedGuide.md
Labels: Documentation
