Repository intel/llvm, pull requests merged in 2020-08, with the labels that each got.

#1654 [SYCL][CUDA][LIT] Extend test for non-OpenCL
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/test/basic_tests/parallel_for_range.cpp
Labels: cuda

#2198 [SYCL] Add implementation of sycl::intel::barrier
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_algorithms.asciidoc
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
  sycl/include/CL/sycl/intel/group_algorithm.hpp
  sycl/test/group-algorithm/barrier.cpp
Labels: enhancement, spec extension

#2207 [SYCL] Enable standard optimization pipeline for device code
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/inline_asm.cpp
  clang/test/CodeGenSYCL/remove-ur-inst.cpp
  clang/test/Driver/sycl-device-optimizations.cpp
  sycl/test/basic_tests/accessor/accessor.cpp
  sycl/test/basic_tests/boolean.cpp
  sycl/test/basic_tests/stream/stream.cpp
  sycl/test/check_device_code/fpga_ihs_float.cpp
  sycl/test/fpga_tests/fpga_lsu.cpp
  sycl/test/hier_par/hier_par_wgscope.cpp
  sycl/test/regression/group.cpp
  sycl/test/spec_const/spec_const_hw.cpp
  sycl/test/sub_group/generic-shuffle.cpp
  sycl/test/sub_group/generic_reduce.cpp
  sycl/test/sub_group/load_store.cpp
  sycl/test/sub_group/scan_fp16.cpp
  sycl/test/sub_group/shuffle.cpp
  sycl/test/sub_group/shuffle_fp16.cpp
  sycl/test/sub_group/shuffle_fp64.cpp
Labels: performance

#2338 [SYCL][Doc] Add draft LocalMemory extension
  sycl/doc/extensions/LocalMemory/README.md
  sycl/doc/extensions/LocalMemory/SYCL_INTEL_local_memory.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension

#1840 [SYCL][DOC][SPIRV] Added a SPIR-V extension that introduces two new storage classes.
  sycl/doc/extensions/SPIRV/SPV_INTEL_usm_storage_classes.asciidoc
  sycl/doc/extensions/USMAddressSpaces/usm_address_spaces.asciidoc
Labels: spec extension
