Repository intel/llvm, pull requests merged in 2020-02, with the labels that each got.

#1082 Update CL USM Extension from Rev G to Rev O
  sycl/doc/extensions/USM/cl_intel_unified_shared_memory.asciidoc
Labels: spec extension

#1081 [SYCL][Doc] Add ExtendedAtomics extension
  sycl/doc/extensions/ExtendedAtomics/README.md
  sycl/doc/extensions/ExtendedAtomics/SYCL_INTEL_extended_atomics.asciidoc
Labels: spec extension

#1152 [SYCL] Fix __spirv_GroupBroadcast overloads
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/__spirv/spirv_types.hpp
Labels: bug

#1178 [SYCL][CUDA] Bounds check on kernel launch
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1175 [SYCL][CUDA] Fixes device leak
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#1173 [SYCL][PTX] Implements missing atomic builtins
  libclc/generic/include/spirv/atomic/atomic_decl.inc
  libclc/generic/include/spirv/atomic/atomic_load.h
  libclc/generic/include/spirv/atomic/atomic_store.h
  libclc/generic/include/spirv/spirv.h
  libclc/generic/libspirv/SOURCES
  libclc/generic/libspirv/atomic/atomic_add.cl
  libclc/generic/libspirv/atomic/atomic_and.cl
  libclc/generic/libspirv/atomic/atomic_cmpxchg.cl
  libclc/generic/libspirv/atomic/atomic_load.cl
  libclc/generic/libspirv/atomic/atomic_max.cl
  libclc/generic/libspirv/atomic/atomic_min.cl
  libclc/generic/libspirv/atomic/atomic_or.cl
  libclc/generic/libspirv/atomic/atomic_store.cl
  libclc/generic/libspirv/atomic/atomic_sub.cl
  libclc/generic/libspirv/atomic/atomic_xchg.cl
  libclc/generic/libspirv/atomic/atomic_xor.cl
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/atomic/loadstore_helpers.ll
  libclc/ptx-nvidiacl/libspirv/cl_khr_int64_extended_atomics/minmax_helpers.ll
Labels: cuda
