Repository intel/llvm, pull requests merged in 2020-04, with the labels that each got.

#1446 [SYCL-PTX] Fix mangling of __spirv_AtomicCompareExchange
  libclc/generic/include/spirv/atomic/atomic_cmpxchg.h
  libclc/generic/lib/atomic/atomic_cmpxchg.cl
  libclc/generic/lib/cl_khr_int64_base_atomics/atom_cmpxchg.cl
  libclc/generic/libspirv/atomic/atomic_cmpxchg.cl
Labels: cuda

#1447 [SYCL][CUDA] Fixes active context when creating base event
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1458 [SYCL] Enable LIT testing with CUDA BE
  sycl/test/backend/cuda/primary_context.cpp
  sycl/test/basic_tests/boolean.cpp
  sycl/test/basic_tests/buffer/buffer_full_copy.cpp
  sycl/test/group-algorithm/all_of.cpp
  sycl/test/group-algorithm/any_of.cpp
  sycl/test/group-algorithm/broadcast.cpp
  sycl/test/group-algorithm/exclusive_scan.cpp
  sycl/test/group-algorithm/inclusive_scan.cpp
  sycl/test/group-algorithm/leader.cpp
  sycl/test/group-algorithm/none_of.cpp
  sycl/test/group-algorithm/reduce.cpp
  sycl/test/hier_par/hier_par_basic.cpp
  sycl/test/kernel_from_file/hw.cpp
  sycl/test/lit.cfg.py
  sycl/test/multi_ptr/multi_ptr.cpp
  sycl/test/program_manager/env_vars.cpp
  sycl/test/regression/private_array_init_test.cpp
  sycl/test/regression/static-buffer-dtor.cpp
  sycl/test/scheduler/DataMovement.cpp
  sycl/test/usm/allocator_vector.cpp
  sycl/test/usm/allocator_vector_fail.cpp
  sycl/test/usm/allocatorll.cpp
  sycl/test/usm/badmalloc.cpp
  sycl/test/usm/depends_on.cpp
  sycl/test/usm/dmemll.cpp
  sycl/test/usm/hmemll.cpp
  sycl/test/usm/math.cpp
  sycl/test/usm/memadvise.cpp
  sycl/test/usm/memcpy.cpp
  sycl/test/usm/memset.cpp
  sycl/test/usm/mixed.cpp
  sycl/test/usm/mixed2.cpp
  sycl/test/usm/mixed2template.cpp
  sycl/test/usm/mixed_queue.cpp
  sycl/test/usm/pfor_flatten.cpp
  sycl/test/usm/queue_wait.cpp
  sycl/test/usm/smemll.cpp
  sycl/tools/CMakeLists.txt
  sycl/tools/get_device_count_by_type.cpp
  sycl/unittests/pi/cuda/CMakeLists.txt
  sycl/unittests/pi/cuda/test_primary_context.cpp
Labels: cuda

#1475 [SYCL][CUDA] Fix selected_binary argument in piextDeviceSelectBinary
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1482 [SYCL] Fix sub_group::broadcast
  sycl/include/CL/sycl/intel/sub_group.hpp
Labels: bug, spec extension

#1408 [SYCL-PTX] Update the compiler design to describe CUDA support
  sycl/doc/CompilerAndRuntimeDesign.md
Labels: cuda

#1300 [SYCL][CUDA] Fix LIT testing with CUDA devices
  sycl/plugins/cuda/CMakeLists.txt
  sycl/test/lit.cfg.py
  sycl/tools/CMakeLists.txt
  sycl/tools/get_device_count_by_type.cpp
Labels: cuda

#1483 [SYCL][CUDA] Expose context extended deleters on PI API
  sycl/include/CL/sycl/detail/pi.def
  sycl/include/CL/sycl/detail/pi.h
  sycl/include/CL/sycl/detail/pi.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/source/detail/pi.cpp
Labels: cuda

#1487 [SYCL][Doc] Update ExtendedAtomics documentation
  sycl/doc/extensions/ExtendedAtomics/README.md
  sycl/doc/extensions/ExtendedAtomics/SYCL_INTEL_extended_atomics.asciidoc
Labels: spec extension

#1332 [SYCL][PI][CUDA] Implements get_native interoperability
  sycl/include/CL/sycl.hpp
  sycl/include/CL/sycl/backend.hpp
  sycl/include/CL/sycl/backend/cuda.hpp
  sycl/include/CL/sycl/backend/opencl.hpp
  sycl/include/CL/sycl/backend_types.hpp
  sycl/include/CL/sycl/context.hpp
  sycl/include/CL/sycl/detail/cg.hpp
  sycl/include/CL/sycl/detail/cuda_definitions.hpp
  sycl/include/CL/sycl/detail/pi.def
  sycl/include/CL/sycl/detail/pi.h
  sycl/include/CL/sycl/detail/pi.hpp
  sycl/include/CL/sycl/device.hpp
  sycl/include/CL/sycl/event.hpp
  sycl/include/CL/sycl/queue.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/context.cpp
  sycl/source/detail/cg.cpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/context_impl.hpp
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/device_impl.hpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/program_impl.cpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/device.cpp
  sycl/source/event.cpp
  sycl/source/program.cpp
  sycl/source/queue.cpp
  sycl/unittests/pi/cuda/CMakeLists.txt
  sycl/unittests/pi/cuda/test_base_objects.cpp
  sycl/unittests/pi/cuda/test_interop_get_native.cpp
  sycl/unittests/pi/cuda/test_mem_obj.cpp
  sycl/unittests/pi/cuda/test_primary_context.cpp
  sycl/unittests/pi/cuda/test_queue.cpp
Labels: cuda

#1526 [SYCL][NFC] Temporarily disable sporadically failing test
  sycl/test/basic_tests/buffer/buffer_dev_to_dev.cpp
Labels: cuda

#1541 [SYCL][Doc] Add sycl_bitcast extension
  sycl/doc/extensions/Bitcast/SYCL_INTEL_bitcast.asciidoc
Labels: spec extension

#1539 [SYCL][Doc] Add static local memory query extension.
  sycl/doc/extensions/StaticLocalMemoryQuery/SYCL_INTEL_static_local_memory_query.asciidoc
Labels: spec extension

#1540 [SYCL][Doc] Add device_specific_kernel_queries extension.
  sycl/doc/extensions/DeviceSpecificKernelQueries/SYCL_INTEL_device_specific_kernel_queries.asciidoc
Labels: spec extension
