Repository intel/llvm, pull requests merged in 2020-06, with the labels that each got.

#1791 [SYCL][CUDA] Use piclProgramCreateWithBinary with CUDA backend
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/unittests/pi/cuda/test_kernels.cpp
Labels: cuda

#1848 [SYCL-PTX] Add _Float16 as native type
  clang/lib/Basic/Targets/NVPTX.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/CodeGenCXX/nvptx-float16.cpp
Labels: cuda

#1836 [SYCL] Implement SYCL_INTEL_enqueue_barrier DPC++ extension
  sycl/doc/extensions/README.md
  sycl/include/CL/sycl/detail/cg.hpp
  sycl/include/CL/sycl/detail/pi.def
  sycl/include/CL/sycl/detail/pi.h
  sycl/include/CL/sycl/handler.hpp
  sycl/include/CL/sycl/queue.hpp
  sycl/plugins/level_zero/pi_level0.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/handler.cpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/pi_level0_symbol_check.dump
  sycl/test/abi/symbol_size.cpp
  sycl/test/enqueue_barrier/enqueue_barrier.cpp
Labels: spec extension

#1827 [SYCL][CUDA] libdevice: add builtins
  libclc/ptx-nvidiacl/include/libdevice.h
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/math/acos.cl
  libclc/ptx-nvidiacl/libspirv/math/asin.cl
  libclc/ptx-nvidiacl/libspirv/math/atan.cl
  libclc/ptx-nvidiacl/libspirv/math/binary_builtin.inc
  libclc/ptx-nvidiacl/libspirv/math/cbrt.cl
  libclc/ptx-nvidiacl/libspirv/math/ceil.cl
  libclc/ptx-nvidiacl/libspirv/math/cos.cl
  libclc/ptx-nvidiacl/libspirv/math/erf.cl
  libclc/ptx-nvidiacl/libspirv/math/fabs.cl
  libclc/ptx-nvidiacl/libspirv/math/floor.cl
  libclc/ptx-nvidiacl/libspirv/math/fmax.cl
  libclc/ptx-nvidiacl/libspirv/math/fmin.cl
  libclc/ptx-nvidiacl/libspirv/math/lgamma.cl
  libclc/ptx-nvidiacl/libspirv/math/sqrt.cl
  libclc/ptx-nvidiacl/libspirv/math/unary_builtin.inc
  sycl/test/built-ins/scalar_math.cpp
  sycl/test/built-ins/scalar_math_2.cpp
Labels: cuda, libclc

#1838 [SYCL] Accessor tags, CTAD and host_accessor
  sycl/include/CL/sycl/access/access.hpp
  sycl/include/CL/sycl/accessor.hpp
  sycl/include/CL/sycl/detail/common.hpp
  sycl/include/CL/sycl/handler.hpp
  sycl/include/CL/sycl/property_list.hpp
  sycl/test/basic_tests/accessor/accessor.cpp
Labels: spec extension

#1565 [SYCL][Doc] Update sub-group docs
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
Labels: spec extension

#1909 [SYCL][ESIMD] Fix ESIMD private global detection.
  clang/include/clang/Sema/Sema.h
  clang/test/SemaSYCL/esimd-private-glob.cpp
Labels: esimd

#1863 [SYCL][CUDA] Implement COPY_HOST_PTR
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#1935 [SYCL][CUDA] Remove unnecessary memfence
  libclc/ptx-nvidiacl/libspirv/synchronization/barrier.cl
Labels: cuda

#1925 Added an extension that introduces compile-time-constant properties t…
  sycl/doc/extensions/accessor_properties/SYCL_INTEL_accessor_properties.asciidoc
Labels: spec extension

#1914 [SYCL-PTX] Libclc binding for SYCL device
  libclc/CMakeLists.txt
  libclc/cmake/modules/AddLibclc.cmake
  libclc/generic/include/lp64_types.h
  libclc/generic/libspirv/sycldevice-binding.cpp
Labels: cuda, libclc

#1943 [SYCL] get_access and get_host access enabling
  sycl/include/CL/sycl/accessor.hpp
  sycl/include/CL/sycl/buffer.hpp
  sycl/include/CL/sycl/detail/accessor_impl.hpp
  sycl/include/CL/sycl/detail/buffer_impl.hpp
  sycl/test/basic_tests/accessor/Inputs/device_accessor.cpp
  sycl/test/basic_tests/accessor/Inputs/host_accessor.cpp
  sycl/test/basic_tests/accessor/accessor.cpp
  sycl/test/basic_tests/accessor/device_accessor_deduction.cpp
  sycl/test/basic_tests/accessor/get_device_access_deduction.cpp
  sycl/test/basic_tests/accessor/get_host_access_deduction.cpp
  sycl/test/basic_tests/accessor/host_accessor_deduction.cpp
Labels: spec extension

#1974 [NFC] Update information about CUDA toolchain version
  buildbot/dependency.conf
  sycl/doc/GetStartedGuide.md
Labels: cuda

#1820 [SYCL-PTX] Update documentation for the CUDA backend.
  sycl/doc/CompilerAndRuntimeDesign.md
  sycl/doc/images/DevicePTXProcessing.svg
Labels: cuda

#1930 [SYCL][ESIMD] Bring vc-intrinsics sources
  sycl/CMakeLists.txt
  sycl/doc/GetStartedGuide.md
Labels: esimd

#1826 [SYCL] Add prototype of ExtendedAtomics features
  sycl/doc/extensions/README.md
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/sycl.hpp
  sycl/include/CL/sycl/detail/defines.hpp
  sycl/include/CL/sycl/detail/spirv.hpp
  sycl/include/CL/sycl/intel/atomic.hpp
  sycl/include/CL/sycl/intel/atomic_enums.hpp
  sycl/include/CL/sycl/intel/atomic_fence.hpp
  sycl/include/CL/sycl/intel/atomic_ref.hpp
  sycl/test/atomic_ref/add.cpp
  sycl/test/atomic_ref/compare_exchange.cpp
  sycl/test/atomic_ref/exchange.cpp
  sycl/test/atomic_ref/load.cpp
  sycl/test/atomic_ref/max.cpp
  sycl/test/atomic_ref/min.cpp
  sycl/test/atomic_ref/store.cpp
  sycl/test/atomic_ref/sub.cpp
Labels: spec extension

#1957 [SYCL] Added arbitrary integer SPIR-V spec as an extension
  sycl/doc/extensions/SPIRV/SPV_INTEL_arbitrary_precision_int.asciidoc
Labels: spec extension

#1952 [SYCL][CUDA] Disable timing on events unless profiling
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#1922 [SYCL] Align sub-group implementation and docs
  sycl/include/CL/sycl/detail/defines.hpp
  sycl/include/CL/sycl/intel/sub_group.hpp
  sycl/include/CL/sycl/intel/sub_group_host.hpp
  sycl/test/sub_group/common.cpp
  sycl/test/sub_group/common_ocl.cpp
  sycl/test/sub_group/sg.cl
Labels: spec extension

#1995 [SYCL][CUDA] Event synchronization only done for latest events
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#2010 [SYCL][CUDA] Allow building Host task with CUDA
  sycl/include/CL/sycl/interop_handle.hpp
Labels: cuda
