Repository intel/llvm, pull requests merged in 2021-01, with the labels that each got.

#2763 [SYCL][CUDA] Enable sub-group loads and stores
  sycl/include/CL/sycl/ONEAPI/sub_group.hpp
Labels: bug, cuda, spec extension

#2990 [SYCL][CUDA] Add missing barrier to collectives
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
  sycl/test/on-device/back_to_back_collectives.cpp
Labels: bug, cuda

#3042 [sycl-post-link][NFC] Extracted the code into a subroutine
  llvm/tools/sycl-post-link/sycl-post-link.cpp
Labels: esimd

#2992 [SYCL][CUDA] Add sub-group info queries
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda, enhancement, spec extension
