Repository intel/llvm, pull requests merged in 2021-12, with the labels that each got.

#5041 [SYCL][LIBCLC] Create remangled names aliases
  libclc/utils/libclc-remangler/LibclcRemangler.cpp
Labels: libclc

#5091 [CI] Provide libclc targets to build and test
  buildbot/configure.py
  libclc/test/CMakeLists.txt
  libclc/test/lit.cfg.py
Labels: cuda, libclc, hip

#5095 [SYCL][CUDA][PI] Fix infinite loop when parallel_for range exceeds INT_MAX
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda
