Repository intel/llvm, pull requests merged in 2021-09, with the labels that each got.

#4442 [SYCL][CUDA] Don't restore CUDA contexts
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/unittests/pi/cuda/CMakeLists.txt
  sycl/unittests/pi/cuda/test_contexts.cpp
Labels: cuda

#4305 [Driver] Properly set offload-deps target triple
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-offload-static-lib-2.cpp
Labels: cuda, rocm

#4428 [DOC] Add SYCL_INTEL_bf16_conversion to sycl/doc/extensions/README.md
  sycl/doc/extensions/README.md
Labels: Documentation

#4475 [SYCL][Driver] Fix suggested target triple in the warning message
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/sycl.c
Labels: cuda, rocm, compiler

#4345 [SYCL][CUDA] Windows and MSVC support for CUDA backend
  clang/lib/Driver/ToolChains/Cuda.cpp
  clang/test/Driver/cuda-nvptx-target.cpp
  libclc/cmake/modules/HandleInLLVMTree.cmake
  libclc/utils/prepare-builtins.cpp
  sycl/include/CL/sycl/detail/pi.hpp
  sycl/plugins/cuda/CMakeLists.txt
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/unittests/pi/TestGetPlugin.hpp
  sycl/unittests/pi/cuda/test_base_objects.cpp
  sycl/unittests/pi/cuda/test_commands.cpp
  sycl/unittests/pi/cuda/test_contexts.cpp
  sycl/unittests/pi/cuda/test_device.cpp
  sycl/unittests/pi/cuda/test_kernels.cpp
  sycl/unittests/pi/cuda/test_mem_obj.cpp
  sycl/unittests/pi/cuda/test_queue.cpp
  sycl/unittests/pi/cuda/test_sampler_properties.cpp
Labels: cuda

#4549 [SYCL][HIP] Add missing check-sycl-hip skips
  sycl/test/extensions/bfloat16.cpp
  sycl/unittests/SYCL2020/KernelID.cpp
  sycl/unittests/assert/assert.cpp
Labels: hip

#4567 [SYCL][CUDA][NFC] Drop idle sycldevice from the target triple.
  clang/test/Driver/cuda-nvptx-target.cpp
Labels: cuda, compiler

#4571 [SYCL][CUDA][HIP] Report every device in its own platform
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/hip/pi_hip.cpp
Labels: cuda, hip, runtime

#4600 [SYCL][CUDA][libclc] Fix incorrectly mangled names
  libclc/ptx-nvidiacl/libspirv/images/image.cl
Labels: cuda, libclc

#4482 [SYCL][HIP] Fix clang warnings
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/hip/pi_hip.hpp
Labels: hip

#4606 [SYCL][CUDA] Fix context scope in kernel launch
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda, runtime

#4233 [SYCL][Doc] Add device global extension spec
  sycl/doc/extensions/DeviceGlobal/SYCL_INTEL_device_global.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension, Documentation

#4629 [SYCL][HIP] Fix MemBufferFill for nvidia platform
  sycl/plugins/hip/pi_hip.cpp
  sycl/unittests/pi/EnqueueMemTest.cpp
Labels: hip
