Repository intel/llvm, pull requests merged in 2021-10, with the labels that each got.

#4676 [SYCL] Add HIP arch argument for lit tests
  buildbot/configure.py
  sycl/doc/GetStartedGuide.md
  sycl/test/lit.cfg.py
Labels: hip

#4617 [SYCL] Enable Dead Argument Elimination for NVPTX backend
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-triple-dae-flags.cpp
  llvm/include/llvm/Transforms/IPO/DeadArgumentElimination.h
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  llvm/test/Transforms/DeadArgElim/sycl-kernels-neg.ll
  llvm/test/Transforms/DeadArgElim/sycl-kernels.ll
  llvm/test/tools/sycl-post-link/omit_kernel_args.ll
  llvm/tools/sycl-post-link/CMakeLists.txt
  llvm/tools/sycl-post-link/SYCLKernelParamOptInfo.cpp
  llvm/tools/sycl-post-link/SYCLKernelParamOptInfo.h
  llvm/tools/sycl-post-link/sycl-post-link.cpp
Labels: cuda

#4664 [SYCL][LIBCLC] Add support for shuffles in AMDGCN.
  libclc/amdgcn-amdhsa/libspirv/SOURCES
  libclc/amdgcn-amdhsa/libspirv/misc/sub_group_shuffle.cl
Labels: libclc, hip
