Repository intel/llvm, pull requests merged in 2021-02, with the labels that each got.

#2528 [SYCL] Add has_known_identity/known_identity
  sycl/doc/extensions/Reduction/Reduction.md
  sycl/include/CL/sycl/ONEAPI/reduction.hpp
  sycl/include/CL/sycl/half_type.hpp
  sycl/test/regression/constexpr-fp16-numeric-limits.cpp
Labels: enhancement, spec extension

#2864 [SYCL] Refactor address space handling in CodeGen library
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGClass.cpp
  clang/lib/CodeGen/CGDecl.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CGStmt.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/TargetInfo.cpp
  clang/test/CodeGenSYCL/accessor_inheritance.cpp
  clang/test/CodeGenSYCL/address-space-cond-op.cpp
  clang/test/CodeGenSYCL/address-space-initializer.cpp
  clang/test/CodeGenSYCL/address-space-new.cpp
  clang/test/CodeGenSYCL/address-space-of-returns.cpp
  clang/test/CodeGenSYCL/address-space-parameter-conversions.cpp
  clang/test/CodeGenSYCL/basic-kernel-wrapper.cpp
  clang/test/CodeGenSYCL/device-variables.cpp
  clang/test/CodeGenSYCL/inheritance.cpp
  clang/test/CodeGenSYCL/inline_asm.cpp
  clang/test/CodeGenSYCL/intel-fpga-ivdep-array.cpp
  clang/test/CodeGenSYCL/intel-fpga-ivdep-embedded-loops.cpp
  clang/test/CodeGenSYCL/intel-fpga-ivdep-global.cpp
  clang/test/CodeGenSYCL/intel-fpga-local.cpp
  clang/test/CodeGenSYCL/intel-fpga-loops.cpp
  clang/test/CodeGenSYCL/intel-fpga-mem-builtin.cpp
  clang/test/CodeGenSYCL/intel-fpga-reg.cpp
  clang/test/CodeGenSYCL/kernel-param-acc-array.cpp
  clang/test/CodeGenSYCL/kernel-param-member-acc-array.cpp
  clang/test/CodeGenSYCL/kernel-param-pod-array.cpp
  clang/test/CodeGenSYCL/local_var_big_init_as.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/spir-calling-conv.cpp
  clang/test/CodeGenSYCL/spir-enum.cpp
  clang/test/CodeGenSYCL/union-kernel-param.cpp
  clang/test/CodeGenSYCL/unique-stable-name.cpp
Labels: upstream

#3177 [SYCL][Doc] Update table of contexts for Get Started Guide
  sycl/doc/GetStartedGuide.md
Labels: Documentation

#3187 [Doc][SYCL] Fix Markdown style issues and typos.
  sycl/doc/CompilerAndRuntimeDesign.md
Labels: Documentation

#3119 [SYCL][Doc] Improvements design for program cache
  sycl/doc/KernelProgramCache.md
Labels: Documentation
