Repository intel/llvm, pull requests merged in 2021-07, with the labels that each got.

#3551 [SYCL][Matrix] Add spec document for the matrix extension interface and its first implementation for AMX
  sycl/doc/extensions/Matrix/README.md
  sycl/doc/extensions/Matrix/dpcpp-joint-matrix.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension

#4106 [SYCL][NVPTX] Removes unsupported memory orders for atomic load/store
  libclc/generic/libspirv/atomic/atomic_load.cl
  libclc/ptx-nvidiacl/libspirv/atomic/loadstore_helpers.ll
Labels: cuda

#3735 [SYCL][CUDA] Adds PI CUDA support for reqd_work_group_size attribute
  clang/include/clang/Driver/Action.h
  clang/lib/Driver/Action.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-offload-amdgcn.cpp
  clang/test/Driver/sycl-offload-nvptx.cpp
  llvm/include/llvm/Support/PropertySetIO.h
  llvm/include/llvm/Support/SimpleTable.h
  llvm/lib/Support/PropertySetIO.cpp
  llvm/lib/Support/SimpleTable.cpp
  llvm/test/tools/file-table-tform/Inputs/s.txt
  llvm/test/tools/file-table-tform/file-table-tform-single.test
  llvm/test/tools/sycl-post-link/emit_program_metadata.ll
  llvm/tools/file-table-tform/file-table-tform.cpp
  llvm/tools/sycl-post-link/sycl-post-link.cpp
  llvm/unittests/Support/SimpleTableTest.cpp
  sycl/doc/CompilerAndRuntimeDesign.md
  sycl/doc/images/DeviceLinkAndWrap.svg
  sycl/doc/images/DevicePTXProcessing.svg
  sycl/include/CL/sycl/detail/pi.h
  sycl/include/CL/sycl/detail/pi.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
  sycl/plugins/esimd_cpu/pi_esimd_cpu.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/rocm/pi_rocm.cpp
  sycl/source/detail/pi.cpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/unittests/kernel-and-program/Cache.cpp
  sycl/unittests/misc/KernelBuildOptions.cpp
  sycl/unittests/pi/cuda/test_kernels.cpp
Labels: cuda

#3815 [SYCL] Improve performance of generic shuffles
  sycl/include/CL/sycl/detail/spirv.hpp
Labels: enhancement, performance

#4181 [SYCL][CUDA] Correctly free managed memory
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#3781 [SYCL][Doc] Design doc: optional kernel features
  sycl/doc/OptionalDeviceFeatures.md
Labels: SPIR-V, enhancement, spec extension

#4217 [SYCL][LIBCLC] Add support for non-uniform [I/F]Mul op in ptx-nvidiacl
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
Labels: cuda, libclc

#4208 [SYCL][LIBCLC] Add subgroup builtins for AMDGCN
  libclc/amdgcn-amdhsa/libspirv/SOURCES
  libclc/amdgcn-amdhsa/libspirv/workitem/get_max_sub_group_size.cl
  libclc/amdgcn-amdhsa/libspirv/workitem/get_num_sub_groups.cl
  libclc/amdgcn-amdhsa/libspirv/workitem/get_sub_group_id.cl
  libclc/amdgcn-amdhsa/libspirv/workitem/get_sub_group_size.cl
Labels: libclc
