Repository intel/llvm, pull requests merged in 2021-05, with the labels that each got.

#3445 [SYCL][Doc] Add InvokeSIMD and Uniform extensions
  sycl/doc/extensions/InvokeSIMD/InvokeSIMD.asciidoc
  sycl/doc/extensions/README.md
  sycl/doc/extensions/Uniform/Uniform.asciidoc
Labels: spec extension

#2458 [SYCL] Disable vectorization and loop transformation passes
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-device-optimizations.cpp
  llvm/lib/Transforms/IPO/PassManagerBuilder.cpp
Labels: performance

#3736 [SYCL-PTX] Fix missing callsite metadata after global offset pass
  llvm/lib/Target/NVPTX/SYCL/GlobalOffset.cpp
  llvm/test/CodeGen/NVPTX/global-offset-dbg.ll
Labels: cuda

#3768 [SYCL-PTX] Restrict OpenCL extensions to SYCL PTX
  clang/lib/Basic/Targets/NVPTX.h
  clang/test/Misc/nvptx-sycl.languageOptsOpenCL.cl
  clang/test/Misc/nvptx.languageOptsOpenCL.cl
  clang/test/Misc/nvptx.unsupported_core.cl
Labels: cuda

#3791 [SYCL][CUDA] Fix host task CUDA native memory handle
  sycl/include/CL/sycl/backend/cuda.hpp
  sycl/include/CL/sycl/interop_handle.hpp
  sycl/test/on-device/basic_tests/interop/traits.cpp
  sycl/unittests/pi/cuda/test_interop_get_native.cpp
Labels: cuda

#3811 [SYCL][CUDA] Allow to use CUDA backend in all builds
  sycl/plugins/cuda/CMakeLists.txt
  sycl/source/CMakeLists.txt
  sycl/source/detail/context_impl.cpp
Labels: cuda

#3461 [SYCL] [DOC] Prepare design-document for assert feature
  sycl/doc/Assert.md
  sycl/doc/extensions/Assert/SYCL_ONEAPI_ASSERT.asciidoc
  sycl/doc/extensions/C-CXX-StandardLibrary/DeviceLibExtensions.rst
  sycl/doc/extensions/README.md
  sycl/doc/images/assert-fallback-graph.svg
  sycl/doc/index.rst
Labels: Documentation

#3210 [Doc] Add design doc for dynamic linking of device code feature
  sycl/doc/SharedLibraries.md
  sycl/doc/images/LD-preload-shared-libraries.svg
  sycl/doc/images/ODR-shared-libraries.svg
Labels: Documentation
