Repository intel/llvm, pull requests merged in 2021-04, with the labels that each got.

#3448 [SYCL][Doc] Rename auto sub-group size
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
Labels: spec extension

#3545 [SYCL][CUDA] Removed PI_COMMAND_TYPE_USER assert from _pi_event::_pi_event
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#3525 [SYCL][Doc] Add "device-if" extension
  sycl/doc/extensions/DeviceIf/device_if.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension

#3535 [SYCL][NVPTX][NFC] Refactor NVPTX target configuration
  clang/lib/Basic/Targets/NVPTX.cpp
  clang/lib/Basic/Targets/NVPTX.h
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/lib/Target/NVPTX/SYCL/LocalAccessorToSharedMemory.cpp
Labels: cuda

#3544 [SYCL][CUDA] Use cuEventQuery to check event completion status
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#2167 [SYCL][Doc] Use marray for sub-group loads/stores
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
Labels: enhancement, spec extension

#3562 [SYCL][CUDA] Add default to image format switch
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda, enhancement

#3581 [SYCL][CUDA] Adds unimplemented cuda_piEnqueueEventsWaitWithBarrier
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#3574 [SYCL][CUDA] Fix USM pointer device query
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#3468 [SYCL][DOC] Initial Draft of Extension for querying free device memory on Level Zero
  sycl/doc/extensions/LevelZeroBackend/LevelZeroBackend.md
Labels: spec extension

#3624 [SYCL-PTX] Fix libclc dependencies
  libclc/cmake/modules/AddLibclc.cmake
Labels: cuda

#3514 [SYCL][DOC] Added group sorting algorithms
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_sort.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension

#3636 [SYCL][Doc] Update data flow pipes extension
  sycl/doc/extensions/DataFlowPipes/data_flow_pipes.asciidoc
  sycl/doc/extensions/DataFlowPipes/data_flow_pipes.html
Labels: spec extension

#3648 [SYCL][CUDA] Quick fix for CUDA function to make it match the PI.
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda
