Repository intel/llvm, pull requests merged in 2021-11, with the labels that each got.

#4908 [SYCL][CUDA] Set cuda_piextUSMEnqueuePrefetch to fail for windows
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda

#4930 [SYCL][CUDA] Add CoreOption flag to CUDA backend options
  clang/include/clang/Driver/Options.td
  clang/test/Driver/sycl-offload-nvptx.cpp
Labels: cuda

#4941 [SYCL][Doc] Deprecate reduction extension
  sycl/doc/extensions/Reduction/Reduction.md
Labels: spec extension

#4876 [SYCL][DOC] Proposal to add number of HW threads per EU query
  sycl/doc/extensions/IntelGPU/IntelGPUDeviceInfo.md
Labels: Documentation

#4942 [SYCL][Doc] Remove SubGroupAlgorithms extension
  sycl/doc/extensions/README.md
  sycl/doc/extensions/SubGroupAlgorithms/README.md
  sycl/doc/extensions/SubGroupAlgorithms/SYCL_INTEL_sub_group_algorithms.asciidoc
Labels: spec extension

#4943 [SYCL][Doc] Deprecate SubGroup extension
  sycl/doc/extensions/README.md
  sycl/doc/extensions/SubGroup/SYCL_INTEL_sub_group.asciidoc
Labels: spec extension

#4944 [SYCL][Doc] Deprecate GroupAlgorithms extension
  sycl/doc/extensions/GroupAlgorithms/SYCL_INTEL_group_algorithms.asciidoc
  sycl/doc/extensions/README.md
Labels: spec extension

#3198 Add SPV_INTEL_optnone extension spec
  sycl/doc/extensions/SPIRV/SPV_INTEL_optnone.asciidoc
Labels: spec extension, Documentation, SPIR-V

#4933 [SYCL][HIP] Add missing piProgramLink stub
  sycl/plugins/hip/pi_hip.cpp
Labels: hip

#4905 [SYCL][HIP] Disable partial global offset support
  libclc/amdgcn/libspirv/workitem/get_global_offset.cl
  sycl/plugins/hip/pi_hip.cpp
Labels: hip

#4978 [SYCL] Allow ::printf only for CUDA
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/sycl-varargs-cconv.cpp
Labels: cuda

#4820 [SYCL][CUDA][libclc] Added atomics with scopes and memory orders
  clang/include/clang/Basic/BuiltinsNVPTX.def
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/builtins-nvptx.c
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/SPV_EXT_shader_atomic_float_add/atomicfaddext.cl
  libclc/ptx-nvidiacl/libspirv/SPV_EXT_shader_atomic_float_add/faddext_helpers.ll
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_add.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_and.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_cmpxchg.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_dec.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_helpers.h
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_inc.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_inc_dec_helpers.h
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_max.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_min.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_or.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_xchg.cl
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_xor.cl
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/lib/Target/NVPTX/NVPTXSubtarget.h
  llvm/test/CodeGen/NVPTX/atomics-with-semantics.ll
Labels: cuda, libclc

#4715 [SYCL][Doc] Address FPGA reqs in optional feature design
  sycl/doc/OptionalDeviceFeatures.md
Labels: enhancement, Documentation
