Repository intel/llvm, pull requests merged in 2021-08, with the labels that each got.

#4223 [SYCL][LIBCLC] Add sqrt for doubles for amdgcn-amdhsa
  libclc/amdgcn-amdhsa/libspirv/math/sqrt.cl
Labels: libclc

#4187 [SYCL][CUDA] Cuda plugin improvement to run small kernels
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/cuda/pi_cuda.hpp
Labels: cuda

#4252 [SYCL][ROCm] memsetBufferFill for patterns greater than 4 bytes
  sycl/plugins/rocm/pi_rocm.cpp
Labels: rocm

#4314 [SYCL][ROCm] Fix rocm_piPlatformsGet when there are no devices
  sycl/plugins/rocm/pi_rocm.cpp
Labels: rocm

#4337 [SYCL][libclc] Fix identity for multiplication
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
Labels: cuda, libclc

#4348 [SYCL][libclc] Revert signed char remangling simplications (#4207)
  clang/lib/Sema/SPIRVBuiltins.td
  libclc/generic/gen_convert_common.py
  libclc/generic/include/as_type.h
  libclc/generic/include/clc/async/gentype.inc
  libclc/generic/include/clc/clc.h
  libclc/generic/include/clc/integer/gentype.inc
  libclc/generic/include/core/convert.h
  libclc/generic/include/core/integer/clc_upsample.h
  libclc/generic/include/integer/unary_intrin.inc
  libclc/generic/include/lp64_types.h
  libclc/generic/include/types.h
  libclc/generic/lib/gen_convert.py
  libclc/generic/libspirv/core/integer/clc_add_sat.cl
  libclc/generic/libspirv/core/integer/clc_mad_sat.cl
  libclc/generic/libspirv/core/integer/clc_mul_hi.cl
  libclc/generic/libspirv/core/integer/clc_sub_sat.cl
  libclc/generic/libspirv/core/integer/clc_upsample.cl
  libclc/generic/libspirv/gen_convert.py
  libclc/generic/libspirv/integer/clz.cl
  libclc/generic/libspirv/integer/ctz.cl
  libclc/generic/libspirv/integer/upsample.cl
  libclc/generic/libspirv/math/maxmag.inc
  libclc/generic/libspirv/math/minmag.inc
  libclc/generic/libspirv/misc/shuffle.cl
  libclc/generic/libspirv/misc/shuffle2.cl
  libclc/generic/libspirv/relational/all.cl
  libclc/generic/libspirv/relational/any.cl
  libclc/generic/libspirv/relational/genbinrelational.inc
  libclc/generic/libspirv/relational/genunary.inc
  libclc/generic/libspirv/shared/vload.cl
  libclc/generic/libspirv/shared/vstore.cl
  libclc/ptx-nvidiacl/libspirv/integer/mul_hi.cl
  libclc/ptx-nvidiacl/libspirv/relational/isfinite.cl
  libclc/ptx-nvidiacl/libspirv/relational/isinf.cl
  libclc/ptx-nvidiacl/libspirv/relational/isnan.cl
  sycl/include/CL/__spirv/spirv_ops.hpp
Labels: libclc

#4293 [SYCL] Add support for NVPTX device printf
  clang/lib/CodeGen/CGGPUBuiltin.cpp
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/CodeGenSYCL/Inputs/sycl.hpp
  clang/test/CodeGenSYCL/nvptx-printf.cpp
  sycl/include/sycl/ext/oneapi/experimental/builtins.hpp
Labels: cuda

#4237 SYCL_INTEL_bf16_conversion spec
  sycl/doc/extensions/Bf16Conversion/SYCL_INTEL_bf16_conversion.asciidoc
Labels: spec extension, Documentation

#4326 [SYCL][Doc] Modernize LocalMemory extension
  sycl/doc/extensions/LocalMemory/LocalMemory.asciidoc
  sycl/doc/extensions/LocalMemory/README.md
  sycl/doc/extensions/README.md
Labels: spec extension, Documentation

#4372 [SYCL][libclc] Fix remangled libclc files not being correctly installed
  libclc/CMakeLists.txt
Labels: cuda, libclc, rocm

#4378 [SYCL][LIBCLC] Add atomic builtins for amdgcn-amdhsa
  libclc/amdgcn-amdhsa/libspirv/SOURCES
  libclc/amdgcn-amdhsa/libspirv/atomic/loadstore_helpers.ll
  libclc/amdgcn-amdhsa/libspirv/cl_khr_int64_extended_atomics/minmax_helpers.ll
Labels: libclc, rocm

#4163 [SYCL][ROCm] Setup lit tests for ROCm plugin
  sycl/doc/GetStartedGuide.md
  sycl/test/CMakeLists.txt
  sycl/test/basic_tests/built-ins.cpp
  sycl/test/esimd/odr.cpp
  sycl/test/extensions/group-algorithm.cpp
  sycl/test/lit.cfg.py
  sycl/test/on-device/CMakeLists.txt
  sycl/test/on-device/back_to_back_collectives.cpp
  sycl/test/on-device/basic_tests/aspects.cpp
  sycl/test/on-device/basic_tests/specialization_constants/host_apis.cpp
  sycl/test/on-device/basic_tests/specialization_constants/kernel_lambda_with_kernel_handler_arg.cpp
  sycl/test/on-device/basic_tests/specialization_constants/non_native/aot_w_kernel_handler_wo_spec_consts.cpp
  sycl/test/on-device/basic_tests/specialization_constants/non_native/gpu.cpp
  sycl/test/on-device/extensions/intel-ext-device.cpp
  sycl/test/on-device/group_algorithms_sycl2020/all_of.cpp
  sycl/test/on-device/group_algorithms_sycl2020/any_of.cpp
  sycl/test/on-device/group_algorithms_sycl2020/exclusive_scan.cpp
  sycl/test/on-device/group_algorithms_sycl2020/group_broadcast.cpp
  sycl/test/on-device/group_algorithms_sycl2020/inclusive_scan.cpp
  sycl/test/on-device/group_algorithms_sycl2020/none_of.cpp
  sycl/test/on-device/group_algorithms_sycl2020/permute_select.cpp
  sycl/test/on-device/group_algorithms_sycl2020/reduce.cpp
  sycl/test/on-device/group_algorithms_sycl2020/shift_left_right.cpp
  sycl/test/on-device/lit.cfg.py
  sycl/test/on-device/span/span.cpp
  sycl/test/on-device/srgb/srgba-read.cpp
  sycl/unittests/SYCL2020/KernelBundle.cpp
  sycl/unittests/SYCL2020/SpecConstDefaultValues.cpp
  sycl/unittests/misc/KernelBuildOptions.cpp
  sycl/unittests/pi/BackendString.hpp
  sycl/unittests/pi/EnqueueMemTest.cpp
  sycl/unittests/program_manager/itt_annotations.cpp
  sycl/unittests/scheduler/RequiredWGSize.cpp
Labels: rocm

#3563 [SYCL][CUDA] Don't infer memcpy src/dst pitches from copied region
  sycl/plugins/cuda/pi_cuda.cpp
Labels: cuda, runtime
