Repository intel/llvm, pull requests merged in 2022-04, with the labels that each got.

#5950 [SYCL][Doc] Add auto_local_range extension
  sycl/doc/extensions/proposed/sycl_ext_oneapi_auto_local_range.asciidoc
Labels: spec extension

#5860 [SYCL][Doc] Create sycl_ext_oneapi_queue_status_query.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_oneapi_queue_status_query.asciidoc
Labels: enhancement, spec extension, Documentation

#4563 [SYCL][CUDA] Improve error message for exceeding CUDA grid limits
  sycl/source/detail/error_handling/enqueue_kernel.cpp
Labels: cuda, runtime

#5983 [SYCL][Doc] Deprecate extended atomics extension
  sycl/doc/extensions/deprecated/sycl_ext_oneapi_extended_atomics.asciidoc
  sycl/doc/extensions/supported/sycl_ext_oneapi_extended_atomics.asciidoc
Labels: spec extension
