Repository intel/llvm, pull requests merged in 2022-05, with the labels that each got.

#5043 [SYCL][CUDA] Ignore cuda prefetch hint if not supported
  sycl/include/CL/sycl/detail/pi.def
  sycl/include/CL/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/common.cpp
  sycl/source/detail/plugin.hpp
  sycl/test/abi/pi_level_zero_symbol_check.dump
  sycl/test/abi/pi_opencl_symbol_check.dump
  sycl/tools/sycl-trace/pi_trace_collector.cpp
Labels: cuda

#6153 [SYCL][Build] Add --enable-all-llvm-targets switch to configure.py
  buildbot/configure.py
  sycl/doc/GetStartedGuide.md
Labels: cuda, hip

#6127 [SYCL][HIP] Vendor ID for AMD devices is expected to be 4098
  sycl/plugins/hip/pi_hip.cpp
Labels: hip
