Repository intel/llvm, pull requests merged in 2022-11, with the labels that each got.

#7189 [SYCL-MLIR][NFC] Refactor code visiting arithmetic binary operators
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/Expressions.def
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/binop.c
Labels: sycl-mlir

#7250 [SYCL-MLIR] Handle `__builtin_assume`
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
Labels: sycl-mlir

#7126 [SYCL-MLIR]: FunctionType and Attributes Infrastructure
  polygeist/tools/cgeist/Lib/Attributes.cc
  polygeist/tools/cgeist/Lib/Attributes.h
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
Labels: sycl-mlir

#7257 [SYCL-MLIR][NFC] Use `clang::Builtin` enum when possible
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#7263 [SYCL-MLIR]: Attach attributes to function parameters and return value.
  polygeist/tools/cgeist/Lib/Attributes.h
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#7267 [SYCL-MLIR] Support _Float16 type
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/float16.c
Labels: sycl-mlir

#7274 [SYCL-MLIR] Use SmallString<0> to store arguments in ArgumentList
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/defines.c
Labels: sycl-mlir

#7283 [SYCL-MLIR][NFC]: Code cleanup
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
Labels: sycl-mlir

#7303 [SYCL-MLIR]: Runtime workaround for paralllel_for
  sycl/include/sycl/accessor.hpp
Labels: sycl-mlir

#7271 [SYCL-MLIR] Promote F16 to F32 before arithmetic binary operations
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/float16.c
Labels: sycl-mlir

#7306 [SYCL-MLIR]: Remove unroll directive in accessor.hpp
  sycl/include/sycl/accessor.hpp
Labels: sycl-mlir

#7305 [SYCL-MLIR] Use GlobalVarAddressSpace for globals
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#7320 [SYCL-MLIR][NFC]: Move functions used by VisitCallExpr to CGCall.cc
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7323 [SYCL-MLIR][NFC]: Code cleanup CGCall.cc and clang-mlir.h
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
Labels: sycl-mlir

#7326 [SYCL-MLIR] Generate memref with no shape for non-array (and non-vector) element types
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/globals.c
  polygeist/tools/cgeist/Test/Verification/loop.cpp
  polygeist/tools/cgeist/Test/Verification/staticint.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#7285 [SYCL-MLIR] Fix compound assignment operators
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/canonicalization.c
  polygeist/tools/cgeist/Test/Verification/capture.cpp
  polygeist/tools/cgeist/Test/Verification/compoundassign.c
  polygeist/tools/cgeist/Test/Verification/compoundassign.cpp
  polygeist/tools/cgeist/Test/Verification/float16.c
Labels: sycl-mlir

#7339 [SYCL-MLIR]: constructAttributeList returns CallingConv
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
Labels: sycl-mlir

#7342 [SYCL-MLIR] Use `VectorType` for `ext_vector_type`
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/ext_vector_type.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#7341 [SYCL-MLIR]: Set alignment and const on global variables
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/ext_vector_type.cpp
  polygeist/tools/cgeist/Test/Verification/global.c
  polygeist/tools/cgeist/Test/Verification/globals.c
  polygeist/tools/cgeist/Test/Verification/loop.cpp
  polygeist/tools/cgeist/Test/Verification/multidim_init.c
  polygeist/tools/cgeist/Test/Verification/static.c
  polygeist/tools/cgeist/Test/Verification/staticint.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#7286 [SYCL-MLIR] Add special casting to bool
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/binaryaddptr.c
  polygeist/tools/cgeist/Test/Verification/compoundassign.c
Labels: sycl-mlir

#7363 [SYCL-MLIR] Add stream-[copy|triad] lit tests
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
Labels: sycl-mlir

#7361 [SYCL-MLIR]: Zero initialize global variables
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/global.c
  polygeist/tools/cgeist/Test/Verification/globals.c
  polygeist/tools/cgeist/Test/Verification/loop.cpp
  polygeist/tools/cgeist/Test/Verification/static.c
Labels: sycl-mlir

#7387 [SYCL-MLIR] Rename SYCLConstructorOp and SYCLCallOp attributes
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-call-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructor-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/constructor.mlir
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/lib/polygeist/Passes/ConvertToLLVMABI.cpp
  polygeist/test/polygeist-opt/sycl/convertToLLVMABI.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7395 [SYCL-MLIR]: Fix naming ambiguity
  polygeist/include/polygeist/Ops.h
Labels: sycl-mlir

#7400 [SYCL-MLIR}: Remove unnecessary code
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7398 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_containers.yaml
  .github/workflows/sycl_nightly.yml
  .github/workflows/sycl_precommit.yml
  devops/containers/ubuntu2204_preinstalled.Dockerfile
  libclc/ptx-nvidiacl/libspirv/atomic/atomic_helpers.h
  sycl/doc/GetStartedGuide.md
  sycl/include/sycl/info/info_desc.hpp
  sycl/include/sycl/queue.hpp
  sycl/include/sycl/reduction.hpp
  sycl/include/sycl/reduction_forward.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/source/detail/kernel_info.hpp
  sycl/unittests/queue/CMakeLists.txt
  sycl/unittests/queue/ShortcutFunctions.cpp
Labels: sycl-mlir

#7408 [SYCL-MLIR] Fix `memref2pointer(subindex)` optimization
  polygeist/lib/polygeist/Ops.cpp
  polygeist/test/polygeist-opt/invalid_canonicalization.mlir
Labels: sycl-mlir

#7424 [SYCL-MLIR] Implement `CommonFieldLookup` for `NdRangeType`
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7098 [SYCL][Doc] Add kernel fusion extension proposal
  sycl/doc/extensions/experimental/sycl_ext_codeplay_kernel_fusion.asciidoc
Labels: spec extension

#7371 [SYCL-MLIR] Make SYCLMethodInterfaceOp's MangledFunctionName optional
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpInterfaces.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsDialect.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
Labels: sycl-mlir

#7432 [SYCL-MLIR] Add sycl::vec support in the SYCL dialect
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsAlias.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/types.mlir
Labels: sycl-mlir

#7444 [SYCL-MLIR] Implement `sycl.accessor_subscript` type
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsAlias.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7451 [SYCL-MLIR]: Remove -no-opt-mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/affine_loop.c
  polygeist/tools/cgeist/Test/Verification/base_with_virt.cpp
  polygeist/tools/cgeist/Test/Verification/base_with_virt2.cpp
  polygeist/tools/cgeist/Test/Verification/canonicalization.c
  polygeist/tools/cgeist/Test/Verification/capture.cpp
  polygeist/tools/cgeist/Test/Verification/classrefmem.cpp
  polygeist/tools/cgeist/Test/Verification/consabi.cpp
  polygeist/tools/cgeist/Test/Verification/cudaglobalcodegen.cu
  polygeist/tools/cgeist/Test/Verification/dynalloc.c
  polygeist/tools/cgeist/Test/Verification/fscanf.c
  polygeist/tools/cgeist/Test/Verification/hist.c
  polygeist/tools/cgeist/Test/Verification/ident.cpp
  polygeist/tools/cgeist/Test/Verification/loop.cpp
  polygeist/tools/cgeist/Test/Verification/nus.c
  polygeist/tools/cgeist/Test/Verification/ptraddsub.c
  polygeist/tools/cgeist/Test/Verification/ref.cpp
  polygeist/tools/cgeist/Test/Verification/refptrabi.cpp
  polygeist/tools/cgeist/Test/Verification/reverseRaise.c
  polygeist/tools/cgeist/Test/Verification/scor.c
  polygeist/tools/cgeist/Test/Verification/sgesv.c
  polygeist/tools/cgeist/Test/Verification/signcmp.c
  polygeist/tools/cgeist/Test/Verification/snus.c
  polygeist/tools/cgeist/Test/Verification/stream.cu
  polygeist/tools/cgeist/Test/Verification/tobits.c
  polygeist/tools/cgeist/Test/Verification/whiletofor.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/2mm/2mm.c
  polygeist/tools/cgeist/Test/polybench/medley/floyd-warshall/floyd-warshall.c
  polygeist/tools/cgeist/Test/polybench/stencils/jacobi-1d/jacobi-1d.c
  polygeist/tools/cgeist/Test/polybench/stencils/jacobi-2d/jacobi-2d.c
  polygeist/tools/cgeist/Test/polybench/stencils/seidel-2d/seidel-2d.c
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7457 [SYCL-MLIR] Allow `sycl.cast(sycl.accessor) -> sycl.accessor_common`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-cast-to-llvm.mlir
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7459 [SYCL-MLIR][NFC] Rename `SYCLConstructorOp` `Type` attribute to `TypeName`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructor-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/constructor.mlir
  polygeist/test/polygeist-opt/sycl/convertToLLVMABI.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7452 [SYCL-MLIR] Run `buildO0DefaultPipeline` for `OptimizationLevel::O0`
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/single_task.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7458 [SYCL-MLIR] Change the default behavior to generate all SYCL functions if not explicitly mark unsupported
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
Labels: sycl-mlir

#7470 [SYCL-MLIR] Load Vector dialect
  polygeist/lib/polygeist/Passes/CMakeLists.txt
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7421 [SYCL-MLIR] Improve CodeGen for Add and Sub expressions
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/add.c
  polygeist/tools/cgeist/Test/Verification/ptrarith.c
  polygeist/tools/cgeist/Test/Verification/sub.c
Labels: sycl-mlir

#7472 [SYCL-MLIR] Fix bug when picking wrong SYCLMethodOp parent
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7461 [SYCL-MLIR]: Allow cgeist to pass -mllvm to BE toolchain.
  polygeist/tools/cgeist/Test/Verification/sycl/inline.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7488 [SYCL-MLIR] Remove some unsupported functions
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7492 [SYCL-MLIR][NFC]: Code Cleanup
  polygeist/tools/cgeist/Lib/AffineUtils.cc
  polygeist/tools/cgeist/Lib/AffineUtils.h
  polygeist/tools/cgeist/Lib/IfScope.cc
  polygeist/tools/cgeist/Lib/IfScope.h
  polygeist/tools/cgeist/Lib/pragmaHandler.cc
  polygeist/tools/cgeist/Lib/pragmaHandler.h
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
Labels: sycl-mlir

#7479 [SYCL-MLIR]: Support option -w (suppress all warnings)
  clang/lib/Driver/ToolChains/Clang.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/options.cpp
  polygeist/tools/cgeist/driver.cc
Labels: ignore-lint, sycl-mlir

#7494 [SYCL-MLIR][NFC]: Cleanup code
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
Labels: sycl-mlir

#7499 [SYCL-MLIR][NFC]: Code cleanup
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/IfScope.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7497 [SYCL-MLIR] Fix unsupported functions
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7506 [SYCL-MLIR] Avoid collision of SYCL types names when lowering
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
Labels: sycl-mlir

#7519 [SYCL-MLIR] Use `-w` instead of redirecting stderr to `/dev/null`
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/inline.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/single_task.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
Labels: sycl-mlir

#7507 [SYCL-MLIR] Handle vector splat casts
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Test/Verification/vecsplat.c
Labels: sycl-mlir

#7448 [SYCL-MLIR] Promote f16 operands of unary arithmetic expressions
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/Expressions.def
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/float16.c
  polygeist/tools/cgeist/Test/Verification/imag.c
  polygeist/tools/cgeist/Test/Verification/imag_complex.c
  polygeist/tools/cgeist/Test/Verification/minus.c
  polygeist/tools/cgeist/Test/Verification/plus.c
  polygeist/tools/cgeist/Test/Verification/real.c
  polygeist/tools/cgeist/Test/Verification/real_complex.c
Labels: sycl-mlir

#7535 [SYCL-MLIR] Fix build with clang
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#7536 [SYCL-MLIR]: Remove mlir inlining pass
  polygeist/tools/cgeist/Test/Verification/base_with_virt.cpp
  polygeist/tools/cgeist/Test/Verification/base_with_virt2.cpp
  polygeist/tools/cgeist/Test/Verification/classrefmem.cpp
  polygeist/tools/cgeist/Test/Verification/consabi.cpp
  polygeist/tools/cgeist/Test/Verification/cudaglobalcodegen.cu
  polygeist/tools/cgeist/Test/Verification/ident.cpp
  polygeist/tools/cgeist/Test/Verification/no_inline.c
  polygeist/tools/cgeist/Test/Verification/refptrabi.cpp
  polygeist/tools/cgeist/Test/Verification/stream.cu
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7554 [SYCL-MLIR] Enable C++ 17 support in the SYCL dialect
  mlir-sycl/CMakeLists.txt
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
Labels: sycl-mlir

#7532 [SYCL-MLIR] Allow usage of init lists for vectors
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/ext_vector_type.cpp
  polygeist/tools/cgeist/Test/Verification/vecinit.cl
  polygeist/tools/cgeist/Test/Verification/vecinit.cpp
Labels: sycl-mlir

#7560 [SYCL-MLIR] Add calling convention to callsite
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/single_task.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
Labels: sycl-mlir

#7571 [SYCL-MLIR][NFC] Fix typo
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
Labels: sycl-mlir

#7540 [SYCL-MLIR] Allow accessing vector elements using array subscripts
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/vecaccess.c
Labels: sycl-mlir

#7545 [SYCL-MLIR]: Add Inliner Pass
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.h
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.td
  mlir-sycl/lib/Transforms/Inliner.cpp
  mlir-sycl/test/Transforms/inliner.mlir
  polygeist/tools/cgeist/Test/Verification/capture.cpp
  polygeist/tools/cgeist/Test/Verification/cudaglobalcodegen.cu
  polygeist/tools/cgeist/Test/Verification/ident.cpp
  polygeist/tools/cgeist/Test/Verification/stream.cu
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7580 [SYCL-MLIR][NFC]: Fix clang-tidy warning in driver.cc
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7570 [SYCL-MLIR] Improve warning and debug messages
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7574 [SYCL-MLIR] Avoid evaluating expressions only used on supressed warnings
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7584 [SYCL-MLIR] Fix build warnings
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
Labels: sycl-mlir

#7581 [SYCL-MLIR] Implement SYCL `GetOp` and `GetScalarOp` types
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsAlias.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/types.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#7577 [SYCL-MLIR][NFC] Refactor CommonFieldLookup for SYCL type
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
Labels: sycl-mlir
