Repository intel/llvm, pull requests merged in 2022-01, with the labels that each got.

#5108 [SYCL][Doc] Add ComplexAlgorithms extension
  sycl/doc/extensions/ComplexAlgorithms/ComplexAlgorithms.asciidoc
Labels: spec extension

#3976 [SPIR-V][Doc] Add SPV_INTEL_debug_module spec
  sycl/doc/extensions/SPIRV/SPV_INTEL_debug_module.asciidoc
Labels: spec extension, SPIR-V

#4853 [SYCL][PI][CUDA] Update queries for atomic order and scope for CUDA
  sycl/include/CL/sycl/detail/pi.h
  sycl/include/CL/sycl/info/context_traits.def
  sycl/include/CL/sycl/info/device_traits.def
  sycl/include/CL/sycl/info/info_desc.hpp
  sycl/include/CL/sycl/memory_enums.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/context_impl.cpp
  sycl/source/detail/device_info.hpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: cuda

#5353 [SYCL][Doc] Clarify InvokeSIMD + SYCL_EXTERNAL
  sycl/doc/extensions/InvokeSIMD/InvokeSIMD.asciidoc
Labels: spec extension

#5343 [SYCL][Doc] Update KernelProperties extension
  sycl/doc/extensions/KernelProperties/KernelProperties.asciidoc
Labels: spec extension

#5188 [CUDA] Make PTXAS optimisation default to -O3
  clang/lib/Driver/ToolChains/Cuda.cpp
  clang/test/Driver/cuda-external-tools.cu
Labels: cuda

#5227 [Doc] Add SPV_INTEL_non_constant_addrspace_printf spec
  sycl/doc/extensions/SPIRV/SPV_INTEL_non_constant_addrspace_printf.asciidoc
Labels: spec extension, Documentation, SPIR-V
