Repository intel/llvm, pull requests merged in 2023-10, with the labels that each got.

#11394 [SYCL-MLIR][sycl] Define alias for `host_task` attribute
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/test/Dialect/SYCL/types.mlir
Labels: sycl-mlir

#11396 [SYCL-MLIR][cgeist][test] Fix `Verification/sycl/undeftypes.cpp`
  polygeist/tools/cgeist/Test/Verification/sycl/undeftypes.cpp
Labels: sycl-mlir

#11395 [SYCL-MLIR][sycl] Define `SYCLType` base class for `sycl` dialect types
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Dialect/SYCL/Analysis/AliasAnalysis.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#11392 [SYCL-MLIR] Update xfail list
  sycl/test-e2e/Assert/assert_in_kernels.cpp
  sycl/test-e2e/Assert/assert_in_multiple_tus.cpp
  sycl/test-e2e/Assert/assert_in_multiple_tus_one_ndebug.cpp
  sycl/test-e2e/Assert/assert_in_one_kernel.cpp
  sycl/test-e2e/Assert/assert_in_simultaneous_kernels.cpp
  sycl/test-e2e/Assert/assert_in_simultaneously_multiple_tus.cpp
  sycl/test-e2e/Assert/assert_in_simultaneously_multiple_tus_one_ndebug.cpp
  sycl/test-e2e/DeviceLib/imf_bfloat16_integeral_convesions.cpp
  sycl/test-e2e/GroupAlgorithm/SYCL2020/reduce_over_group_size.cpp
  sycl/test-e2e/HierPar/hier_par_wgscope.cpp
  sycl/test-e2e/Reduction/reduction_big_data.cpp
  sycl/test-e2e/Reduction/reduction_nd_conditional.cpp
  sycl/test-e2e/Reduction/reduction_nd_dw.cpp
  sycl/test-e2e/Reduction/reduction_nd_queue_shortcut.cpp
  sycl/test-e2e/Reduction/reduction_nd_reducer_skip.cpp
  sycl/test-e2e/Reduction/reduction_range_1d_reducer_skip.cpp
  sycl/test-e2e/Reduction/reduction_range_2d_dw.cpp
  sycl/test-e2e/Reduction/reduction_range_2d_dw_reducer_skip.cpp
  sycl/test-e2e/Reduction/reduction_range_3d_rw.cpp
  sycl/test-e2e/Reduction/reduction_range_3d_rw_reducer_skip.cpp
  sycl/test-e2e/Reduction/reduction_range_usm_dw.cpp
  sycl/test-e2e/Reduction/reduction_reducer_op_eq.cpp
  sycl/test-e2e/Reduction/reduction_usm_dw.cpp
  sycl/test-e2e/SubGroup/scan_spirv13.cpp
  sycl/test-e2e/SubGroup/shuffle.cpp
  sycl/test-e2e/USM/memops2d/copy2d_common.hpp
  sycl/test-e2e/USM/memops2d/memcpy2d_common.hpp
  sycl/test-e2e/syclcompat/atomic/atomic_minmax.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11403 [SYCL-MLIR] Update xfail list
  sycl/test-e2e/Graph/RecordReplay/buffer_ordering.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11401 [SYCL-MLIR][cgeist] Omit clang ignored arguments
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/omitarg.cpp
Labels: sycl-mlir

#11391 [SYCL-MLIR] Revert move alloca to the beginning of function
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  polygeist/tools/cgeist/Test/CMakeLists.txt
  polygeist/tools/cgeist/Test/Verification/move_alloca_to_top.cpp
Labels: sycl-mlir

#11440 [SYCL-MLIR][cgeist] Early drop host code by default when raising
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/nop_kernel.hpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_captures.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_id_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_index.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_pipeline.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_offset.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_schedule_kernel.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_use_host_module.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#11484 [SYCL-MLIR] Fix ternary operator on bool members
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/ternary_member.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11515 [SYCL-MLIR] Merge from intel/llvm sycl branch
  clang/lib/CodeGen/CodeGenModule.h
  clang/test/CodeGenSYCL/simple-sycl-virtual-function.cpp
  clang/test/CodeGenSYCL/virtual-types.cpp
  sycl-fusion/jit-compiler/lib/KernelFusion.cpp
  sycl-fusion/passes/kernel-fusion/Builtins.cpp
  sycl-fusion/passes/kernel-fusion/Builtins.h
  sycl-fusion/passes/kernel-fusion/SYCLKernelFusion.cpp
  sycl-fusion/passes/target/TargetFusionInfo.cpp
  sycl-fusion/passes/target/TargetFusionInfo.h
  sycl-fusion/test/kernel-fusion/check-failed-remapping-cuda.ll
  sycl-fusion/test/kernel-fusion/check-remapping-cuda.ll
  sycl-fusion/test/kernel-fusion/check-remapping-interproc-cuda.ll
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/detail/boolean.hpp
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/type_list.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/intel/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/fpga_annotated_properties.hpp
  sycl/include/sycl/ext/intel/experimental/fpga_mem/fpga_mem.hpp
  sycl/include/sycl/ext/oneapi/device_global/device_global.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_arg/annotated_arg.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_ptr/annotated_ptr.hpp
  sycl/include/sycl/ext/oneapi/experimental/builtins.hpp
  sycl/include/sycl/ext/oneapi/experimental/cuda/non_uniform_algorithms.hpp
  sycl/include/sycl/ext/oneapi/experimental/user_defined_reductions.hpp
  sycl/include/sycl/ext/oneapi/functional.hpp
  sycl/include/sycl/ext/oneapi/properties/properties.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/known_identity.hpp
  sycl/include/sycl/queue.hpp
  sycl/include/sycl/reduction.hpp
  sycl/include/sycl/types.hpp
  sycl/source/detail/builtins_geometric.cpp
  sycl/source/detail/builtins_relational.cpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/RecordReplay/barrier_with_work.cpp
  sycl/test-e2e/InvokeSimd/Regression/ImplicitSubgroup/slm_load_store.cpp
  sycl/test-e2e/KernelFusion/different_nd_ranges.cpp
  sycl/test-e2e/Matrix/SG32/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/XMX8/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/get_coord_int8_matB.cpp
  sycl/test-e2e/Matrix/get_coord_int8_matB_impl.hpp
  sycl/test-e2e/Reduction/reduction_internal.cpp
  sycl/test-e2e/Reduction/reduction_range_N_vars.cpp
  sycl/test-e2e/bindless_images/vulkan_interop/unsampled_images.cpp
  sycl/test-e2e/bindless_images/vulkan_interop/vulkan_common.hpp
  sycl/test/basic_tests/generic_type_traits.cpp
  sycl/test/native_cpu/no-opt.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: sycl-mlir

#11524 [SYCL-MLIR] pulldown (20231012)
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/lib/Driver/ToolChains/SYCL.h
  clang/test/CodeGenSYCL/native_cpu_mangling.cpp
  clang/test/Driver/sycl-offload-new-driver.c
  clang/test/Driver/sycl-offload.c
  llvm/lib/SYCLLowerIR/PrepareSYCLNativeCPU.cpp
  llvm/utils/git/requirements.txt
  llvm/utils/git/requirements_formatting.txt
  sycl/doc/extensions/experimental/sycl_ext_matrix/sycl_ext_intel_matrix.asciidoc
  sycl/doc/extensions/experimental/sycl_ext_matrix/sycl_ext_oneapi_matrix.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_intel_cache_controls.asciidoc
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/queue.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/detail/sycl_mem_obj_t.cpp
  sycl/source/detail/sycl_mem_obj_t.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Basic/host_defer_copy.cpp
  sycl/test-e2e/ESIMD/api/functional/common.hpp
  sycl/test-e2e/ProgramManager/uneven_kernel_split.cpp
  sycl/test-e2e/Regression/half_operators.cpp
  sycl/test-e2e/USM/math.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: ignore-lint, sycl-mlir

#11490 [SYCL] Add pass that remove compiler internal metadata
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/include/llvm/SYCLLowerIR/CleanupSYCLMetadata.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/CleanupSYCLMetadata.cpp
  llvm/test/SYCLLowerIR/CleanupSYCLCompilerInternalMetadata/aspects-md-in-two-nodes.ll
  llvm/test/SYCLLowerIR/CleanupSYCLCompilerInternalMetadata/multiple-aspects.ll
  sycl/test/extensions/properties/properties_kernel_device_has.cpp
  sycl/test/extensions/properties/properties_kernel_device_has_macro.cpp
  sycl/test/optional_kernel_features/atomic_ref-atomic64-aspect.cpp
  sycl/test/optional_kernel_features/esimd.cpp
  sycl/test/optional_kernel_features/half-aspect.cpp
Labels: ignore-lint

#11526 [SYCL-MLIR] Add basic std::complex<float> support
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Test/Verification/complex.cpp
  polygeist/tools/cgeist/Test/Verification/imag_complex.c
  polygeist/tools/cgeist/Test/Verification/real_complex.c
Labels: sycl-mlir

#11466 [SYCL][FUSION][DOC] Document fusion of kernels with different nd-ranges
  sycl/doc/design/KernelFusionJIT.md
Labels: Documentation

#11550 [SYCL-MLIR] Support bitwise-not on integer vectors
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/vector_not.cpp
Labels: sycl-mlir

#11547 [SYCL-MLIR][cgeist] Revamp `bitcast` cast kind
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/calloc.c
  polygeist/tools/cgeist/Test/Verification/fscanf.c
  polygeist/tools/cgeist/Test/Verification/fw.c
  polygeist/tools/cgeist/Test/Verification/fwfree.c
  polygeist/tools/cgeist/Test/Verification/malloc.c
  polygeist/tools/cgeist/Test/Verification/palloc.c
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/polybench/datamining/correlation/correlation.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/2mm/2mm.c
  polygeist/tools/cgeist/Test/polybench/medley/nussinov/nussinov.c
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11577 [SYCL-MLIR] Suppress environment suffix to be passed to `clang-offload-deps`
  clang/lib/Driver/ToolChains/Clang.cpp
Labels: sycl-mlir

#11612 [SYCL-MLIR][cgeist] Lower memcpyable constructors to memcpy intrinsic
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/complex.cpp
  polygeist/tools/cgeist/Test/Verification/consabi.cpp
  polygeist/tools/cgeist/Test/Verification/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/memcpyconstructor.cpp
  polygeist/tools/cgeist/Test/Verification/refptrabi.cpp
  polygeist/tools/cgeist/Test/Verification/reinterpret_cast.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
  polygeist/tools/cgeist/Test/elaborated-init.cpp
Labels: sycl-mlir

#11645 [SYCL-MLIR][NFC] Drop unwanted diffs w.r.t. `llvm-project/sycl`
  mlir/lib/Dialect/Vector/Utils/VectorUtils.cpp
  mlir/lib/Dialect/X86Vector/Transforms/AVXTranspose.cpp
  mlir/test/Dialect/Vector/vector-transpose-lowering.mlir
Labels: sycl-mlir

#11628 [SYCL-MLIR][cgeist] Codegen specific memcpyable `sycl` constructors
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/array-capture.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11648 [SYCL-MLIR] pulldown (20231024)
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Sema/SemaStmt.cpp
  clang/test/CodeGenSYCL/native_cpu_as.cpp
  clang/test/Driver/sycl-add-default-spec-consts-image.cpp
  clang/test/SemaSYCL/intel-fpga-enable-loop-pipelining-ast.cpp
  clang/test/SemaSYCL/intel-fpga-loop-ast.cpp
  clang/test/SemaSYCL/sycl-seh.cpp
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
  libclc/CMakeLists.txt
  libclc/x86_64-unknown-linux/libspirv/SOURCES
  libclc/x86_64-unknown-linux/libspirv/integer/helpers.h
  libclc/x86_64-unknown-linux/libspirv/integer/popcount.cl
  libclc/x86_64-unknown-linux/libspirv/math/ceil.cl
  libclc/x86_64-unknown-linux/libspirv/math/fabs.cl
  libclc/x86_64-unknown-linux/libspirv/math/floor.cl
  libclc/x86_64-unknown-linux/libspirv/math/fma.cl
  libclc/x86_64-unknown-linux/libspirv/math/helpers.h
  libclc/x86_64-unknown-linux/libspirv/math/native_cos.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_exp.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_exp2.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_log.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_log10.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_log2.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_sin.cl
  libclc/x86_64-unknown-linux/libspirv/math/native_sqrt.cl
  libclc/x86_64-unknown-linux/libspirv/math/rint.cl
  libclc/x86_64-unknown-linux/libspirv/math/round.cl
  libclc/x86_64-unknown-linux/libspirv/math/sqrt.cl
  libclc/x86_64-unknown-linux/libspirv/math/trunc.cl
  libclc/x86_64-unknown-linux/libspirv/shared/helpers.ll
  llvm/utils/git/requirements_formatting.txt
  polygeist/tools/cgeist/Test/Verification/ptrinitlist.cpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/queue_impl.hpp
  sycl/test-e2e/Basic/nested_queue_submit.cpp
  sycl/test-e2e/Matrix/common.hpp
  sycl/test-e2e/SpecConstants/2020/image_selection.cpp
  sycl/test-e2e/xfail_tests.txt
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: ignore-lint, sycl-mlir

#11688 [SYCL-MLIR][cgeist] Extend set of sycl specific constructors codegened
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#11705 [SYCL][Fusion] Document unsupported features
  sycl/doc/design/KernelFusionJIT.md
  sycl/doc/extensions/experimental/sycl_ext_codeplay_kernel_fusion.asciidoc
Labels: Documentation

#11692 [SYCL-MLIR][sycl] Abstract-away casts from SYCL constructors memref operands
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/canonicalize.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/array-capture.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
Labels: sycl-mlir

#11702 [SYCL-MLIR] pulldown (20231028)
  llvm/lib/SYCLLowerIR/CompileTimeProperties.def
  llvm/lib/SYCLLowerIR/CompileTimePropertiesPass.cpp
  llvm/test/SYCLLowerIR/CompileTimePropertiesPass/prefetch.ll
  llvm/test/tools/sycl-post-link/spec-constants/nested-struct.ll
  llvm/test/tools/sycl-post-link/spec-constants/struct-with-padding-in-the-middle.ll
  llvm/tools/sycl-post-link/SpecConstants.cpp
  sycl/doc/design/CommandGraph.md
  sycl/doc/design/images/L0_UR_command-buffer.svg
  sycl/doc/extensions/experimental/sycl_ext_oneapi_bindless_images.asciidoc
  sycl/include/sycl/ext/oneapi/bindless_images.hpp
  sycl/include/sycl/handler.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/source/detail/bindless_images.cpp
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/detail/scheduler/scheduler.hpp
  sycl/test-e2e/Basic/large-range.cpp
  sycl/test-e2e/SpecConstants/2020/nested-non-packed-struct.cpp
  sycl/test-e2e/SpecConstants/2020/non-packed-struct-2.cpp
  sycl/test-e2e/bindless_images/vulkan_interop/sampled_images.cpp
  sycl/test-e2e/bindless_images/vulkan_interop/unsampled_images.cpp
  sycl/test-e2e/xfail_tests.txt
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/basic_tests/handler/parallel_for_args.cpp
  sycl/unittests/xpti_trace/QueueIDCheck.cpp
Labels: ignore-lint, sycl-mlir

#11723 [SYCL-MLIR][cgeist] Handle array to pointer decay with LLVM ABI
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Test/Verification/sycl/array-decay.cpp
Labels: sycl-mlir
