Repository intel/llvm, pull requests merged in 2023-06, with the labels that each got.

#9668 [SYCL-MLIR][NFC] Add dependency on mlir-translate
  sycl/CMakeLists.txt
Labels: sycl-mlir

#9687 [SYCL-MLIR] Add `check-clang-driver` in github check
  .github/workflows/sycl_linux_build_and_test.yml
Labels: sycl-mlir

#9650 [SYCL-MLIR]: Introduce a memory selector in the loop internalization pass
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9678 [SYCL-MLIR]: Teach the memory access analysis how to get the SYCL thread id from a sycl item.
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
Labels: sycl-mlir

#9686 [SYCL-MLIR][LoopInternalization] Only optimize innermost loop
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9673 [SYCL-MLIR] Refine isPromotable for polygeist mem2reg
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/test/polygeist-opt/llvmmem2reg.mlir
Labels: sycl-mlir

#9697 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_nightly.yml
  .github/workflows/sycl_post_commit.yml
  .github/workflows/sycl_precommit.yml
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/OffloadBundler.cpp
  clang/test/CodeGenSYCL/device_has.cpp
  devops/scripts/install_build_tools.sh
  libclc/ptx-nvidiacl/libspirv/SOURCES
  libclc/ptx-nvidiacl/libspirv/group/group_non_uniform.cl
  llvm/lib/SYCLLowerIR/SYCLPropagateAspectsUsage.cpp
  llvm/test/SYCLLowerIR/PropagateAspectsUsage/PropageteDeclaredAspects/propagate-declared-4.ll
  sycl/doc/developer/DockerBKMs.md
  sycl/doc/extensions/experimental/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/ext/oneapi/experimental/ballot_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/fixed_size_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/non_uniform_groups.hpp
  sycl/include/sycl/ext/oneapi/experimental/opportunistic_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/tangle_group.hpp
  sycl/include/sycl/ext/oneapi/sub_group_mask.hpp
  sycl/include/sycl/queue.hpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_mem.cpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/handler.cpp
  sycl/source/kernel.cpp
  sycl/source/queue.cpp
  sycl/test-e2e/Basic/accessor/accessor.cpp
  sycl/test-e2e/Basic/image/image_read.cpp
  sycl/test-e2e/Basic/image/image_read_fp16.cpp
  sycl/test-e2e/Basic/intel-ext-device.cpp
  sycl/test-e2e/ESIMD/ext_math.cpp
  sycl/test-e2e/ESIMD/ext_math_fast.cpp
  sycl/test-e2e/NonUniformGroups/ballot_group.cpp
  sycl/test-e2e/NonUniformGroups/fixed_size_group.cpp
  sycl/test-e2e/NonUniformGroups/opportunistic_group.cpp
  sycl/test-e2e/OptionalKernelFeatures/sycl-external-with-optional-features.cpp
  sycl/test-e2e/Plugin/interop-cuda-experimental.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/check_device_code/device_global_ptr_use.cpp
  sycl/test/check_device_code/usm_pointers.cpp
  sycl/test/extensions/bfloat16.cpp
  sycl/unittests/xpti_trace/CMakeLists.txt
  sycl/unittests/xpti_trace/NodeCreation.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
  sycl/unittests/xpti_trace/xptitest_subscriber/XPTISubscriber.cpp
Labels: ignore-lint, sycl-mlir

#9714 [SYCL-MLIR][NFC] Move `getUniqueSymbolName` to `TransformUtils`
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9712 [SYCL-MLIR] Add support of `sycl::reqd_work_group_size`
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/reqd_work_group_size.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9719 [SYCL-MLIR] Allow cast to generic for memref call arguments
  polygeist/tools/cgeist/Lib/CGCall.cc
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9730 [SYCL-MLIR] Only transform loops with shared memory accesses
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9744 [SYCL-MLIR]: Consider aliased store ops in MemorySelector
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#9749 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_windows_build_and_test.yml
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/lib/Sema/SPIRVBuiltins.td
  clang/test/Driver/sycl-offload.c
  devops/actions/e2e-tests/action.yml
  devops/actions/khronos_cts_test/action.yml
  devops/containers/ubuntu2204_preinstalled.Dockerfile
  libclc/ptx-nvidiacl/libspirv/group/collectives.cl
  libdevice/test/check_fp64.txt
  llvm/utils/git/requirements.txt
  sycl/CMakeLists.txt
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/detail/pi.hpp
  sycl/include/sycl/detail/spirv.hpp
  sycl/include/sycl/ext/intel/esimd/memory.hpp
  sycl/include/sycl/ext/oneapi/functional.hpp
  sycl/include/sycl/functional.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/known_identity.hpp
  sycl/include/sycl/properties/accessor_properties.hpp
  sycl/include/sycl/properties/image_properties.hpp
  sycl/pi_win_proxy_loader/CMakeLists.txt
  sycl/pi_win_proxy_loader/pi_win_proxy_loader.cpp
  sycl/pi_win_proxy_loader/pi_win_proxy_loader.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_queue.cpp
  sycl/source/CMakeLists.txt
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/os_util.cpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/windows_pi.cpp
  sycl/test-e2e/Basic/accessor/accessor.cpp
  sycl/test-e2e/ESIMD/api/functional/ctors/ctor_fill_core.cpp
  sycl/test-e2e/ESIMD/api/functional/ctors/ctor_fill_fp_extra.cpp
  sycl/test-e2e/ESIMD/api/replicate_smoke.cpp
  sycl/test-e2e/ESIMD/api/saturation_smoke.cpp
  sycl/test-e2e/ESIMD/ext_math_ieee_sqrt_div.cpp
  sycl/test-e2e/ESIMD/mandelbrot/mandelbrot.cpp
  sycl/test-e2e/ESIMD/mandelbrot/mandelbrot_spec.cpp
  sycl/test-e2e/ESIMD/regression/dgetrf.cpp
  sycl/test-e2e/ESIMD/regression/math_const_fix_test.cpp
  sycl/test-e2e/ESIMD/slm_alloc_many_kernels_many_funcs.cpp
  sycl/test-e2e/GroupAlgorithm/exclusive_scan_sycl2020.cpp
  sycl/test-e2e/GroupAlgorithm/inclusive_scan_sycl2020.cpp
  sycl/test-e2e/GroupAlgorithm/reduce_sycl2020.cpp
  sycl/test-e2e/Plugin/dll-detach-order.cpp
  sycl/test-e2e/Plugin/level_zero_queue_priority.cpp
  sycl/test/basic_tests/property_traits.cpp
  sycl/test/esimd/gather_scatter.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
  xpti/include/xpti/xpti_trace_framework.hpp
  xptifw/unit_test/CMakeLists.txt
Labels: ignore-lint, sycl-mlir

#9757 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_precommit.yml
  .github/workflows/sycl_windows_build_and_test.yml
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-nvptx-native-half-ty-opt.cpp
  sycl/doc/extensions/experimental/sycl_ext_oneapi_matrix/sycl_ext_oneapi_matrix.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_oneapi_append_and_shift.asciidoc
  sycl/include/sycl/multi_ptr.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/test-e2e/Plugin/sycl-ls-gpu-default-any.cpp
Labels: ignore-lint, sycl-mlir

#9682 [SYCL-MLIR][LoopInternalization] Obtain local memory
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLAttributes.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9763 [SYCL-MLIR][NFC]: Multiplier and Offset to use IntegerValueRange.
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
Labels: sycl-mlir

#9775 [SYCL-MLIR][LoopInternalization] Get local memory pointer without `reqd_work_group_size`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLAttributes.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9793 [SYCL-MLIR] Define `sycl.half` type
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/types.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/half.cpp
Labels: sycl-mlir

#9778 [SYCL-MLIR]: Memory access analysis integer range (part3)
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
Labels: sycl-mlir

#9803 [SYCL-MLIR] Add SYCL `Utils.[cpp|h]`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/include/mlir/Dialect/SYCL/Utils/Utils.h
  mlir-sycl/lib/Dialect/SYCL/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Utils/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Utils/Utils.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#9794 [SYCL-MLIR] Drop trailing underscore from simple unique aliases
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/types.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/half.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#9805 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_detect_changes.yml
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_precommit.yml
  .github/workflows/sycl_windows_build_and_test.yml
  llvm/test/SYCLLowerIR/ESIMD/lower_debug_info.ll
  sycl/include/sycl/multi_ptr.hpp
  sycl/test-e2e/lit.cfg.py
  sycl/test/multi_ptr/ctad.cpp
  sycl/test/regression/read_only_accessor_multi_ptr.cpp
Labels: ignore-lint, sycl-mlir

#9795 [SYCL-MLIR] Allow `sycl.half` as data type in `sycl.vec`
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/types.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/half.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9832 [SYCL-MLIR][LoopInternalization] Change to `gpuModule` pass
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#9817 [SYCL-MLIR]: Select memory space
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9827 [SYCL-MLIR]: Fix getKernelBodyFunc
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9838 [SYCL-MLIR] pulldown (20230613)
  llvm/test/tools/sycl-post-link/assert/indirect-with-split-2.ll
  llvm/test/tools/sycl-post-link/assert/indirect-with-split.ll
  llvm/test/tools/sycl-post-link/device-code-split/auto-module-split-2.ll
  llvm/test/tools/sycl-post-link/device-code-split/auto-module-split-3.ll
  llvm/test/tools/sycl-post-link/device-code-split/auto-module-split-func-ptr.ll
  llvm/test/tools/sycl-post-link/device-code-split/complex-indirect-call-chain.ll
  llvm/test/tools/sycl-post-link/device-code-split/vtable.ll
  llvm/test/tools/sycl-post-link/registerallocmode.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/invoke-esimd-double.ll
  llvm/test/tools/sycl-post-link/sycl-esimd/no-sycl-esimd-split-shared-func.ll
  llvm/tools/sycl-post-link/ModuleSplitter.cpp
  llvm/tools/sycl-post-link/ModuleSplitter.h
  llvm/tools/sycl-post-link/sycl-post-link.cpp
  sycl/ReleaseNotes.md
  sycl/include/sycl/detail/spirv.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/intel/esimd/memory.hpp
  sycl/include/sycl/ext/intel/experimental/esimd/memory.hpp
  sycl/include/sycl/ext/oneapi/experimental/cuda/non_uniform_algorithms.hpp
  sycl/include/sycl/ext/oneapi/experimental/fixed_size_group.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/handler.hpp
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/test-e2e/Basic/handler/handler_mem_op.cpp
  sycl/test-e2e/ESIMD/lsc/lsc_gather_scatter_stateless_64.cpp
  sycl/test-e2e/Matrix/element_wise_all_sizes_impl.hpp
  sycl/test-e2e/NonUniformGroups/ballot_group_algorithms.cpp
  sycl/test-e2e/NonUniformGroups/fixed_size_group_algorithms.cpp
  sycl/test-e2e/NonUniformGroups/opportunistic_group_algorithms.cpp
  sycl/test/basic_tests/reduction/reduction_range_deduction.cpp
Labels: ignore-lint, sycl-mlir

#9821 [SYCL-MLIR][LoopInternalization] Transformation code generation (part 2)
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9833 [SYCL-MLIR][LoopInternalization] Transformation code generation (part 3)
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9863 [SYCL-MLIR] Allow `index` as element type of `sycl.array`
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
Labels: sycl-mlir

#9868 [SYCL-MLIR][NFC] Remove unused variable definition
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#9865 [SYCL-MLIR][LoopInternalization] Fix transformation code generation
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9853 [SYCL-MLIR][NFC]: Use llvm::SmallSet rather than std::set in a few selected places
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9879 [SYCL-MLIR] Allow `llvm.array` as `memref` type in `polygeist`
  polygeist/test/polygeist-opt/types.mlir
  polygeist/tools/cgeist/driver.cc
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#9812 [SYCL][DOC] Add sycl_ext_oneapi_address_cast
  sycl/doc/extensions/proposed/sycl_ext_oneapi_address_cast.asciidoc
Labels: spec extension

#9862 [SYCL-MLIR][BareMemRefToLLVM] Convert `memref.view`
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering-typed-pointer.mlir
  polygeist/test/polygeist-opt/bareptrlowering.mlir
Labels: sycl-mlir

#9886 [SYCL-MLIR][LoopInternalization]: Version candidate loop
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
Labels: sycl-mlir

#9894 [SYCL-MLIR][LoopInternalization] Remove codegen dependency on `nd_item`
  mlir-sycl/include/mlir/Dialect/SYCL/Utils/Utils.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  mlir-sycl/lib/Dialect/SYCL/Utils/Utils.cpp
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9927 [SYCL-MLIR][LoopInternalization] Add limitations
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#9913 [SYCL-MLIR][NFC]: Use term 'shared memory' instead of 'local memory'
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9926 [SYCL-MLIR][NFC]: Remove getReqdLocalMemory function overloads
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#9930 [SYCL-MLIR][NFC] Use `sycl::constructSYCLID` in `VersionConditionBuilder`
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/detect-reduction-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
Labels: sycl-mlir

#9728 [SYCL][Graph] Add initial support for SYCL Graph (1/4)
  sycl/include/sycl/detail/cg.hpp
  sycl/include/sycl/detail/property_helper.hpp
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
  sycl/source/CMakeLists.txt
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/handler_impl.hpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/handler.cpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/abi/symbol_size_alignment.cpp
  sycl/unittests/Extensions/CMakeLists.txt
  sycl/unittests/Extensions/CommandGraph.cpp
  sycl/unittests/scheduler/Regression.cpp
Labels: abi-break

#9932 [SYCL-MLIR] Construct array member in-place in initializer lists
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/array-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/array-member.cpp
Labels: sycl-mlir

#9971 [SYCL-MLIR] pulldown (20230619)
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
Labels: ignore-lint, sycl-mlir

#9929 [SYCL-MLIR]: Loop internalization versioning (part 2)
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9956 [SYCL-MLIR][LoopInternalization] Simplify code generation
  mlir-sycl/include/mlir/Dialect/SYCL/Utils/Utils.h
  mlir-sycl/lib/Dialect/SYCL/Utils/Utils.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9940 [SYCL-MLIR] Fix `CommonArrayLookup` not expecting a decayed pointer
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/array-capture.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/array-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/array-member.cpp
Labels: sycl-mlir

#9985 [SYCL-MLIR] pulldown (20230620)
  devops/dependencies.json
  libclc/utils/libclc-remangler/LibclcRemangler.cpp
  sycl/doc/design/DeviceConfigFile.md
  sycl/doc/extensions/proposed/sycl_ext_oneapi_complex.asciidoc
  sycl/doc/index.rst
  sycl/include/sycl/ext/oneapi/experimental/sycl_complex.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/handler.hpp
  sycl/plugins/level_zero/CMakeLists.txt
  sycl/test-e2e/GroupAlgorithm/exclusive_scan_sycl2020.cpp
  sycl/test-e2e/GroupAlgorithm/inclusive_scan_sycl2020.cpp
  sycl/test-e2e/GroupAlgorithm/reduce_sycl2020.cpp
  sycl/test-e2e/GroupAlgorithm/support.h
  sycl/test/extensions/test_complex.cpp
Labels: ignore-lint, sycl-mlir

#9995 [SYCL-MLIR][IntegerRangeAnalysis] Loop UB may be uninitialized
  mlir/lib/Analysis/DataFlow/IntegerRangeAnalysis.cpp
  mlir/test/Dialect/Arith/int-range-interface.mlir
  mlir/test/lib/Transforms/TestIntRangeInference.cpp
Labels: sycl-mlir

#9993 [CI][MLIR] Fuse CPU/GPU E2E task + rename workflow
  .github/workflows/sycl_precommit.yml
  devops/test_configs.json
Labels: sycl-mlir

#10024 [SYCL-MLIR] Change handling of sycl::accessor with target::local
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Test/Verification/sycl/accessor-local.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#10005 [SYCL-MLIR][LICM] Always check that operations can be hoisted recursively
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
Labels: sycl-mlir

#10029 [SYCL-MLIR] Define `sycl.id.constructor` operation
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructors-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/constructors.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10038 [SYCL-MLIR]: Uniformity analysis (part1)
  polygeist/include/mlir/Dialect/Polygeist/Analysis/UniformityAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestUniformityAnalysis.cpp
  polygeist/test/polygeist-opt/uniformity.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#10056 [SYCL-MLIR][LoopInternalization] Restrict transformation
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
Labels: sycl-mlir

#10065 [SYCL-MLIR] pulldown (20230626)
  sycl/doc/extensions/experimental/sycl_ext_oneapi_device_global.asciidoc
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/detail/properties_traits.def
  sycl/source/feature_test.hpp.in
  sycl/test-e2e/ESIMD/bfn.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/buffer/MemChannel.cpp
Labels: ignore-lint, sycl-mlir

#10062 [SYCL-MLIR][NFC][LoopInternalization] Add an example
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#10046 [SYCL-MLIR] Restrict `MoveWhileToFor` `-canonicalize-scf-for` applicability
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/test/polygeist-opt/whiletofor.mlir
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9810 [SYCL-MLIR][MathOps] Model scalar math functions in `sycl` dialect
  mlir-sycl/include/mlir/Conversion/SYCLPasses.h
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToMath/SYCLToMath.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMathOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTraits.h
  mlir-sycl/lib/Conversion/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToMath/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToMath/SYCLToMath.cpp
  mlir-sycl/test/Conversion/SYCLToMath/math-ops.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/math-ops.mlir
  mlir-sycl/tools/sycl-mlir-opt/CMakeLists.txt
  polygeist/lib/Conversion/PolygeistToLLVM/CMakeLists.txt
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/math_funcs.cpp
Labels: sycl-mlir

#10053 [SYCL-MLIR][LoopInternalization] Fix code generation
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
Labels: sycl-mlir

#10089 [SYCL-MLIR] Skip inline namespaces in `getNamespaceKind(...)`.
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/utils.cc
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#10092 [SYCL-MLIR] Basic skeleton for host raising pass
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
Labels: sycl-mlir

#9905 [SYCL-MLIR] Demote `h_item` class to generic handling.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  sycl/test-e2e/HierPar/hier_par_wgscope.cpp
Labels: sycl-mlir

#10102 [SYCL-MLIR][NFC]: Fix compiler warnings
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#10109 [SYCL-MLIR] Define `sycl.host.[kernel_name|get_kernel]`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#9799 [SYCL][DOC] Add sycl_ext_oneapi_work_group_local
  sycl/doc/extensions/proposed/sycl_ext_oneapi_work_group_local.asciidoc
Labels: spec extension

#10118 [SYCL][Doc] Clarify ways to set sub-group sizes
  sycl/doc/extensions/proposed/sycl_ext_oneapi_named_sub_group_sizes.asciidoc
Labels: spec extension

#10131 [SYCL-MLIR] Pass-through uses of `sycl::private_memory`
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
Labels: sycl-mlir

#10114 [SYCL-MLIR] Raise construct to `sycl.host.get_kernel`
  polygeist/include/mlir/Dialect/Polygeist/Utils/Utils.h
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10098 [SYCL-MLIR]: Uniformity analysis (part2)
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir/include/mlir/IR/OpBase.td
  mlir/include/mlir/IR/OpDefinition.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/UniformityAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/lib/Dialect/Polygeist/TestUniformityAnalysis.cpp
  polygeist/test/polygeist-opt/uniformity.mlir
Labels: sycl-mlir

#10136 [SYCL-MLIR] Add pointer to host constructor
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10150 [SYCL-MLIR] Update xfail list after merge
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#10147 [SYCL-MLIR][NFC] Remove unused `DataFlowSolver` in `MemorySelector`
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#10154 [SYCL-MLIR] Define `sycl.handler.set_kernel`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10151 [SYCL-MLIR] Allow `unrealized_conversion_cast` operations in `-convert-polygeist-to-llvm`
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/sycl/sycl-constructors-to-llvm.mlir
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10153 [SYCL-MLIR] pulldown (20230630)
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_windows_build_and_test.yml
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  devops/actions/e2e-tests-win/action.yml
  devops/actions/e2e-tests/action.yml
  devops/actions/khronos_cts_test/action.yml
  devops/dependencies.json
  llvm/include/llvm/CMakeLists.txt
  llvm/include/llvm/SYCLLowerIR/CMakeLists.txt
  llvm/include/llvm/SYCLLowerIR/DeviceConfigFile.hpp
  llvm/include/llvm/SYCLLowerIR/DeviceConfigFile.td
  llvm/include/llvm/TableGen/DynamicTable.td
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
  llvm/test/TableGen/dynamic-tables.td
  llvm/utils/TableGen/CMakeLists.txt
  llvm/utils/TableGen/DynamicTableEmitter.cpp
  sycl/doc/extensions/proposed/sycl_ext_oneapi_named_sub_group_sizes.asciidoc
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/README.md
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/invoke_simd_slm.md
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/ext/intel/esimd/detail/math_intrin.hpp
  sycl/include/sycl/ext/oneapi/experimental/sycl_complex.hpp
  sycl/source/detail/error_handling/error_handling.cpp
  sycl/test-e2e/Basic/event_profiling_info.cpp
  sycl/test-e2e/Basic/half_builtins.cpp
  sycl/test-e2e/Basic/sycl_2020_images/common.hpp
  sycl/test-e2e/Config/allowlist.cpp
  sycl/test-e2e/DiscardEvents/discard_events_check_images.cpp
  sycl/test-e2e/ESIMD/accessor_local.cpp
  sycl/test-e2e/ESIMD/hardware_dispatch.cpp
  sycl/test-e2e/ESIMD/kmeans/kmeans.cpp
  sycl/test-e2e/Regression/invalid_reqd_wg_size_correct_exception.cpp
  sycl/unittests/SYCL2020/CMakeLists.txt
  sycl/unittests/SYCL2020/DeviceConfigFileAspects.cpp
Labels: ignore-lint, sycl-mlir

#10141 [SYCL-MLIR]: Uniformity analysis (part3)
  polygeist/include/mlir/Dialect/Polygeist/Analysis/UniformityAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestUniformityAnalysis.cpp
  polygeist/test/polygeist-opt/uniformity.mlir
Labels: sycl-mlir

#10146 [SYCL-MLIR][LoopInternalization] Unroll tiled loop after promotion
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_unroll.mlir
Labels: sycl-mlir
