Repository intel/llvm, pull requests merged in 2023-07, with the labels that each got.

#10179 [SYCL-MLIR] XFAIL ESIMD/accessor_local.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#10175 [SYCL-MLIR] Raise buffer and accessor constructors
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10158 [SYCL-MLIR: Uniformity analysis (add inter-procedural tests)
  polygeist/include/mlir/Dialect/Polygeist/Analysis/UniformityAnalysis.h
  polygeist/test/polygeist-opt/uniformity.mlir
Labels: sycl-mlir

#10139 [SYCL-MLIR] Add wrap, unwrap ops.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAuxOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/aux-ops.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10148 [SYCL-MLIR] Use `sycl.id.constructor`
  mlir-sycl/include/mlir/Dialect/SYCL/Utils/Utils.h
  mlir-sycl/lib/Dialect/SYCL/Utils/Utils.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/detect-reduction-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_unroll.mlir
Labels: sycl-mlir

#10185 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_nightly.yml
  .github/workflows/sycl_post_commit.yml
  .github/workflows/sycl_precommit.yml
  clang/docs/ClangOffloadBundler.rst
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/OffloadBundler.cpp
  clang/test/Driver/Inputs/bundles/bundle_aft_standardization_of_target_triple.o
  clang/test/Driver/Inputs/bundles/bundle_bef_standardization_of_target_triple.o
  clang/test/Driver/clang-offload-bundler-asserts-on.c
  clang/test/Driver/clang-offload-bundler-old-bundle-with-new-bundler.c
  clang/test/Driver/clang-offload-bundler-standardize.c
  clang/test/Driver/clang-offload-bundler-tgtsym-asm.c
  clang/test/Driver/clang-offload-bundler-tgtsym.c
  clang/test/Driver/clang-offload-bundler.c
  clang/test/Driver/sycl-no-rdc-errors.cpp
  clang/test/Driver/sycl-target-mismatch.cpp
  clang/tools/clang-offload-bundler/ClangOffloadBundler.cpp
  clang/tools/clang-offload-deps/ClangOffloadDeps.cpp
  devops/actions/cached_checkout/action.yml
  libdevice/imf/imf_fp32_dl.cpp
  libdevice/imf_wrapper.cpp
  llvm/tools/sycl-post-link/SYCLDeviceLibReqMask.cpp
  sycl/doc/extensions/experimental/sycl_ext_oneapi_device_architecture.asciidoc
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/device.hpp
  sycl/include/sycl/ext/oneapi/experimental/sycl_complex.hpp
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_common.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_device.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_device.hpp
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/device_impl.hpp
  sycl/source/detail/device_info.hpp
  sycl/source/device.cpp
  sycl/test-e2e/DeviceArchitecture/device_architecture_on_device_aot.cpp
  sycl/test-e2e/DeviceArchitecture/device_architecture_on_host.cpp
  sycl/test-e2e/DeviceLib/imf_fp32_test.cpp
  sycl/test-e2e/USM/memops2d/copy2d_device_to_host.cpp
  sycl/test-e2e/USM/memops2d/copy2d_host_to_device.cpp
  sycl/test-e2e/USM/memops2d/memcpy2d_device_to_host.cpp
  sycl/test-e2e/USM/memops2d/memcpy2d_host_to_device.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: ignore-lint, sycl-mlir

#10193 [SYCL-MLIR] Raise host construction of sycl::id and sycl::range
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10189 [SYCL-MLIR] Define `sycl.range.constructor`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructors-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/constructors.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10160 [SYCL-MLIR] Raise constructs to `sycl.host.handler.set_kernel`
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10195 [SYCL-MLIR] Define `sycl.nd_range.constructor`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructors-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/constructors.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10162 [SYCL-MLIR][MathOps] Add `sycl::half` support
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMathOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Conversion/SYCLToMath/SYCLToMath.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-aux-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToMath/math-ops.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/math-ops.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/math_funcs.cpp
Labels: sycl-mlir

#10161 [SYCL-MLIR] Add `-sycl-raise-host` pass to `cgeist` pipeline
  polygeist/tools/cgeist/Test/Verification/sycl/host_raising.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10201 [SYCL-MLIR] Define `sycl.host.handler.set_nd_range`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10203 [SYCL-MLIR] Run raising patterns only in host code
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10213 [SYCL-MLIR] Make accessor raising more robust
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/host_raising.cpp
Labels: sycl-mlir

#10229 [SYCL-MLIR][NFC][LoopInternalization] Change `numTiled` statistic to `numLoopInternalized`
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
Labels: sycl-mlir

#10234 [SYCL-MLIR][NFC] `TARGET_DEVICES` is never `gpu`
  sycl/test-e2e/CMakeLists.txt
Labels: sycl-mlir

#10239 [SYCL-MLIR] pulldown (20230706)
  devops/scripts/update_drivers.py
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/README.md
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/dpas.md
  sycl/include/sycl/detail/spirv.hpp
  sycl/include/sycl/queue.hpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/device.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/enqueue.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/kernel.hpp
  sycl/source/context.cpp
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/filter_selector_impl.cpp
  sycl/source/detail/filter_selector_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/test-e2e/Basic/queue_priority.cpp
  sycl/test-e2e/Basic/sampler/sampler.cpp
  sycl/test-e2e/PropagateOptionsToBackend/sycl-opt-level-level-zero.cpp
  sycl/test-e2e/PropagateOptionsToBackend/sycl-opt-level-opencl.cpp
  sycl/test-e2e/Regression/empty_accessor_use.cpp
  xpti/include/xpti/xpti_trace_framework.h
  xpti/src/xpti_proxy.cpp
  xptifw/CMakeLists.txt
  xptifw/basic_test/CMakeLists.txt
  xptifw/basic_test/README.md
  xptifw/basic_test/cl_processor.hpp
  xptifw/basic_test/external/BS_thread_pool.hpp
  xptifw/basic_test/external/LICENSE.txt
  xptifw/basic_test/performance_tests.cpp
  xptifw/basic_test/semantic_tests.cpp
  xptifw/doc/XPTI_Framework.md
  xptifw/include/xpti_int64_hash_table.hpp
  xptifw/include/xpti_string_table.hpp
  xptifw/src/xpti_trace_framework.cpp
  xptifw/unit_test/xpti_api_tests.cpp
  xptifw/unit_test/xpti_correctness_tests.cpp
Labels: ignore-lint, sycl-mlir

#10232 [SYCL-MLIR][LoopInternalization] Revert change to `GPUModule` pass
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#10264 [SYCL-MLIR] pulldown (20230707)
  .github/workflows/sycl_cleanup.yml
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_nightly.yml
  .github/workflows/sycl_windows_build_and_test.yml
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/test/Driver/clang-offload-bundler-standardize.c
  clang/test/Driver/sycl-device-lib.cpp
  sycl/doc/extensions/proposed/sycl_ext_oneapi_bindless_images.asciidoc
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/README.md
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/examples/simd_view.md
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/backend.hpp
  sycl/include/sycl/backend_types.hpp
  sycl/include/sycl/bit_cast.hpp
  sycl/include/sycl/group.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/group_barrier.hpp
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
  sycl/include/sycl/reduction.hpp
  sycl/include/sycl/sub_group.hpp
  sycl/include/sycl/types.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/detail/sycl_mem_obj_i.hpp
  sycl/source/detail/sycl_mem_obj_t.hpp
  sycl/test-e2e/Basic/fpga_tests/buffer_location.cpp
  sycl/test-e2e/Basic/fpga_tests/fpga_io_pipes.cpp
  sycl/test-e2e/Basic/fpga_tests/fpga_pipes_legacy_ns.cpp
  sycl/test-e2e/Basic/fpga_tests/fpga_queue.cpp
  sycl/test-e2e/Basic/handler/interop_task.cpp
  sycl/test-e2e/Basic/multisource.cpp
  sycl/test-e2e/Basic/range_offset_fit_in_int.cpp
  sycl/test-e2e/HostInteropTask/host-task.cpp
  sycl/test-e2e/HostInteropTask/interop-task.cpp
  sycl/test-e2e/InorderQueue/in_order_buffs.cpp
  sycl/test-e2e/KernelParams/array-kernel-param-nested-run.cpp
  sycl/test-e2e/KernelParams/array-kernel-param-run.cpp
  sycl/test-e2e/OnlineCompiler/online_compiler_common.hpp
  sycl/test-e2e/Plugin/sycl-targets-order.cpp
  sycl/test-e2e/Regression/2020-spec-constants-debug-info.cpp
  sycl/test-e2e/Regression/fp16-with-unnamed-lambda.cpp
  sycl/test-e2e/Regression/local-arg-align.cpp
  sycl/test-e2e/Regression/mad_sat.cpp
  sycl/test-e2e/Regression/set-arg-local-accessor.cpp
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/basic_tests/group.cpp
  sycl/test/extensions/fpga.cpp
  sycl/test/regression/check_config_processing.cpp
  sycl/test/regression/copy-with-unnamed-lambda.cpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
  sycl/unittests/SYCL2020/KernelBundle.cpp
  sycl/unittests/scheduler/LinkedAllocaDependencies.cpp
Labels: ignore-lint, sycl-mlir

#10249 [mlir][llvm] Define annotation intrinsics
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/test/Target/LLVMIR/Import/intrinsic.ll
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Labels: upstream, sycl-mlir

#10262 [SYCL-MLIR] Define `sycl.host.launch_kernel` op.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10261 [SYCL-MLIR] Define mem effects of host constructor
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLHostOps.cpp
Labels: sycl-mlir

#10251 [SYCL-MLIR] Annotate handler::parallel_for arguments
  polygeist/tools/cgeist/Test/Verification/sycl/host_raising.cpp
  sycl/include/sycl/detail/defines_elementary.hpp
  sycl/include/sycl/handler.hpp
Labels: sycl-mlir

#10265 [SYCL-MLIR][MathOps] Add vector support
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMathOps.td
  mlir-sycl/lib/Conversion/SYCLToMath/SYCLToMath.cpp
  mlir-sycl/test/Conversion/SYCLToMath/math-ops.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/math-ops.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/math_funcs.cpp
Labels: sycl-mlir

#10280 [SYCL-MLIR][LoopInternalization] Add statistic to count the number of accesses internalized
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#10283 [SYCL-MLIR] Add CODEOWNERS
  .github/CODEOWNERS
Labels: sycl-mlir

#10288 [SYCL-MLIR][LoopInternalization] Add statistic lit tests
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_unroll.mlir
Labels: sycl-mlir

#10296 [SYCL-MLIR] Extend reaching definition analysis to LLVM pointer
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
Labels: sycl-mlir

#10302 [SYCL-MLIR] Run tests even if CI files are modified
  .github/workflows/sycl_precommit.yml
Labels: sycl-mlir

#10299 [SYCL-MLIR] Update annotation intrinsics definition
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/test/Target/LLVMIR/Import/intrinsic.ll
Labels: upstream, sycl-mlir

#10300 [SYCL-MLIR][NFC] Remove duplicated test
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Labels: upstream, sycl-mlir

#10304 [SYCL-MLIR] Detect construction of sub-buffers
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/test/Dialect/SYCL/types.mlir
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10332 [SYCL-MLIR] Merge from intel/llvm sycl branch
  sycl/CMakeLists.txt
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/queue.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Basic/enqueue_barrier.cpp
  sycl/test-e2e/ESIMD/Stencil.cpp
  sycl/test-e2e/ESIMD/api/bin_and_cmp_ops_heavy.cpp
  sycl/test-e2e/ESIMD/api/unary_ops_heavy.cpp
  sycl/test-e2e/ESIMD/esimd_test_utils.hpp
  sycl/test-e2e/ESIMD/ext_math.cpp
  sycl/test-e2e/ESIMD/kmeans/kmeans.cpp
  sycl/test-e2e/ESIMD/linear/bitmap_helpers.h
  sycl/test-e2e/ESIMD/stencil2.cpp
  sycl/test-e2e/ESIMD/vadd_half.cpp
  sycl/test-e2e/GroupAlgorithm/SYCL2020/reduce_over_group_size.cpp
  sycl/test-e2e/Matrix/get_coord_bf16_matA_impl.hpp
  sycl/test-e2e/Matrix/get_coord_bf16_matB_impl.hpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/warnings/sycl_2020_deprecations.cpp
Labels: ignore-lint, sycl-mlir

#10326 [SYCL-MLIR] Define `sycl.host.set_captured` op.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/test/Dialect/SYCL/host.mlir
Labels: sycl-mlir

#10320 [SYCL-MLIR] Raise `sycl.handler.set_nd_range` constructs
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostTraits.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/lib/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLHostTraits.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_index.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_offset.cpp
Labels: sycl-mlir

#10347 [SYCL-MLIR] Avoid empty body in accessor raising
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10298 [SYCL-MLIR] SYCL 'id' and 'range' analysis
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestIDAndRangeAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/id-range-analysis.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#10328 [SYCL-MLIR]: Initialize memory access analysis properly
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestMemoryAccessAnalysis.cpp
Labels: sycl-mlir

#10325 [SYCL-MLIR]: Extend reaching def analysis to work inter-procedurally
  polygeist/include/mlir/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/lib/Dialect/Polygeist/TestReachingDefinitionsAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
  polygeist/test/polygeist-opt/uniformity.mlir
Labels: sycl-mlir

#10351 [SYCL-MLIR] Define `sycl.id.constructor` fold mechanism
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/canonicalize.mlir
Labels: sycl-mlir

#10345 [SYCL-MLIR] Raise `nd_range` constructor
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/failing_host_raising_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_constructors.cpp
Labels: sycl-mlir

#10354 [SYCL-MLIR] Raise `nd_range` constructor when `i8` `llvm.getelementptr` is used
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/failing_host_raising_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_constructors.cpp
Labels: sycl-mlir

#10374 [SYCL-MLIR]: Simplify creation of dataflow analysis
  polygeist/include/mlir/Dialect/Polygeist/Analysis/DataFlowSolverWrapper.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/UniformityAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/lib/Dialect/Polygeist/TestReachingDefinitionsAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestUniformityAnalysis.cpp
Labels: sycl-mlir

#10383 [SYCL-MLIR] Define `sycl.nd_range.constructor` canonicalization pattern
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/canonicalize.mlir
Labels: sycl-mlir

#10453 [SYCL-MLIR] Handle default and copy constructors in `SYCLIDAndRangeAnalysis`
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/id-range-analysis.mlir
Labels: sycl-mlir

#10421 [SYCL-MLIR] Detect accessor range and offset
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10425 [SYCL-MLIR] Detect default `sycl.id` constructors
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/failing_host_raising_id_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_id_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range_constructors.cpp
Labels: sycl-mlir

#10346 [SYCL-MLIR] SYCL 'buffer' analysis
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLBufferAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLBufferAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestBufferAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/buffer-analysis.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#10466 [SYCL-MLIR][NIT] Merge `SYCLHostOps.cpp` into `SYCLOps.cpp`
  mlir-sycl/lib/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLHostOps.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
Labels: sycl-mlir

#10496 [SYCL-MLIR][CI] Change `pull_request_target` to `pull_request`
  .github/workflows/sycl_precommit_linux.yml
Labels: sycl-mlir

#10472 [SYCL-MLIR][ArgumentPromotion] Privatize kernel wrapper
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion_privatize.mlir
Labels: sycl-mlir

#10485 [SYCL-MLIR] Merge from intel/llvm sycl branch
  sycl/include/sycl/multi_ptr.hpp
  sycl/test/multi_ptr/ctad.cpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
Labels: sycl-mlir

#10465 [SYCL-MLIR] SYCL 'accessor' analysis
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestAccessorAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/accessor-analysis.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#10447 [SYCL-MLIR] Raise multidimensional id and range copy constructors
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/failing_host_raising_id_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_id_constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_constructors.cpp
Labels: sycl-mlir

#10493 [SYCL-MLIR][NFC] Rename `sycl.host.{launch -> schedule}_kernel` op.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10524 [SYCL-MLIR] pulldown (20230721)
  buildbot/configure.py
  llvm-spirv/lib/SPIRV/SPIRVWriter.cpp
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_blocking_pipes/PipeBlocking.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_device_side_avc_motion_esimation/subgroup_avc_intel_generic.cl
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_device_side_avc_motion_esimation/subgroup_avc_intel_types.spt
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_device_side_avc_motion_esimation/subgroup_avc_intel_vme_image.cl
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_loop_controls/FPGAIVDepLoopAttrOnClosure.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_memory_accesses/IntelFPGAMemoryAccesses.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_memory_accesses/intel_fpga_lsu_optimized.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_memory_attributes/IntelFPGAMemoryAttributes.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_memory_attributes/IntelFPGAMemoryAttributesForStruct.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_fpga_reg/IntelFPGAReg.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_io_pipes/PipeStorageIOINTEL.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_joint_matrix/joint_matrix.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_joint_matrix/joint_matrix_bfloat16.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_joint_matrix/joint_matrix_half.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_joint_matrix/joint_matrix_tf32.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_joint_matrix/opaque_joint_matrix.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_masked_gather_scatter/intel-basic-vector-pointers.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_masked_gather_scatter/intel-gather-scatter.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_media_block_io/SPV_INTEL_media_block_io.cl
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_subgroups/cl_intel_sub_groups.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_vector_compute/buffer_surface_intel.ll
  llvm-spirv/test/extensions/INTEL/SPV_INTEL_vector_compute/decoration_media_block_io.ll
  llvm-spirv/test/image.ll
  llvm-spirv/test/image_without_access_qualifier.spt
  llvm-spirv/test/llvm-intrinsics/memset-opaque.ll
  llvm-spirv/test/llvm-intrinsics/memset.ll
  llvm-spirv/test/opencl.queue_t.ll
  llvm-spirv/test/read_image.cl
  llvm-spirv/test/spirv.Queue.ll
  llvm-spirv/test/transcoding/CreatePipeFromPipeStorage.ll
  llvm-spirv/test/transcoding/ForwardPtr.ll
  llvm-spirv/test/transcoding/OpGroupAsyncCopy.ll
  llvm-spirv/test/transcoding/OpImageQuerySize.ll
  llvm-spirv/test/transcoding/OpImageReadMS.ll
  llvm-spirv/test/transcoding/OpImageSampleExplicitLod.ll
  llvm-spirv/test/transcoding/OpImageSampleExplicitLod_arg.cl
  llvm-spirv/test/transcoding/PipeStorage.ll
  llvm-spirv/test/transcoding/RecursiveType.ll
  llvm-spirv/test/transcoding/SampledImage.cl
  llvm-spirv/test/transcoding/check_ro_qualifier.ll
  llvm-spirv/test/transcoding/check_wo_qualifier.ll
  llvm-spirv/test/transcoding/cl-types.ll
  llvm-spirv/test/transcoding/enqueue_kernel.cl
  llvm-spirv/test/transcoding/enqueue_marker.cl
  llvm-spirv/test/transcoding/get_image_num_mip_levels.ll
  llvm-spirv/test/transcoding/image_channel.ll
  llvm-spirv/test/transcoding/image_with_access_qualifiers.ll
  llvm-spirv/test/transcoding/memory_access.ll
  llvm-spirv/test/transcoding/multiple_user_semantic.ll
  llvm-spirv/test/transcoding/multiple_user_semantic_nonopaque.ll
  llvm-spirv/test/transcoding/spirv-target-types.ll
  llvm-spirv/test/transcoding/spirv-types.ll
  sycl/doc/EnvironmentVariables.md
  sycl/doc/extensions/proposed/sycl_ext_oneapi_bindless_images.asciidoc
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/README.md
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/sycl_ext_intel_esimd_emulator.md
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
Labels: ignore-lint, sycl-mlir

#10522 [SYCL-MLIR] Raise `sycl::buffer::get_access` to a host constructor.
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10494 [SYCL-MLIR][Polygeist] Support bswap builtin lowering
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Test/CMakeLists.txt
  polygeist/tools/cgeist/Test/Verification/builtin.cpp
Labels: sycl-mlir

#10515 [SYCL-MLIR] Define `sycl.host.submit` operation
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10513 [SYCL-MLIR] Add SYCL `nd_range` analysis
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLNDRangeAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLIDAndRangeAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLNDRangeAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestIDAndRangeAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestNDRangeAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/nd-range-analysis.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#10549 [SYCL-MLIR] Update CODEOWNERS.
  .github/CODEOWNERS
Labels: sycl-mlir

#10554 [SYCL-MLIR] Add SYCL type attribute to `set_captured` op.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_captures.cpp
Labels: sycl-mlir

#10578 [SYCL-MLIR] Support optional SYCL type attributes on `schedule_kernel`'s args
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#10575 [SYCL-MLIR] Add `MemoryEffectsOpInterface` to `sycl.host.schedule_kernel`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
Labels: sycl-mlir
