Repository intel/llvm, pull requests merged in 2023-03, with the labels that each got.

#8441 [SYCL-MLIR]: Adjust use of the Pure interface in the SYCL MLIR dialect
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
Labels: sycl-mlir

#8509 [SYCL-MLIR] Add xfail list for e2e testing
  sycl/test-e2e/CMakeLists.txt
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#8505 [SYCL-MLIR] Attach spirv.entry_point_abi to SPIR(-V) kernels
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8492 [SYCL-MLIR] Add conversion patterns for nd_range, nd_item, item and group operations
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8513 [SYCL-MLIR][NFC] Define polygeist passes the canonical way
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/AffineReduction.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/BarrierRemovalContinuation.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/InnerSerialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LegalizeForSPIRV.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopRestructure.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/OpenMPOpt.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/PassDetails.h
  polygeist/lib/Dialect/Polygeist/Transforms/RaiseToAffine.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/TrivialUse.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Utils.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8514 [SYCL-MLIR] Simplify polygeist and sycl conversion passes
  mlir-sycl/include/mlir/Conversion/SYCLPasses.h
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToGPU/SYCLToGPU.h
  mlir-sycl/include/mlir/Conversion/SYCLToGPU/SYCLToGPUPass.h
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLToLLVM.h
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLToLLVMPass.h
  mlir-sycl/include/mlir/Conversion/SYCLToSPIRV/SYCLToSPIRV.h
  mlir-sycl/include/mlir/Conversion/SYCLToSPIRV/SYCLToSPIRVPass.h
  mlir-sycl/lib/Conversion/SYCLToGPU/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPUPass.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRVPass.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-addrspacecast-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-cast-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructor-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
  polygeist/include/mlir/Conversion/PolygeistPasses.h
  polygeist/include/mlir/Conversion/PolygeistPasses.td
  polygeist/include/mlir/Conversion/PolygeistToLLVM/PolygeistToLLVM.h
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/test/polygeist-opt/sycl/cast.mlir
  polygeist/test/polygeist-opt/sycl/subindex.mlir
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8544 [SYCL-ML] Fix `sycl-methods-to-llvm.mlir` lit failure
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8511 [SYCL-MLIR]: Relaxed aliasing support
  mlir-sycl/include/mlir/Dialect/SYCL/Analysis/AliasAnalysis.h
  mlir-sycl/lib/Dialect/Analysis/AliasAnalysis.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8526 [SYCL-MLIR]: Enable reduction detection at -O1 and above
  polygeist/lib/Dialect/Polygeist/Transforms/AffineReduction.cpp
  polygeist/test/polygeist-opt/red.mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/red.mlir
  polygeist/tools/cgeist/Test/Verification/redstore.c
  polygeist/tools/cgeist/Test/Verification/redstore2.c
  polygeist/tools/cgeist/Test/Verification/sgesv.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/2mm/2mm.c
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8549 [SYCL-MLIR][NFC] Removing SYCL RT functions filtering mechanism
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Options.h
Labels: sycl-mlir

#8551 [SYCL-MLIR] Provide a way to filter functions by name
  polygeist/tools/cgeist/Test/Verification/sycl/function_filter.cpp
  polygeist/tools/cgeist/Test/addressoff_call.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8545 [SYCL-MLIR] Add `noalias` attribute for `restrict` function arguments
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/sycl/restrict.cpp
Labels: sycl-mlir

#8592 [SYCL-MLIR] Add inbounds attribute to LLVM::GEPOp
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/arrayconsllvm.cpp
  polygeist/tools/cgeist/Test/Verification/arrayconsmemref.cpp
  polygeist/tools/cgeist/Test/Verification/arrayconsmemrefinner.cpp
  polygeist/tools/cgeist/Test/Verification/base_nostructabi.cpp
  polygeist/tools/cgeist/Test/Verification/base_with_virt.cpp
  polygeist/tools/cgeist/Test/Verification/booleanmem.c
  polygeist/tools/cgeist/Test/Verification/booleanmem.cpp
  polygeist/tools/cgeist/Test/Verification/caff.cpp
  polygeist/tools/cgeist/Test/Verification/capture.cpp
  polygeist/tools/cgeist/Test/Verification/classrefmem.cpp
  polygeist/tools/cgeist/Test/Verification/consabi.cpp
  polygeist/tools/cgeist/Test/Verification/derived.cpp
  polygeist/tools/cgeist/Test/Verification/fscanf.c
  polygeist/tools/cgeist/Test/Verification/gettimeofday.c
  polygeist/tools/cgeist/Test/Verification/ident.cpp
  polygeist/tools/cgeist/Test/Verification/loop.cpp
  polygeist/tools/cgeist/Test/Verification/new.cpp
  polygeist/tools/cgeist/Test/Verification/packedstruct.c
  polygeist/tools/cgeist/Test/Verification/pair.c
  polygeist/tools/cgeist/Test/Verification/pairinit.c
  polygeist/tools/cgeist/Test/Verification/pairptr.c
  polygeist/tools/cgeist/Test/Verification/recurstruct.c
  polygeist/tools/cgeist/Test/Verification/refpair.cpp
  polygeist/tools/cgeist/Test/Verification/struct.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/assert.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
  polygeist/tools/cgeist/Test/Verification/threeInt.c
  polygeist/tools/cgeist/Test/Verification/tobits.c
  polygeist/tools/cgeist/Test/Verification/unioncopy.cpp
  polygeist/tools/cgeist/Test/Verification/virt.cpp
  polygeist/tools/cgeist/Test/elaborated-init.cpp
Labels: sycl-mlir

#8554 [SYCL][Fusion] Initialize Constants member of FusedFunction
  sycl-fusion/jit-compiler/lib/fusion/FusionHelper.h
Labels: bug

#8594 [SYCL-MLIR] Ensure same fcmp order as clang
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/cmp.cpp
  polygeist/tools/cgeist/Test/Verification/combif.c
  polygeist/tools/cgeist/Test/Verification/sec.c
  polygeist/tools/cgeist/Test/Verification/snus.c
Labels: sycl-mlir

#8578 [SYCL-MLIR]: Add rudimentary optimization reports to LICM and AffineReduction
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/AffineReduction.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
Labels: sycl-mlir

#8580 [SYCL-MLIR]: Raise to affine refactor
  polygeist/lib/Dialect/Polygeist/Transforms/RaiseToAffine.cpp
Labels: sycl-mlir

#8572 [SYCL-MLIR] Lower all SYCL operations to LLVM
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8622 [SYCL-MLIR] Use `memref.memory_space_cast`
  mlir-sycl/lib/Dialect/IR/MethodUtils.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/addressspace.c
  polygeist/tools/cgeist/Test/Verification/sycl/assert.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8626 [SYCL][Fusion] Make GID remapping instruction order deterministic
  sycl-fusion/passes/kernel-fusion/Builtins.cpp
Labels: bug

#8629 [SYCL-MLIR][NFC] Replace deprecated header with new one
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8634 [SYCL-MLIR] Lower sycl::{id,item}::operator unsigned long
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8632 [SYCL-MLIR] Drop sycl.constructor variadic arguments constraint
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
Labels: sycl-mlir

#8636 [SYCL-MLIR] Move alloca to the beginning of function
  mlir-sycl/lib/Transforms/Inliner.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  polygeist/tools/cgeist/Test/CMakeLists.txt
  polygeist/tools/cgeist/Test/Verification/move_alloca_to_top.cpp
Labels: sycl-mlir

#8639 [SYCL-MLIR] Replace remaining references to `pointer2memref(llvm.addrspacecast(memref2pointer))`
  mlir-sycl/doc/design/SYCLGridRepresentation.md
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  polygeist/test/polygeist-opt/licm.mlir
Labels: sycl-mlir

#8644 [SYCL-MLIR] Change sycl::{id,item}::operator unsigned long lowering
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
Labels: bug, sycl-mlir

#8646 Revert "Revert "[SYCL] Fix constexpr initialization of vec for half (#8503)""
  sycl/include/sycl/detail/common.hpp
  sycl/include/sycl/half_type.hpp
  sycl/include/sycl/marray.hpp
  sycl/include/sycl/types.hpp
  sycl/test/basic_tests/vectors/constexpr-constructor.cpp
  sycl/test/basic_tests/vectors/negative.cpp
  sycl/test/basic_tests/vectors/vectors.cpp
Labels: ignore-lint, sycl-mlir

#8638 [SYCL-MLIR] Add matrix multiply reduction test case
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
Labels: sycl-mlir

#8650 [SYCL-MLIR] Change wrong `AccessorGetMemRange` indices spec
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8651 [SYCL-MLIR] Lower `sycl.accessor.subscript` with `llvm.ptr` output
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8662 [SYCL-MLIR][NFC] Fix test regression due to multi-merging
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8649 [SYCL-MLIR] Lower to pointers with correct address spaces
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
Labels: sycl-mlir

#8664 [SYCL-MLIR][NFC] Fix flat address space test
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm.mlir
Labels: sycl-mlir

#8663 [SYCL-MLIR] Fix op verifier for atomic accessor
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/failing-sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
Labels: sycl-mlir

#8686 [SYCL-MLIR] Override `SYCLConstructorOp::getEffects()`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  polygeist/test/polygeist-opt/sycl/licm-constructor.mlir
Labels: sycl-mlir

#8685 [SYCL-MLIR][LICM] Refactor `LoopGuardBuilder`
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
Labels: sycl-mlir

#8202 [SYCL] Add non-uniform group classes
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/CL/__spirv/spirv_vars.hpp
  sycl/include/sycl/ext/oneapi/experimental/ballot_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/cluster_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/non_uniform_groups.hpp
  sycl/include/sycl/ext/oneapi/experimental/opportunistic_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/tangle_group.hpp
  sycl/include/sycl/sycl.hpp
Labels: spec extension

#8687 [SYCL-MLIR] Fix inlining of `SYCLMethodOp` operations
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.td
  mlir-sycl/lib/Transforms/CMakeLists.txt
  mlir-sycl/lib/Transforms/Inliner.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/lib/Transforms/Utils.cpp
  mlir-sycl/lib/Transforms/Utils.h
  mlir-sycl/test/Transforms/inliner.mlir
Labels: sycl-mlir

#8722 [SYCL-MLIR] Add `sycl.accessor.size`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#8692 [SYCL-MLIR] Add missing dialects to tools and drop deprecated option
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
  polygeist/include/mlir/Conversion/PolygeistPasses.td
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/IR/Ops.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/InnerSerialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
  polygeist/test/polygeist-opt/ifcomb.mlir
  polygeist/test/polygeist-opt/llvmmem2reg.mlir
  polygeist/test/polygeist-opt/paralleldistribute.mlir
  polygeist/tools/cgeist/driver.cc
  polygeist/tools/polygeist-opt/CMakeLists.txt
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#8715 [SYCL][Doc] Fix link in sycl_ext_oneapi_root_group
  sycl/doc/extensions/proposed/sycl_ext_oneapi_root_group.asciidoc
Labels: spec extension

#8723 [SYCL-MLIR] Verify SYCLMethodOps generated in cgeist
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/illegal_methodop.cpp
Labels: sycl-mlir

#8679 [SYCL-MLIR]: Argument Promotion Transformation (part 1)
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8703 [SYCL-MLIR] Add `sycl.accessor.get_pointer`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#8724 [SYCL-MLIR] Extend and fix SYCL inline pass options
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.h
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.td
  mlir-sycl/lib/Transforms/Inliner.cpp
  mlir-sycl/test/Transforms/inliner.mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8754 [SYCL-MLIR][NFC] use `cast<X>(Y)` instead of `Y.cast<X>()`
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLFuncRegistry.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Dialect/Analysis/AliasAnalysis.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/lib/Dialect/IR/SYCLTraits.cpp
  mlir-sycl/lib/Transforms/Utils.cpp
Labels: sycl-mlir

#8757 [SYCL-MLIR][NFC] Remove unused variable 'genericAddressSpace'
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
Labels: sycl-mlir

#8730 [SYCL-MLIR]: Argument Promotion Transformation (part 2)
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: sycl-mlir

#8756 [SYCL-MLIR][SYCLToLLVM] Add option `indexBitwidth`
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-m32.mlir
Labels: sycl-mlir

#8761 [SYCL-MLIR][LICM][NFC] Add `LoopVersionBuilder`
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
Labels: sycl-mlir

#8764 [SYCL-MLIR] Revamp SYCL conversion passes
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToSPIRV/SYCLToSPIRV.h
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir/lib/Dialect/SPIRV/Transforms/SPIRVConversion.cpp
Labels: sycl-mlir

#8759 [SYCL-MLIR]: Argument Promotion Transformation (part 3)
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: sycl-mlir

#8820 [SYCL-MLIR] Add `sycl.accessor.get_range`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#8856 [SYCL-MLIR][NFC] Replace deprecated cast function
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistOps.td
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/IR/Ops.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/BarrierRemovalContinuation.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
  polygeist/tools/cgeist/Lib/Attributes.cc
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGDecl.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CGStmt.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/ConstantFolder.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#8863 [SYCL-MLIR][NFC]: Refactor CanonicalizeFor.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/test/polygeist-opt/canonicalizefor.mlir
Labels: sycl-mlir

#8857 [SYCL-MLIR] Replace enum SYCL type parameters with new attributes
  mlir-sycl/include/mlir/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpAttributes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpAttributes.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsAttributes.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  mlir-sycl/test/Dialect/IR/SYCL/types.mlir
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#8899 [SYCL-MLIR] Mark `image_max_size.cpp` as unsupported on `level_zero`
  sycl/test-e2e/Basic/image/image_max_size.cpp
Labels: sycl-mlir

#8897 [SYCL-MLIR][NFC][ArgumentPromotion] Refactor lit test
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
  polygeist/test/polygeist-opt/sycl/argpromotion_invalid.mlir
Labels: sycl-mlir

#8864 [SYCL-MLIR]: Use alias analysis in WhileLICM transformation
  mlir-sycl/include/mlir/Dialect/SYCL/Analysis/AliasAnalysis.h
  mlir-sycl/lib/Dialect/Analysis/AliasAnalysis.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/test/polygeist-opt/canonicalizefor.mlir
Labels: sycl-mlir

#8898 [SYCL-MLIR][ArgumentPromotion] Fix incorrect behaviour when first argument is not a candidate
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: bug, sycl-mlir

#8882 [SYCL-MLIR] Modify MLIR optimize pipeline
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8893 [SYCL-MLIR] Allow argument promotion to perform on linkonce_odr functions
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: sycl-mlir

#8872 [SYCL-MLIR][LICM] Continue to check the other operations for conflict
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
Labels: bug, sycl-mlir

#8175 [SPIR-V][DOC] Update SPV_INTEL_joint_matrix extension
  sycl/doc/design/spirv-extensions/SPV_INTEL_joint_matrix.asciidoc
Labels: Documentation, SPIR-V

#8920 [SYCL-MLIR] Remove L0 GEN9 LLVM Test Suite run
  .github/workflows/sycl_precommit.yml
Labels: sycl-mlir
