Repository intel/llvm, pull requests merged in 2023-12, with the labels that each got.

#12078 [SYCL-MLIR][NFC] Adapt `IntegerRangeAnalysis` changes for upstreaming
  mlir/lib/Analysis/DataFlow/IntegerRangeAnalysis.cpp
  mlir/test/Dialect/Arith/int-range-interface.mlir
Labels: upstream, sycl-mlir

#12074 [SYCL-MLIR] Add `mlir-translate` to `deploy-sycl-toolchain`
  sycl/CMakeLists.txt
Labels: sycl-mlir

#12098 [SYCL][Doc] Add sycl_ext_oneapi_raw_kernel_arg
  sycl/doc/extensions/proposed/sycl_ext_oneapi_raw_kernel_arg.asciidoc
Labels: spec extension, Documentation

#11166 [SYCL][Doc] Rename scope-specific variables
  sycl/doc/extensions/proposed/sycl_ext_oneapi_work_group_specific.asciidoc
Labels: spec extension
