Repository intel/llvm, pull requests merged in 2023-02, with the labels that each got.

#8134 Add new intrinsics and attributes to control accuracy of FP calls
  llvm/docs/LangRef.rst
  llvm/include/llvm/Analysis/AltMathLibFuncs.def
  llvm/include/llvm/Analysis/TargetLibraryInfo.h
  llvm/include/llvm/CodeGen/CodeGenPassBuilder.h
  llvm/include/llvm/CodeGen/FPBuiltinFnSelection.h
  llvm/include/llvm/CodeGen/MachinePassRegistry.def
  llvm/include/llvm/CodeGen/Passes.h
  llvm/include/llvm/IR/FPBuiltinOps.def
  llvm/include/llvm/IR/IntrinsicInst.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/include/llvm/InitializePasses.h
  llvm/lib/Analysis/TargetLibraryInfo.cpp
  llvm/lib/CodeGen/CMakeLists.txt
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/FPBuiltinFnSelection.cpp
  llvm/lib/CodeGen/TargetPassConfig.cpp
  llvm/lib/IR/IntrinsicInst.cpp
  llvm/test/CodeGen/AArch64/O0-pipeline.ll
  llvm/test/CodeGen/AArch64/O3-pipeline.ll
  llvm/test/CodeGen/AMDGPU/llc-pipeline.ll
  llvm/test/CodeGen/ARM/O3-pipeline.ll
  llvm/test/CodeGen/Generic/fp-builtin-intrinsics-nomatch.ll
  llvm/test/CodeGen/Generic/fp-builtin-intrinsics-unhandled.ll
  llvm/test/CodeGen/Generic/fp-builtin-intrinsics.ll
  llvm/test/CodeGen/PowerPC/O3-pipeline.ll
  llvm/test/CodeGen/RISCV/O0-pipeline.ll
  llvm/test/CodeGen/RISCV/O3-pipeline.ll
  llvm/test/CodeGen/X86/O0-pipeline.ll
  llvm/test/CodeGen/X86/opt-pipeline.ll
  llvm/tools/opt/opt.cpp
Labels: ignore-lint

#8186 [SYCL-MLIR] Enable raise to affine by default
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/arrayconsllvm.cpp
  polygeist/tools/cgeist/Test/Verification/arrayconsmemref.cpp
  polygeist/tools/cgeist/Test/Verification/arrayconsmemrefinner.cpp
  polygeist/tools/cgeist/Test/Verification/calloc.c
  polygeist/tools/cgeist/Test/Verification/canonicalization.c
  polygeist/tools/cgeist/Test/Verification/constexpr.cpp
  polygeist/tools/cgeist/Test/Verification/continue.c
  polygeist/tools/cgeist/Test/Verification/fscanf.c
  polygeist/tools/cgeist/Test/Verification/hist.c
  polygeist/tools/cgeist/Test/Verification/label.c
  polygeist/tools/cgeist/Test/Verification/multidim_init.c
  polygeist/tools/cgeist/Test/Verification/nestloop.c
  polygeist/tools/cgeist/Test/Verification/omp3.c
  polygeist/tools/cgeist/Test/Verification/omp4.c
  polygeist/tools/cgeist/Test/Verification/omp5.c
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
  polygeist/tools/cgeist/Test/Verification/whiletofor.c
  polygeist/tools/cgeist/Test/Verification/xor.c
Labels: sycl-mlir

#8213 [SYCL-MLIR] Add "use-bare-ptr-call-conv" to -convert-sycl-to-mlir pass
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLToLLVMPass.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
Labels: sycl-mlir

#8113 [SYCL-MLIR] Create -convert-sycl-to-gpu pass
  mlir-sycl/include/mlir/Conversion/SYCLPasses.h
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToGPU/SYCLToGPU.h
  mlir-sycl/include/mlir/Conversion/SYCLToGPU/SYCLToGPUPass.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpsTypes.h
  mlir-sycl/lib/Conversion/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToGPU/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPUPass.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/lib/Dialect/IR/SYCLTraits.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/tools/sycl-mlir-opt/CMakeLists.txt
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
Labels: sycl-mlir

#8223 [SYCL-MLIR][NFC] Fix warnings in polygeist and mlir-sycl
  mlir-sycl/lib/Dialect/IR/SYCLOpsTypes.cpp
  mlir-sycl/lib/Transforms/Inliner.cpp
  polygeist/lib/polygeist/Passes/Mem2Reg.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#8228 [SYCL-MLIR] Lower nd_range operations to LLVM
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8226 [SYCL-MLIR] Add conversion patterns for `sycl.range` methods
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/failing-sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8188 [SYCL-MLIR][NFI]: Refactor affine reduction
  buildbot/configure.py
  mlir-sycl/.clang-tidy
  polygeist/.clang-tidy
  polygeist/lib/polygeist/Passes/AffineReduction.cpp
Labels: sycl-mlir

#8253 [SYCL-MLIR] Do not redefine FuncConversions patterns
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
Labels: sycl-mlir

#8255 [SYCL-MLIR][NFC] Define populateBareMemRefToLLVMConversionPatterns
  polygeist/include/polygeist/Passes/Passes.h
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
Labels: sycl-mlir

#8224 [SYCL-MLIR] Create -convert-sycl-to-spirv pass
  mlir-sycl/include/mlir/Conversion/SYCLPasses.h
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToSPIRV/SYCLToSPIRV.h
  mlir-sycl/include/mlir/Conversion/SYCLToSPIRV/SYCLToSPIRVPass.h
  mlir-sycl/lib/Conversion/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToSPIRV/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRVPass.cpp
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir-sycl/tools/sycl-mlir-opt/CMakeLists.txt
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
  mlir/lib/Dialect/SPIRV/Transforms/SPIRVConversion.cpp
Labels: sycl-mlir

#8236 [SYCL-MLIR][NFI]: Refactor parallel LICM
  polygeist/lib/polygeist/Passes/ParallelLICM.cpp
  polygeist/test/polygeist-opt/parallellicm.mlir
Labels: sycl-mlir

#8269 [SYCL-MLIR][Test] Drop optional attribute in SYCLToSPIRV tests
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
Labels: sycl-mlir

#8256 [SYCL-MLIR][NFC] Fix warning in AffineReduction.cpp
  polygeist/lib/polygeist/Passes/AffineReduction.cpp
Labels: sycl-mlir

#8275 [SYCL-MLIR] Change sycl.cast assembly format
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#8273 [SYCL-MLIR] Change sycl.call assembly format
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-call-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  mlir-sycl/test/Transforms/inliner.mlir
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/undeftypes.cpp
Labels: sycl-mlir

#8278 [SYCL-MLIR] Change SYCLMethodOps assembly format
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
Labels: sycl-mlir

#8274 [SYCL-MLIR] Change sycl.constructor assembly format
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructor-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/constructor.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
Labels: sycl-mlir

#8308 [SYCL][Doc] Remove masked_sub_group from proposal
  sycl/doc/extensions/proposed/sycl_ext_oneapi_non_uniform_groups.asciidoc
Labels: spec extension

#8320 [SYCL-MLIR] Fix `memref2pointer(subindex)` canonicalization for SYCL types
  polygeist/lib/polygeist/Ops.cpp
  polygeist/test/polygeist-opt/invalid_canonicalization.mlir
Labels: sycl-mlir

#8290 [SYCL-MLIR] Fix `SelectI1Ext` canonicalize pattern
  polygeist/lib/polygeist/Ops.cpp
  polygeist/test/polygeist-opt/selecti1ext.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
Labels: sycl-mlir

#8122 [SYCL-MLIR] Pretty print SYCL grid operations
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
Labels: sycl-mlir

#8333 [SYCL-MLIR] Mimic codegen argument passing in operations definitions
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/MethodUtils.h
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Dialect/IR/MethodUtils.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
Labels: sycl-mlir

#8377 [SYCL-MLIR]: Improve Polygeist LICM to handle invariant operations in scf::ForOp and AffineForOp
  polygeist/include/polygeist/Passes/Passes.h
  polygeist/include/polygeist/Passes/Passes.td
  polygeist/lib/polygeist/Passes/CMakeLists.txt
  polygeist/lib/polygeist/Passes/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
  polygeist/test/polygeist-opt/parallellicm.mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8370 [SYCL-MLIR] Drop some non-standard types from the SYCL dialect
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/types.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#8399 [SYCL-MLIR]: Teach LICM to hoist more invariant aliased load/stores operations
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
Labels: sycl-mlir

#8354 [SYCL-MLIR] Lower MemRef to pointers in -convert-sycl-to-llvm
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
Labels: sycl-mlir

#8410 [SYCL-MLIR]: Fix warnings
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistBase.td
  polygeist/lib/Dialect/Polygeist/IR/Ops.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Utils.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8413 [SYCL-MLIR] Allow nested operations to be transformed
  mlir/lib/Pass/Pass.cpp
  mlir/test/Pass/nested-operations.mlir
Labels: sycl-mlir

#8420 [SYCL-MLIR] Add attributes for pure functions
  polygeist/tools/cgeist/Lib/Attributes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/ex_particle_reduced.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/pure_const_attrs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
Labels: sycl-mlir

#8442 [SYCL-MLIR]: Make the first operand of SYCLConstructorOp [MemWrite]
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#8445 [SYCL-MLIR] Adopt upstream comments on transformation for nested operations
  mlir/lib/Pass/Pass.cpp
  mlir/test/Pass/nested-operations.mlir
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8430 [SYCL-MLIR]: Create SYCL AliasAnalysis and use it in polygeist LICM pass
  mlir-sycl/include/mlir/Dialect/SYCL/Analysis/AliasAnalysis.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/Analysis/AliasAnalysis.cpp
  mlir-sycl/lib/Dialect/Analysis/CMakeLists.txt
  mlir-sycl/lib/Dialect/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/licm.mlir
Labels: sycl-mlir

#8463 [SYCL-MLIR]: Fix bad merge
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
Labels: sycl-mlir

#8464 [SYCL-MLIR]: Add ViewLikeOpInterface to sycl.cast
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
Labels: sycl-mlir

#8446 [SYCL-MLIR] Add `sycl.addrspacecast`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-addrspacecast-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
Labels: sycl-mlir

#8460 [SYCL-MLIR] Add lowering patterns for accessor, id and range ops
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/failing-sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir
