Repository intel/llvm, pull requests merged in 2023-04, with the labels that each got.

#8921 [SYCL-MLIR] Filter out xfail tests on GPU
  sycl/test-e2e/CMakeLists.txt
Labels: sycl-mlir

#8922 [CI][SYCL] Cleanup post llvm-test-suite move (#8894)
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_post_commit.yml
  .github/workflows/sycl_precommit.yml
  devops/actions/e2e-tests/action.yml
  devops/test_configs.json
Labels: sycl-mlir

#8910 Revert "[MLIR] Allow llvm.resume with non-landingpad input (#8590)"
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/invalid.mlir
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
Labels: sycl-mlir

#8909 [mlir][llvm] Verify consistency of llvm.resume and llvm.landingpad types
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/invalid-typed-pointers.mlir
  mlir/test/Dialect/LLVMIR/invalid.mlir
Labels: sycl-mlir

#8950 [SYCL-MLIR][NFC][LICM] Add `LICMCandidate` class
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
Labels: sycl-mlir

#8935 [SYCL-MLIR] Version loop to check for different accessors
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
Labels: sycl-mlir

#8956 [SYCL-MLIR][NFC]: Move polygeist transform utils
  mlir-sycl/lib/Dialect/IR/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Conversion/PolygeistToLLVM/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/IR/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/RaiseToAffine.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Utils.h
  polygeist/lib/Dialect/Polygeist/Utils/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/polygeist-opt/CMakeLists.txt
Labels: sycl-mlir

#8964 [SYCL-MLIR][LICM] Support hoisting operations that require versioning more than one accessor pairs
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
Labels: sycl-mlir

#8946 [SYCL-MLIR] Use `-client-api` option in `-convert-sycl-to-llvm`
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8973 [SYCL-MLIR] Use i32 for 1D SPIRV builtin variables in SYCL lowering
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
Labels: sycl-mlir

#8989 [SYCL-MLIR] Add `sycl.nd_item.get_global_range` lowering to LLVM
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#8985 [SYCL-MLIR] Take into account SYCL-OpenCL different unit stride conventions
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
Labels: sycl-mlir

#9007 [SYCL-MLIR] Propagate applyPassManagerCLOptions failures
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9020 [SYCL-MLIR] Add `sycl.nd_item.get_group_linear_id` LLVM conversion
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir

#9029 [SYCL-MLIR] Remove `CallOpInterface` from `SYCLMethodOp`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.td
  mlir-sycl/lib/Transforms/Inliner.cpp
  mlir-sycl/test/Transforms/inliner.mlir
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9005 [SYCL-MLIR] Lower SYCLMethodOps using conversion patterns
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/driver.cc
  sycl/test-e2e/Basic/buffer/reinterpret.cpp
  sycl/test-e2e/HostInteropTask/host-task-two-queues.cpp
Labels: sycl-mlir

#9026 [SYCL-MLIR]: Loop Versioning - introduce LoopVersionCondition
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9045 [SYCL-MLIR] Merge from intel/llvm sycl branch
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/CodeGenSYCL/anonymous_integration_footer.cpp
  devops/scripts/install_build_tools.sh
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/buffer.hpp
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/detail/generic_type_lists.hpp
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/ext/oneapi/experimental/invoke_simd.hpp
  sycl/include/sycl/ext/oneapi/owner_less.hpp
  sycl/include/sycl/ext/oneapi/weak_object.hpp
  sycl/include/sycl/stream.hpp
  sycl/include/sycl/types.hpp
  sycl/plugins/esimd_emulator/CMakeLists.txt
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.hpp
  sycl/plugins/unified_runtime/ur/ur.hpp
  sycl/source/detail/device_impl.cpp
  sycl/test-e2e/Basic/built-ins/marray_geometric.cpp
  sycl/test-e2e/Basic/vec_bool.cpp
  sycl/test-e2e/CMakeLists.txt
  sycl/test-e2e/DeviceLib/imf_double2bfloat16.cpp
  sycl/test-e2e/DeviceLib/imf_float2bfloat16.cpp
  sycl/test-e2e/ESIMD/bfn.cpp
  sycl/test-e2e/ESIMD/spec_const/spec_const_redefine.cpp
  sycl/test-e2e/ESIMD/thread_id_test.cpp
  sycl/test-e2e/Matrix/XMX8/element_wise_all_ops_tf32.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_apply_bf16.cpp
  sycl/test-e2e/Matrix/XMX8/joint_matrix_tf32.cpp
  sycl/test-e2e/Matrix/element_wise_all_ops_tf32.cpp
  sycl/test-e2e/Matrix/joint_matrix_tf32.cpp
  sycl/test-e2e/README.md
  sycl/test-e2e/WeakObject/weak_object_utils.hpp
  sycl/test-e2e/xfail_tests.txt
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/invoke_simd/not-trivially-copyable-uniform.cpp
Labels: ignore-lint, sycl-mlir

#9054 [SYCL-MLIR][ArgumentPromotion] Operations without MemoryEffectOpInterface have unknown memory effect
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
Labels: bug, sycl-mlir

#9043 [SYCL-MLIR] Drop SYCL3DGridOps returning an index
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpTraits.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Dialect/IR/SYCLTraits.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
Labels: sycl-mlir

#9058 [SYCL-MLIR] Add `noalias` attribute for `kernel_args_restrict` kernel pointer arguments
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/sycl/restrict.cpp
Labels: sycl-mlir

#9032 [SYCL-MLIR]: Version affine loop using scf::IfOp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
Labels: sycl-mlir

#9030 [SYCL-MLIR][LICM] Enable SYCL Accessor Versioning
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
Labels: sycl-mlir

#9084 [SYCL-MLIR][LICM] Allow versioning on affine loop
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
Labels: sycl-mlir

#9103 [SYCL-MLIR][NFC] Move `VersionConditionBuilder` to `TransformUtils` for reuse
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9024 [mlir][llvm] Handle invoke op branching to block with its result as an argument
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Target/LLVMIR/Import/basic.ll
Labels: upstream, sycl-mlir

#9069 [SYCL-MLIR] Change `sycl` dialect structure
  mlir-sycl/include/mlir/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLDialect.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMethodOpInterface.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMethodOpInterface.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTraits.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/include/mlir/Dialect/SYCL/MethodUtils.h
  mlir-sycl/lib/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLFuncRegistry.cpp
  mlir-sycl/lib/Dialect/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Analysis/AliasAnalysis.cpp
  mlir-sycl/lib/Dialect/SYCL/Analysis/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/MethodUtils.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLAttributes.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLMethodOpInterface.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTraits.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Transforms/Inliner.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/Utils.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/Utils.h
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/tools/cgeist/Lib/CGDecl.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/driver.cc
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#9133 [SYCL-MLIR][NFC] Replace uses of `sycl.addrspacecast` with `memref.memory_space_cast`
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: sycl-mlir

#9144 [SYCL-MLIR] Merge from intel/llvm sycl branch
  clang/lib/CodeGen/TargetInfo.cpp
  clang/test/CodeGenOpenCL/sampled_image.cl
  llvm/include/llvm/SYCLLowerIR/ESIMD/LowerESIMD.h
  llvm/lib/SYCLLowerIR/ESIMD/LowerESIMD.cpp
  llvm/test/SYCLLowerIR/ESIMD/lower_global_stores.ll
  sycl/doc/developer/ABIPolicyGuide.md
  sycl/doc/extensions/experimental/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/doc/extensions/template.asciidoc
  sycl/include/sycl/detail/helpers.hpp
  sycl/include/sycl/ext/intel/esimd/detail/simd_obj_impl.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/types.hpp
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/esimd_emulator/CMakeLists.txt
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_common.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_common.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_mem.cpp
  sycl/source/detail/kernel_impl.hpp
  sycl/test-e2e/AtomicRef/atomic_memory_order_acq_rel.cpp
  sycl/test-e2e/Basic/kernel_info.cpp
  sycl/test-e2e/ESIMD/InlineAsm/asm_glb.cpp
  sycl/test-e2e/Plugin/level_zero_imm_cmdlist_per_thread.cpp
  sycl/test-e2e/Reduction/reduction_nd_N_vars.cpp
  sycl/test-e2e/Regression/same_unnamed_kernels.cpp
  sycl/test/basic_tests/vectors/vectors.cpp
  sycl/test/esimd/simd_inline_asm.cpp
  sycl/unittests/xpti_trace/QueueApiFailures.cpp
Labels: ignore-lint, sycl-mlir

#9149 [SYCL-MLIR][NFC] Change `AccessorType` to `AccessorPtrType`
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9146 [SYCL-MLIR] Generalize `LoopVersionBuilder` to `VersionBuilder`
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9151 [SYCL-MLIR] Set private visibility when privatizing function
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
Labels: sycl-mlir

#8784 [SYCL] Add ballot_group support to algorithms
  sycl/include/CL/__spirv/spirv_ops.hpp
  sycl/include/sycl/detail/spirv.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/oneapi/experimental/ballot_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/non_uniform_groups.hpp
  sycl/include/sycl/ext/oneapi/experimental/opportunistic_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/tangle_group.hpp
  sycl/include/sycl/ext/oneapi/functional.hpp
  sycl/include/sycl/ext/oneapi/group_algorithm.hpp
  sycl/include/sycl/ext/oneapi/sub_group.hpp
  sycl/include/sycl/ext/oneapi/sub_group_mask.hpp
  sycl/include/sycl/group_algorithm.hpp
  sycl/include/sycl/group_barrier.hpp
  sycl/test-e2e/NonUniformGroups/ballot_group.cpp
  sycl/test-e2e/NonUniformGroups/ballot_group_algorithms.cpp
  sycl/test-e2e/NonUniformGroups/cluster_group.cpp
  sycl/test-e2e/NonUniformGroups/is_fixed_topology.cpp
  sycl/test-e2e/NonUniformGroups/is_user_constructed.cpp
  sycl/test-e2e/NonUniformGroups/opportunistic_group.cpp
  sycl/test-e2e/NonUniformGroups/tangle_group.cpp
Labels: spec extension

#9157 Revert "Revert "[SYCL][UR] Update UR loader version (#9053)""
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_loader_interface.cpp
  sycl/plugins/unified_runtime/ur/ur.hpp
Labels: ignore-lint, sycl-mlir

#9159 [SYCL-MLIR] Move `TransformUtils` to `polygeist` namespace
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9131 [SYCL-MLIR][KernelDisjointSpecialization] Add transformation to specialize kernel body function
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/SYCL/Analysis/AliasAnalysis.cpp
  mlir/include/mlir/Dialect/Async/IR/AsyncOps.td
  mlir/include/mlir/Dialect/Func/IR/FuncOps.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVControlFlowOps.td
  mlir/include/mlir/Interfaces/CallInterfaces.td
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
Labels: sycl-mlir

#9199 [SYCL-MLIR] Drop `-no-mangled-function-name` option
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Options.h
Labels: sycl-mlir

#9156 [mlir][llvm][test] Move exception-related tests to their own file
  mlir/test/Target/LLVMIR/Import/basic.ll
  mlir/test/Target/LLVMIR/Import/exception.ll
Labels: upstream, sycl-mlir

#9201 [SYCL-MLIR][KernelDisjointSpecialization] Disable zero dimensions accessors
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9194 [SYCL-MLIR][KernelDisjointSpecialization] Allow functions called indirectly from GPU kernel
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
Labels: sycl-mlir

#9202 [SYCL-MLIR][VersionConditionBuilder] Handle accessor buffer with llvm.ptr type
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
Labels: sycl-mlir

#9073 [SYCL-MLIR] Define attributes wrapping enums in `SYCLAttributes.td`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLAttributes.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-addrspacecast-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-addrspacecast-to-llvm.mlir
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
Labels: sycl-mlir

#9204 [mlir][llvm] Use cached constants when importing `landingpad` instructions
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Target/LLVMIR/Import/exception.ll
Labels: upstream, sycl-mlir

#9223 [SYCL-MLIR][DetectReduction] Fix print
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
Labels: sycl-mlir

#9222 [SYCL-MLIR][NFC] Change constructor name for passes
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9158 [SYCL-MLIR]: Memory access analysis (part1)
  mlir-sycl/CMakeLists.txt
  mlir-sycl/include/mlir/Dialect/SYCL/Analysis/MemoryAccessAnalysis.h
  mlir-sycl/lib/Dialect/SYCL/Analysis/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Analysis/MemoryAccessAnalysis.cpp
  mlir-sycl/unittests/Analysis/CMakeLists.txt
  mlir-sycl/unittests/Analysis/MemoryAccessAnalysis/CMakeLists.txt
  mlir-sycl/unittests/Analysis/MemoryAccessAnalysis/MatrixTest.cpp
  mlir-sycl/unittests/CMakeLists.txt
Labels: sycl-mlir

#9230 [SYCL-MLIR] Use `std::set` to store accessor pairs for versioning
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
Labels: sycl-mlir

#9206 [SYCL-MLIR] Drop `-sycl-method-to-sycl-call` pass
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.h
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/Passes.td
  mlir-sycl/lib/Dialect/SYCL/Transforms/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Transforms/Inliner.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/Utils.cpp
  mlir-sycl/lib/Dialect/SYCL/Transforms/Utils.h
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9055 [SYCL-MLIR][DetectReduction] Disallow transformation when exists may alias operations in loop
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
  polygeist/test/polygeist-opt/red.mlir
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/redstore.c
  polygeist/tools/cgeist/Test/Verification/redstore2.c
  polygeist/tools/cgeist/Test/Verification/sgesv.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/2mm/2mm.c
  polygeist/tools/cgeist/driver.cc
Labels: bug, sycl-mlir
