Repository intel/llvm, pull requests merged in 2023-05, with the labels that each got.

#9261 [SYCL-MLIR] Enhance `VersionConditionBuilder` to handle zero dimensions accessors
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
Labels: sycl-mlir

#9218 [mlir][llvm] Add trap intrinsics to the dialect
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/test/Target/LLVMIR/Import/intrinsic.ll
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Labels: upstream, sycl-mlir

#9265 [SYCL-MLIR] Drop method definition registry
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLDialect.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9274 [SYCL-MLIR][NFC] Refactor Polygeist to add types definition
  mlir-sycl/lib/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/IR/MethodUtils.cpp
  polygeist/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/IR/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistDialect.h
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistOps.h
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.h
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.td
  polygeist/include/mlir/Dialect/Polygeist/Utils/BarrierUtils.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/Utils.h
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/IR/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/IR/PolygeistDialect.cpp
  polygeist/lib/Dialect/Polygeist/IR/PolygeistOps.cpp
  polygeist/lib/Dialect/Polygeist/IR/PolygeistTypes.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CanonicalizeFor.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/OpenMPOpt.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/TrivialUse.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/driver.cc
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#9270 [SYCL-MLIR][CallOpInterface] Add `setCalleeFromCallable` method
  flang/include/flang/Optimizer/Dialect/FIROps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir/docs/Interfaces.md
  mlir/docs/Tutorials/Toy/Ch-4.md
  mlir/examples/toy/Ch4/mlir/Dialect.cpp
  mlir/examples/toy/Ch5/mlir/Dialect.cpp
  mlir/examples/toy/Ch6/mlir/Dialect.cpp
  mlir/examples/toy/Ch7/mlir/Dialect.cpp
  mlir/include/mlir/Dialect/Async/IR/AsyncOps.td
  mlir/include/mlir/Dialect/Func/IR/FuncOps.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVControlFlowOps.td
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/include/mlir/Interfaces/CallInterfaces.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: upstream, sycl-mlir

#9231 [SYCL-MLIR]: Reaching definition analysis (part1)
  mlir-sycl/include/mlir/Dialect/SYCL/Analysis/MemoryAccessAnalysis.h
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/ops.mlir
  mlir-sycl/test/Dialect/SYCL/types.mlir
  polygeist/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/AliasUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Utils/AliasUtils.cpp
  polygeist/lib/Dialect/Polygeist/Utils/CMakeLists.txt
  polygeist/test/CMakeLists.txt
  polygeist/test/lib/CMakeLists.txt
  polygeist/test/lib/Dialect/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestReachingDefinitionsAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
  polygeist/tools/polygeist-opt/CMakeLists.txt
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#9292 [SYCL-MLIR][NFC]: Move memory access analysis to polygeist
  mlir-sycl/CMakeLists.txt
  mlir-sycl/lib/Dialect/SYCL/Analysis/CMakeLists.txt
  mlir-sycl/unittests/CMakeLists.txt
  polygeist/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/unittests/Analysis/CMakeLists.txt
  polygeist/unittests/Analysis/MemoryAccessAnalysis/CMakeLists.txt
  polygeist/unittests/Analysis/MemoryAccessAnalysis/MatrixTest.cpp
  polygeist/unittests/CMakeLists.txt
Labels: sycl-mlir

#9310 [SYCL-MLIR][NFC] Fix warnings in cgeist files
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
Labels: sycl-mlir

#9283 [SYCL-MLIR] Build `sycl-doc` and `polygeist-doc` as part of CI
  .github/workflows/sycl_linux_build_and_test.yml
  mlir-sycl/CMakeLists.txt
  mlir-sycl/cmake/modules/AddMLIRSYCL.cmake
  mlir-sycl/include/mlir/Dialect/SYCL/IR/CMakeLists.txt
  mlir-sycl/include/mlir/Dialect/SYCL/Transforms/CMakeLists.txt
  polygeist/CMakeLists.txt
  polygeist/cmake/modules/AddPolygeist.cmake
  polygeist/include/mlir/Dialect/Polygeist/IR/CMakeLists.txt
  polygeist/include/mlir/Dialect/Polygeist/Transforms/CMakeLists.txt
Labels: sycl-mlir

#9306 [SYCL-MLIR] Check for errors when processing files in cgeist codegen
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/ext.c
  polygeist/tools/cgeist/Test/Verification/pp_error.c
  polygeist/tools/cgeist/Test/Verification/raiseToAffineUnsignedCmp.c
  polygeist/tools/cgeist/Test/Verification/triple.cu
  polygeist/tools/cgeist/driver.cc
Labels: bug, sycl-mlir

#9291 [SYCL-MLIR][Test E2E] Make tests that time out fail early
  sycl/test-e2e/GroupAlgorithm/SYCL2020/reduce_over_group_size.cpp
  sycl/test-e2e/SubGroup/scan_spirv13.cpp
  sycl/test-e2e/USM/copy2d.cpp
  sycl/test-e2e/USM/memcpy2d.cpp
Labels: sycl-mlir

#9305 [SYCL-MLIR] Drop mandatory SYCLMethodOp attributes
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMethodOpInterface.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Conversion/SYCLToGPU/SYCLToGPU.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Conversion/SYCLToSPIRV/SYCLToSPIRV.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTraits.cpp
  mlir-sycl/test/Conversion/SYCLToGPU/grid-ops.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-m32-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-m32.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToSPIRV/grid-ops.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/ops.mlir
  mlir-sycl/test/Transforms/inliner.mlir
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/licm.mlir
  polygeist/test/polygeist-opt/sycl/detect-reduction-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
Labels: sycl-mlir

#9293 [SYCL-MLIR] Add `-sycl-use-host-module=<file>` option
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/host_module.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/non_sycl_use_host_module.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_use_host_module.cpp
  polygeist/tools/cgeist/Test/lit.cfg
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9303 [SYCL-MLIR] Opaque pointer support in Polygeist transformations
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/IR/PolygeistOps.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/DetectReduction.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LegalizeForSPIRV.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/affinecfg.mlir
  polygeist/test/polygeist-opt/canonicalization.mlir
  polygeist/test/polygeist-opt/copy2.mlir
  polygeist/test/polygeist-opt/cudalower.mlir
  polygeist/test/polygeist-opt/invalid_canonicalization.mlir
  polygeist/test/polygeist-opt/llvmmem2reg.mlir
  polygeist/test/polygeist-opt/mem2regIf2.mlir
  polygeist/test/polygeist-opt/paralleldistribute.mlir
  polygeist/test/polygeist-opt/sycl/detect-reduction-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
  polygeist/tools/cgeist/Lib/TypeUtils.cc
Labels: sycl-mlir

#9296 [SYCL-MLIR]: Add cmake target to run Polygeist unittests
  .github/workflows/sycl_linux_build_and_test.yml
  polygeist/CMakeLists.txt
  polygeist/test/CMakeLists.txt
  polygeist/test/Unit/lit.cfg.py
  polygeist/test/Unit/lit.site.cfg.py.in
  polygeist/test/lit.cfg.py
Labels: sycl-mlir

#9359 [SYCL-MLIR][ReachingDefinition] Fix potential modifiers map after free
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestReachingDefinitionsAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
Labels: bug, sycl-mlir

#9318 [SYCL-MLIR] Add `polygeist.struct` type
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistBase.td
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistOps.td
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.h
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.td
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/polygeist-types-to-llvm.mlir
Labels: sycl-mlir

#9386 [SYCL-MLIR] Drop SYCLFuncRegistry module
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLFuncRegistry.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLFuncRegistry.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#9385 [SYCL-MLIR] Correct handling of builtin assume
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Test/Verification/assume.cpp
Labels: sycl-mlir

#9389 [SYCL-MLIR] Add -sycl-device-only option to cgeist
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/host_module.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_use_host_module.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9412 [SYCL-MLIR] Handle `CK_LValueBitCast` in cgeist codegen
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Test/Verification/reinterpret_cast.cpp
Labels: sycl-mlir

#9413 [SYCL-MLIR] Add `-sycl-implementation` and `-sycl-target` options to `sycl` lowering
  mlir-sycl/include/mlir/Conversion/SYCLPasses.td
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLToLLVM.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.td
  mlir-sycl/lib/Conversion/SYCLToLLVM/CMakeLists.txt
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  polygeist/include/mlir/Conversion/PolygeistPasses.td
  polygeist/include/mlir/Conversion/PolygeistToLLVM/PolygeistToLLVM.h
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/targets.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9429 [SYCL-MLIR] Add `isPacked` in `polygeist.struct`
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.td
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/polygeist-types-to-llvm.mlir
Labels: sycl-mlir

#9422 [SYCL-MLIR][ReachingDefinition] Handle control flow if without else
  mlir/lib/Analysis/DataFlow/DenseAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
  sycl/test-e2e/Plugin/enqueue-arg-order-image.cpp
Labels: sycl-mlir

#9443 [SYCL-MLIR]: Fix warning
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
Labels: sycl-mlir

#9447 [SYCL-MLIR][NFC] Reorder switch CastKind to match order in `OperationKinds.def`
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#9428 [SYCL-MLIR]: Memory access analysis part3
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/CMakeLists.txt
  polygeist/test/lib/Dialect/Polygeist/TestMemoryAccessAnalysis.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#9498 [SYCL-MLIR] Support opaque pointers in cgeist LLVM IR output
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/test/polygeist-opt/sycl/subindex.mlir
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/TypeUtils.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/base_with_virt.cpp
  polygeist/tools/cgeist/Test/Verification/base_with_virt2.cpp
  polygeist/tools/cgeist/Test/Verification/ext_vector_type.cpp
  polygeist/tools/cgeist/Test/Verification/globals.c
  polygeist/tools/cgeist/Test/Verification/lowerrecur.c
  polygeist/tools/cgeist/Test/Verification/single_field_union.c
  polygeist/tools/cgeist/Test/Verification/single_field_union_for_mem.c
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_cache.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/ex_particle_reduced.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/options.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/parallel_for.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/pure_const_attrs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/restrict.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/single_task.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-copy.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/stream-triad.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9528 [SYCL-MLIR] Add `isOpaque` in `polygeist.struct`
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistTypes.td
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/IR/PolygeistTypes.cpp
  polygeist/test/polygeist-opt/polygeist-types-invalid.mlir
  polygeist/test/polygeist-opt/polygeist-types-to-llvm.mlir
Labels: sycl-mlir

#9474 [SYCL-MLIR][driver] Add `-fsycl-raise-host` option
  clang/include/clang/Driver/Options.td
  clang/include/clang/Driver/ToolChain.h
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/Clang.h
  clang/test/Driver/sycl-mlir.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#9445 [SYCL-MLIR]: Memory access analysis part4
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestMemoryAccessAnalysis.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
Labels: sycl-mlir

#9549 [SYCL-MLIR][CodeGen] Handle inherited constructors
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/constructors.cpp
Labels: sycl-mlir

#9509 [SYCL-MLIR] Add `LoopInternalization` pass (part 1)
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9506 [SYCL-MLIR]: Memory access analysis (part5)
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
Labels: sycl-mlir

#9562 [SYCL-MLIR] Construct `MLIRScanner` with `InsertionContext`
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGDecl.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
Labels: sycl-mlir

#9601 [SYCL-MLIR] Update xfail list after rebase
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#9619 [SYCL-MLIR] pulldown (20230526)
  sycl/include/sycl/detail/generic_type_lists.hpp
  sycl/include/sycl/types.hpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/test-e2e/ESIMD/regression/Inputs/dgetrf.hpp
  sycl/test-e2e/ESIMD/regression/dgetrf.cpp
  sycl/test-e2e/ESIMD/slm_alloc_many_kernels_one_func.cpp
  sycl/test/basic_tests/vectors/vectors.cpp
Labels: ignore-lint, sycl-mlir

#9597 [SYCL-MLIR]: Memory access analysis (part6)
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/test/lib/Dialect/Polygeist/TestMemoryAccessAnalysis.cpp
  polygeist/test/polygeist-opt/memoryAccess.mlir
  polygeist/unittests/Analysis/MemoryAccessAnalysis/MatrixTest.cpp
Labels: sycl-mlir

#9583 [SYCL-MLIR][LoopInternalization] Create a local barrier before the tiled loops
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/barrier-op-to-llvm.mlir
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9622 [SYCL-MLIR][LoopInternalization] Code refactoring
  polygeist/include/mlir/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.h
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/LICM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/unittests/Analysis/MemoryAccessAnalysis/MatrixTest.cpp
Labels: sycl-mlir

#9640 [SYCL-MLIR][LoopInternalization] Add limitations on candidates
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.h
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
Labels: sycl-mlir

#9648 [SYCL-MLIR] Prevent name collision for sycl arrays
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/check-collision-typed-pointer.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/check-collision.mlir
Labels: sycl-mlir

#9590 [SYCL-MLIR] Add intrinsics to LLVM dialect
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/test/Target/LLVMIR/Import/intrinsic.ll
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Labels: upstream, sycl-mlir

#9571 [SYCL-MLIR] Add target extension type
  mlir/include/mlir/Dialect/LLVMIR/LLVMOpBase.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMTypes.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMTypeSyntax.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMTypes.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/lib/Target/LLVMIR/TypeFromLLVM.cpp
  mlir/lib/Target/LLVMIR/TypeToLLVM.cpp
  mlir/test/Dialect/LLVMIR/global.mlir
  mlir/test/Dialect/LLVMIR/invalid.mlir
  mlir/test/Dialect/LLVMIR/types-invalid.mlir
  mlir/test/Dialect/LLVMIR/types.mlir
  mlir/test/Target/LLVMIR/Import/target-ext-type.ll
  mlir/test/Target/LLVMIR/llvmir-types.mlir
  mlir/test/Target/LLVMIR/target-ext-type.mlir
Labels: upstream, sycl-mlir

#9621 [SYCL-MLIR] Deactivate debug assignment tracking
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-mlir.cpp
Labels: sycl-mlir
