Repository intel/llvm, pull requests merged in 2023-08, with the labels that each got.

#10643 [SYCL-MLIR] Add `handler` operand with write effect to `schedule_kernel` op
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Transforms/constant-propagation.mlir
Labels: sycl-mlir

#10630 [SYCL-MLIR] Hack to allow polygeist to reuse the clang backend utils
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-mlir.cpp
  llvm/lib/SYCLLowerIR/MutatePrintfAddrspace.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/single_task.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
  polygeist/tools/cgeist/driver.cc
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#10665 [SYCL-MLIR] Always inline `sycl::handler::parallel_for`
  sycl/include/sycl/handler.hpp
Labels: sycl-mlir

#10671 [SYCL-MLIR] Ignore destructors when raising `set_captured`.
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10673 [SYCL-MLIR][sycl-raise-host] nd_range constructor: Ensure domination
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range_constructors.cpp
Labels: sycl-mlir

#10653 [SYCL-MLIR][sycl-constant-propagation] Propagate constant array arguments
  mlir-sycl/lib/Dialect/SYCL/Transforms/ConstantPropagation.cpp
  mlir-sycl/test/Transforms/constant-propagation.mlir
Labels: sycl-mlir

#10678 [SYCL-MLIR][ReachingDefinition] Do not break on non-function symbols
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
Labels: sycl-mlir

#10683 [SYCL-MLIR] Raise more `set_capture` ops.
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10690 [SYCL-MLIR][sycl-constant-propagation] Fix `getConstantArgs` lambda
  mlir-sycl/lib/Dialect/SYCL/Transforms/ConstantPropagation.cpp
Labels: sycl-mlir

#10651 [SYCL-MLIR] Raise `sycl.host.schedule_kernel`.
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_index.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_offset.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_schedule_kernel.cpp
  sycl/include/sycl/handler.hpp
Labels: sycl-mlir

#10680 [SYCL-MLIR] pulldown (20230803)
  .github/workflows/sycl_exp_precommit.yml
  .github/workflows/sycl_linux_build.yml
  .github/workflows/sycl_linux_run_tests.yml
  .github/workflows/sycl_precommit_aws.yml
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaOverload.cpp
  devops/scripts/install_build_tools.sh
  llvm/include/llvm/SYCLLowerIR/ESIMD/ESIMDUtils.h
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDUtils.cpp
  llvm/lib/SYCLLowerIR/ESIMD/LowerESIMD.cpp
  llvm/test/tools/sycl-post-link/spec-constants/composite-default-value.ll
  llvm/tools/sycl-post-link/SpecConstants.cpp
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/handler.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/level_zero/platform.cpp
  sycl/test-e2e/Basic/parallel_for_offset_integral_t.cpp
  sycl/test-e2e/ESIMD/assert.cpp
  sycl/test-e2e/ESIMD/esimd_test_utils.hpp
  sycl/test/esimd/wait.cpp
Labels: ignore-lint, sycl-mlir

#10698 [SYCL-MLIR] pulldown (20230804)
  .github/workflows/sycl_linux_run_tests.yml
  sycl/include/sycl/range.hpp
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/queue.cpp
  sycl/test/basic_tests/range.cpp
Labels: ignore-lint, sycl-mlir

#10696 [SYCL-MLIR] Add `MemoryEffectsOpInterface` to remaining host ops
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
Labels: sycl-mlir

#10693 [SYCL-MLIR] Capture split arrays during raising
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10706 [SYCL-MLIR] pulldown (20230805)
  .github/workflows/sycl_detect_changes.yml
  .github/workflows/sycl_exp_precommit.yml
  .github/workflows/sycl_linux_run_tests.yml
  .github/workflows/sycl_precommit_aws.yml
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  sycl/test/check_device_code/buffer_location_codegen.cpp
  sycl/test/esimd/dae.cpp
  sycl/test/esimd/genx_func_attr.cpp
  sycl/test/esimd/slm_init_specconst_size.cpp
Labels: ignore-lint, sycl-mlir

#10712 [SYCL-MLIR] Raise accessors with `target::local`.
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
Labels: sycl-mlir

#10717 [SYCL-MLIR][sycl-constant-propagation] Change queried program point
  mlir-sycl/lib/Dialect/SYCL/Transforms/ConstantPropagation.cpp
  mlir-sycl/test/Transforms/constant-propagation.mlir
Labels: sycl-mlir

#10728 [SYCL-MLIR] Add statistics to host raising pass.
  polygeist/include/mlir/Dialect/Polygeist/Transforms/Passes.td
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
Labels: sycl-mlir

#10731 [SYCL-MLIR][accessor-analysis] Handle `local_accessor` instances
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.cpp
  polygeist/test/polygeist-opt/sycl/local-accessor-analysis.mlir
Labels: sycl-mlir

#10735 [SYCL-MLIR][constant-propagation] Propagate `local_accessor` members
  mlir-sycl/lib/Dialect/SYCL/Transforms/ConstantPropagation.cpp
  mlir-sycl/test/Transforms/constant-propagation.mlir
  polygeist/include/mlir/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.h
  polygeist/lib/Dialect/Polygeist/Analysis/SYCLAccessorAnalysis.cpp
Labels: sycl-mlir

#10732 [SYCL-MLIR][LoopInternalization] Enable by default
  polygeist/tools/cgeist/Options.h
Labels: sycl-mlir

#10739 [SYCL-MLIR] Enable -sycl-constant-propagation by default
  polygeist/tools/cgeist/Options.h
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_pipeline.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10753 [SYCL-MLIR] Tweak pipeline when -sycl-use-host-module is passed
  polygeist/lib/Dialect/Polygeist/Analysis/UniformityAnalysis.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_pipeline.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10757 [SYCL-MLIR] Drop `-lower-affine` pass
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10802 [SYCL-MLIR][NFC] Drop `MangledFunctionName` check in `functions.cpp`
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#10806 [SYCL-MLIR][sycl-constant-propagation][NFC] Refactor pass
  mlir-sycl/lib/Dialect/SYCL/Transforms/ConstantPropagation.cpp
Labels: sycl-mlir

#10813 [SYCL-MLIR] Reenable "[SYCL] Refactor and generate SYCL builtins"
  sycl/CMakeLists.txt
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/builtins_utils.hpp
  sycl/include/sycl/detail/type_traits.hpp
  sycl/include/sycl/ext/oneapi/experimental/sycl_complex.hpp
  sycl/source/builtins_generator.py
  sycl/test-e2e/Basic/built-ins/marray_math.cpp
  sycl/test-e2e/Basic/built-ins/vec_common.cpp
  sycl/test-e2e/Basic/built-ins/vec_geometric.cpp
  sycl/test-e2e/Basic/built-ins/vec_math.cpp
  sycl/test-e2e/Basic/built-ins/vec_relational.cpp
  sycl/test-e2e/DeviceLib/built-ins/nan.cpp
  sycl/test-e2e/xfail_tests.txt
  sycl/test/regression/ctz_namespace.cpp
Labels: sycl-mlir

#10825 [SYCL-MLIR] Support lvalue-returning binary operator expressions
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/lvalbinary.cpp
Labels: sycl-mlir

#10827 [SYCL-MLIR] pulldown (20230815)
  .github/workflows/sycl_precommit_linux.yml
  libclc/amdgcn-amdhsa/libspirv/group/collectives.cl
  llvm-spirv/test/extensions/KHR/SPV_KHR_non_semantic_info/preserve-all-function-attributes-crash.ll
  llvm/utils/git/requirements.txt
  sycl/cmake/modules/AddSYCLLibraryUnitTest.cmake
  sycl/doc/EnvironmentVariables.md
  sycl/doc/extensions/experimental/sycl_ext_oneapi_annotated_ptr.asciidoc
  sycl/include/sycl/detail/common.hpp
  sycl/include/sycl/detail/native_cpu.hpp
  sycl/include/sycl/ext/intel/experimental/fpga_annotated_properties.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_arg/annotated_arg.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_ptr/annotated_ptr.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/context.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/image.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/kernel.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/queue.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/queue.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/enqueue.cpp
  sycl/source/detail/device_global_map_entry.hpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/source/detail/program_manager/program_manager.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/stream.cpp
  sycl/test-e2e/Basic/accessor/accessor.cpp
  sycl/test-e2e/Plugin/enqueue-arg-order-image.cpp
  sycl/test-e2e/Plugin/interop-level-zero-image-get-native-mem.cpp
  sycl/test-e2e/Plugin/interop-level-zero-image-ownership.cpp
  sycl/test-e2e/Plugin/interop-level-zero-image.cpp
  sycl/test-e2e/ProgramManager/Inputs/gpu_kernel1.cpp
  sycl/test-e2e/ProgramManager/Inputs/gpu_kernel2.cpp
  sycl/test-e2e/ProgramManager/Inputs/inc.hpp
  sycl/test-e2e/ProgramManager/uneven_kernel_split.cpp
  sycl/test-e2e/Reduction/reduction_reducer_op_eq.cpp
  sycl/test-e2e/SPVDumpUse/basic.cpp
  sycl/test-e2e/SPVDumpUse/kernel_bundle.cpp
  sycl/test/extensions/annotated_arg/annotated_arg_for_ptr.cpp
  sycl/test/native_cpu/globaloffsetchecks.cpp
  sycl/test/native_cpu/readwrite_rectops.cpp
  sycl/unittests/program_manager/CMakeLists.txt
  sycl/unittests/program_manager/arg_mask/CMakeLists.txt
  sycl/unittests/program_manager/arg_mask/EliminatedArgMask.cpp
Labels: ignore-lint, sycl-mlir

#10734 [SYCL-MLIR] Enable raising host by default
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/sycl-mlir.cpp
  libdevice/cmake/modules/SYCLLibdevice.cmake
  sycl/test/check_device_code/cuda/ldg.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-bfloat16-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-double-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-half-float-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-half-half-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-int8-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-tf32-test.cpp
  sycl/test/check_device_code/cuda/matrix/matrix-nvptx-uint8-test.cpp
  sycl/test/extensions/properties/properties_kernel_device_has_warning.cpp
  sycl/test/warnings/aspect_perserve_srcloc.cpp
Labels: sycl-mlir

#10901 [SYCL-MLIR][raise-scf-to-affine] Use ceil division to calculate ub
  polygeist/lib/Dialect/Polygeist/Transforms/RaiseToAffine.cpp
  polygeist/test/polygeist-opt/affraise.mlir
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/Test/Verification/affineraise.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#10830 [SYCL-MLIR] Support lvalue-returning conditional operator
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Test/Verification/conditional.cpp
Labels: sycl-mlir

#10839 [SYCL-MLIR][DOC] Update `SYCLGridRepresentation` design document
  mlir-sycl/doc/design/SYCLGridRepresentation.md
Labels: Documentation, sycl-mlir

#10927 [SYCL-MLIR] Avoid empty LLVM global op for COMDAT
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
Labels: sycl-mlir

#10952 [mlir][spirv] Adapt downstream `client-api` option patch after upstreaming
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVMPass.cpp
  mlir/test/Conversion/SPIRVToLLVM/spirv-storage-class-mapping-unsupported.mlir
Labels: upstream, sycl-mlir

#7598 [SYCL][Doc] Add draft forward progress extension
  sycl/doc/extensions/proposed/sycl_ext_oneapi_forward_progress.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_oneapi_launch_queries.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_oneapi_root_group.asciidoc
Labels: spec extension

#11005 [SYCL-MLIR] pulldown (20230829)
  sycl/doc/EnvironmentVariables.md
  sycl/include/syclcompat/kernel.hpp
  sycl/include/syclcompat/syclcompat.hpp
  sycl/plugins/native_cpu/CMakeLists.txt
  sycl/plugins/native_cpu/pi_native_cpu.cpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/common.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/common.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/image.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/usm.cpp
  sycl/source/detail/program_impl.cpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/test-e2e/Basic/interop/make_kernel_subdevice_l0.cpp
  sycl/test-e2e/Matrix/SG32/element_wise_all_ops_tf32.cpp
  sycl/test-e2e/Matrix/SG32/joint_matrix_all_sizes.cpp
  sycl/test-e2e/Matrix/joint_matrix_out_bounds_impl.hpp
  sycl/test-e2e/syclcompat/kernel/Inputs/kernel_module_lin.cpp
  sycl/test-e2e/syclcompat/kernel/kernel_function_lin.cpp
  sycl/test/abi/pi_nativecpu_symbol_check.dump
Labels: ignore-lint, sycl-mlir

#10999 [SYCL-MLIR] Use properties as storage for attributes
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistBase.td
  polygeist/tools/cgeist/Test/Verification/alignof.cpp
  polygeist/tools/cgeist/Test/Verification/sizeof.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
Labels: sycl-mlir

#11002 [SYCL-MLIR][polygeist-to-llvm] Fix `memref.get_global` lowering
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
Labels: sycl-mlir

#11000 [SYCL-MLIR] Fix image type handling
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_cache.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11016 [SYCL-MLIR][Opaque] Fix `nd_item.get_group_linear_id` lowering
  mlir-sycl/lib/Conversion/SYCLToLLVM/DPCPP.cpp
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
Labels: sycl-mlir
