Repository intel/llvm, pull requests merged in 2023-09, with the labels that each got.

#11050 [SYCL-MLIR] Mark helper functions static
  mlir/lib/Dialect/GPU/TransformOps/GPUTransformOps.cpp
Labels: sycl-mlir

#11098 [SYCL-MLIR] Fix wrong bitcast in cgeist code-gen
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#11150 [SYCL-MLIR] pulldown (20230912)
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclAttr.cpp
  sycl/doc/extensions/experimental/sycl_ext_oneapi_bindless_images.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_intel_cache_controls.asciidoc
  sycl/include/sycl/ext/intel/experimental/esimd/memory.hpp
  sycl/plugins/hip/CMakeLists.txt
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/cuda/image.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/image.hpp
  sycl/plugins/unified_runtime/ur/adapters/hip/context.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/context.hpp
  sycl/plugins/unified_runtime/ur/adapters/hip/device.hpp
  sycl/plugins/unified_runtime/ur/adapters/hip/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/usm.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/usm.hpp
  sycl/test-e2e/CMakeLists.txt
  sycl/test-e2e/KernelFusion/abort_internalization.cpp
  sycl/test-e2e/bindless_images/read_norm_types.cpp
  sycl/test-e2e/lit.site.cfg.py.in
Labels: ignore-lint, sycl-mlir

#11152 [SYCL-MLIR][NFC] Migrate SYCL analyses tests
  mlir-sycl/CMakeLists.txt
  mlir-sycl/test/Analysis/accessor-analysis.mlir
  mlir-sycl/test/Analysis/buffer-analysis.mlir
  mlir-sycl/test/Analysis/id-range-analysis.mlir
  mlir-sycl/test/Analysis/local-accessor-analysis.mlir
  mlir-sycl/test/Analysis/nd-range-analysis.mlir
  mlir-sycl/tools/sycl-mlir-opt/CMakeLists.txt
  mlir-sycl/tools/sycl-mlir-opt/sycl-mlir-opt.cpp
  polygeist/tools/polygeist-opt/CMakeLists.txt
  polygeist/tools/polygeist-opt/polygeist-opt.cpp
Labels: sycl-mlir

#11163 [SYCL-MLIR][cgeist] Use visibility APIs to parse arguments
  clang-tools-extra/clangd/CompileCommands.cpp
  clang-tools-extra/modularize/Modularize.cpp
  clang/docs/InternalsManual.rst
  clang/include/clang/Driver/ClangOptionDocs.td
  clang/include/clang/Driver/Driver.h
  clang/include/clang/Driver/Options.h
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/FrontendTool/ExecuteCompilerInvocation.cpp
  clang/lib/Tooling/InterpolatingCompilationDatabase.cpp
  clang/test/Driver/dxc_debug.hlsl
  clang/tools/driver/cc1as_main.cpp
  clang/utils/TableGen/ClangOptionDocEmitter.cpp
  clang/utils/update_options_td_flags.py
  flang/docs/FlangDriver.md
  flang/docs/FlangOptionsDocs.td
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/FrontendTool/ExecuteCompilerInvocation.cpp
  flang/tools/flang-driver/driver.cpp
  llvm/include/llvm/Option/OptTable.h
  llvm/lib/Option/OptTable.cpp
  polygeist/tools/cgeist/driver.cc
Labels: ignore-lint, sycl-mlir

#11167 [SYCL-MLIR][sycl] Define `isBaseClass` function
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLTypes.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#11168 [SYCL-MLIR][sycl] Add `SYCLInheritanceTypeTrait<OwnerLessBaseType>` trait to `LocalAccessor`
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLTypes.td
Labels: sycl-mlir

#11153 Remove assertion in `AbstractDenseForwardDataFlowAnalysis`
  mlir/lib/Analysis/DataFlow/DenseAnalysis.cpp
  mlir/test/Analysis/DataFlow/test-last-modified.mlir
  mlir/test/lib/Analysis/DataFlow/TestDenseForwardDataFlowAnalysis.cpp
  mlir/test/lib/Dialect/Test/TestDialect.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: sycl-mlir

#11179 [SYCL-MLIR] pulldown (20230914)
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/test/Driver/sycl-esimd-build-host-code.cpp
  libdevice/cmath_wrapper.cpp
  libdevice/cmath_wrapper_fp64.cpp
  llvm/include/llvm/SYCLLowerIR/ESIMD/LowerESIMD.h
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/SYCLLowerIR/CMakeLists.txt
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDRemoveHostCode.cpp
  llvm/lib/SYCLLowerIR/PrepareSYCLNativeCPU.cpp
  llvm/lib/SYCLLowerIR/RenameKernelSYCLNativeCPU.cpp
  llvm/test/SYCLLowerIR/ESIMD/remove_host_code.ll
  sycl/doc/extensions/experimental/sycl_ext_oneapi_bindless_images.asciidoc
  sycl/include/sycl/ext/intel/esimd/detail/defines_elementary.hpp
  sycl/include/sycl/ext/intel/esimd/detail/util.hpp
  sycl/include/sycl/queue.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/level_zero/context.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/context.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/usm.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/usm.hpp
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/plugin.hpp
  sycl/test-e2e/ESIMD/no_host_code.cpp
  sycl/test-e2e/NonUniformGroups/fixed_size_group.cpp
  sycl/test-e2e/NonUniformGroups/fixed_size_group_algorithms.cpp
  sycl/test-e2e/NonUniformGroups/tangle_group_algorithms.cpp
  sycl/test-e2e/Scheduler/DataMovement.cpp
  sycl/test-e2e/SubGroupMask/Basic.cpp
  sycl/test-e2e/USM/usm_pooling.cpp
  sycl/test-e2e/bindless_images/read_sampled.cpp
  sycl/test-e2e/xfail_tests.txt
  sycl/test/check_device_code/native_cpu/native_cpu_builtins.cpp
Labels: ignore-lint, sycl-mlir

#11193 [SYCL-MLIR][polygeist] Verify `pointer2memref` and `memref2pointer`
  polygeist/include/mlir/Dialect/Polygeist/IR/PolygeistOps.td
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/IR/PolygeistOps.cpp
Labels: sycl-mlir

#11201 [SYCL-MLIR] Sync with `sycl` branch
  clang/test/CodeGenSYCL/sycl-cuda-host-device-functions.cu
  llvm/cmake/modules/TableGen.cmake
  mlir/lib/Dialect/Vector/Transforms/LowerVectorTranspose.cpp
  mlir/lib/Dialect/Vector/Utils/VectorUtils.cpp
  mlir/lib/Dialect/X86Vector/Transforms/AVXTranspose.cpp
  mlir/test/Dialect/Vector/vector-transpose-lowering.mlir
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
  sycl/test-e2e/Matrix/Legacy/joint_matrix_int8_vnni_impl.hpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: ignore-lint, sycl-mlir

#11205 [SYCL-MLIR] pulldown (20230918)
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/detail/scheduler/scheduler.hpp
Labels: ignore-lint, sycl-mlir

#11221 [SYCL-MLIR] pulldown (20230919)
  libclc/ptx-nvidiacl/libspirv/images/image.cl
  llvm/lib/SYCLLowerIR/SYCLPropagateAspectsUsage.cpp
  llvm/test/SYCLLowerIR/PropagateAspectsUsage/global-value.ll
  sycl/doc/extensions/experimental/sycl_ext_matrix/sycl_ext_intel_matrix.asciidoc
  sycl/doc/extensions/experimental/sycl_ext_matrix/sycl_ext_oneapi_matrix.asciidoc
  sycl/test-e2e/Regression/pf-wg-atomic64.cpp
  sycl/test-e2e/Regression/same_unnamed_kernels.cpp
  sycl/test-e2e/bindless_images/mipmap/mipmap_read_1D.cpp
  sycl/test-e2e/bindless_images/mipmap/mipmap_read_2D.cpp
  sycl/test-e2e/bindless_images/mipmap/mipmap_read_3D.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: ignore-lint, sycl-mlir

#11235 [SYCL-MLIR] pulldown (20230920)
  llvm/include/llvm/SYCLLowerIR/DeviceConfigFile.td
  sycl/doc/extensions/supported/sycl_ext_intel_esimd/sycl_ext_intel_esimd.md
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/device_aspect_macros.hpp
  sycl/include/sycl/ext/intel/esimd/detail/simd_obj_impl.hpp
  sycl/include/sycl/ext/intel/esimd/detail/simd_view_impl.hpp
  sycl/include/sycl/ext/intel/math/imf_half_trivial.hpp
  sycl/include/sycl/info/aspects.def
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/pi_unified_runtime.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/ur_interface_loader.cpp
  sycl/source/detail/device_impl.cpp
  sycl/test-e2e/ESIMD/slm_init_no_inline.cpp
  sycl/test-e2e/OptionalKernelFeatures/esimd.cpp
  sycl/test/optional_kernel_features/esimd.cpp
Labels: ignore-lint, sycl-mlir

#8678 [SYCL][Doc] Graph fusion extension proposal
  sycl/doc/extensions/experimental/sycl_ext_codeplay_kernel_fusion.asciidoc
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph_fusion.asciidoc
Labels: spec extension

#11268 [SYCL-MLIR][cgeist] Remove `noreturn` attribute in SYCL device code
  polygeist/tools/cgeist/Lib/Attributes.cc
  polygeist/tools/cgeist/Lib/Attributes.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/noreturn.cpp
Labels: sycl-mlir

#11273 [SYCL-MLIR][NFC] Remove unused `sycl.host.kernel_name` op.
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLHostOps.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLOps.cpp
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
Labels: sycl-mlir

#11290 [SYCL-MLIR][cgeist][test] Add `base_cast.cpp` test
  polygeist/tools/cgeist/Test/Verification/base_cast.cpp
Labels: sycl-mlir

#11293 [SYCL-MLIR] pulldown (20230925)
  llvm/lib/SYCLLowerIR/PrepareSYCLNativeCPU.cpp
  llvm/lib/SYCLLowerIR/RenameKernelSYCLNativeCPU.cpp
  sycl/include/sycl/ext/intel/esimd/detail/types.hpp
  sycl/plugins/unified_runtime/ur/adapters/hip/enqueue.cpp
  sycl/test/check_device_code/native_cpu/native_cpu_subhandler.cpp
  sycl/test/native_cpu/link-noinline.cpp
  sycl/test/native_cpu/sycl-external.cpp
Labels: ignore-lint, sycl-mlir

#11236 [SYCL-MLIR][polygeist-to-llvm] Revamp alloc-like lowering patterns
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-grid-ops-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  polygeist/lib/Conversion/PolygeistToLLVM/PolygeistToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/BareMemRefToLLVM.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/CMakeLists.txt
  polygeist/test/polygeist-opt/polygeist-to-llvm.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
Labels: sycl-mlir

#11271 [SYCL-MLIR][sycl] Add SYCL 2020 `sycl.target` values
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLAttributes.td
  mlir-sycl/lib/Dialect/SYCL/IR/SYCLDialect.cpp
  mlir-sycl/test/Analysis/accessor-analysis.mlir
  mlir-sycl/test/Analysis/local-accessor-analysis.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-call-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-cast-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-constructor-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-flat-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm-m32.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-methods-to-llvm.mlir
  mlir-sycl/test/Conversion/SYCLToLLVM/sycl-types-to-llvm.mlir
  mlir-sycl/test/Dialect/SYCL/host.mlir
  mlir-sycl/test/Dialect/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/SYCL/ops.mlir
  mlir-sycl/test/Dialect/SYCL/types.mlir
  mlir-sycl/test/Transforms/constant-propagation.mlir
  polygeist/test/polygeist-opt/cudalower.mlir
  polygeist/test/polygeist-opt/licm.mlir
  polygeist/test/polygeist-opt/memoryAccess.mlir
  polygeist/test/polygeist-opt/reachingDefinitions.mlir
  polygeist/test/polygeist-opt/sycl/detect-reduction-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/licm-accessor-versioning.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_unroll.mlir
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
  polygeist/test/polygeist-opt/sycl/subindex.mlir
  polygeist/test/polygeist-opt/sycl/sycl-raise-host.mlir
  polygeist/test/polygeist-opt/uniformity.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/array-capture.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_captures.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_index.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_nd_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_range_offset.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/raising/host_raising_schedule_kernel.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#11304 [SYCL-MLIR][cgeist][test] Add `sycl-optlevel` attribute test
  polygeist/tools/cgeist/Test/Verification/sycl/sycl-optlevel.cpp
Labels: sycl-mlir

#11313 [SYCL-MLIR] Merge from intel/llvm sycl branch
  .github/workflows/sycl_linux_build_and_test.yml
  .github/workflows/sycl_precommit_windows.yml
  llvm/include/llvm/SYCLLowerIR/DeviceConfigFile.td
  llvm/lib/SYCLLowerIR/PrepareSYCLNativeCPU.cpp
  sycl/doc/extensions/proposed/sycl_ext_oneapi_non_uniform_groups.asciidoc
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/device_aspect_macros.hpp
  sycl/include/sycl/ext/oneapi/experimental/ballot_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/fixed_size_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/opportunistic_group.hpp
  sycl/include/sycl/ext/oneapi/experimental/tangle_group.hpp
  sycl/include/sycl/ext/oneapi/matrix/matrix.hpp
  sycl/include/sycl/ext/oneapi/matrix/query-types.hpp
  sycl/include/sycl/ext/oneapi/matrix/static-query-use.hpp
  sycl/include/sycl/info/aspects.def
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/include/sycl/stl_wrappers/cmath
  sycl/source/builtins_generator.py
  sycl/source/detail/device_impl.cpp
  sycl/source/detail/device_info.hpp
  sycl/test-e2e/Annotated_arg_ptr/annotated_arg.cpp
  sycl/test-e2e/Annotated_arg_ptr/annotated_ptr.cpp
  sycl/test-e2e/Basic/built-ins/host_math.cpp
  sycl/test-e2e/Basic/built-ins/marray_common.cpp
  sycl/test-e2e/Basic/built-ins/vec_common.cpp
  sycl/test-e2e/DeviceLib/imf_fp16_trivial_test.cpp
  sycl/test-e2e/DeviceLib/math_test_marray_vec_common.hpp
  sycl/test-e2e/Graph/submission_while_executing.cpp
  sycl/test-e2e/Matrix/SG32/joint_matrix_bf16_fill_k_cache_unroll.cpp
  sycl/test-e2e/Matrix/SG32/joint_matrix_bf16_fill_k_cache_unroll_init.cpp
  sycl/test-e2e/Matrix/joint_matrix_apply_cuda.hpp
  sycl/test-e2e/Matrix/joint_matrix_bf16_fill_k_cache_impl.hpp
  sycl/test-e2e/Matrix/joint_matrix_bf16_fill_k_cache_unroll.cpp
  sycl/test-e2e/Matrix/joint_matrix_bf16_fill_k_cache_unroll_init.cpp
  sycl/test-e2e/Matrix/runtime_query_pvc.cpp
  sycl/test-e2e/Matrix/runtime_query_spr.cpp
  sycl/test-e2e/NonUniformGroups/fixed_size_group.cpp
  sycl/test-e2e/ProgramManager/uneven_kernel_split.cpp
  sycl/test-e2e/Reduction/reduction_utils.hpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/basic_tests/no_math_in_global_ns.cpp
  sycl/test/basic_tests/sycl_maximum_minimum.cpp
  sycl/test/matrix/matrix-bfloat16-test-coord-basicB.cpp
  sycl/test/matrix/runtime-query.cpp
  sycl/test/native_cpu/multiple_tu.cpp
  sycl/test/native_cpu/vector-add.cpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
Labels: ignore-lint, sycl-mlir

#11305 [SYCL-MLIR][loop-internalization] Drop assert expecting valid memory access analysis result
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
Labels: sycl-mlir

#11316 [SYCL-MLIR] Update xfail list
  sycl/test-e2e/Basic/built-ins/vec_common.cpp
  sycl/test-e2e/KernelFusion/abort_internalization.cpp
  sycl/test-e2e/KernelFusion/buffer_internalization.cpp
  sycl/test-e2e/KernelFusion/diamond_shape.cpp
  sycl/test-e2e/KernelFusion/internalize_array_wrapper.cpp
  sycl/test-e2e/KernelFusion/internalize_deep.cpp
  sycl/test-e2e/KernelFusion/internalize_multi_ptr.cpp
  sycl/test-e2e/KernelFusion/internalize_vec.cpp
  sycl/test-e2e/KernelFusion/internalize_vfunc.cpp
  sycl/test-e2e/KernelFusion/jit_caching.cpp
  sycl/test-e2e/KernelFusion/private_internalization.cpp
  sycl/test-e2e/KernelFusion/ranged_offset_accessor.cpp
  sycl/test-e2e/KernelFusion/three_dimensional.cpp
  sycl/test-e2e/KernelFusion/two_dimensional.cpp
  sycl/test-e2e/KernelFusion/work_group_barrier.cpp
  sycl/test-e2e/Tracing/usm/queue_single_task_nullptr.cpp
  sycl/test-e2e/syclcompat/memory/memory_management_test1.cpp
  sycl/test-e2e/syclcompat/memory/memory_management_test3.cpp
  sycl/test-e2e/syclcompat/memory/usm_allocations.cpp
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11320 [SYCL-MLIR][cgeist] Add sub-group size metadata to kernels
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/sycl/default_sub_group_size.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/esimd_metadata.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/named_sub_group_size.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/reqd_sub_group_size.cpp
Labels: sycl-mlir

#11323 [SYCL-MLIR][cgeist] Allow SYCL types not in the `sycl` dialect by default
  buildbot/configure.py
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/CgeistConfig.h.in
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  sycl/test-e2e/xfail_tests.txt
Labels: sycl-mlir

#11349 [SYCL-MLIR] pulldown (20230928)
  llvm/utils/git/requirements.txt
  sycl/include/sycl/detail/type_list.hpp
  sycl/include/sycl/sycl.hpp
  sycl/plugins/CMakeLists.txt
  sycl/plugins/level_zero/CMakeLists.txt
  sycl/plugins/level_zero/pi_level_zero.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/level_zero/README.md
  sycl/plugins/unified_runtime/ur/adapters/level_zero/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/adapter.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/command_buffer.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/common.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/common.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/context.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/context.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/device.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/event.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/event.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/image.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/image.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/kernel.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/kernel.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/memory.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/memory.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/platform.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/platform.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/program.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/program.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/queue.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/queue.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/sampler.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/sampler.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/usm.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/usm.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/usm_p2p.cpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/xpti_registry.hpp
  sycl/test-e2e/XPTI/basic_event_collection_linux.cpp
  sycl/test-e2e/xfail_tests.txt
  sycl/test/CMakeLists.txt
  sycl/test/basic_tests/no_math_in_global_ns.cpp
  sycl/test/type_traits/type_list.cpp
  sycl/test/warnings/warnings.cpp
  sycl/unittests/xpti_trace/NodeCreation.cpp
  sycl/unittests/xpti_trace/xptitest_subscriber/XPTISubscriber.cpp
Labels: ignore-lint, sycl-mlir
