Repository intel/llvm, pull requests merged in 2023-11, with the labels that each got.

#11763 [SYCL-MLIR] pulldown (20231102)
  sycl/include/sycl/ext/intel/esimd/detail/atomic_intrin.hpp
  sycl/include/sycl/ext/intel/experimental/esimd/detail/memory_intrin.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_ptr/annotated_ptr.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_ptr/annotated_ptr_properties.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/alloc_base.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/alloc_device.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/alloc_host.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/alloc_shared.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/alloc_util.hpp
  sycl/include/sycl/ext/oneapi/experimental/annotated_usm/dealloc.hpp
  sycl/include/sycl/ext/oneapi/properties/property.hpp
  sycl/include/sycl/sycl.hpp
  sycl/source/feature_test.hpp.in
  sycl/source/handler.cpp
  sycl/test-e2e/Annotated_usm/annotated_usm_align.cpp
  sycl/test-e2e/Annotated_usm/annotated_usm_kind.cpp
  sycl/test-e2e/Annotated_usm/annotated_usm_negative.cpp
  sycl/test-e2e/Annotated_usm/annotated_usm_shared_align.cpp
  sycl/test-e2e/ESIMD/histogram_256_slm.cpp
  sycl/test-e2e/ESIMD/histogram_256_slm_spec_2020.cpp
  sycl/test-e2e/ESIMD/linear/bitmap_helpers.h
  sycl/test-e2e/ESIMD/regression/half_conversion_test.cpp
  sycl/test-e2e/Plugin/interop-level-zero-image-get-native-mem.cpp
  sycl/test-e2e/Regression/commandlist/Inputs/main.cpp
  sycl/test/esimd/regression/windows_msvc_math.cpp
  sycl/test/extensions/annotated_usm/annotated_usm.cpp
  sycl/test/extensions/annotated_usm/fake_properties.hpp
  sycl/test/extensions/annotated_usm/invalid_compile_time_properties.cpp
  sycl/test/extensions/annotated_usm/invalid_runtime_properties.cpp
  sycl/test/extensions/annotated_usm/invalid_usm_kind.cpp
Labels: ignore-lint, sycl-mlir

#11759 [SYCL-MLIR][loop-restructure] Preserve block arguments
  polygeist/lib/Dialect/Polygeist/Transforms/LoopRestructure.cpp
  polygeist/test/polygeist-opt/loop-restructure-keep-block-arg.mlir
  polygeist/tools/cgeist/Test/Verification/do-while-switch.c
Labels: sycl-mlir

#11775 [SYCL-MLIR][cgeist] Define global variables in proper context
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/use-global-in-namespace.cpp
Labels: sycl-mlir

#11802 [SYCL-MLIR][mlir-translate] Set call attributes following callee
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/llvmir.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/usm-wrapper.cpp
Labels: sycl-mlir

#11819 [SYCL-MLIR][cgeist] Contract FP operations
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Test/Verification/fmuladd.cpp
  polygeist/tools/cgeist/Test/Verification/gettimeofday.c
  polygeist/tools/cgeist/Test/Verification/raiseToAffine.c
  polygeist/tools/cgeist/Test/Verification/raiseToAffineUnsignedCmp.c
  polygeist/tools/cgeist/Test/Verification/sgesv.c
  polygeist/tools/cgeist/Test/polybench/datamining/correlation/correlation.c
  polygeist/tools/cgeist/Test/polybench/datamining/covariance/covariance.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/gemm/gemm.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/gemver/gemver.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/gesummv/gesummv.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/symm/symm.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/syr2k/syr2k.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/syrk/syrk.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/blas/trmm/trmm.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/2mm/2mm.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/3mm/3mm.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/atax/atax.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/bicg/bicg.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/doitgen/doitgen.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/kernels/mvt/mvt.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/cholesky/cholesky.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/durbin/durbin.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/gramschmidt/gramschmidt.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/lu/lu.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/ludcmp/ludcmp.c
  polygeist/tools/cgeist/Test/polybench/linear-algebra/solvers/trisolv/trisolv.c
  polygeist/tools/cgeist/Test/polybench/medley/deriche/deriche.c
  polygeist/tools/cgeist/Test/polybench/medley/floyd-warshall/floyd-warshall.c
  polygeist/tools/cgeist/Test/polybench/medley/nussinov/Nussinov.orig.c
  polygeist/tools/cgeist/Test/polybench/medley/nussinov/nussinov.c
  polygeist/tools/cgeist/Test/polybench/stencils/adi/adi.c
  polygeist/tools/cgeist/Test/polybench/stencils/fdtd-2d/fdtd-2d.c
  polygeist/tools/cgeist/Test/polybench/stencils/heat-3d/heat-3d.c
  polygeist/tools/cgeist/Test/polybench/stencils/jacobi-1d/jacobi-1d.c
  polygeist/tools/cgeist/Test/polybench/stencils/jacobi-2d/jacobi-2d.c
  polygeist/tools/cgeist/Test/polybench/stencils/seidel-2d/seidel-2d.c
  polygeist/tools/cgeist/Test/polybench/utilities/polybench.c
Labels: sycl-mlir

#11829 [GENX][CI] Add LLVM Pre Commit
  .github/workflows/build_and_test.yml
Labels: genx

#11848 [GENX] Cast device function call to correct type
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#11804 [SYCL][NATIVECPU] Move Native CPU adapter to UR.
  sycl/plugins/native_cpu/CMakeLists.txt
  sycl/plugins/native_cpu/pi_native_cpu.hpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/README.md
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/adapter.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/common.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/common.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/context.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/context.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/device.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/device.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/enqueue.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/event.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/image.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/kernel.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/kernel.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/memory.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/memory.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/nativecpu_state.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/platform.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/platform.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/program.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/program.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/queue.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/queue.hpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/sampler.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/usm.cpp
  sycl/plugins/unified_runtime/ur/adapters/native_cpu/usm_p2p.cpp
Labels: native-cpu

#11842 [CI] Skip lint job when disable-lint is set
  .github/workflows/sycl_linux_precommit.yml
  .github/workflows/sycl_post_commit.yml
  .github/workflows/sycl_windows_precommit.yml
Labels: disable-lint

#11936 [SYCL-MLIR] Attach fast math flags to codegened operations
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLMathOps.td
  mlir-sycl/lib/Conversion/SYCLToMath/SYCLToMath.cpp
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Lib/ValueCategory.h
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
  polygeist/tools/cgeist/Test/Verification/sycl/fastmath.cpp
Labels: sycl-mlir

#11984 [GENX] Allow cloning function with void return type
  mlir/lib/Dialect/LLVMIR/IR/LLVMTypes.cpp
Labels: genx

#11933 [SYCL][Graph] Fixes enqueue barrier slowdown
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: sycl-graph

#11718 [SYCL][OpenCL] Enable graph extension on OpenCL backend
  sycl/doc/design/CommandGraph.md
  sycl/doc/design/images/SYCL-Graph-Architecture.svg
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/source/detail/memory_manager.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_host2target.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_host2target_2d.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_host2target_offset.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_target2host.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_target2host_2d.cpp
  sycl/test-e2e/Graph/Explicit/buffer_copy_target2host_offset.cpp
  sycl/test-e2e/Graph/Explicit/cycle_error.cpp
  sycl/test-e2e/Graph/Explicit/executable_graph_update_ordering.cpp
  sycl/test-e2e/Graph/Explicit/usm_copy.cpp
  sycl/test-e2e/Graph/Inputs/buffer_ordering.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_host2target.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_host2target_2d.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_host2target_offset.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_target2host.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_target2host_2d.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_copy_target2host_offset.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_multiple_queues.cpp
  sycl/test-e2e/Graph/RecordReplay/executable_graph_update_ordering.cpp
  sycl/test-e2e/Graph/RecordReplay/usm_copy.cpp
  sycl/test-e2e/Graph/RecordReplay/usm_copy_in_order.cpp
  sycl/test-e2e/Graph/device_query.cpp
Labels: sycl-graph
