Repository intel/llvm, pull requests merged in 2023-01, with the labels that each got.

#7895 [SYCL][NFC] Recover community code formatting.
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/conversion.c
Labels: ignore-lint

#7890 [SYCL-MLIR]: Fix address space cast (issue 7835)
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/global_string.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
Labels: sycl-mlir

#7907 [SYCL-MLIR]: Initialize allocated struct (fix issue 7709)
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/new.cpp
Labels: sycl-mlir

#7935 [SYCL-MLIR][NFI]: Refactor CGExpr.cc and CGCall.cc
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
Labels: sycl-mlir

#7940 [SYCL-MLIR][NFI]: Fix compilation warnings
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  polygeist/lib/polygeist/Ops.cpp
  polygeist/lib/polygeist/Passes/AffineCFG.cpp
  polygeist/lib/polygeist/Passes/CanonicalizeFor.cpp
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/lib/polygeist/Passes/LoopRestructure.cpp
  polygeist/lib/polygeist/Passes/Mem2Reg.cpp
  polygeist/lib/polygeist/Passes/OpenMPOpt.cpp
  polygeist/tools/cgeist/Lib/Attributes.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
Labels: sycl-mlir

#7920 [SYCL-MLIR][NFI]: Refactor and fix clang-tidy warnings
  polygeist/tools/cgeist/CMakeLists.txt
  polygeist/tools/cgeist/Lib/CGDecl.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
Labels: sycl-mlir

#7960 [SYCL-MLIR] Always lower memrefs to llvm pointers
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVM.cpp
  polygeist/include/polygeist/Passes/Utils.h
  polygeist/lib/polygeist/Passes/ConvertPolygeistToLLVM.cpp
  polygeist/test/polygeist-opt/bareptrlowering.mlir
  polygeist/test/polygeist-opt/sycl/cast.mlir
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#7985 [SYCL-MLIR] Post commit review comments for stream type
  mlir-sycl/lib/Dialect/IR/SYCLOpsDialect.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#7983 [SYCL-MLIR] Represent all SYCLMethodOpInterface arguments in SSA form
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpInterfaces.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/include/mlir/Dialect/SYCL/MethodUtils.h
  mlir-sycl/lib/Dialect/IR/CMakeLists.txt
  mlir-sycl/lib/Dialect/IR/MethodUtils.cpp
  mlir-sycl/lib/Dialect/IR/SYCLOps.cpp
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
  mlir-sycl/test/Transforms/sycl-method-to-sycl-call.mlir
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
Labels: sycl-mlir

#7783 [SYCL-MLIR] Generate non-LLVM dialect types inside single-field unions
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/single_field_union.c
  polygeist/tools/cgeist/Test/Verification/single_field_union_for_mem.c
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
Labels: sycl-mlir

#8007 [SYCL-MLIR] Add back the sycl commit that changes the default optimization level
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenSYCL/address-space-cond-op.cpp
  clang/test/CodeGenSYCL/check-direct-attribute-propagation.cpp
  clang/test/CodeGenSYCL/const-wg-init.cpp
  clang/test/CodeGenSYCL/functionptr-addrspace.cpp
  clang/test/CodeGenSYCL/group-local-memory.cpp
  clang/test/CodeGenSYCL/inline_asm.cpp
  clang/test/CodeGenSYCL/inlining.cpp
  clang/test/CodeGenSYCL/intel-fpga-loops.cpp
  clang/test/CodeGenSYCL/max-concurrency.cpp
  clang/test/CodeGenSYCL/no-opaque-ptr-kernel_binding_decls.cpp
  clang/test/CodeGenSYCL/no-opaque-ptrs-sycl-intelfpga-bitint.cpp
  clang/test/CodeGenSYCL/no_opaque_address-space-cond-op.cpp
  clang/test/CodeGenSYCL/no_opaque_check-direct-attribute-propagation.cpp
  clang/test/CodeGenSYCL/no_opaque_const-wg-init.cpp
  clang/test/CodeGenSYCL/no_opaque_inline_asm.cpp
  clang/test/CodeGenSYCL/no_opaque_max-concurrency.cpp
  clang/test/CodeGenSYCL/no_opaque_sampler.cpp
  clang/test/CodeGenSYCL/no_opaque_stall_enable_device.cpp
  clang/test/CodeGenSYCL/no_opaque_stream.cpp
  clang/test/CodeGenSYCL/remove-restriction-builtin-printf.cpp
  clang/test/CodeGenSYCL/reqd-sub-group-size-spirv-intrin.cpp
  clang/test/CodeGenSYCL/sampler.cpp
  clang/test/CodeGenSYCL/simplifycfg.cpp
  clang/test/CodeGenSYCL/stall_enable_device.cpp
  clang/test/CodeGenSYCL/stream.cpp
  clang/test/CodeGenSYCL/sycl-intelfpga-bitint.cpp
  clang/test/Driver/sycl-device-optimizations.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/constructors.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/issue7835.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/kernels_funcs.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/sycl_extern_func.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/types.cpp
  polygeist/tools/cgeist/Test/Verification/sycl/vec_add.cpp
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#8028 [SYCL-MLIR] Fix store integer to vector pointer
  polygeist/tools/cgeist/Lib/ValueCategory.cc
  polygeist/tools/cgeist/Test/Verification/sycl/structvec.cpp
Labels: sycl-mlir

#7975 [SYCL-MLIR]: Implement 'getMLIRType' for clang::BuiltinType
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Test/Verification/float16.c
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_types.cpp
Labels: sycl-mlir

#8010 [SYCL-MLIR] Generate i1 for scalar Boolean values
  polygeist/tools/cgeist/Lib/CGDecl.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Lib/TypeUtils.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Test/Verification/booleanconversion.c
  polygeist/tools/cgeist/Test/Verification/booleanmem.c
  polygeist/tools/cgeist/Test/Verification/booleanmem.cpp
  polygeist/tools/cgeist/Test/Verification/compoundassign.c
  polygeist/tools/cgeist/Test/Verification/scor.c
  polygeist/tools/cgeist/Test/Verification/sycl/functions.cpp
  polygeist/tools/cgeist/Test/Verification/templatemember.cpp
  polygeist/tools/cgeist/Test/Verification/twotemplatevardecls.cpp
Labels: sycl-mlir

#8091 [SYCL-MLIR] Add memref of maximum to list of SYCL memrefs
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/test/Dialect/IR/SYCL/constructor.mlir
Labels: sycl-mlir

#8087 [SYCL-MLIR] Allow inner type to be i8 pointer in `InitializeValueByInitListExpr`
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/minimum.cpp
Labels: sycl-mlir

#8095 [SYCL-MLIR] Generate LLVM functions in `gpu.module`
  polygeist/tools/cgeist/Lib/CGCall.cc
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/clang-mlir.h
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/Lib/utils.h
  polygeist/tools/cgeist/Test/Verification/sycl/assert.cpp
Labels: sycl-mlir

#8092 [SYCL-MLIR] Refactor SYCL passes
  mlir-sycl/include/mlir/Conversion/SYCLToLLVM/SYCLToLLVMPass.h
  mlir-sycl/lib/Conversion/PassDetail.h
  mlir-sycl/lib/Conversion/SYCLToLLVM/SYCLToLLVMPass.cpp
  mlir-sycl/lib/Transforms/PassDetail.h
  mlir-sycl/lib/Transforms/SYCLMethodToSYCLCall.cpp
Labels: sycl-mlir

#8089 [SYCL-MLIR] Define SYCL index space operations
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpInterfaces.td
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOpTraits.h
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLOps.td
  mlir-sycl/lib/Dialect/IR/SYCLTraits.cpp
  mlir-sycl/test/Dialect/IR/SYCL/invalid.mlir
  mlir-sycl/test/Dialect/IR/SYCL/ops.mlir
Labels: sycl-mlir

#8137 [SYCL-MLIR] Fix cast to `sycl::detail::image_accessor`
  polygeist/tools/cgeist/Lib/CGExpr.cc
  polygeist/tools/cgeist/Test/Verification/sycl/image.cpp
Labels: sycl-mlir

#8123 [SYCL-MLIR] Drop -convert-to-llvm-abi pass
  polygeist/include/polygeist/Passes/Passes.h
  polygeist/include/polygeist/Passes/Passes.td
  polygeist/lib/polygeist/Passes/CMakeLists.txt
  polygeist/lib/polygeist/Passes/ConvertToLLVMABI.cpp
  polygeist/test/polygeist-opt/sycl/convertToLLVMABI.mlir
Labels: sycl-mlir

#8152 [SYCL-MLIR] Add back reverted upstream commit
  llvm/lib/IR/Function.cpp
  llvm/test/Analysis/CallGraph/ignore-assumelike-calls.ll
  llvm/test/Transforms/OpenMP/parallel_deletion_cg_update.ll
Labels: ignore-lint, sycl-mlir

#8135 [SYCL-MLIR] Cache builtin types
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Lib/CodeGenTypes.h
  polygeist/tools/cgeist/Test/Verification/sycl/builtin_cache.cpp
Labels: sycl-mlir
