Repository intel/llvm, pull requests merged in 2024-04, with the labels that each got.

#13199 [ABI-Break][SYCL] Remove collectives in the sub-group class
  sycl/include/sycl/sub_group.hpp
Labels: abi-break

#13205 [GEN] Revamp ND-range operations and add SPIR-V conversion
  mlir/include/mlir/Dialect/GEN/IR/GENOps.h
  mlir/include/mlir/Dialect/GEN/IR/GENOps.td
  mlir/include/mlir/Dialect/GEN/IR/GENTraits.h
  mlir/lib/Conversion/GENToLLVM/GENToLLVMPass.cpp
  mlir/lib/Conversion/GENToSPIRV/GENToSPIRV.cpp
  mlir/lib/Dialect/GEN/IR/CMakeLists.txt
  mlir/lib/Dialect/GEN/IR/GENTraits.cpp
  mlir/test/Conversion/GENToLLVM/gen-to-llvm.mlir
  mlir/test/Conversion/GENToSPIRV/gen-to-spirv.mlir
  mlir/test/Dialect/GEN/gen.mlir
  mlir/test/Dialect/GEN/invalid.mlir
Labels: genx

#13182 [ABI-Break][SYCL] Switch sycl::vec to preview unconditionally
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/vector_traits.hpp
  sycl/include/sycl/half_type.hpp
  sycl/include/sycl/types.hpp
  sycl/test-e2e/Basic/sycl_2020_images/common.hpp
  sycl/test/basic_tests/implicit_device_copyable_types.cpp
  sycl/test/basic_tests/types.cpp
  sycl/test/basic_tests/valid_kernel_args.cpp
  sycl/test/extensions/annotated_ptr/annotated_ptr.cpp
Labels: abi-break

#13192 [ABI-Break][SYCL] Drop SYCL_DEVICE_FILTER support
  sycl/include/sycl/detail/device_filter.hpp
  sycl/source/detail/config.def
  sycl/source/detail/config.hpp
  sycl/source/detail/device_filter.cpp
  sycl/source/detail/filter_selector_impl.hpp
  sycl/source/detail/global_handler.cpp
  sycl/source/detail/global_handler.hpp
  sycl/source/detail/pi.cpp
  sycl/source/detail/platform_impl.cpp
  sycl/source/device.cpp
  sycl/test-e2e/DeprecatedFeatures/deprecated_sycl_device_filter.cpp
  sycl/test-e2e/DeprecatedFeatures/sycl_device_filter.cpp
  sycl/tools/sycl-ls/sycl-ls.cpp
Labels: abi-break

#13197 [ABI-Break][SYCL] Switch to new nd_item impl by default
  sycl/include/sycl/nd_item.hpp
  sycl/test/abi/layout_array.cpp
  sycl/test/basic_tests/nd_item.cpp
Labels: abi-break

#13191 [ABI-Break][SYCL] Drop MAssertHappenedBuffer field in queue_impl
  sycl/include/sycl/queue.hpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/queue.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: abi-break

#11528 [SYCL] Don't include <cmath>/<complex> by default
  sycl/include/sycl/sycl.hpp
  sycl/test-e2e/ESIMD/api/functional/value.hpp
  sycl/test-e2e/ESIMD/kmeans/kmeans.cpp
  sycl/test/basic_tests/fp-accuracy.cpp
  sycl/test/basic_tests/no_math_in_global_ns.cpp
  sycl/test/check_device_code/fp-accuracy.cpp
Labels: abi-break

#13183 [ABI-Break][SYCL] Enable "Neutral" ABI in regards to C++11 ABI by default
  sycl/include/sycl/detail/util.hpp
  sycl/include/sycl/device.hpp
  sycl/include/sycl/exception.hpp
  sycl/include/sycl/handler.hpp
  sycl/include/sycl/kernel.hpp
  sycl/include/sycl/kernel_bundle.hpp
  sycl/include/sycl/platform.hpp
  sycl/source/device.cpp
  sycl/source/exception.cpp
  sycl/source/handler.cpp
  sycl/source/kernel.cpp
  sycl/source/kernel_bundle.cpp
  sycl/source/platform.cpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/abi/symbol_size_alignment.cpp
  sycl/unittests/program_manager/arg_mask/EliminatedArgMask.cpp
  sycl/unittests/scheduler/SchedulerTestUtils.hpp
Labels: abi-break

#13198 [ABI-Break][SYCL] Restrict nd_range parallel_for to nd_item
  sycl/include/sycl/handler.hpp
  sycl/test-e2e/Assert/assert_in_multiple_tus.hpp
  sycl/test-e2e/DiscardEvents/discard_events_accessors.cpp
  sycl/test-e2e/ESIMD/bfn.cpp
  sycl/test-e2e/ESIMD/ext_math.cpp
  sycl/test-e2e/ESIMD/local_accessor_gather_scatter.cpp
  sycl/test-e2e/ESIMD/local_accessor_gather_scatter_rgba.cpp
  sycl/test-e2e/ESIMD/lsc/atomic_smoke.cpp
  sycl/test-e2e/ESIMD/lsc/lsc_local_accessor_gather_scatter.cpp
  sycl/test-e2e/ESIMD/unified_memory_api/Inputs/atomic_update.hpp
  sycl/test-e2e/KernelFusion/abort_fusion.cpp
  sycl/test-e2e/KernelFusion/abort_internalization.cpp
  sycl/test-e2e/KernelFusion/diamond_shape_local.cpp
  sycl/test-e2e/KernelFusion/existing_local_accessor.cpp
  sycl/test-e2e/KernelFusion/internalize_array_wrapper_local.cpp
  sycl/test-e2e/KernelFusion/local_internalization.cpp
  sycl/test-e2e/KernelFusion/non_unit_local_size.cpp
  sycl/test-e2e/KernelFusion/struct_with_array.cpp
  sycl/test-e2e/Tracing/code_location_queue_parallel_for.cpp
  sycl/test-e2e/XPTI/buffer/accessors.cpp
  sycl/test-e2e/XPTI/kernel/basic.cpp
  sycl/test/check_device_code/native_cpu/native_cpu_builtins.cpp
  sycl/unittests/Extensions/CommandGraph/Update.cpp
Labels: abi-break

#13200 [ABI-Break][SYCL] Enforce buffer's element type to be device copyable
  sycl/include/sycl/buffer.hpp
Labels: abi-break

#13232 [ABI-Break][SYCL] Remove `sycl::make_unique_ptr`
  sycl/include/sycl/sycl.hpp
Labels: abi-break

#13234 [ABI-Break][SYCL] Remove ESIMD emulator code from pi.cpp
  sycl/source/detail/pi.cpp
Labels: abi-break

#13236 [SYCL] Remove deprecated shuffles from the sub-group class
  sycl/include/sycl/sub_group.hpp
  sycl/test-e2e/SubGroup/generic-shuffle.cpp
  sycl/test-e2e/SubGroup/shuffle.cpp
  sycl/test-e2e/SubGroup/shuffle_fp16.cpp
  sycl/test-e2e/SubGroup/shuffle_fp64.cpp
Labels: abi-break

#13240 [SYCL] Remove deprecated sycl::host_ptr/sycl::device_ptr
  sycl/doc/extensions/supported/sycl_ext_intel_usm_address_spaces.asciidoc
  sycl/include/sycl/pointers.hpp
  sycl/source/feature_test.hpp.in
  sycl/test/extensions/fpga.cpp
  sycl/test/multi_ptr/ext_addr_spaces.cpp
Labels: abi-break

#13152 [ABI-Break][SYCL] Switch builtins to preview unconditionally
  sycl/include/sycl/builtins.hpp
  sycl/include/sycl/builtins_esimd.hpp
  sycl/include/sycl/builtins_legacy_marray_vec.hpp
  sycl/include/sycl/builtins_legacy_scalar.hpp
  sycl/include/sycl/builtins_utils_scalar.hpp
  sycl/include/sycl/builtins_utils_vec.hpp
  sycl/include/sycl/detail/builtins.hpp
  sycl/include/sycl/detail/builtins/builtins.hpp
  sycl/include/sycl/detail/builtins/common_functions.inc
  sycl/include/sycl/detail/builtins/helper_macros.hpp
  sycl/include/sycl/detail/builtins/integer_functions.inc
  sycl/include/sycl/detail/generic_type_traits.hpp
  sycl/include/sycl/detail/vector_convert.hpp
  sycl/include/sycl/ext/oneapi/experimental/builtins.hpp
  sycl/source/CMakeLists.txt
  sycl/source/builtins/common_functions.cpp
  sycl/source/builtins/geometric_functions.cpp
  sycl/source/builtins/half_precision_math_functions.cpp
  sycl/source/builtins/integer_functions.cpp
  sycl/source/builtins/math_functions.cpp
  sycl/source/builtins/native_math_functions.cpp
  sycl/source/builtins/relational_functions.cpp
  sycl/source/detail/builtins_common.cpp
  sycl/source/detail/builtins_geometric.cpp
  sycl/source/detail/builtins_helper.hpp
  sycl/source/detail/builtins_integer.cpp
  sycl/source/detail/builtins_math.cpp
  sycl/source/detail/builtins_relational.cpp
  sycl/test-e2e/Basic/built-ins/marray_geometric.cpp
  sycl/test-e2e/Basic/built-ins/marray_math.cpp
  sycl/test-e2e/Basic/built-ins/vec_common.cpp
  sycl/test-e2e/Basic/built-ins/vec_geometric.cpp
  sycl/test-e2e/Basic/built-ins/vec_math.cpp
  sycl/test-e2e/Basic/built-ins/vec_relational.cpp
  sycl/test-e2e/DeviceLib/built-ins/nan.cpp
  sycl/test-e2e/DeviceLib/built-ins/vector_integer.cpp
  sycl/test-e2e/ESIMD/api/functional/value.hpp
  sycl/test-e2e/Regression/mad_sat.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/basic_tests/generic_type_traits.cpp
  sycl/test/check_device_code/fp-accuracy.cpp
  sycl/test/regression/abs_diff_host.cpp
  sycl/test/type_traits/type_traits.cpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
  sycl/unittests/builtins/Builtins.cpp
Labels: abi-break

#13257 [SYCL] Implement latest version of sycl_ext_oneapi_free_function_queries
  llvm/lib/SYCLLowerIR/ESIMD/ESIMDVerifier.cpp
  sycl/doc/extensions/experimental/sycl_ext_oneapi_free_function_queries.asciidoc
  sycl/doc/extensions/supported/sycl_ext_oneapi_free_function_queries.asciidoc
  sycl/doc/syclcompat/README.md
  sycl/include/sycl/ext/oneapi/experimental/root_group.hpp
  sycl/include/sycl/ext/oneapi/free_function_queries.hpp
  sycl/include/sycl/group.hpp
  sycl/include/sycl/id.hpp
  sycl/include/sycl/item.hpp
  sycl/include/sycl/nd_item.hpp
  sycl/include/sycl/sub_group.hpp
  sycl/include/sycl/sycl.hpp
  sycl/include/syclcompat/id_query.hpp
  sycl/include/syclcompat/memory.hpp
  sycl/test-e2e/Assert/check_resource_leak.cpp
  sycl/test-e2e/Basic/free_function_queries/free_function_queries.cpp
  sycl/test-e2e/Basic/free_function_queries/free_function_queries_sub_group.cpp
  sycl/test-e2e/ESIMD/regression/globals.cpp
  sycl/test-e2e/syclcompat/launch/launch.cpp
  sycl/test/basic_tests/free_function_queries/free_function_queries_interface.cpp
  sycl/test/warnings/free_functions_deprecation.cpp
Labels: abi-break

#13271 [SYCL] Move `sycl::detail::split_string` to sycl/source/detail
  sycl/include/sycl/detail/common_info.hpp
  sycl/source/detail/common.cpp
  sycl/source/detail/device_info.hpp
  sycl/source/detail/kernel_bundle_impl.hpp
  sycl/source/detail/kernel_compiler/kernel_compiler_opencl.cpp
  sycl/source/detail/kernel_info.hpp
  sycl/source/detail/platform_info.hpp
  sycl/source/detail/program_impl.hpp
  sycl/source/detail/split_string.hpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: abi-break

#13286 [SYCL] Remove `sycl::abs` FP overload
  sycl/include/sycl/detail/builtins/math_functions.inc
  sycl/test-e2e/Basic/sycl_2020_images/common.hpp
  sycl/test/warnings/sycl_2020_deprecations.cpp
Labels: abi-break

#13293 [SYCL] Remove sycl::id -> sycl::range conversion
  sycl/include/sycl/detail/array.hpp
  sycl/include/sycl/detail/cg_types.hpp
  sycl/include/sycl/group.hpp
  sycl/include/sycl/id.hpp
  sycl/test/basic_tests/id.cpp
  sycl/test/warnings/conversion_deprecation.cpp
Labels: abi-break

#13297 [GEN] Make GEN implement `ConvertToLLVMPatternInterface`
  mlir/include/mlir/Conversion/GENToLLVM/GENToLLVM.h
  mlir/include/mlir/Conversion/Passes.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/InitAllExtensions.h
  mlir/lib/Conversion/GENToLLVM/CMakeLists.txt
  mlir/lib/Conversion/GENToLLVM/GENToLLVM.cpp
  mlir/lib/Dialect/GEN/IR/GENDialect.cpp
  mlir/test/Conversion/GENToLLVM/gen-to-llvm.mlir
Labels: genx

#13299 [GEN] Add `use-64bit-index` option to `-convert-gen-to-spirv`
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GENToLLVM/GENToLLVM.cpp
  mlir/test/Conversion/GENToLLVM/gen-to-llvm.mlir
Labels: genx

#13357 [GEN] Add `use-64bit-index` option to `-convert-gen-to-spirv`
  mlir/include/mlir/Conversion/GENToSPIRV/GENToSPIRV.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GENToSPIRV/GENToSPIRV.cpp
  mlir/test/Conversion/GENToSPIRV/gen-to-spirv.mlir
Labels: genx

#13482 [SYCL] Remove get_child_group()
  sycl/doc/extensions/experimental/sycl_ext_oneapi_root_group.asciidoc
  sycl/include/sycl/ext/oneapi/experimental/root_group.hpp
  sycl/test-e2e/GroupAlgorithm/root_group.cpp
Labels: spec extension
