Repository intel/llvm, pull requests merged in 2024-01, with the labels that each got.

#12272 [SYCL][Fusion] Update internalization documentation in design document
  sycl/doc/design/KernelFusionJIT.md
Labels: Documentation

#12303 [SYCL-MLIR][NFC] Fix warnings in `polygeist`
  polygeist/lib/Dialect/Polygeist/Analysis/MemoryAccessAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Analysis/ReachingDefinitionAnalysis.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/AffineCFG.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/Mem2Reg.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/SYCLRaiseHost.cpp
  polygeist/tools/cgeist/Lib/clang-mlir.cc
  polygeist/tools/cgeist/Lib/utils.cc
  polygeist/tools/cgeist/driver.cc
Labels: sycl-mlir

#12304 [SYCL-MLIR][polygeist] Drop `BarrierUtils.h`
  polygeist/include/mlir/Dialect/Polygeist/Utils/BarrierUtils.h
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/BarrierRemovalContinuation.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLoopDistribute.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/ParallelLower.cpp
Labels: sycl-mlir

#12273 [SYCL-MLIR][CI] Run relevant tests on changes
  .github/workflows/sycl_detect_changes.yml
  .github/workflows/sycl_linux_build.yml
Labels: sycl-mlir

#12345 [SYCL-MLIR][clang] Attach `SYCLKernelObjFunc` to kernel body functions
  clang/include/clang/Basic/Attr.td
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/basic-kernel-wrapper.cpp
Labels: sycl-mlir

#12347 [SYCL-MLIR][cgeist] Propagate SYCLKernelFuncObj attribute
  mlir-sycl/include/mlir/Dialect/SYCL/IR/SYCLBase.td
  polygeist/tools/cgeist/Lib/CodeGenTypes.cc
  polygeist/tools/cgeist/Test/Verification/sycl/kernel_func_obj.cpp
Labels: sycl-mlir

#12390 [GENX] Use convergent attr for sub-group shuffle calls.
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/lib/Target/LLVMIR/Dialect/GENX/GENXToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12334 [SYCL-MLIR][polygeist] Use `sycl.kernel_func_obj` attribute in `FunctionKernelInfo`
  polygeist/include/mlir/Dialect/Polygeist/Utils/TransformUtils.h
  polygeist/lib/Dialect/Polygeist/Transforms/ArgumentPromotion.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/KernelDisjointSpecialization.cpp
  polygeist/lib/Dialect/Polygeist/Transforms/LoopInternalization.cpp
  polygeist/lib/Dialect/Polygeist/Utils/TransformUtils.cpp
  polygeist/test/polygeist-opt/sycl/argpromotion.mlir
  polygeist/test/polygeist-opt/sycl/argpromotion_invalid.mlir
  polygeist/test/polygeist-opt/sycl/argpromotion_privatize.mlir
  polygeist/test/polygeist-opt/sycl/kernel_disjoint_specialization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_invalid.mlir
  polygeist/test/polygeist-opt/sycl/loop_internalization_unroll.mlir
  polygeist/test/polygeist-opt/sycl/matrix_multiply_reduction.mlir
Labels: sycl-mlir

#12389 [SYCL][CI] Add ability to run perf tests in pre-commit CI
  .github/workflows/sycl_detect_changes.yml
  .github/workflows/sycl_linux_precommit.yml
Labels: run-perf-tests

#12383 [GENX]: Use get_global_size IGC builtin instead of opencl function
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12460 [SYCL][Graph] Add query function to recording queue ...
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/include/sycl/queue.hpp
  sycl/source/queue.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_in_order_pause.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: sycl-graph

#12514 [GENX][GPUToGENX] change symbols to khronos format
  mlir/lib/Conversion/GPUToGENX/LowerGpuOpsToGENXOps.cpp
  mlir/test/Conversion/GPUToGENX/gpu-to-genx.mlir
Labels: genx
