Repository intel/llvm, pull requests merged in 2024-08, with the labels that each got.

#14831 [SYCL][AMD] Propagate metadata in createURProgram
  sycl/source/detail/device_binary_image.cpp
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/test-e2e/Basic/reqd_work_group_size.cpp
  sycl/test-e2e/DeviceGlobal/device_global_arrow.cpp
  sycl/test-e2e/DeviceGlobal/device_global_device_only.cpp
  sycl/test-e2e/DeviceGlobal/device_global_operator_passthrough.cpp
  sycl/test-e2e/DeviceGlobal/device_global_subscript.cpp
  sycl/test-e2e/KernelFusion/lit.local.cfg
  sycl/test-e2e/NewOffloadDriver/diamond_shape.cpp
Labels: pi-port

#14728 Bump UR tag to include PrintTrace fix
  sycl/cmake/modules/FetchUnifiedRuntime.cmake
  sycl/test-e2e/Basic/host-task-dependency.cpp
  sycl/test-e2e/DiscardEvents/discard_events_accessors.cpp
  sycl/test-e2e/DiscardEvents/discard_events_using_assert.cpp
  sycl/test-e2e/DiscardEvents/discard_events_using_assert_ndebug.cpp
  sycl/test-e2e/DiscardEvents/discard_events_usm.cpp
  sycl/test-e2e/DiscardEvents/discard_events_usm_ooo_queue.cpp
  sycl/test-e2e/ESIMD/sycl_esimd_mix.cpp
  sycl/test-e2e/Plugin/level_zero_batch_barrier.cpp
  sycl/test-e2e/Plugin/level_zero_dynamic_batch_test.cpp
  sycl/test-e2e/Scheduler/HostAccDestruction.cpp
  sycl/test-e2e/Scheduler/MemObjRemapping.cpp
Labels: pi-port

#14883 [ABI-Break][SYCL] Fix ext_oneapi_cl_profile to be ABI-neutral
  sycl/include/sycl/device.hpp
  sycl/source/device.cpp
  sycl/test/abi/sycl_abi_neutrality_test.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
Labels: abi-break

#14873 [SYCL] Change NativePrograms.insert to `[]` access
  sycl/source/detail/program_manager/program_manager.cpp
  sycl/unittests/program_manager/arg_mask/EliminatedArgMask.cpp
Labels: pi-port

#14837 [SYCL][Doc] Add sycl_ext_oneapi_cache_size draft
  sycl/doc/extensions/proposed/sycl_ext_oneapi_cache_size.asciidoc
Labels: spec extension
