Repository intel/llvm, pull requests merged in 2024-02, with the labels that each got.

#12588 [GENX] Lower `GENX_FpToFpOp` to `llvm::Intrinsic::experimental_constrained`
  mlir/lib/Target/LLVMIR/Dialect/GENX/GENXToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12601 [GENX] Fix `get_[local|global]_size` mangled function
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12641 [SYCL][Fusion][Doc] Document reductions support
  sycl/doc/design/KernelFusionJIT.md
Labels: Documentation

#12652 [SYCL][Doc] Fix broken link in forward_progress
  sycl/doc/extensions/proposed/sycl_ext_oneapi_forward_progress.asciidoc
Labels: spec extension

#12709 [GEN]: Fix genx.grid.dim lowering
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12734 [GEN] Revert "Changes to the DPAS op. (#12554)"
  mlir/lib/Dialect/LLVMIR/IR/GENXOps.cpp
  mlir/lib/Target/LLVMIR/Dialect/GENX/GENXToLLVMIRTranslation.cpp
  mlir/test/Dialect/LLVMIR/genx-invalid.mlir
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12750 [GEN] Make `RoundingMode` optional for `FpToFpOp`
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/lib/Target/LLVMIR/Dialect/GENX/GENXToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12673 [CI] Enable FPGA on postcommit for Linux
  .github/workflows/sycl-linux-run-tests.yml
  .github/workflows/sycl-post-commit.yml
  sycl/test-e2e/Assert/assert_in_kernels.cpp
  sycl/test-e2e/Assert/assert_in_multiple_tus.cpp
  sycl/test-e2e/Assert/assert_in_multiple_tus_one_ndebug.cpp
  sycl/test-e2e/Assert/assert_in_one_kernel.cpp
  sycl/test-e2e/Assert/assert_in_simultaneous_kernels.cpp
  sycl/test-e2e/Assert/assert_in_simultaneously_multiple_tus.cpp
  sycl/test-e2e/DeviceLib/string_test.cpp
  sycl/test-e2e/Matrix/joint_matrix_opt_kernel_feature_unsupported_hw.cpp
  sycl/test-e2e/syclcompat/atomic/atomic_arith.cpp
  sycl/test-e2e/syclcompat/atomic/atomic_comp_exchange.cpp
Labels: github_actions

#12790 [CI] Run performance tests on AMD/NVIDIA runners too
  .github/workflows/sycl-linux-precommit.yml
Labels: run-perf-tests

#12806 [GEN] Add FpToFpOp verifier
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/lib/Dialect/LLVMIR/IR/GENXOps.cpp
  mlir/lib/Target/LLVMIR/Dialect/GENX/GENXToLLVMIRTranslation.cpp
  mlir/test/Dialect/LLVMIR/genx-invalid.mlir
Labels: genx

#12846 [GEN] Change barrier to use local fence
  mlir/include/mlir/Dialect/LLVMIR/GENXOps.td
  mlir/test/Target/LLVMIR/genx.mlir
Labels: genx

#12660 [SYCL][Doc] Add specialization constant-length alloca extension proposal
  sycl/doc/extensions/experimental/sycl_ext_private_alloca.asciidoc
Labels: spec extension

#12689 [SYCL][Doc] Update address_cast specification
  sycl/doc/extensions/proposed/sycl_ext_oneapi_address_cast.asciidoc
Labels: spec extension

#12792 [SYCL][Doc] Update free function queries extension
  sycl/doc/extensions/proposed/sycl_ext_oneapi_free_function_queries.asciidoc
Labels: spec extension
