Repository intel/llvm, pull requests merged in 2024-05, with the labels that each got.

#13638 [GEN] Prefer CompositeExtract over VectorExtractDynamic
  mlir/lib/Conversion/GENToSPIRV/GENToSPIRV.cpp
  mlir/test/Conversion/GENToSPIRV/gen-to-spirv.mlir
Labels: genx

#13671 [SYCL] Add a test for generated device code for the group_load_store extension
  sycl/include/sycl/ext/oneapi/experimental/group_load_store.hpp
  sycl/include/sycl/ext/oneapi/properties/property.hpp
  sycl/test/check_device_code/group_load.cpp
Labels: disable-lint

#13710 [SYCL] Add a store test for generated device code for the group_load_store extension
  sycl/test/check_device_code/group_store.cpp
Labels: disable-lint

#13514 [SYCL][SCLA][Doc] Add `sycl_ext_oneapi_private_alloca` design document
  sycl/doc/design/PrivateAlloca.md
  sycl/doc/index.rst
Labels: Documentation

#13750 [SYCL] Add a test for generated device IR for `sycl::vec::as()`
  sycl/test/check_device_code/vector/vector_as.cpp
Labels: disable-lint

#13427 [GEN] Implement GPU to GEN lowering
  mlir/include/mlir/Conversion/GPUToGEN/GPUToGEN.h
  mlir/include/mlir/Conversion/Passes.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/CMakeLists.txt
  mlir/lib/Conversion/GPUToGEN/CMakeLists.txt
  mlir/lib/Conversion/GPUToGEN/GPUToGEN.cpp
  mlir/test/Conversion/GPUToGEN/gpu-to-gen.mlir
Labels: genx
