Repository intel/llvm, pull requests merged in 2025-05, with the labels that each got.

#18296 [SYCL] Optimize checkValueRange
  sycl/include/sycl/detail/id_queries_fit_in_int.hpp
  sycl/test-e2e/Basic/range_offset_fit_in_int.cpp
Labels: performance

#18362 [UR] Use std::move so vector is not copied in validation layer RefRuntimeInfo struct
  unified-runtime/source/loader/layers/validation/ur_leak_check.hpp
Labels: unified-runtime

#18387 [SYCL] Extract args directly from kernel if we can
  sycl/include/sycl/detail/kernel_desc.hpp
  sycl/include/sycl/handler.hpp
  sycl/source/detail/handler_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/handler.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/Extensions/USMMemcpy2D.cpp
  sycl/unittests/Extensions/WorkGroupMemoryBackendArgument.cpp
  sycl/unittests/buffer/KernelArgMemObj.cpp
  sycl/unittests/program_manager/arg_mask/EliminatedArgMask.cpp
Labels: performance

#18585 [libclc] Ensure CLC builtins see the generic addrspace
  libclc/CMakeLists.txt
  libclc/clc/include/clc/clcfunc.h
  libclc/generic/include/clc/clc.h
  libclc/libspirv/include/libspirv/spirv.h
Labels: libclc

#18615 [libspirv] Align __clc_sincos with upstream
  libclc/clc/lib/generic/math/clc_sincos.inc
Labels: libclc

#18686 [SYCL][E2E] Add `PerformanceTests/aspect_queries.cpp`
  sycl/test-e2e/PerformanceTests/aspect_queries.cpp
Labels: run-perf-tests

#18742 [UR][OpenCL] Add deleted copy assignment constructor to ur_adapter_handle_t in OpenCL for rule of 3. Specify noexcept to ur_context_handle_t destructor
  unified-runtime/source/adapters/opencl/adapter.hpp
  unified-runtime/source/adapters/opencl/context.hpp
Labels: unified-runtime
